<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Merchants Compliance Information</ui:define>
        <ui:define name="nav-title">All Merchants Compliance Information</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/sweetalert.css" />
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
            <h:outputStylesheet name="/css/quill/katex.min.css" />
            <h:outputStylesheet name="/css/quill/quill.bubble.css" />
            <h:outputStylesheet name="/css/quill/quill.snow.css" />
            <h:outputStylesheet name="/css/quill/monokai-sublime.min.css" />
            <h:outputStylesheet>
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                #content-table{
                    font-size: 0.70em;
                    width : 100%
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            
            <div class="row">
                
                <h:panelGroup layout="block" class="col-lg-12">

                    <h:panelGroup id="messagePanel" layout="block">
                            <!--<div class="card-block">-->
                        <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                        <!--</div>-->
                    </h:panelGroup>
                    
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Compliance Information</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block">
                            
                            <div class="card panel panel-default m-b-xs mb-3">
                                    <div class="card-header panel-heading alert-info alert-inverse small-font" role="tab" id="headingOne">
                                    <h6 class="panel-title m-a-0"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-filter"></i>&nbsp; Filter</a></h6></div>
                                    <div id="collapseOne" class="card-block panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        
                                        <div layout="block" class="form-group col-lg-2">
                                            <label for="email" class="small text-muted small-select">Product</label>
                                            <select class="form-control form-control-sm small-select" id="product">
                                            </select>
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted">Created Between</label>
                                            <div class='input-group'>
                                                <input class="form-control form-control-sm" id="dateRange" />
                                                <span class="input-group-addon form-control-sm">
                                                        <span class="icon-calendar3"></span>
                                                </span>
                                            </div>
                                        </div>
                                        
                                         <div layout="block" class="form-group col-lg-2">
                                            <label for="email" class="small text-muted small-select">Status</label>
                                            <select class="form-control form-control-sm small-select" id="status">
                                                <option value="">Any</option>
                                                <option value="YES">Approved</option>
                                                <option value="NO">Pending</option>
                                                <option value="REJECTED">Rejected</option>
                                            </select>
                                        </div>
                                        
                                         <div layout="block" class="form-group col-lg-2">
                                            <label for="country" class="small text-muted small-select">Country</label>
                                            <select class="form-control form-control-sm small-select" id="country">
                                                <option value="">Any</option>
                                                <option value="NG">Nigeria</option>
                                                <option value="GB">Great Britain</option>
                                                <option value="US">United States</option>
                                                <option value="ZM">Zambia</option>
                                                <option value="UG">Uganda</option>
                                                <option value="GH">Ghana</option>
                                                <option value="KE">Kenya</option>
                                            </select>
                                        </div>
                                        
                                        <div class="col-lg-12">
                                            <button class="btn btn-primary btn-sm" id="filterBtn"><i class="fa fa-filter"></i> &nbsp; Filter</button>
                                            <button class="btn btn-danger btn-sm" id="clearbtn"><i class="fa fa-times"></i> &nbsp; Clear</button>
                                        </div>
                                    </div>
                                    <div class="pull-right" style="float: right">
                                        <c:if test="#{userController.hasRoles('EXPORT_COMPLIANCE_DATA')}">  
                                            <button class="btn btn-info btn-sm" id="excelexport"> Export To Excel</button>
                                        </c:if>
                                    </div>
                                </div>
                            
<!--                            <div>
                                 <div layout="block" class="form-group col-lg-3" id="searchPane">
                                    <label for="searchValue" class="small text-muted">Search value</label>
                                    <input id="searchValue" placeholder="merchant / company name" class="form-control form-control-sm" />
                                </div>
                                
                                <div class="col-lg-12">
                                    <button class="btn btn-primary btn-sm" id="searchBtn"><i class="fa fa-filter"></i> &nbsp; Filter</button>
                                </div>
                            </div>-->

                            <div class="col-lg-4" style="float:right">
                                <fieldset>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search" id="searchValue" aria-describedby="button-addon2"/>
                                        <span class="input-group-btn" id="button-addon2">
                                            <button class="btn btn-primary" type="button" id="searchBtn">Search</button>
                                        </span>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="table-responsive">
                                <br /><br/>
                                <div class="col-lg-12">
                                    <table class="table table-bordered table-striped datatable">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>PRODUCT</th>
                                                <th>REGISTERED NUMBER</th>
                                                <th>REGISTERED NAME</th>
                                                <th>TRADING NAME</th>
                                                <th>COUNTRY</th>
                                                <th>DATE OF INCOPORATION</th>
                                                <th>CREATED ON</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            
            <h:form prependId="false">
                <h:inputHidden id="pMerchantId" binding="#{inputM}" value="0" />
                <h:inputHidden id="pProductM" binding="#{inputPt}" value="dan" />
                <h:commandButton style="display: none" action="#{merchantController.merchantAnalysis(inputPt.value, inputM.value)}" id="viewanalysis" value="0" />
            </h:form>
            
            <h:form prependId="false">
                <h:inputHidden id="pParam1" binding="#{input11}" value="0" />
                <h:inputHidden id="pProduct1" binding="#{inputP1}" value="dan" />
                <h:commandButton style="display: none" action="#{merchantController.viewChargebacks(input11.value, inputP1.value)}" id="viewChargeBack" value="0" />
            </h:form>
            
            
            <div class="modal fade bd-example-modal" id="complainceModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content row">
                        <div class="modal-header card-warning">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="">
                                Merchant KYC
                                
                                <input id="idA" style="display: none" /> <input id="productA" style="display: none" />
                                <div class="btn-pane" style="float: right">
                                    <button type="button" class="btn btn-info btn-sm pull-right" id="verifybvnbtn" style="float: right; margin-left:4px">Verify BVN</button> &nbsp;
                                    
                                    <button type="button" class="btn btn-success btn-sm pull-right" id="sendMessageBtn" style="float: right; margin-left:4px">Send Message</button> &nbsp;


                                    <c:if test="#{userController.hasRoles('AUTHORIZE_COMPLIANCE')}">  
                                        <button type="button" class="btn btn-success btn-sm pull-right" id="kycapprovebtn" style="float: right; margin-left:4px">Approve</button> &nbsp;
                                        <button type="button" class="btn btn-danger btn-sm pull-right" id="kycrejectbtn" style="float: right">Reject</button>
                                    </c:if>
                                    
                                    <c:if test="#{userController.hasRoles('REVERSE_COMPLIANCE')}">  
                                        <button type="button" class="btn btn-success btn-sm pull-right" id="undokycapprovebtn" style="float: right; margin-left:4px">Undo Approval</button> &nbsp;
                                        <button type="button" class="btn btn-danger btn-sm pull-right" id="undokycrejectbtn" style="float: right;  margin-left:4px">Undo Reject</button>
                                    </c:if>
                                </div>
                            </h6>
                        </div>
                        <div class="modal-body row" >
                            
                            <div class="col-lg-12" id="bodyPane">
                                <table class="table table-striped table-bordered" id="content-table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody id="kyctbody">
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="dismiss" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal fade bd-example-modal" id="complainceMessageModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content row">
                        <div class="modal-header card-warning">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="">
                                Send Message to Merchant
                            </h6>
                        </div>
                        <div class="modal-body row" >
                            
                            <div class="col-lg-12" id="bodyPane">
                                <ui:include src="/include/editor.xhtml" />
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="sendMsgBtn" data-dismiss="modal">Send</button>
                            <button type="button" class="btn btn-secondary" id="dismiss" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <h:form prependId="false" style="display: none">
                <h:inputHidden id="productF" binding="#{product}" value="dan" />
                <h:inputHidden id="rangeF" binding="#{range}" value="dan" />
                <h:inputHidden id="formatF" binding="#{format}" value="excel" />                
                <h:inputHidden id="searchValueF" binding="#{searchValue}" value="dan" />
                <h:inputHidden id="statusF" binding="#{status}" value="dan" />
                <h:inputHidden id="countryF" binding="#{country}" value="dan" />
                
                <h:commandButton style="display: none" action="#{merchantController.exportCompliance(status.value, searchValue.value, product.value, country.value, range.value, format.value)}" id="exportbtn" value="submit" />
            </h:form>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript name="/js/util.js" />
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/quill/katex.min.js" />
            <h:outputScript name="/js/quill/highlight.min.js" />
            <h:outputScript name="/js/quill/quill.min.js" />
            <h:outputScript>

                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }
                
                
            </h:outputScript>
            <h:outputScript>

                var ctx = "#{request.contextPath}";
                
                var quill = new Quill('#editor-body', {
                theme: 'snow'
                });
                
                var searchState = false;
                
                var filterState = true;
                
                var status = "#{userController.hasRoles('AUTHORIZE_MERCHANT,AUTHORIZE_COMPLIANCE')}";
                
                console.log(status+" compliance");

                var selectedProduct = "";
                
                $("#dateRange").daterangepicker({
                    autoUpdateInput: false,
                    locale : {
                        format : "DD/MM/YYYY",
                        cancelLabel: 'Clear'
                    },
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                     },
                });
                
                $('#dateRange').on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
                });

                $("#verifybvnbtn").hide();
                
                $('#dateRange').on('cancel.daterangepicker', function(ev, picker) {
                    $(this).val('');
                });
                function getMerchants(){
                    oTable = $('.datatable').dataTable({
                        serverSide: true,
                        "bSort": false, 
                        "aLengthMenu": [ [20, 50, 80, 100, 150, 200], [20, 50, 80, 100, 150, 200] ],
                         ajax: {
                             url: ctx + "/api/merchant/kyc/all",
                             type: 'GET',
                             data :function(d){
                                d.product = $("#product").val();
                                d.searchString = $("#searchValue").val();
                                d.status = $("#status").val();
                                d.range = $("#dateRange").val();
                                d.country = $("#country").val();
                                d.filterState = filterState;
                                d.searchState = searchState;
                             },
                             beforeSend : function(){
                             selectedProduct = $("#product").val();
                                showloader();
                             },
                             complete : function(){
                                hideloader();
                             }
                         },
                         fnDrawCallback : function(){
                            hideloader();
                         },
                         columns : [
                            { data : 'registeredNumber'},
                            {data : "products", 
                                'render' : function(data, type, row){
                                    return data == null || data === undefined ? $("#product").val() : data;
                                }
                            },
                           { data : 'registeredNumber'},
                            {data : "registeredName"},
                            {data : "tradingName"},
                            {data : "country"},
                            {data : "dateofIncorporation"},
                            {data : "createdOn",
                                'render' : function(data, type, row){
                                    return moment(new Date(data)).format("DD/MM/YYYY HH:mm");
                                }
                            },
                            {data : "registeredNumber", 
                                'render' : function(data, type, row){
                                
                                    var product = $("#product").val();
                                    
                                    var temp = "";
                                    
                                    var className = "btn-success";
                                    
                                    if((row.approvedOn === null || row.approvedOn === undefined)){
                                        console.log(row.approvedOn+" ");
                                        className = "btn-warning";
                                    } 
                                    
                                    if(row.status === 'REJECTED'){
                                        className = "btn-danger";
                                    }
                                    
                                    if(row.status === 'PENDING'){
                                        className = "btn-warning";
                                    } 
 
                                    temp = '<button type="button" class="btn '+className+' btn-sm " onclick="viewMerchantKYC('+row.merchantId+', \''+product+'\')" title="View Merchant Compliance"><i class="icon-eye"></i></button>';
                                    
                                        
                                    if((row.approvedOn === null || row.approvedOn === undefined)) {
                                       temp = '<button type="button" class="btn '+className+' btn-sm " onclick="viewMerchantKYC('+row.merchantId+', \''+product+'\')" title="View Merchant Compliance and Approved"><i class="icon-eye"></i></button>';
                                       
                                        /*if((row.country === null || row.country.toUpperCase() === "NG")) 
                                            if(row.bvnChecked === false || row.bvnChecked == false)
                                                $("#verifybvnbtn").show(); */
                                            
                                    }
                                        
                                    return temp;
                                }
                            }
                         ],
                         "rowCallback" : function(row, data, index){
                            
                            var setting = oTable.fnSettings();
                            var index = (setting._iDisplayStart + index + 1);
                            $("td:eq(0)", row).html(index);
                         }
                    });
                }
                    
                function getMerchantInfo(id, product){
                    $('#modalValues').modal('show');
                    getMerchantInformation(ctx, id, $("#product").val());
                }
                
                function viewMerchantKYC(id, product){
                    
                    $("#kycapprovebtn").hide();
                    $("#kycrejectbtn").hide();
                    
                    $("#undokycapprovebtn").hide();
                    $("#undokycrejectbtn").hide();
                    
                    $('#complainceModal').modal('show');
                    
                    
                    $("#idA").val(id);
                    $("#productA").val($("#product").val());
                    
                    getMerchantKYCInformation(ctx, id, $("#product").val(), status);
                }
                
                
                $("#sendMsgBtn").click(function(){
                
                    var message = $('.ql-editor').html(); //quill.getText();
                    
                    if(message === "" || message === undefined)
                        alert("Message is empty");
                    
                    
                    swal({
                    title: '<small>Message Confirmation</small>'
                        , text: 'Are you sure you want to send message to this merchant ?'
                        , type: 'info'
                        ,animation: "slide-from-top"
                        , showCancelButton: true
                        , cancelButtonText: 'Cancel'
                        , closeOnConfirm: false
                        , confirmButtonText: 'OK'
                        , showLoaderOnConfirm: true
                        , html : true
                    }, function (isConfirm) {
                    
                        var payload = {
                                    "id" : $("#idA").val(),
                                    "product" : ""+$("#productA").val(),
                                    "message" : message
                                };
                                
                        if(isConfirm === true || isConfirm === 'true'){
                            
                            $.ajax({
                                url: ctx + "/api/merchant/kyc/message",
                                type: 'POST',
                                data : JSON.stringify(payload),
                                contentType : "application/json"
                            }).done(function(data){
                                
                                var statusCode = data['responsecode'];
                                
                                if(statusCode === "00" || statusCode == "00"){
                                    
                                    swal({
                                        title: '<span style="font-size: 80%">Status</span>'
                                        , text: ''+data['responsemessage']+'<br/>'
                                        , type: 'success'
                                        , showCancelButton: false
                                        , confirmButtonText: 'OK'
                                        , closeOnConfirm: true
                                        , html: true
                                    }, function (confirm) {
                                        $("#complainceMessageModal").hide();
                                    });
                                    
                                }else
                                    swal('Sending Failed', ''+data['responsemessage'], 'error');
                            }).fail(function(){
                                swal('Sending Failed', '', 'error');
                            })
                        }
                    });
                    
                    quill.setText("");
                    
                });
                
                $("#sendMessageBtn").click(function(){
                
                    $('#complainceModal').modal('hide');
                
                    $("#complainceMessageModal").modal('show');
                    
                })
                
                function verifyBVN(id, product){
                    
                    swal({
                    title: '<small>BVN Verificaton</small>'
                        , text: 'Are you sure you want to Verify the BVN of this merchant <b>'+name+'</b> ?'
                        , type: 'info'
                        ,animation: "slide-from-top"
                        , showCancelButton: true
                        , cancelButtonText: 'Cancel'
                        , closeOnConfirm: false
                        , confirmButtonText: 'OK'
                        , showLoaderOnConfirm: true
                        , html : true
                    }, function (isConfirm) {
                        
                        if(isConfirm === true || isConfirm === 'true'){
                        
                            $.ajax({
                                url: ctx + "/api/merchant/kyc/verify/bvn",
                                type: 'GET',
                                data : {
                                    "id" : $("#idA").val(),
                                    "product" : ""+$("#productA").val()
                                },
                                contentType : "application/json"
                            }).done(function( data ){

                                var statusCode = data['responsecode'];
                                
                                var bvnData = data['data'];
                                
                                var name = "";
                                
                                if(bvnData !== undefined)
                                    if(bvnData !== null){
                                        name = bvnData['firstName'] + " " + bvnData['middleName']+""+bvnData['lastName'];
                                    }

                                if(statusCode === "00" || statusCode == "00"){
                                    swal({
                                        title: '<span style="font-size: 80%">BVN Status</span>'
                                        , text: ''+data['responsemessage']+'<br/><br><strong>'+name+'</strong></br>'
                                        , type: 'success'
                                        , showCancelButton: false
                                        , confirmButtonText: 'OK'
                                        , closeOnConfirm: true
                                        , html: true
                                    }, function (isConfirm) {
                                        $("#verifybvnbtn").hide();
                                    });
                                }else
                                    swal('Authorization Failed', ''+data['responsemessage'], 'error');
                            }).fail(function(){
                                swal('Authorization Failed', '', 'error');
                            })
                        }
                    });
                }
                
                
                $("#kycapprovebtn").click(function(){
                    approveKYC();
                })
                
                $("#kycrejectbtn").click(function(){
                    rejectKYC();
                })
                
                $("#undokycapprovebtn").click(function(){
                    approveKYC("reverse");
                })
                
                $("#undokycrejectbtn").click(function(){
                    rejectKYC("reverse");
                });
                
                $("#verifybvnbtn").click(function(){
                    
                    verifyBVN($("#idA").val(), $("#product").val());
                });
                
                function approveKYC(status){
                    
                    var text = "";
                    
                    if(status !== undefined)
                        text = status+" approved";
                    else
                        text = "approve"
                
                    swal({
                    title: '<small>KYC Authorization</small>'
                        , text: 'Are you sure you want to '+text+'  KYC for this merchant <b>'+name+'</b> ?'
                        , type: 'info'
                        ,animation: "slide-from-top"
                        , showCancelButton: true
                        , cancelButtonText: 'Cancel'
                        , closeOnConfirm: false
                        , confirmButtonText: 'OK'
                        , showLoaderOnConfirm: true
                        , html : true
                    }, function (isConfirm) {
                        
                        if(isConfirm === true || isConfirm === 'true'){
                            
                            $.ajax({
                                url: ctx + "/api/merchant/kyc/approve",
                                type: 'GET',
                                data : {
                                    "id" : $("#idA").val(),
                                    "product" : ""+$("#productA").val(),
                                    "status" : (status === undefined) ? "" : "reverse"
                                },
                                contentType : "application/json"
                            }).done(function( data ){

                                var statusCode = data['responsecode'];

                                if(statusCode === "00" || statusCode == "00"){
                                    swal({
                                        title: '<span style="font-size: 80%">KYC Status</span>'
                                        , text: ''+data['responsemessage']
                                        , type: 'success'
                                        , showCancelButton: false
                                        , confirmButtonText: 'OK'
                                        , closeOnConfirm: true
                                        , html: true
                                    }, function (isConfirm) {
                                        window.location.reload(true);
                                    });
                                }else
                                    swal('Authorization Failed', ''+data['responsemessage'], 'error');
                            }).fail(function(){
                                swal('Authorization Failed', '', 'error');
                            })
                        }
                    });
                }
                
                function rejectKYC(status){
                    
                    var text = "";
                    
                    if(status !== undefined)
                        text = status+"ing rejected";
                    else
                        text = "rejecting"
                        
                    $('#complainceModal').modal('hide');
                    
                    swal({
                    title: '<small>KYC Authorization</small>'
                        , text: 'Please provide reason for '+text+' <b>'+name+'</b> compliance details ?',
                        type: "input",
                        showCancelButton: true,
                        closeOnConfirm: false,
                        animation: "slide-from-top",
                        inputPlaceholder: "Provide new settlement cycle",
                        html : true
                    }, function (inputValue) {
                        
                        if (inputValue === false) return false;

                        if (inputValue === "") {
                          swal.showInputError("Please provide reason for rejection");
                          return false;
                        }
                        
                        swal({
                        title: '<small></small>'
                            , text: 'Please confirm you want to reject the compliance information  ?'
                            , type: 'warning'
                            ,animation: "slide-from-top"
                            , showCancelButton: true
                            , cancelButtonText: 'Cancel'
                            , closeOnConfirm: false
                            , confirmButtonText: 'OK'
                            , showLoaderOnConfirm: true
                            , html : true
                        }, function (isConfirm) {

                            if(isConfirm === true || isConfirm === 'true'){

                                $.ajax({
                                    url: ctx + "/api/merchant/kyc/reject",
                                    type: 'GET',
                                    data : {
                                        "id" : $("#idA").val(),
                                        "product" : ""+$("#productA").val(),
                                        "reason" : inputValue,
                                        "status" : (status === undefined) ? "" : "reverse"
                                    },
                                    contentType : "application/json"
                                }).done(function( data ){

                                    var statusCode = data['responsecode'];

                                    if(statusCode === "00" || statusCode == "00"){
                                        swal({
                                            title: '<span style="font-size: 80%">KYC Status</span>'
                                            , text: ''+data['responsemessage']
                                            , type: 'success'
                                            , showCancelButton: false
                                            , confirmButtonText: 'OK'
                                            , closeOnConfirm: true
                                            , html: true
                                        }, function (isConfirm) {
                                            window.location.reload(true);
                                        });
                                    }else
                                        swal('Authorization Failed', ''+data['responsemessage'], 'error');
                                }).fail(function(){
                                    swal('Authorization Failed', '', 'error');
                                })
                            }
                        });
                    });
                }
                
                function getAllProducts(){

                    $.ajax({
                        url : ctx+"/api/product/list"
                    }).done(function(data){

                        var temp = "";
                        for(var d in data){
                            temp += "<option>"+data[d]+"</option>";
                        }

                        $("#product").html(temp);

                        getMerchants();
                    })
                }
                
                getAllProducts();
                
                $("#filterBtn").click(function(){
                    
                    filterState = true;
                    searchState = false;
                    oTable.fnDraw();
                })
                
                $("#searchBtn").click(function(){
                    
                    if($("#searchValue").val().trim() === ""){
                        filterState = true;
                        searchState = false;
                        oTable.fnDraw();
                    }
                    else{
                        filterState = false;
                        searchState = true;
                        oTable.fnDraw();
                    }
                })
                    
                $("#product").change(function(){
                    
                    if($(this).val().toLowerCase() === 'core'){
                        $(".core").hide();
                    }else
                        $(".core").show();
                })
                
                $("#clearbtn").click(function(){
                    
                    $("#product option")[0].selected = true;
                    $("#liveStatus option")[0].selected = true;
                    $("#searchValue").val();
                    
                    oTable.fnDraw();
                });
                
                function callDisableMerchant(id){
                    
                }
                
                function callBean(id){
                    var sid = id;   

                    console.log(id);
                    
                    $("#pPar").val(id+"");
                    
                    $("#pProduct").val(""+$("#product").val());
                    
                    
                    $("#smtbtn").click();
                }
                
                function callSubMerchant(id){
                    var sid = id;   

                    $("#pSub").val(""+sid);
                    
                    $("#subMerchant").click();
                }
                
                function viewanalysis(id){
                    var sid = id;   
                    
                    $("#pProductM").val(""+selectedProduct);
                    $("#pMerchantId").val(""+id);
                    
                    $("#viewanalysis").click();
                }
                
                function callViewChargebacks(id){
                    var sid = id;   

                    $("#pParam1").val(""+sid);
                    
                    $("#pProduct1").val(""+$("#product").val());
                    
                    
                    $("#viewChargeBack").click();
                }
                
                function changeStatus(id, name, status, product){
                    swal({
                    title: '<small>Merchant Status Authorization</small>'
                        , text: 'Are you sure you want to '+status+' this merchant <b>'+name+'</b> ?'
                        , type: 'info'
                        ,animation: "slide-from-top"
                        , showCancelButton: true
                        , cancelButtonText: 'Cancel'
                        , closeOnConfirm: false
                        , confirmButtonText: 'OK'
                        , showLoaderOnConfirm: true
                        , html : true
                    }, function (isConfirm) {
                        
                        if(isConfirm === true || isConfirm === 'true'){
                            
                            $.ajax({
                                url: ctx + "/api/merchant/changestatus",
                                type: 'POST',
                                data : JSON.stringify({
                                    "operation" : ""+status,
                                    "id" : id,
                                    "product" : ""+product
                                }),
                                contentType : "application/json"
                            }).done(function( data ){

                                var statusCode = data['status-code'];

                                if(statusCode === "00" || statusCode == "00"){
                                    swal({
                                        title: '<span style="font-size: 80%">Merchant Status Changed</span>'
                                        , text: ''+data['status']
                                        , type: 'success'
                                        , showCancelButton: false
                                        , confirmButtonText: 'OK'
                                        , closeOnConfirm: true
                                        , html: true
                                    }, function (isConfirm) {
                                        window.location.reload(true);
                                    });
                                }else
                                    swal('Authorization Failed', ''+data['status'], 'error');
                            }).fail(function(){
                                swal('Authorization Failed', '', 'error');
                            })
                        }
                    });
                }
                function exportData(format){
                
                    $("#rangeF").val($("#dateRange").val());
                    $("#productF").val($("#product").val());
                    $("#searchValueF").val($("#searchValue").val());
                    $("#statusF").val($("#status").val());
                    $("#countryF").val($("#country").val());
                    $("#formatF").val(format);
                    
                    $("#exportbtn").click();
                }
                
                $("#pdfexport").click(function(){
                    exportData("pdf");
                });
                
                $("#excelexport").click(function(){
                    exportData("excel");
                });


                $("#csvexport").click(function(){
                    exportData("csv");
                });
                
            </h:outputScript>
        </ui:define>
        
    </ui:composition>
</html>

