<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Limit</ui:define>
        <ui:define name="nav-title">Merchant Limit SetUp</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/jquery-ui.min.css" />
            <h:outputStylesheet>
                ul{
                    padding-left: 0;
                    list-style: none;
                }
                td {
                    padding-left : 4vh;
                }
                
                td label{
                    margin-left : 2vh;
                    font-size : 0.6em;
                }
                
                select {
                    height : 2.5em;
                }
                
                input:not([type=submit]){
                    height : 2.5em;
                    padding: 0.8em;
                    font-size: 0.8em;
                }
                
                .ui-menu-item-wrapper{
                    font-size: 0.8em;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">Limit Update</h6></div>
                    <div class="card-block">
                        
                        <h:form id="create-form" prependId="false">
                            
                           <h:panelGroup id="messagePanel" layout="block">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
    
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Product Name</h:outputLabel>
                                <h:outputLabel class="form-control small-font" value="#{merchantController.merchantLimit.product.name}" />
                            </h:panelGroup>
                            
                             <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="description" class="small text-muted">Merchant</h:outputLabel>
                                <h:outputLabel class="form-control small-font" value="#{merchantController.merchantLimit.merchantName}" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-md-6 col-lg-4">
                                <h:outputLabel for="title" class="small text-muted">Daily Limit</h:outputLabel>
                                <h:inputText p:type="number" value="#{merchantController.merchantLimit.dailyLimit}" p:placeholder="daily limit" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-md-6 col-lg-4">
                                <h:outputLabel for="title" class="small text-muted">Minimum Limit</h:outputLabel>
                                <h:inputText p:type="number" value="#{merchantController.merchantLimit.minLimit}" p:placeholder="minimum limit" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                           
                            <h:panelGroup layout="block" class="form-group col-md-6 col-lg-4">
                                <h:outputLabel for="title" class="small text-muted">Maximum Limit</h:outputLabel>
                                <h:inputText p:type="number" value="#{merchantController.merchantLimit.maxLimit}" p:placeholder="maximum limit" autocomplete="false" class="form-control ">
                                    <f:convertNumber pattern="#0.00" minFractionDigits="2" />
                                </h:inputText>    
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-md-6 col-lg-4">
                                <h:outputLabel for="title" class="small text-muted">Created On</h:outputLabel>
                                <h:outputText value="#{merchantController.merchantLimit.createdOn}" class="form-control small-font">
                                        <f:convertDateTime pattern="MM/dd/yyyy hh:mm:ss a" />
                                </h:outputText>
                            </h:panelGroup>
                            <h:panelGroup layout="block" class="form-group col-md-6 col-lg-4">
                                <h:outputLabel for="title" class="small text-muted">Created By</h:outputLabel>
                                <h:outputText value="#{merchantController.merchantLimit.createdBy.firstName} #{merchantController.merchantLimit.createdBy.lastName}" class="form-control small-font" />
                            </h:panelGroup>
                            
    
                            <div class="col-lg-12" style="margin-top: 4%">
                                <h:commandButton type="submit" action="#{merchantController.updateLimit}" onclick="showloader()" class="btn btn-outline-primary offset-lg-3 col-lg-6" value="Submit" />
                            </div>
                        </h:form>
                    </div>
                </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/jquery-ui.min.js" />
            <h:outputScript>
                
                $("#loading-mask").hide();
                
                function showloader (){
                    $("#loading-mask").show();   
                }
                
                function hideloader(){
                    $("#loading-mask").hide();   
                }
            </h:outputScript>
            <h:outputScript>
                
                var ctx = "#{request.contextPath}";
                
                $("#fromDate, #initiationDate").pickadate();
                
                function getMerchant(){

                    $.ajax({
                        url : ctx+"/api/merchant",
                        data : {
                            "product" : $("#product").val()
                        },
                        beforeSend : function(){
                            showloader();
                        },
                        complete : function(){
                            hideloader();
                        }
                    }).done(function(data){

                        var temp = "";
                        for(var d in data){
                            temp += "<option>"+data[d]+"</option>";
                        }

                        $("#merchant").html(temp);

                    })
                }
                
                $("#merchant").autocomplete({
                    source :  function( request, response ) {
                            $.ajax( {
                              url: ctx+"/api/merchant/all",
                              dataType: "json",
                              data: {
                                term: request.term,
                                product : $("#product").val()
                              },
                              beforeSend : function(){
                              },
                              success: function( data ) {
                                response( data );
                              }
                            } );
                          },
                    select: function(event, ui) {
                        if(ui.item){
                            //getMode(ui.item.value);
                        }
                        $('#search').submit();
                    },      
                    minLength: 2     
                });
                
               /* $("#category").change(function(){
                    
                    var value = $(this).val();
                    
                    if(value === "Currency"){
                        
                    }
                    
                    
                }); */
                
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

