<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">User</ui:define>
        <ui:define name="nav-title">Create User</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet>
                ul{
                    padding-left: 0;
                    list-style: none;
                }
                td {
                    padding-left : 4vh;
                }
                
                td label{
                    margin-left : 2vh;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-6 offset-lg-3" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">User Setup</h6></div>
                    <div class="card-block">
                        <h:panelGroup id="messagePanel" class="col-lg-12" layout="block">
                            <!--<div class="card-block">-->
                            <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                            <!--</div>-->
                        </h:panelGroup>
                        
                        
                        <h:form id="create-form" prependId="false">
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="firstname" class="small">First Name</h:outputLabel>
                                <h:inputText id="firstname" value="#{userController.selectedUser.firstName}" p:placeholder="First name" required="true" requiredMessage="first name is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="lastname" class="small">Last Name</h:outputLabel>
                                <h:inputText id="lastname" value="#{userController.selectedUser.lastName}" p:placeholder="Last name" required="true" requiredMessage="last name is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="phone" class="small">Phone</h:outputLabel>
                                <h:inputText id="phone" p:min="0" p:type="number" value="#{userController.selectedUser.phone}" p:placeholder="080xxxxxxx" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="description" class="small">Email</h:outputLabel>
                                <h:inputText id="description" p:type="email"  value="#{userController.selectedUser.email}" p:placeholder="example@example.com" class="form-control small-font" required="true" requiredMessage="email address is required" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="role" class="small">Domain</h:outputLabel>
                                <h:selectOneMenu class="form-control custom-select small-font" id="domain" immediate="true" value="#{userController.selectedUser.domainName}">
                                    <f:selectItem itemValue="ADMIN" itemLabel="ADMIN" />
                                    <f:selectItem itemValue="BANK" itemLabel="BANK" />
                                    <f:selectItem itemValue="BANK_AIRTIME" itemLabel="BANK AIRTIME" />
                                    <f:selectItem itemValue="BANK_CHARGEBACK" itemLabel="BANK CHARGEBACK" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-12" id="bankpane">
                                <h:outputLabel for="domainid" class="small">Bank</h:outputLabel>
                                <h:selectOneMenu class="form-control custom-select small-font" immediate="true" value="#{userController.selectedUser.domainId}">
                                    <f:selectItems value="#{bankController.bankNames}" var="country" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="role" class="small">Role</h:outputLabel>
                                <h:selectOneMenu class="form-control custom-select small-font" id="role" immediate="true" value="#{userController.selectedUser.role}">
                                    <f:selectItems value="#{roleController.allRoles}" var="country" itemLabel="#{country.name.replaceAll('_', ' ' )}" itemValue="#{country}" />
                                    <f:converter converterId="roleConverter" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <div class="col-lg-12">
                                <h:commandButton type="submit" action="#{userController.create}" class="btn btn-outline-primary col-lg-12" value="Submit" />
                            </div>
                        </h:form>
                    </div>
                </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript>
               $("#domain").change(function(){
                    
                    var value = $("#domain").val();
                    
                    if(value !== "ADMIN"){
                        $("#bankpane").show();
                    }else
                        $("#bankpane").hide();
                
               });
               
               $("#domain").change();
            </h:outputScript>
        </ui:define>
    </ui:composition>
  
</html>

