<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">User | Flutter MS</ui:define>
        <ui:define name="nav-title">User Record Update</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/icheck/icheck.css" />
            <h:outputStylesheet name="/css/icheck/custom.css" />
            <h:outputStylesheet>
                ul{
                    padding-left: 0;
                    list-style: none;
                }
                td {
                    padding-left : 4vh;
                }
                
                td label{
                    margin-left : 2vh;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/icheck.min.js" />
            <h:outputScript name="/js/form-login-register.js" />
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">User Record Update</h6></div>
                    <div class="card-block">
                        <h:panelGroup id="messagePanel" class="col-lg-12" layout="block">
                            <!--<div class="card-block">-->
                            <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                            <!--</div>-->
                        </h:panelGroup>
                        <h:form id="create-form">
                            <h:inputHidden value="#{userController.selectedUser.id}" />
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="firstname" class="small text-muted">First Name</h:outputLabel>
                                <h:inputText id="firstname" value="#{userController.selectedUser.firstName}" p:placeholder="first name" required="true" requiredMessage="first name is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="lastname" class="small text-muted">Last Name</h:outputLabel>
                                <h:inputText id="lastname" value="#{userController.selectedUser.lastName}" p:placeholder="last name" required="true" requiredMessage="first name is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="phone" class="small text-muted">Phone</h:outputLabel>
                                <h:inputText id="phone" p:type="number" value="#{userController.selectedUser.phone}" p:placeholder="phone" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="description" class="small text-muted">Email</h:outputLabel>
                                <h:inputText id="description" p:type="email"  value="#{userController.selectedUser.email}" required="true" requiredMessage="email address must be provided" p:placeholder="example@example.com" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="description" class="small text-muted">Created On</h:outputLabel>
                                <h:outputText  value="#{userController.selectedUser.createdOn}" p:placeholder="example@example.com" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <div class="col-md-6 col-xs-12 mb-1">
                                <fieldset>
                                    <h:selectBooleanCheckbox class="chk-remember" value="#{userController.selectedUser.enabled}" />
                                    <label for="remember-me" class="small"> Enabled</label>
                                </fieldset>
                            </div>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="role" class="small text-muted">Select Role</h:outputLabel>
                                <h:selectOneMenu class="form-control custom-select small-font" id="role" immediate="true" value="#{userController.selectedUser.role}">
                                    <f:selectItems value="#{roleController.allRoles}" var="country" itemLabel="#{country.name.replaceAll('_', ' ' )}" itemValue="#{country}" />
                                    <f:converter converterId="roleConverter" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <br /><br />
                            <div class="col-lg-12">
                                <h:commandButton type="submit" action="#{userController.update}" class="btn btn-outline-primary col-lg-6 offset-lg-3" value="Submit" />
                            </div>
                        </h:form>
                    </div>
                </div>
                </h:panelGroup>
            </div>
        </ui:define>
    </ui:composition>
</html>

