<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/templates/template.xhtml">
        <ui:define name="title">Users | Flutter MS</ui:define>
        <ui:define name="nav-title">All Users</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/daterangepicker.css" />
            <h:outputStylesheet name="/css/dataTables.bootstrap4.css" />
            
            <h:outputStylesheet>
                table.dataTable thead > tr > th{
                    font-size: 70% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 90%;
                    text-align:center;
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">

                    <div class="card">
                        <div class="card-header no-bg b-a-0">
                            <h6 class="font-weight-bold">All Users</h6>
                        </div>

                        <div class="card-block">

                            <p>Please see list of users below</p>
                            
                            <h:link outcome="/user/create" class="btn btn-primary btn-sm m-r-xs pull-right" value="Add User" />
<!--                            <div class="card card-silver col-lg-5 pull-right" prependId="false">
                                <div class="card-block">
                                    <h:panelGroup class="form-group">
                                        <div class="col-lg-9">
                                            <input id="searchValue" placeholder="search.." class="form-control"  />
                                        </div>
                                    </h:panelGroup>
                                    <button class="btn btn-primary btn-sm" id="searchBtn" value="Search">Search</button> 
                                </div>
                            </div>-->

                            <div class="table-responsive">
                                <br /><br/>
                                <div class="card col-lg-12">
                                    <!--<div class="card-header no-bg b-a-0"></div>-->
                                    <div class="card-block">
                                        <table class="table table-bordered table-striped datatable">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>FIRST NAME</th>
                                                    <th>LAST NAME</th>
                                                    <th>EMAIL</th>
                                                    <th>CREATED ON</th>
                                                    <th>ROLE</th>
                                                    <th>STATUS</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            <h:form prependId="false" id="btnform">
                <h:inputHidden id="pParam" binding="#{input1}" value="dan" />
                <h:commandButton action="#{userController.prepareUpdate(input1.value)}" style="display: none" id="smtbtn" value="smt">
                </h:commandButton>
            </h:form>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript>

                var ctx = "#{request.contextPath}";
                
                var searchstate = false;
                
                oTable = $('.datatable').dataTable({
                        serverSide: true,
                        "bSort": false, 
                        "aLengthMenu": [ [20, 50, 80, 100, 150, 200], [20, 50, 80, 100, 150, 200] ],
                         ajax: {
                             url: ctx + "/api/users",
                             type: 'GET',
                             data :function(d){
                             },
                             beforeSend : function(){
                             }
                         },
                         fnDrawCallback : function(){
                         },
                         columns : [
                            {data : "id"},
                            {data : "firstName"},
                            {data : "lastName"},
                            {data : "email"},
                            {data : "created",
                                'render' : function(data, type, row){
                                    return moment(new Date(data)).format("DD/MM/YYYY HH:mm");
                                }
                            },
                            {data : "role"},
                            {data : "enabled", 
                                'render' : function(data, type, row){
                                    var temp = '<span class="tag tag-danger"> Inactive</span>';
                                    
                                    if(data === "true" || data === true){
                                        temp = '<span class="tag tag-success"> active</span>';
                                    }

                                    return temp;
                                }
                            },
                            {data : "id", 
                                'render' : function(data, type, row){
                                    return '<a class="btn btn-warning btn-sm m-r-xs btn-xsm" onclick="callBean('+data+')"><i class="fa fa-pencil"></i></a>' ;
                                }
                            }
                         ],
                         "rowCallback" : function(row, data, index){
                            
                            var setting = oTable.fnSettings();
                            var index = (setting._iDisplayStart + index + 1);
                            $("td:eq(0)", row).html(index);
                         }
                    });
                    
                    function callBean(id){
                        sid = id;
                        
                        console.log("id: "+id);
                        
                        $("#pParam").val(""+sid);
                        
                        <!--alert(sid);-->
                        
                        $("#smtbtn").click();
                    }
                    
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

