<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Reset Password</ui:define>
        <ui:define name="nav-title">Reset Password</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet>
                ul{
                    padding-left: 0;
                    list-style: none;
                }
                td {
                    padding-left : 4vh;
                }
                
                td label{
                    margin-left : 2vh;
                    font-size : 0.6em;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-6 offset-lg-3" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">Reset Password</h6></div>
                    <div class="card-block">
                        
                        <div class="alert alert-info">
                            New password must contain at least One lowercase, One uppercase, one number, one special character and must be greater than 5
                        </div>
                        <h:panelGroup id="messagePanel" layout="block">
                            <!--<div class="card-block">-->
                            <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                            <!--</div>-->
                        </h:panelGroup>
                        <h:form id="create-form">
                            <h:panelGroup layout="block" class="form-group">
                                <h:outputLabel for="title" class="small">User Email</h:outputLabel>
                                <h:inputText value="#{userController.resetPasswordModel.email}" p:placeholder="User Email" required="true" requiredMessage="Role name is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group">
                                <h:outputLabel for="title" class="small">New Password</h:outputLabel>
                                <h:inputSecret value="#{userController.resetPasswordModel.newPassword}" p:placeholder="new password" required="true" requiredMessage="Role name is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                           <h:panelGroup layout="block" class="form-group">
                                <h:outputLabel for="title" class="small">Confirm Password</h:outputLabel>
                                <h:inputSecret value="#{userController.resetPasswordModel.confirmPassword}" p:placeholder="confirm new password" required="true" requiredMessage="Role name is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <br />
                            <h:commandButton type="submit" action="#{userController.resetPassword}" class="btn btn-outline-primary offset-lg-3 col-lg-6" value="Submit" />
                        </h:form>
                    </div>
                </div>
                </h:panelGroup>
            </div>
        </ui:define>
    </ui:composition>
</html>