<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">User</ui:define>
        <ui:define name="nav-title">User Record Update</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet>
                ul{
                padding-left: 0;
                list-style: none;
                }
                td {
                padding-left : 4vh;
                }

                td label{
                margin-left : 2vh;
                }

            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <h:form id="create-form">
                <h:panelGroup layout="block" class="col-lg-6 offset-lg-3" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">
                                View User Record 
                                
                                <span class="tag #{userController.getStyle(userController.selectedUser.enabled)}">#{userController.getStatus(userController.selectedUser.enabled)}</span>
                                
                                <f:metadata>
                                    <f:viewParam name="roleId" value="#{userController.selectedUser.id}" />
                                </f:metadata>
                                <h:commandButton class="btn btn-info pull-right btn-sm" style="margin-right: 1%; float: right" action="#{userController.prepareUpdate(userController.selectedUser.id)}" value="edit">
                                    <f:param name="editParam"  value="#{userController.selectedUser.id}" />
                                </h:commandButton>
                            </h6>
                        </div>
                        <div class="card-block">
                            <h:panelGroup id="messagePanel" class="col-lg-12" layout="block">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
                            
                                <h:inputHidden value="#{userController.selectedUser.id}" />
                                <h:panelGroup layout="block" class="form-group col-lg-6">
                                    <h:outputLabel for="firstname" class="small">First Name</h:outputLabel>
                                    <h:outputText id="firstname" value="#{userController.selectedUser.firstName}" p:placeholder="first name" class="form-control small-font" />
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="form-group col-lg-6">
                                    <h:outputLabel for="lastname" class="small">Last Name</h:outputLabel>
                                    <h:outputText id="lastname" value="#{userController.selectedUser.lastName}" p:placeholder="last name" class="form-control small-font" />
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="form-group col-lg-12">
                                    <h:outputLabel for="phone" class="small">Phone</h:outputLabel>
                                    <h:outputText value="#{userController.selectedUser.phone}" class="form-control small-font" />
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="form-group col-lg-12">
                                    <h:outputLabel for="description" class="small">Email</h:outputLabel>
                                    <h:outputText id="description" value="#{userController.selectedUser.email}" class="form-control small-font" />
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="form-group col-lg-12">
                                    <h:outputLabel for="description" class="small">Created On</h:outputLabel>
                                    <h:outputText  value="#{userController.selectedUser.createdOn}" class="form-control small-font" />
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="form-group col-lg-12">
                                    <h:outputLabel for="role" class="small"> Role</h:outputLabel>
                                    <h:outputText  value="#{userController.selectedUser.role != null ? userController.selectedUser.role.name : null  }" class="form-control small-font" />
                                </h:panelGroup>
                        </div>
                    </div>
                </h:panelGroup>
                    </h:form>
            </div>
        </ui:define>
    </ui:composition>
</html>

