<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Create Account Query</ui:define>
        <ui:define name="nav-title">Create Account Query</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet>
                ul{
                    padding-left: 0;
                    list-style: none;
                }
                td {
                    padding-left : 4vh;
                }
                
                td label{
                    margin-left : 2vh;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <f:metadata>
                    <f:viewAction action="#{accountQueryController.prepareCreate()}" />
                </f:metadata>
                <h:panelGroup layout="block" class="col-lg-6 offset-lg-3" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">Create Account To Query</h6></div>
                    <div class="card-block">
                        <h:panelGroup id="messagePanel" class="col-lg-12" layout="block">
                            <!--<div class="card-block">-->
                            <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                            <!--</div>-->
                        </h:panelGroup>
                        
                        
                        <h:form id="create-form" prependId="false">
                            
                            <h:panelGroup layout="block" class="form-group col-lg-12" id="bankpane">
                                <h:outputLabel for="firstname" class="small">Bank</h:outputLabel>
                                <h:selectOneMenu class="form-control custom-select" required="true" requiredMessage="Bank must be selected" value="#{accountQueryController.accountQuery.bank}">
                                    <f:selectItems value="#{bankController.allBank}" var="bank"  itemLabel="#{bank.name}" itemValue="#{bank}" />
                                        <f:converter converterId="bankConverter" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="description" class="small">Account No</h:outputLabel>
                                <h:inputText id="description"  value="#{accountQueryController.accountQuery.accountNo}"  p:placeholder="account no" class="form-control small-font" required="true" requiredMessage="account no is required" />
                            </h:panelGroup>
                            
                            
                            <div class="col-lg-12">
                                <h:commandButton type="submit" action="#{accountQueryController.create}" class="btn btn-outline-primary col-lg-12" value="Submit" />
                            </div>
                        </h:form>
                    </div>
                </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript>
               $("#domain").change(function(){
                    
                    var value = $("#domain").val();
                    
                    if(value === "BANK"){
                        $("#bankpane").show();
                    }else
                        $("#bankpane").hide();
                
               });
               
               $("#domain").change();
            </h:outputScript>
        </ui:define>
    </ui:composition>
  
</html>

