<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Card Status | Flutter MS</ui:define>
        <ui:define name="nav-title">All Card Status</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/sweetalert.css" />
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
            <h:outputStylesheet>
                
                table{
                    font-size: 0.70em;
                    width : 100%
                }
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    text-align:center;
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                .fixed-size {
                    table-layout: fixed;
                    word-wrap: break-word;
                }
                
                .small-select{
                    font-size : 80% !important;
                    height : 1.8125rem;
                }
            </h:outputStylesheet>
        </ui:define>   
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">
                    <div class="card">
                        <div class="card-header no-bg b-a-0">All Card Status</div>
                        
                        <div class="card-block">
                            
                            <div class="table-responsive">
                                <!--<h:link outcome="/chargeback/create" style="float: right" class="btn btn-primary btn-sm m-r-xs pull-right" value="Add Charge Back" />-->
                                <h:panelGroup id="messagePanel" class="col-lg-12" layout="block">
                                    <!--<div class="card-block">-->
                                    <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                    <!--</div>-->
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" rendered="#{accountQueryController.accountStatus.rowCount lt 1}" class="alert alert-info col-lg-12">
                                    Status check is pending
                                </h:panelGroup>
                                
                                <!--<h:link outcome="/chargeback/create" class="btn btn-danger btn-sm m-r-xs pull-right" style="margin-right: 2%" value="View All" />-->
                                <h:dataTable rendered="#{accountQueryController.accountStatus.rowCount gt 0}"   value="#{accountQueryController.accountStatus}" var="item" class="table table-bordered table-striped m-b-0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Account No"/>
                                    </f:facet>
                                    <h:outputText value="#{item.accountNo}"/>
                                </h:column>   
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Bank Name"/>
                                    </f:facet>
                                    <h:outputText value="#{item.accountQuery.bank.name}"/>
                                </h:column>      
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Bank Code"/>
                                    </f:facet>
                                    <h:outputText value="#{item.accountQuery.bank.code}"/>
                                </h:column>   
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Status"/>
                                    </f:facet>
                                    <h:outputLabel rendered="#{item.status == 'SUCCESSFUL'}">
                                        <span class="tag tag-success">Available</span>
                                    </h:outputLabel>
                                    <h:outputLabel rendered="#{item.status == 'FAILED'}">
                                        <span class="tag tag-danger">Unavailable</span>
                                    </h:outputLabel>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Last Updated"/>
                                    </f:facet>
                                    <h:outputText value="#{item.createdOn}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" timeZone="GMT+1"/>
                                    </h:outputText>
                                </h:column>

                            </h:dataTable>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
             <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <!-- This is a pick a date section -->
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript name="/js/jsutil.js" />
            <h:outputScript>

                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }
                
                setInterval(function(){
                    location.reload();
                }, 100000)
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

