/*================================================================================
	Item Name: Robust - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.main-menu .navigation>li, .menu-item {
    padding: 0;
    font-size: 0.8em;
}

.nav-item li{
    font-size: 0.8em;
}

.small-font{
    padding: 0.8em;
    font-size: 0.8em;
}

.small-font-2{
    padding: 0.8em;
    padding-bottom: 0.75em;
    font-size: 0.8em;
}

.padding-0_5{
    padding: 0.5em;
}

.white-background{
    background-color: #fff !Important;
}

.align-right{
    text-align: right;
}

.status-alert{
    padding: 0;
    margin-left: 0;
    font-size: 0.8em;
}

.status-alert li{
    padding: 0.4em;
}

.alert{
    font-size: 0.7em;
}

.main-menu.menu-dark .navigation>li ul li a {
    padding: 8px 20px 8px 50px;
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

#messagePanel ul{
    list-style: none;
    padding-left: 0;
}

select.form-control-sm[size],
select.form-control-sm[multiple]{
    height: 1.8125rem
}

@media (min-width: 768px){
    .offset-lg-c-4-5 {
        margin-left: 38% !important;
    }   
}