<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Sector | Flutter MS</ui:define>
        <ui:define name="nav-title">Sector Update</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet>
                ul{
                padding-left: 0;
                list-style: none;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">Sector Update</h6></div>
                        <div class="card-block">
                            <p>Please fill in with necessary information to update this sector</p>
                            <h:panelGroup id="messagePanel" layout="block">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
                            <h:form id="create-form">
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="title" class="text-muted small">Sector Title</h:outputLabel>
                                    <h:inputText id="title" value="#{sectorController.sector.name}" p:placeholder="e.g. US Dollars" required="true" requiredMessage="Sector name is required" class="form-control small-font" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="created" class="text-muted small">Date Created</h:outputLabel>
                                    <h:outputLabel id="created" value="#{sectorController.sector.createdOn}" class="form-control small-font" />
                                </h:panelGroup>

                                <h:commandButton type="submit" action="#{sectorController.update}" class="btn btn-outline-primary offset-lg-3 col-lg-6" value="Submit" />
                            </h:form>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </ui:define>
    </ui:composition>
</html>

