<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">User</ui:define>
        <ui:define name="nav-title">Create User</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet>
                ul{
                    padding-left: 0;
                    list-style: none;
                }
                td {
                    padding-left : 4vh;
                }
                
                td label{
                    margin-left : 2vh;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-6 offset-lg-3" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">User Setup</h6></div>
                    <div class="card-block">
                        <h:panelGroup id="messagePanel" class="col-lg-12" layout="block">
                            <!--<div class="card-block">-->
                            <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                            <!--</div>-->
                        </h:panelGroup>
                        <h:form id="create-form">
                            
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="lastname" class="small">Unique Id</h:outputLabel>
                                <h:inputText value="#{userController.apiUser.uniqueId}" p:placeholder="uniqueid" required="true" requiredMessage="unique is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <div class="col-lg-12">
                                <h:commandButton type="submit" action="#{userController.createApiUser}" class="btn btn-outline-primary col-lg-12" value="Submit" />
                            </div>
                        </h:form>
                    </div>
                </div>
                </h:panelGroup>
            </div>
        </ui:define>
    </ui:composition>
</html>

