<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Currencies | Flutter MS</ui:define>
        <ui:define name="nav-title">All Currencies</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/sweetalert.css" />
            <h:outputStylesheet>
                
                table{
                    font-size: 0.75em;
                    width : 100%
                }
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
            </h:outputStylesheet>
        </ui:define>    
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">
                    <div class="card">
                        <div class="card-header no-bg b-a-0">Currencies</div>
                        
                        <div class="card-block">
                            <p>See below for list of currencies.</p>
                            
                            <h:link outcome="/currency/create" style="float: right" class="btn btn-primary btn-sm m-r-xs pull-x-right" value="Add Currency" />
                            <div class="table-responsive">
                                <c:if test="#{userController.hasRole('CREATE_CURRENCY')}">
                                <h:link outcome="/currency/create" class="btn btn-primary btn-sm m-r-xs pull-right" value="Add Currency" />
                                </c:if>
                                <c:if test="#{userController.hasRole('AUTHORIZE_CURRENCY')}">
                                <h:link outcome="/currency/unauth" class="btn btn-danger btn-sm m-r-xs pull-right" style="margin-right: 2%" value="View Unauthorized" />
                                </c:if>
                                <br /><br/>
                            <h:dataTable value="#{currencyController.all}" var="item" class="table table-bordered table-striped m-b-0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Id"/>
                                    </f:facet>
                                    <h:outputText value="#{currencyController.all.rowIndex + 1}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Name"/>
                                    </f:facet>
                                    <h:outputText value="#{item.name}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Short Name"/>
                                    </f:facet>
                                    <h:outputText value="#{item.shortName}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Created On"/>
                                    </f:facet>
                                    <h:outputText value="#{item.createdOn}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Created By"/>
                                    </f:facet>
                                    <h:outputText value="#{item.createdBy.firstName} #{item.createdBy.lastName}">
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Authorized On"/>
                                    </f:facet>
                                    <h:outputText value="#{item.approvedOn}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Authorized By"/>
                                    </f:facet>
                                    <h:outputText value="#{item.approvedBy.firstName} #{item.approvedBy.lastName}">
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="&nbsp;"/>
                                    </f:facet>
                                    <h:outputText value=" "/>
                                    <h:form>
                                        <h:commandLink class="btn btn-success btn-sm m-r-xs btn-xsm"  action="#{currencyController.prepateUpdate}" title="Edit" >
                                            <i class="icon-pencil"></i>
                                            <f:param name="editParam" value="#{item.id}" />
                                        </h:commandLink>
                                    </h:form>
                                    
                                    <h:outputText value=" "/>
                                </h:column>
                            </h:dataTable>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </ui:define>
    </ui:composition>
</html>

