<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Add Bank | Flutter MS</ui:define>
        <ui:define name="nav-title">Bank Creation</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet>
                td {
                    padding-left : 2vh;
                }
                
                td label{
                    margin-left : 2vh;
                }
                
                ul{
                    list-style : none;
                    padding-left : 0;
                }
                
                select {
                    height : 2.5em;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <f:metadata>
                <f:viewAction action="#{bankController.prepareCreate()}" />
            </f:metadata>
            <div class="row">
                <ui:include src="/include/loader.xhtml" />
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0 "><h6 class="font-weight-bold">Bank Creation</h6></div>
                        <div class="card-block">
                            <p class="alert alert-info">Please fill in with necessary information to create a bank.</p>
                            <h:panelGroup id="messagePanel" layout="block">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
                            <h:form id="create-form" prependId="false">
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="title" class="small text-muted">Bank Name</h:outputLabel>
                                    <h:inputText id="name" value="#{bankController.selected.name}" required="true" requiredMessage="Bank name is required" class="form-control small-font" />
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="description" class="small text-muted">Bank Code</h:outputLabel>
                                    <h:inputText id="code" value="#{bankController.selected.code}" required="true" requiredMessage="Bank Code is required" class="form-control small-font" />
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="description" class="small text-muted">Product</h:outputLabel>
                                    <h:selectOneMenu value="#{bankController.selected.product}" required="true" requiredMessage="Product must be selected" id="product" class="form-control small-font">
                                        <f:selectItems value="#{productController.allProducts}" var="product" itemLabel="#{product.name}" itemValue="#{product.name}" />
                                    </h:selectOneMenu>
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="productid" class="small text-muted">Product Id</h:outputLabel>
                                    <h:inputText id="productid" value="#{bankController.selected.productId}" required="true" requiredMessage="Please enter Product Id" class="form-control small-font" />
                                </h:panelGroup>
                                
                                
                                <h:commandButton type="submit" action="#{bankController.create}" onclick="showloader();" class="btn btn-outline-primary col-lg-6 offset-lg-3" value="Submit" />
                            </h:form>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript>

                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }
            </h:outputScript>
            
            <h:outputScript>
                
                
            </h:outputScript>
            
        </ui:define>
    </ui:composition>
</html>

