<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Banks | Flutter MS</ui:define>
        <ui:define name="nav-title">All unauthorized Banks</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/sweetalert.css" />
            <h:outputStylesheet>
                
                table{
                    font-size: 0.70em;
                    width : 100%
                }
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    text-align:center;
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                .fixed-size {
                    table-layout: fixed;
                    word-wrap: break-word;
                }
            </h:outputStylesheet>
        </ui:define>   
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">
                    <div class="card">
                        <div class="card-header no-bg b-a-0">Unauthorized Banks</div>
                        
                        <div class="card-block">
                            <p>See below for list of banks.</p>
                            
                            <div class="table-responsive">
                                <c:if test="#{userController.hasRoles('ADD_BANK')}"> 
                                    <h:link outcome="/bank/create" style="float: right" class="btn btn-primary btn-sm m-r-xs pull-right" value="Add Bank" />
                                </c:if>
                                <!--<h:link outcome="/bank/create" class="btn btn-danger btn-sm m-r-xs pull-right" style="margin-right: 2%" value="View Unauthorized" />-->
                                
                                <br /><br/>
                                
                                <h:panelGroup layout="block" rendered="#{bankController.unauth.rowCount lt 1}" class="alert alert-info">
                                    No unauthorized bank available.
                                </h:panelGroup>
                                
                                <h:dataTable rendered="#{bankController.unauth.rowCount gt 0}" value="#{bankController.unauth}" var="item" class="table table-bordered table-striped m-b-0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Id"/>
                                    </f:facet>
                                    <h:outputText value="#{bankController.unauth.rowIndex + 1}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Name"/>
                                    </f:facet>
                                    <h:outputText value="#{item.name}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Code"/>
                                    </f:facet>
                                    <h:outputText value="#{item.code}"/>
                                </h:column>  
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Created"/>
                                    </f:facet>
                                    <h:outputText value="#{item.createdOn}">
                                        <f:convertDateTime pattern="MM/dd/yyyy hh:mm:ss a" />
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Operation"/>
                                    </f:facet>
                                    <h:outputText value="#{item.modelId == 0 ? 'CREATE' : 'UPDATE'}" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Created By"/>
                                    </f:facet>
                                    <h:outputText value="#{item.createdBy.firstName} #{item.createdBy.lastName}">
                                        <f:convertDateTime pattern="E, dd/MM/yyyy hh:mm:ss a" />
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="&nbsp;"/>
                                    </f:facet>
                                    <h:outputText value=" "/>
                                    <h:form rendered="#{item.status != 'APPROVED'}">
                                        <h:commandLink class="btn btn-success btn-sm m-r-xs" onclick="approve('#{item.id}', '#{item.name}')" title="click to approve">
                                            <i class="icon-check"></i>
                                            <f:ajax render="@none" />
                                        </h:commandLink>
                                        <h:outputText value=" " />
                                        <h:commandLink class="btn btn-danger btn-sm m-r-xs" onclick="reject('#{item.id}', '#{item.name}')" title="click to reject">
                                            <i class="icon-times"></i>
                                            <f:ajax render="@none" />
                                        </h:commandLink>
                                    </h:form>
                                    
                                    <h:outputText value=" "/>
                                </h:column>
                            </h:dataTable>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript>
                
                var ctx = "#{request.contextPath}";
                
                function approve(id, name){
                    swal({
                    title: '<small>Bank Authorization</small>'
                        , text: 'Are you sure you want to approve this bank <b>'+name+'</b> ?'
                        , type: 'warning'
                        ,animation: "slide-from-top"
                        , showCancelButton: true
                        , cancelButtonText: 'Cancel'
                        , closeOnConfirm: false
                        , confirmButtonText: 'OK'
                        , showLoaderOnConfirm: true
                        , html : true
                    }, function (isConfirm) {
                        
                        if(isConfirm === true || isConfirm === 'true'){
                            
                            $.ajax({
                                url: ctx + "/api/bank/authorize",
                                type: 'POST',
                                data : JSON.stringify({
                                    "operation" : "approve",
                                    "id" : id
                                }),
                                contentType : "application/json"
                            }).done(function( data ){

                                var statusCode = data['status-code'];

                                if(statusCode === "00" || statusCode == "00"){
                                    swal({
                                    title: '<span style="font-size: 80%">Bank Approved successfully</span>'
                                        , text: ''
                                        , type: 'success'
                                        , showCancelButton: false
                                        , confirmButtonText: 'OK'
                                        , closeOnConfirm: true
                                        , html: true
                                    }, function (isConfirm) {
                                        window.location.reload(true);
                                    });
                                }else
                                    swal('Authorization Failed', ''+data['status'], 'error');
                            }).fail(function(){
                                swal('Authorization Failed', '', 'error');
                            })
                        }
                    });
                }
    
                
                function reject(id, name){
                    swal({
                    title: '<small>Bank Authorization</small>'
                        , text: 'Are you sure you want to reject this for bank <b>'+name+'</b> ?'
                        , type: 'input'
                        , animation: "slide-from-top"
                        , showCancelButton: true
                        , cancelButtonText: 'Cancel'
                        , closeOnConfirm: false
                        , confirmButtonText: 'OK'
                        , inputPlaceholder: "Please provide reason for rejecting this update"
                        , showLoaderOnConfirm: true
                        , html : true
                    }, function (inputValue) {

                        if (inputValue === false) return false;

                        if (inputValue === "") {
                        swal.showInputError("<small>You need to provide reason for rejection!</small>");
                          return false;
                        }


                        $.ajax({
                            url: ctx + "/api/bank/authorize",
                            type: 'POST',
                            data : JSON.stringify({
                                "operation" : "reject",
                                "id" : id,
                                "rejectionMessage" : inputValue+""
                            }),
                            contentType : "application/json"
                            
                        }).done(function( data ){

                            var statusCode = data['status-code'];

                            if(statusCode === "00" || statusCode == "00"){
                                swal({
                                title: '<span style="font-size: 80%">Update Rejected Successfully</span>'
                                    , text: ''
                                    , type: 'success'
                                    , showCancelButton: false
                                    , confirmButtonText: 'OK'
                                    , closeOnConfirm: true
                                    , html: true
                                }, function (isConfirm) {
                                    window.location.reload(true);
                                });
                            }else
                                swal('Authorization Failed', ''+data['status'], 'error');
                        }).fail(function(){
                            swal('Authorization Failed', '', 'error');
                        })
                    });
                }
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

