<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <ui:composition template="/template/template_plain.xhtml">
        <ui:define name="title">Login</ui:define>
        <ui:define name="content">
            <section class="flexbox-container">
                <div class="col-md-3 offset-md-5 col-xs-10 offset-xs-1 box-shadow-2 p-0 offset-lg-c-4-5">
                    <div class="card border-grey border-lighten-3 m-0">
                        <div class="card-header no-border">
                            <div class="card-title text-xs-center">
                                <!--<div class="p-1"><h:graphicImage library="img" height="50" name="logo.png" class="expanding-hidden" /></div>-->
                            </div>
                        </div>
                        <div class="card-body collapse in">
                            <div class="card-block pt-0">
                                Whoops, apologies for bringing you here.
                                <br />Our engineering team will be notified of this and it will be resolved soonest.
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/icheck/icheck.css" />
            <h:outputStylesheet name="/css/icheck/custom.css" />
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/icheck.min.js" />
            <h:outputScript name="/js/form-login-register.js" />
        </ui:define>
    </ui:composition>
</html>

