<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Add POS Merchant | Flutter MS</ui:define>
        <ui:define name="nav-title">POS Merchant Creation</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/select2.min_1.css" />
            <h:outputStylesheet name="/css/select2-bootstrap.min.css" />
            <h:outputStylesheet>
                td {
                    padding-left : 2vh;
                }
                
                td label{
                    margin-left : 2vh;
                }
                
                ul{
                    list-style : none;
                    padding-left : 0;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <f:metadata>
                <f:viewAction action="#{posController.prepareCreate()}" />
            </f:metadata>
            <div class="row">
                <ui:include src="/include/loader.xhtml" />
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0 "><h6 class="font-weight-bold">Assign Terminal</h6></div>
                        <div class="card-block">
                            <!--<p class="alert alert-info">Please fill in with necessary information to create.</p>-->
                            <h:panelGroup id="messagePanel" layout="block">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
                            <h:form id="create-form" prependId="merchant">
                                <h:panelGroup layout="block" class="form-group col-lg-6">
                                    <h:outputLabel for="title" class="small text-muted">Merchant Owner</h:outputLabel>
                                    <h:inputText id="merchant" value="#{posController.posMerchantModel.merchantId}" required="true" requiredMessage="Merchant must be selected" class="form-control custom-select small-font" />
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="form-group col-lg-6">
                                    <h:outputLabel for="description" class="small text-muted">Merchant Name</h:outputLabel>
                                    <h:inputText id="name" value="#{posController.posMerchantModel.name}" required="true" requiredMessage="Merchant name is required" class="form-control small-font" />
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group col-lg-6">
                                     <h:outputLabel for="email" class="small text-muted">Merchant Email</h:outputLabel>
                                    <h:inputText id="email" p:type="email" value="#{posController.posMerchantModel.email}" required="true" requiredMessage="Email is required" class="form-control small-font" />
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group col-lg-6">
                                    <h:outputLabel for="phone" class="small text-muted">Merchant Phone</h:outputLabel>
                                    <h:inputText id="phone" p:type="number" p:min="1" value="#{posController.posMerchantModel.phone}" required="true" requiredMessage="Phone is required" class="form-control small-font" />
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group col-lg-12">
                                    <h:outputLabel for="address" class="small text-muted">Merchant Address</h:outputLabel>
                                    <h:inputTextarea id="address" p:min="1" value="#{posController.posMerchantModel.address}" required="true" requiredMessage="Phone is required" class="form-control small-font" />
                                </h:panelGroup>
                                
                                <h:commandButton type="submit" action="#{posController.createMerchant()}" onclick="showloader();" class="btn btn-outline-primary col-lg-6 offset-lg-3 small-font" value="Submit" />
                            </h:form>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/transaction.js" />
            <h:outputScript name="/js/util.js" />
            <h:outputScript name="/js/lodash.min.js" />
            <h:outputScript name="/js/select2.min.js" />
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript name="/js/jsutil.js" />
            <h:outputScript>

                $("#loading-mask").hide();

                function showloader (){
                    $("#loading-mask").show();   
                }

                function hideloader(){
                    $("#loading-mask").hide();   
                }
                
                var ctx = "#{request.contextPath}";
                
                getMerchantMIDWithLoader(ctx);
                
                
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

