<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Add Country | Flutter MS</ui:define>
        <ui:define name="nav-title">Country Creation</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet>
                td {
                    padding-left : 2vh;
                }
                
                td label{
                    margin-left : 2vh;
                }
                
                ul{
                    list-style : none;
                    padding-left : 0;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <ui:include src="/include/loader.xhtml" />
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0 "><h6 class="font-weight-bold">Terminal  Registration</h6></div>
                        <div class="card-block">
                            <p class="alert alert-info">Please fill in with necessary information to register a terminal.</p>
                            <f:metadata>
                                <f:viewAction action="#{posController.prepareCreate()}" />
                            </f:metadata>
                            <h:panelGroup id="messagePanel" layout="block">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
                            <h:form id="create-form">
                                
<!--                                <h:panelGroup layout="block" class="form-group col-lg-12">
                                    <h:outputLabel for="title" class="small text-muted">Merchant</h:outputLabel>
                                    <h:selectOneMenu value="#{posController.registerTerminalModel.merchant}" required="true" requiredMessage="Merchant must be selected" class="form-control custom-select small-font">
                                        <f:selectItems value="#{posController.posMerchants}" var="product" itemLabel="#{product.name}" itemValue="#{product.id}" />
                                    </h:selectOneMenu>
                                </h:panelGroup>-->
                                
                                <h:panelGroup layout="block" class="form-group col-lg-6">
                                    <h:outputLabel for="terminalId" class="small text-muted">Terminal Id</h:outputLabel>
                                    <h:inputText id="terminalId" value="#{posController.registerTerminalModel.terminalId}" required="true" requiredMessage="Terminal Id must be provided" class="form-control" />
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group col-lg-6">
                                    <h:outputLabel for="serialNo" class="small text-muted">Serial No.</h:outputLabel>
                                    <h:inputText id="serialNo" value="#{posController.registerTerminalModel.serialNo}" required="true" requiredMessage="Serial No must be provided" class="form-control" />
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group col-lg-6">
                                    <h:outputLabel for="batchNo" class="small text-muted">Batch No.</h:outputLabel>
                                    <h:inputText id="batchNo" value="#{posController.registerTerminalModel.batchNo}" required="true" requiredMessage="Batch No must be provided" class="form-control" />
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group col-lg-6">
                                    <h:outputLabel for="model" class="small text-muted">Model </h:outputLabel>
                                    <h:inputText id="model" value="#{posController.registerTerminalModel.model}" required="true" requiredMessage="Model must be provided" class="form-control" />
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group col-lg-6 ">
                                    <h:outputLabel for="fccid" class="small text-muted">FCC ID </h:outputLabel>
                                    <h:inputText id="fccid" value="#{posController.registerTerminalModel.fccid}" required="true" requiredMessage="FCC Id must be provided" class="form-control" />
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group col-lg-6">
                                    <h:outputLabel for="receivedby" class="small text-muted">Received By</h:outputLabel>
                                    <h:inputText id="receivedby" value="#{posController.registerTerminalModel.receivedBy}" required="true" requiredMessage="Received By must be provided" class="form-control" />
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group col-lg-12">
                                    <h:outputLabel for="title" class="small text-muted">Provider</h:outputLabel>
                                    <h:selectOneMenu value="#{posController.registerTerminalModel.provider}" required="true" requiredMessage="Provider must be selected" class="form-control custom-select small-font">
                                        <f:selectItems value="#{posController.posProviders}" var="product" itemLabel="#{product.name}" itemValue="#{product.shortName}" />
                                    </h:selectOneMenu>
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="form-group col-lg-12">
                                    <h:outputLabel for="title" class="small text-muted">Bank</h:outputLabel>
                                    <h:selectOneMenu value="#{posController.registerTerminalModel.bankName}" required="true" requiredMessage="Select Bank" class="form-control custom-select small-font">
                                        <f:selectItems value="#{posController.banks}" var="product" itemLabel="#{product}" itemValue="#{product}" />
                                    </h:selectOneMenu>
                                </h:panelGroup>
                                
                                <h:commandButton type="submit" action="#{posController.createTerminal}" onclick="showloader();" class="btn btn-primary offset-lg-3 col-lg-6" value="Submit" />
                            </h:form>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript>

                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

