<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Merchants</ui:define>
        <ui:define name="nav-title">All Merchants</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/sweetalert.css" />
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
            <h:outputStylesheet name="/css/select2.min_1.css" />
            <h:outputStylesheet name="/css/select2-bootstrap.min.css" />
            <h:outputStylesheet>
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                #content-table{
                    font-size: 0.70em;
                    width : 100%
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            
            <div class="row">
                
                <h:panelGroup layout="block" class="col-lg-12">

                    <h:panelGroup id="messagePanel" layout="block">
                            <!--<div class="card-block">-->
                        <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                        <!--</div>-->
                    </h:panelGroup>
                    
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">All Terminals</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block">
                            
                            <div class="card panel panel-default m-b-xs">
                                    <div class="card-header panel-heading alert-info alert-inverse small-font" role="tab" id="headingOne">
                                    <h6 class="panel-title m-a-0"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-filter"></i>&nbsp; Filter</a></h6></div>
                                    <div id="collapseOne" class="card-block panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted">Provider</label>
                                            <div class='input-group'>
                                                <h:form prependId="false">
                                                    <h:selectOneMenu class="form-control form-control-sm small-select" id="provider">
                                                        <f:selectItem itemValue="" itemLabel="Any" />
                                                        <f:selectItems class="small" value="#{posController.posProviders}" var="item" itemLabel="#{item.name.replaceAll('_', ' ' )}" itemValue="#{item.id}" />
                                                    </h:selectOneMenu>
                                                </h:form>
                                            </div>
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3" id="searchPane">
                                            <label for="searchValue" class="small text-muted">Search value</label>
                                            <input id="searchValue" placeholder="terminal id" class="form-control form-control-sm" />
                                        </div>
                                        <div layout="block" class="form-group col-lg-3">
                                            <h:outputLabel for="title" class="small text-muted">Bank</h:outputLabel>
                                            <h:form prependId="false">
                                                <h:selectOneMenu required="true" id="bank" requiredMessage="Select Bank" class="form-control form-control-sm custom-select small-font">
                                                    <f:selectItem itemValue="" itemLabel="Any" />
                                                    <f:selectItems value="#{posController.banks}" var="product" itemLabel="#{product}" itemValue="#{product}" />
                                                </h:selectOneMenu>
                                            </h:form>
                                        </div>
                                        
                                        <div class="col-lg-12">
                                            <button class="btn btn-primary btn-sm" id="searchBtn"><i class="fa fa-filter"></i> &nbsp; Filter</button>
                                            <button class="btn btn-danger btn-sm" id="clearbtn"><i class="fa fa-times"></i> &nbsp; Clear</button>
                                        </div>
                                        
                                    </div>
                                    <div class="pull-right" style="float: right">
                                        <button class="btn btn-info btn-sm" id="excelexport"> Export To Excel</button>
                                        <button class="btn btn-info btn-sm" id="csvexport"> Export To CSV</button>
                                        <!--<button class="btn btn-info btn-sm" id="fetchTerminal">Fetch Terminals</button>-->
                                    </div>
                                </div>

                            
                            <div class="table-responsive">
                                <br /><br/>
                                <div class="col-lg-12">
                                    <table class="table table-bordered table-striped datatable">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>TERMINAL ID</th>
                                                <th>BANK</th>
                                                <th>MERCHANT</th>
                                                <th>PROVIDER</th>
                                                <th>SERIAL NO</th>
                                                <th>MODEL</th>
                                                <th>ADDED ON</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            <h:form prependId="false">
                <h:inputHidden id="pPar" binding="#{input1}" value="0" />
                <h:inputHidden id="pProduct" binding="#{inputP}" value="dan" />
                <h:commandButton style="display: none" action="#{merchantController.viewTransactions(input1.value, inputP.value)}" id="smtbtn" />
            </h:form>
            
            <h:form prependId="false">
                <h:inputHidden id="pTerminal" binding="#{input1}" value="0" />
                <h:commandButton style="display: none" action="#{posController.prepareTerminalUpdate(input1.value)}" id="pTerminalBtn" value="0" />
            </h:form>
            
            <div class="modal fade bd-example-modal" id="modalValues" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content row">
                        <div class="modal-header card-warning">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="myModalLabel">Merchant Information Preview</h6>
                        </div>
                        <div class="modal-body row" >
                            
                            <div class="col-lg-12" id="bodyPane">
                                <table class="table table-striped table-bordered" id="content-table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="kycdismiss" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal fade bd-example-modal" id="terminalModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content row">
                        <div class="modal-header card-warning">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="">
                                Assignment of Terminal (<strong id="tid"></strong>) to merchant
                            </h6>
                        </div>
                        <div class="modal-body row" >
                            
                            <div class="col-lg-12" id="bodyPane">
                                <div layout="block" class="form-group col-lg-12">
                                    <label for="title" class="small text-muted col-lg-3" style="text-align: right">Merchant</label>
                                    
                                    <div class="col-lg-9">
                                        <input id="merchant" required="true" requiredMessage="Merchant must be selected" class="form-control custom-select small-font" />
                                    </div>
                                </div>
                                
                                <button type="submit" onclick="assignTerminalAction();" class="btn btn-outline-primary col-lg-6 offset-lg-3 small-font" value="Submit">Submit</button>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="dismiss" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <h:form prependId="false" style="display: none">
                <h:inputHidden id="providerF" binding="#{provider}" value="dan" />         
                <h:inputHidden id="searchValueF" binding="#{searchValue}" value="dan" />
                <h:inputHidden id="createdF" binding="#{created}" value="dan" />
                <h:inputHidden id="formatF" binding="#{format}" value="false" />
                
                <h:commandButton style="display: none" action="#{posController.exportPosTerminal(provider.value, searchValue.value, format.value)}" id="exportbtn" value="submit" />
            </h:form>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <h:outputScript name="/js/util.js" />
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/lodash.min.js" />
            <h:outputScript name="/js/select2.min.js" />
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript name="/js/jsutil.js" />
            <h:outputScript>

                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                    $("#loading-mask").hide();   
                }
            </h:outputScript>
            <h:outputScript>

                var ctx = "#{request.contextPath}";
                
                var searchstate = false;

                var selectedProduct = "";
                
                $("#dateRange").daterangepicker({
                    autoUpdateInput: false,
                    locale : {
                        format : "DD/MM/YYYY",
                        cancelLabel: 'Clear'
                    },
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                     },
                });
                
                $('#dateRange').on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
                });

                $('#dateRange').on('cancel.daterangepicker', function(ev, picker) {
                    $(this).val('');
                });
                
                function getTerminals(){
                    oTable = $('.datatable').dataTable({
                        serverSide: true,
                        "bSort": false, 
                        "aLengthMenu": [ [20, 50, 80, 100, 150, 200], [20, 50, 80, 100, 150, 200] ],
                         ajax: {
                             url: ctx + "/api/mpos/terminals",
                             type: 'GET',
                             data :function(d){
                                d.provider = $("#provider").val();
                                d.bank = $("#bank").val();
                                d.searchValue = $("#searchValue").val();
                             },
                             beforeSend : function(){                            
                                showloader();
                             },
                             complete : function(){
                                hideloader();
                             }
                         },
                         fnDrawCallback : function(){
                            hideloader();
                         },
                         columns : [
                            { data : 'id'},
                            {data : "terminalId"},
                            {data : "bankName"},
                            {data : "merchant", 
                                'render' : function(data, type, row){
                                    return data;
                                }
                            },
                            {data : "provider"},
                            {data : "serialNo"},
                            {data : "model"},
                            {data : "createdOn",
                                'render' : function(data, type, row){
                                    return moment(new Date(data)).format("DD/MM/YYYY HH:mm");
                                }
                            },
                            {data : "terminalId", 
                                'render' : function(data, type, row){
                                    
                                    var temp = ""
                                    
                                    //if(row.merchant === null || row.merchant === undefined || row.merchant === "")
                                    
                                    temp = '<a class="btn btn-warning btn-float btn-sm m-r-xs small-font" title="view more" onclick="callBean('+row.id+')"><i class="icon-pencil"></i></a> &nbsp;';
                                    temp +='<button type="button" class="btn btn-primary btn-sm " onclick="assignTerminal(\''+data+'\')"><i class="icon-link"></i></button>';
                                    
                                    
                                    return temp;
                                }
                            }
                         ],
                         "rowCallback" : function(row, data, index){
                            
                            var setting = oTable.fnSettings();
                            var index = (setting._iDisplayStart + index + 1);
                            $("td:eq(0)", row).html(index);
                         }
                    });
                }
                    
                function getMerchantInfo(id, product){
                    $('#modalValues').modal('show');
                    getMerchantInformation(ctx, id, $("#product").val());
                }
                
                var terminal = "";
                
                function assignTerminal(terminalId){
                    
                    $("#tid").text(terminalId);
                    
                    $("#terminalModal").modal('show');
                    
                    terminal = terminalId;
                }
                
                function assignTerminalAction(){
                    
                    var merchant = $("#merchant").val();
                    
                    if(merchant === "" || merchant === undefined){
                        
                        swal("Merchant must be selected", "", "error");
                        
                        return;
                    }
                    
                    swal({
                    title: '<small>Terminal Assignment</small>'
                        , text: 'Please confirm you want to assign this terminal ?'
                        , type: 'info'
                        ,animation: "slide-from-top"
                        , showCancelButton: true
                        , cancelButtonText: 'Cancel'
                        , closeOnConfirm: false
                        , confirmButtonText: 'OK'
                        , showLoaderOnConfirm: true
                        , html : true
                    }, function (isConfirm) {
                        
                        if(isConfirm === true || isConfirm === 'true'){
                            
                            $.ajax({
                                url: ctx + "/api/pos/terminal/assign",
                                type: 'POST',
                                data : JSON.stringify({
                                    "terminal" : ""+terminal,
                                    "merchant" : merchant+"",
                                }),
                                contentType : "application/json"
                            }).done(function( data ){

                                var statusCode = data['status-code'];

                                if(statusCode === "00" || statusCode == "00"){
                                    swal({
                                        title: '<span style="font-size: 80%">Terminal Assigned Successfully</span>'
                                        , text: ''+data['status']
                                        , type: 'success'
                                        , showCancelButton: false
                                        , confirmButtonText: 'OK'
                                        , closeOnConfirm: true
                                        , html: true
                                    }, function (isConfirm) {
                                        window.location.reload(true);
                                    });
                                }else
                                    swal('Authorization Failed', ''+data['status'], 'error');
                            }).fail(function(){
                                swal('Authorization Failed', '', 'error');
                            })
                        }
                    });
                }
                
                getTerminals();
                
                
                $("#searchBtn").click(function(){
                    
                    oTable.fnDraw();
                })
                    
                
                $("#clearbtn").click(function(){
                    
                    $("#provider option")[0].selected = true;
                    $("#searchValue").val("");
                    
                    oTable.fnDraw();
                });
                
                function callBean(id){
                    var sid = id;   

                    $("#pTerminal").val(id);
                    
                    $("#pTerminalBtn").click();
                }               
                
                function exportData(format){
                
                    $("#providerF").val($("#provider").val());
                    $("#searchValueF").val($("#searchValue").val());
                    $("#formatF").val(format);
                    
                    $("#exportbtn").click();
                }
                
                $("#pdfexport").click(function(){
                    exportData("pdf");
                });
                
                $("#excelexport").click(function(){
                    exportData("excel");
                });


                $("#csvexport").click(function(){
                    exportData("csv");
                });
                
                
                $("#fetchTerminal").click(function(){
                    swal({
                    title: '<small>MPOS Terminal Fetch</small>'
                        , text: 'Please conform you want to fetch all mPOS Terminals?'
                        , type: 'info'
                        ,animation: "slide-from-top"
                        , showCancelButton: true
                        , cancelButtonText: 'Cancel'
                        , closeOnConfirm: false
                        , confirmButtonText: 'OK'
                        , showLoaderOnConfirm: true
                        , html : true
                    }, function (isConfirm) {
                        
                        if(isConfirm === true || isConfirm === 'true'){
                            
                            $.ajax({
                                url: ctx + "/api/mpos/terminal/fetch",
                                type: 'GET'
                            }).done(function( data ){

                                var statusCode = data['status-code'];

                                if(statusCode === "00" || statusCode == "00"){
                                    swal({
                                        title: '<span style="font-size: 80%">MPOS Terminal Fetched Successfully</span>'
                                        , text: ''+data['status']
                                        , type: 'success'
                                        , showCancelButton: false
                                        , confirmButtonText: 'OK'
                                        , closeOnConfirm: true
                                        , html: true
                                    }, function (isConfirm) {
                                        window.location.reload(true);
                                    });
                                }else
                                    swal('Terminal Fetch Status ', ''+data['status'], 'error');
                            }).fail(function(){
                                swal('Terminal Fetch Status', 'Unable to fetch terminal', 'error');
                            })
                        }
                    });
                })
                
                getMerchantMIDPOS(ctx);
                
            </h:outputScript>
        </ui:define>
        
    </ui:composition>
</html>

