<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Settlement Report &nbsp;</ui:define>
        <ui:define name="nav-title">Settlement Report &nbsp;</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/daterangepicker.css" />
            <h:outputStylesheet name="/css/c3.css" />
            <h:outputStylesheet>
                table{
                    font-size : 70%;
                }
                
                .table td, .table th {
                    padding: 0.75rem !important;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row" style="padding-right: 1%">
                <!--<button class="btn btn-primary btn-sm pull-right" id="filterbtn"><i class="fa fa-filter"></i> &nbsp; Filter</button>-->
                <p class="small pull-left col-lg-5 font-weight-bold">UPLOAD TRANSACTION SETTLEMENT REPORT</p>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card card-block">
                        <h4 class="m-b-0 v-align-middle text-overflow font-weight-bold text-info">
                            <span id="txnamountat">0</span>
                        </h4>
                        <div class="small text-overflow text-muted">&nbsp;</div>
                        <h6 class="small text-overflow font-weight-bold" id="trxnDate">TRANSACTION ON <span class="dateat"></span></h6>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card card-block">
                        <h4 class="m-b-0 v-align-middle text-overflow font-weight-bold text-primary">
                            <span id="txnsettledat">0</span>
                        </h4>
                        <div class="small text-overflow text-muted">&nbsp;</div>
                        <h6 class="small text-overflow font-weight-bold" id="trxnDateSettled">SETTLED TRANSACTION ON<span class="dateat"></span></h6>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card card-block">
                        <h4 class="m-b-0 v-align-middle text-overflow font-weight-bold text-success"><span id="txnmonth">0</span></h4>
                        <div class="small text-overflow text-muted">&nbsp;</div>
                        <h6 class="small text-overflow font-weight-bold" id="monthTrxnDate">TRANSACTIONS IN MONTH</h6>
                    </div>
                </div>
                
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card card-block">
                        <h4 class="m-b-0 v-align-middle text-overflow font-weight-bold text-warning"><span id="txnsettled">0</span></h4>
                        <div class="small text-overflow text-muted">&nbsp;</div>
                        <h6 class="small text-overflow font-weight-bold" id="monthTrxnDateSettled">SETTLED TRANSACTION IN MONTH</h6>
                    </div>
                </div>
                <div class="form-group pull-xs-right pull-right col-lg-7" style="float: right">
                    <button class="btn btn-primary btn-sm pull-right" id="fbtn"><i class="fa fa-filter"></i> &nbsp; Filter</button>
                    <div layout="block" class="form-group col-lg-3 no-padding" id="mPane">
                        <!--<label for="email" class="small">All Merchant</label>-->
                        <select class="form-control form-control-sm small-font" id="mtitle">
                            <option value="all">All Merchant</option>
                        </select>
                    </div> 
                    <div class="form-group col-lg-3 pull-right">
                        <select id="currencylistG" class="form-control form-control-sm small-font">
                            <option>NGN</option>
                            <option>GBP</option>
                            <!--<option>KES</option>-->
                            <option>USD</option>
                        </select>
                    </div>
                    <div class="col-lg-4 pull-right no-padding">
                        <input type="text" class="form-control form-control-sm small-font" style="padding: 0.6em 0.5em" id="dateRangeG" placeholder="Date range picker" />
                    </div>
                </div>
            </div>
            <div class="alert alert-success col-lg-12 font-weight-bold" style="color: #5d5e61" id="reporttest">
             </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header no-bg b-a-0">
                            <h6 class="medium font-weight-bold">Transaction Value - <small>Uploaded</small></h6>
                        </div>
                        <div class="card-block">
<!--                            <div class="row">
                                <div class="form-group col-lg-5">
                                    <input class="form-control" id="dateinterval" />
                                </div>
                                <div class="form-group col-lg-3 pull-right">
                                <select  id="currencylistW" class="form-control">
                                    <option value="NGN">NGN</option>
                                    <option value="USD">GBP</option>
                                    <option value="USD">USD</option>
                                </select>
                                </div>
                            </div>-->
                            <div class="row">
                                <!--<div class="col-lg-6">-->
                                <table class="table" id="tworth">
                                        <thead class="thead-inverse">
                                            <tr>
                                                <th>#</th>
                                                <th>Card Scheme</th>
                                                <th>Total</th>
                                                <th>Settled</th>
                                                <th>Unsettled</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Visa</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Master Card</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Verve</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header no-bg b-a-0">
                            <h6 class="medium font-weight-bold">Transaction Volume - <small>Uploaded</small></h6>
                        </div>
                        <div class="card-block">
<!--                            <div class="row">
                                <div class="form-group col-lg-5">
                                    <input class="form-control" id="dateVolume" />
                                </div>
                                <div class="form-group col-lg-3 pull-right">
                                <select  id="currencylist" class="form-control">
                                    <option value="ALL">ALL</option>
                                    <option value="NGN">NGN</option>
                                    <option value="USD">USD</option>
                                </select>
                                </div>
                            </div>-->
                            <div class="row">
                                <!--<div class="col-lg-6">-->
                                <table class="table" id="tvolume">
                                        <thead class="thead">
                                            <tr>
                                                <th>#</th>
                                                <th>Card Scheme</th>
                                                <th>Total</th>
                                                <th>Settled</th>
                                                <th>Unsettled</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Visa</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Master Card</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Verve</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-block">
                    <div class="col-lg-12">
                        <div class="m-b-1">
                            <h6 class="medium font-weight-bold">Transaction Value Trend - <small>Uploaded</small></h6>
                        </div>
                        <div class="c3chart" id="chart1" style="margin-bottom: 20px;"></div>
                    </div>
                </div>
            </div>
            
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/chart/d3.min.js" />
            <h:outputScript name="/js/chart/c3.min.js" />
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/dashboard_1.js" />
            <h:outputScript>
                
                var ctx = "#{request.contextPath}";
               
                
                function getSummary(){
                    $.ajax({
                        url: ctx + "/api/recon/report/rsummary",
                        data : {
                            "currency" : $("#currencylistG").val()
                        }
                     }).done(function(data){
                        
                        //$("#txnamountat").html(getCurrencySymbol(data.currency)+" "+parseFloat(data.amountAt).toLocaleString());
                        //$("#txnsettledat").html(getCurrencySymbol(data.currency)+" "+parseFloat(data.settledAt).toLocaleString());

                        $("#txnmonth").html(getCurrencySymbol(data.currency)+" "+parseFloat(data.monthTotal).toLocaleString());
                        $("#txnsettled").html(getCurrencySymbol(data.currency)+" "+parseFloat(data.monthSettled).toLocaleString());

                     });
                 }
             
                 getSummary();
                 
                
                 /* $("#currencylistM").change(function(){
                    
                 }); */
                                
                
                $("#dateRange, #dateVolume, #dateinterval, #dateRangeG").daterangepicker({
                    locale : {
                        format : "DD/MM/YYYY"
                    },
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                     },
                     
                });
                
                $('#dateinterval, #dateintervalM, #dateRangeG').val(moment().subtract('days', 30).format('DD/MM/YYYY') + ' - ' + moment().format('DD/MM/YYYY'));
                
                $('#dateRange, #dateVolume').val(moment().subtract('days', 30).format('DD/MM/YYYY') + ' - ' + moment().format('DD/MM/YYYY'));
                  
                  $("#dateRange").on("apply.daterangepicker", function(){
                        
                        pullGraphTransactions();
                  });
                    
                    function getWorth(currency, dateRange){
                        
                        $.ajax({
                            url: ctx + "/api/recon/report/worth",
                            data : {
                                "currency" : currency,
                                "daterange" : dateRange,
                                "merchant" : $("#mtitle").val()
                            }
                        }).done(function(data){

                            console.log(data);
                            
                            var temp = "";
                            
                            var count = 1;
                            
                            for(var d in data){
                                
                                if(d === "totalSettled" || d === "totalSum"){
                                
                                    if(d === "totalSum" )
                                        $("#txnamountat").html(getCurrencySymbol($("#currencylistG").val())+" "+parseFloat(data[d]).toLocaleString());
                                    
                                    if(d === "totalSettled" )
                                        $("#txnsettledat").html(getCurrencySymbol($("#currencylistG").val())+" "+parseFloat(data[d]).toLocaleString());
                                       
                                    continue;
                                }
                                    
                                temp += "<tr><td>"+(count++)+"</td>";
                                temp += "<td>"+d+"</td>";
                                temp += "<td>"+(parseInt(data[d].success) + parseInt(data[d].failure))+"</td>";
                                temp += "<td>"+data[d].success+"</td>";
                                temp += "<td>"+data[d].failure+"</td></tr>";    
                            }
                            
                            $("#tworth tbody").html(temp);

                        });  
                    }  
                    
                    function getVolume(currency, dateRange){
                        
                        $.ajax({
                            url: ctx + "/api/recon/transaction/volume",
                            data : {
                                "currency" : currency,
                                "daterange" : dateRange,
                                "merchant" : $("#mtitle").val()
                            }
                        }).done(function(data){

                            var temp = "";
                            
                            var count = 1;
                            
                            for(var d in data){
                                
                                temp += "<tr><td>"+(count++)+"</td>";
                                temp += "<td>"+d+"</td>";
                                temp += "<td>"+(parseInt(data[d].success) + parseInt(data[d].failure))+"</td>";
                                temp += "<td>"+data[d].success+"</td>";
                                temp += "<td>"+data[d].failure+"</td></tr>";    
                            }
                            
                            $("#tvolume tbody").html(temp);

                        });  
                    } 
                    
                    $("#dateinterval, #currencylistW").change(function(){
                        getWorth($("#currencylistW").val(),$('#dateinterval').val());
                    });
                    
                    $("#dateVolume, #currencylist").change(function(){
                        getVolume($("#currencylist").val(),$('#dateVolume').val());
                    })
                    
                    
                    $("#filterbtn").click(function(){
                        getDashboardSummary(ctx, $("#currencylistM").val(), $("#dateintervalM").val());
                        getSummary();
                    });
                    
                    function pullGraphTransaction(){
                    
                        $.ajax({
                            url: ctx + "/api/recon/transaction/trend",
                            data : {
                                "currency" : $("#currencylistG").val(),
                                "range" : $("#dateRangeG").val(),
                                "merchant" : $("#mtitle").val()
                            }
                        }).done(function(data){

                            var gData = [];
                            var xData = [];
                            var fData = [];

                            xData.push("Date");
                            fData.push("Amount");

                            
                            for(var s in data){
                                xData.push(moment(s).format("YYYY-MM-DD"));
                                fData.push(data[s]);                            
                            }
                            
                            gData.push(xData); gData.push(fData);
                            
                            //setLine("chart1", xData, fData);
                            
                            drawGraphNew(gData);
                        });
                    }
                    
                    function drawGraphNew(data){
                        c3.generate({
                            bindto: "#chart1",
                            data: {
                                x: "Date",
                                columns: data,
                                types: {
                                    Amount : 'area-spline',
                                }
                            },
                            axis : {
                                x : {
                                    type : 'category',
                                    tick: {
                                        rotate: 75,
                                        multiline: false
                                    }
                                },
                                yAxes: [{
                                    ticks: {
                                        beginAtZero:true
                                    }
                                }]
                            }
                        });
                    }
                    
                    pullGraphTransaction();
                    getWorth($("#currencylistG").val(), $("#dateRangeG").val());

                    getVolume($("#currencylistG").val(), $("#dateRangeG").val());

                    getDashboardSummary(ctx, $("#currencylistG").val(), $("#dateRangeG").val());
                    
                    $("#fbtn").click(function(){
                        getSummary();
                        pullGraphTransaction();
                        getWorth($("#currencylistG").val(), $("#dateRangeG").val());
                        
                        getVolume($("#currencylistG").val(), $("#dateRangeG").val());
                        
                        $("#reporttest").html(("Transaction Report for "+$("#mtitle option:selected").text()+" from "+$("#dateRangeG").val()+" with Currency "+$("#currencylistG").val()).toUpperCase());
                    });
                    
                    function getMerchants(){
                        
                        $.ajax({
                            url: ctx + "/api/recon/transaction/allmerchant",
                            type: 'GET'
                        }).done(function(data){

                        var tempMerchant = "all";
                        
                        var temp = "<option value="+tempMerchant+">All Merchant</option>";

                            for(var d in data){                            
                                temp += "<option value="+data[d]+">"+ data[d] +"</option>";
                            }

                            $("#mtitle").html(temp);
                        });
                    }
                    
                    function showText(){
                        //$('#trxnDate').text("TRXNS ON "+moment().subtract('days', 1).format('DD MMM, YYYY').toUpperCase());
                        //$('#trxnDateSettled').text("SETTLED TRXNS ON "+moment().subtract('days', 1).format('DD MMM, YYYY').toUpperCase());
                        
                        $('#trxnDate').text("TOTAL TRANSACTION ");
                        $('#trxnDateSettled').text("TOTAL SETTLED TRANSACTIONS");
                        
                        $('#monthTrxnDateSettled').text("SETTLED TRXNS IN "+moment().subtract('days', 1).format('MMM, YYYY').toUpperCase());
                        $('#monthTrxnDate').text("TRANSACTIONS IN "+moment().subtract('days', 1).format('MMM, YYYY').toUpperCase());
                    }
                    
                    showText();
                    
                    getMerchants();
                    
                    $("#reporttest").html(("Transaction Report for "+$("#mtitle option:selected").text()+" from "+$("#dateRangeG").val()+" with Currency "+$("#currencylistG").val()).toUpperCase());
                    
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

