<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Transactions | Flutter MS</ui:define>
        <ui:define name="nav-title">All Transactions</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/daterangepicker.css" />
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/sweetalert.css" />
            
            <h:outputStylesheet>
                table.dataTable thead > tr > th{
                    font-size: 60% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 60%;
                    text-align:center;
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                #modalValues{
                    top : 10%;
                }
                
                .item-header{
                    font-size : 80% !important;
                }
                
                .item-value{
                    font-size : 70% !important;
                }
                
                #paramTitle, #status, #mtitle {
                    font-size : 80%;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                input[type='text']{
                    font-size : 90%;
                    paddint-top: 3%;
                    padding-bottom: 3%;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">

                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">Transactions</h6></div>

                        <div class="card-block">
                            
                            <div class="card panel panel-default m-b-xs">
                                <div class="card-header panel-heading alert-info alert-inverse small-font" role="tab" id="headingOne">
                                <h6 class="panel-title m-a-0 small"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-filter"></i>&nbsp; Filter</a></h6></div>
                                <div id="collapseOne" class="card-block panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

                                    <div layout="block" class="form-group col-lg-3">
                                        <label for="dateRange" class="small">Date Range</label>
                                        <input id="dateRange" class="form-control form-control-sm" />
                                    </div>

                                    <div layout="block" class="form-group col-lg-2">
                                        <label for="email" class="small">Status</label>
                                        <select class="form-control form-control-sm" id="status">
                                            <option value="all">Any</option>
                                            <option value="settled">Settled</option>
                                            <option value="unsettled">Unsettled</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-2" style="margin-top: 2.5%">
                                        <button class="btn btn-primary btn-sm" id="filterBtn"><i class="fa fa-filter"></i> &nbsp; Filter</button>
                                        <!--<button class="btn btn-danger btn-sm" id="clearbtn"><i class="fa fa-times"></i> &nbsp; Clear</button>-->
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-8" style="margin-top:  2%; margin-bottom: 2%; float: right">
                                <div class="pull-xs-right">
                                    <div layout="block" class="form-group col-lg-5">
                                        <label for="email" class="small">Search By</label>
                                        <select class="form-control form-control-sm" id="paramTitle">
                                        </select>
                                    </div>

                                    <div layout="block" class="form-group col-lg-5" id="searchPane">
                                        <label for="searchValue" class="small">Search value</label>
                                        <input id="searchValue" type="text" class="form-control form-control-sm" />
                                    </div>

                                    <div layout="block" class="form-group col-lg-5" id="mPane">
                                        <label for="email" class="small">Merchant Title</label>
                                        <select class="form-control form-control-sm" id="mtitle">
                                        </select>
                                    </div> 
                                    <div class="col-lg-2 form-group">
                                        <label for="email" class="small">&nbsp;</label>
                                        <button class="btn btn-warning btn-sm form-control" id="searchBtn"><i class="fa fa-filter"></i> &nbsp; Search</button>
                                        <!--<button class="btn btn-danger btn-sm" id="clearbtn"><i class="fa fa-times"></i> &nbsp; Clear</button>-->
                                    </div>
                                </div>
                            </div>
                            
                            <div class="pull-right" style="float: right">
                                <button class="btn btn-info btn-sm" id="excelexport"> Export To Excel</button> &nbsp;
                                <button class="btn btn-info btn-sm" id="pdfexport"> Export To PDF</button> &nbsp;
                                <button class="btn btn-info btn-sm" id="csvexport"> Export To CSV</button>
                            </div>
                            
                            <div class="table-responsive">
                                <br />
                                <div class="card col-lg-12">
                                    <div class="card-block">
                                        <table class="table table-bordered table-striped datatable">
                                            <thead>
                                                <tr>
                                                    <th>MERCHANT NAME</th>
                                                    <th>TERMINAL NAME</th>
                                                    <th>RRN</th>
                                                    <th>AMOUNT</th>
                                                    <th>CURRENCY</th>
                                                    <th>CARD SCHEME</th>
                                                    <th>MASKED PAN</th>
                                                    <th>BANK</th>
                                                    <th>DATE</th>
                                                    <th>AGE (DAYS)</th>
                                                    <th>SETTLED</th>
                                                    <th>SETTLEMENT DATE</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            <div class="modal fade bd-example-modal" id="modalValues" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content row">
                        <div class="modal-header card-warning">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="myModalLabel">Transaction Preview</h6>
                        </div>
                        <div class="modal-body row" >
                            
                            <p class="alert alert-danger col-lg-12" id="statuspane" >
                            </p>                           
                            <p class="alert alert-success col-lg-12" id="alertpane" >
                            </p>
                            <div class="col-lg-12" id="bodyPane">
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="dismiss" data-dismiss="modal">Close</button>
<!--                            <button type="button" class="btn btn-primary" id="settlebtn">Settle Transaction</button>-->
                        </div>
                    </div>
                </div>
            </div>
            <h:form prependId="false" style="display: none">
                <h:inputHidden id="searchF" binding="#{search}" value="dan" />
                <h:inputHidden id="searchColumnF" binding="#{searchColumn}" value="dan" />
                <h:inputHidden id="statusF" binding="#{status}" value="dan" />
                <h:inputHidden id="rangeF" binding="#{range}" value="dan" />
                <h:inputHidden id="formatF" binding="#{format}" value="excel" />
                <h:inputHidden id="dosearchF" binding="#{dosearch}" value="false" />
                <h:inputHidden id="dofilterF" binding="#{dofilter}" value="false" />
                <h:commandButton style="display: none" action="#{transactionController.exportData(range.value, search.value, searchColumn.value, status.value, format.value, dosearch.value, dofilter.value )}" id="smtbtn" value="smt" />
            </h:form>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript name="/js/util.js" />
            <h:outputScript>

                var ctx = "#{request.contextPath}";
                
                var searchstate = false, filterstate = false;
                
                var selectedId = "";
                
                
                $("#dateRange").daterangepicker({
                    autoUpdateInput: false,
                    locale : {
                        format : "DD/MM/YYYY",
                        cancelLabel: 'Clear'
                    },
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                     },
                });
                
                $('#dateRange').on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                });

                $('#dateRange').on('cancel.daterangepicker', function(ev, picker) {
                    $(this).val('');
                });
                
                
                oTable = $('.datatable').dataTable({
                        serverSide: true,
                        "bSort": false, 
                        "aLengthMenu": [ [20, 50, 80, 100, 150, 200], [20, 50, 80, 100, 150, 200] ],
                         ajax: {
                             url: ctx + "/api/recon/transaction/list",
                             type: 'GET',
                             data :function(d){
                                d.range = $("#dateRange").val();
                                
                                if($("#paramTitle").val() === 'MERCHANTTITLE'){
                                    d.search = $("#mtitle").val();
                                }else
                                    d.search = $("#searchValue").val();
                                
                                d.searchColumn = $("#paramTitle").val();
                                d.doSearch = searchstate;
                                d.doFilter = filterstate;
                                d.status = $("#status").val();
                                d.range = $("#dateRange").val();
                             },
                             beforeSend : function(){
                             }
                         },
                         fnDrawCallback : function(){
                         },
                         columns : [
                            {data : "transaction.merchantTitle"},
                            {data : "transaction.terminalName"},
                            {data : "transaction.rrn"},
                            {data : "transaction.originClearanceAmount"},
                            {data : "transaction.originClearanceCurrency"},
                            {data : "transaction.cardScheme"},
                            {data : "transaction.maskedPan"},
                            {data : "transaction.bank"},
                            {data : "transaction.originTime",
                                'render' : function(data, type, row){
                                    return moment(new Date(data)).format("DD/MM/YYYY hh:mm A");
                                }
                            },
                            {data : "age"},
                            {data : "transaction.settled", 
                                'render' : function(data, type, row){
                                    var temp = '<span class="tag tag-danger"> Unsettled</span>';
                                    
                                    if(data === "true" || data === true){
                                        temp = '<span class="tag tag-success"> Settled</span>';
                                    }

                                    return temp;
                                }
                            },
                            {data : "transaction.settlementDate",
                                'render' : function(data, type, row){
                                
                                    if(data == null || data == undefined) return "";
                                    
                                    return moment(new Date(data)).format("DD/MM/YYYY HH:mm");
                                }
                            },
                            {data : "transaction.fileId", 
                                'render' : function(data, type, row){
                                    return '<a href="" class="btn btn-warning btn-sm m-r-xs" data-toggle="modal" data-target=".bd-example-modal" onclick="getTransaction('+data+')"  title="view"><i class="icon-pencil"></i></a>';
                                }
                            }
                         ]
                    });

                    $("#searchBtn").click(function(){
                    
                        searchstate = true;
                            
                        filterstate = false;
                        
                        oTable.fnDraw();
                    });
                    
                    $("#filterBtn").click(function(){
                    
                        searchstate = false;
                        filterstate = true;
                            
                        oTable.fnDraw();
                    });
                    
                    $("#mPane").hide();
                    
                    $("#paramTitle").change(function(){
                        
                        if($(this).val() === "MERCHANTTITLE"){
                            $("#mPane").show();
                            $("#searchPane").hide();
                            
                            getMerchants();
                            
                        }else{
                            $("#mPane").hide();
                            $("#searchPane").show();
                        }
                    });
                    
                    
                    getAllFields(ctx);
                    
                    function getMerchants(){
                        
                        $.ajax({
                            url: ctx + "/api/recon/transaction/allmerchant",
                            type: 'GET'
                        }).done(function(data){

                            var temp = "";

                            for(var d in data){                            
                                temp += "<option value="+data[d]+">"+ data[d] +"</option>";
                            }

                            $("#mtitle").html(temp);
                        });
                    }
                    
                    function getTransaction(fileId){
                        
                        selectedId = fileId;
                        
                        $("#statuspane").hide();
                        
                        $("#alertpane").hide();
                        
                        $.ajax({
                            url: ctx + "/api/recon/transaction/find/"+fileId,
                            type: 'GET'
                        }).done(function(data){
                        
                            var statusCode = data['status-code'];
                            
                            if(statusCode !== "00"){
                                $("#statuspane").text(""+data['status']);
                                return ;
                            }
                            
                            if(data.settled === true || data.settled === 'true'){
                                 $("#alertpane").text("This transaction has been settled");
                                 $("#alertpane").addClass("alert-success").show();
                                 $("#settlebtn").hide();
                            }else{
                                $("#alertpane").text("This transaction has not been settled");
                                $("#alertpane").addClass("alert-danger").show();
                                $("#settlebtn").show();
                            }
                            
                            var temp = "";
                            
                            for(var d in data.data){
                                
                                if(d === 'batch' || d === 'id')
                                    continue;
                                
                                if(d.toUpperCase() === 'OPERATIONDATE')
                                    temp += buildElement(d.toUpperCase(), moment(new Date(data.data[d])).format("DD/MM/YYYY HH:mm"));
                                else
                                    temp += buildElement(d.toUpperCase(), data.data[d]);  
                                
                            }
                            
                            $("#bodyPane").html(temp);
                            
                        });
                    }
                    
                    function buildElement(title, value){
                        var temp = '<div class="form-group col-lg-4"><label class="item-header">'+title+'</label><label class="form-control item-value">'+value+'</label></div>';
                        return temp;
                    }
                    
                    function update(){
                        
                        if(selectedId === undefined || selectedId === null)
                            return null;
                            
                        $.ajax({
                            url: ctx + "/api/recon/transaction/settle/"+selectedId,
                            type: 'POST'
                        }).done(function( data ){
                            
                            var statusCode = data['status-code'];
                            
                            if(statusCode === "00" || statusCode == "00"){
                                swal({
                                    title: 'Transaction Settlement Successful'
                                    , text: ''
                                    , type: 'success'
                                    , showCancelButton: false
                                    , confirmButtonText: 'OK'
                                    , closeOnConfirm: true
                                }, function (isConfirm) {
                                    window.location.reload(true);
                                });
                            }else
                                swal('Transaction Settlement Failed', ''+data.status, 'error');
                        })
                    }
                    
                    $("#settlebtn").click(function(){
                    
                        $("#dismiss").click();
                        
                        update();
                    })
                    
                    $("#excelexport").click(function(){
                        exportData("excel");
                    });
                    
                    $("#pdfexport").click(function(){
                        exportData("pdf");
                    });
                    
                    $("#csvexport").click(function(){
                        exportData("csv");
                    });
                    
                    function exportData(format){
                        
                        var val = ""
                        if($("#paramTitle").val() === 'MERCHANTTITLE'){
                            val = $("#mtitle").val();
                        }else
                            val = $("#searchValue").val();
                                    
                        $("#searchF").val(val);
                        $("#searchColumnF").val($("#paramTitle").val());
                        $("#statusF").val($("#status").val());
                        $("#rangeF").val($("#dateRange").val());
                        $("#formatF").val(format);
                        $("#dofilterF").val(filterstate+"");
                        $("#dosearchF").val(searchstate+"");
                        
                        //alert($("#dosearchF").val());
                        
                        $("#smtbtn").click();
                        
                    }
            </h:outputScript>
            
        </ui:define>
    </ui:composition>
</html>

