<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Transactions Upload | Flutter ARMS</ui:define>
        <ui:define name="nav-title">Transaction Upload</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet>
                ul {
                    padding-left : 0 !important;
                    list-style : none;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <h:form prependId="false">
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    
                    <div class="card">
                        <div class="card-header no-bg b-a-0"> 
                            <h6 class="font-weight-bold">
                                Transaction Upload status 
                                <h:link class="btn btn-primary pull-right btn-sm" style="float: right" value="All Transactions" outcome="/transaction/all"  />
                            </h6></div>
                        <div class="card-block">
                            <h:panelGroup id="messagePanel" layout="block" class="">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="bankp" class="col-lg-3">Provider</h:outputLabel>
                                <div class="col-lg-9">
                                    <h:outputLabel for="bankp" class="form-control" value="#{transactionUploadController.transactionUploadModel.provider}" />
                                </div>
                            </h:panelGroup>

                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="pCardScheme" class="col-lg-3">Total Transactions </h:outputLabel>
                                <div class="col-lg-9">
                                    <h:outputLabel for="bankp" class="form-control" value="#{transactionUploadController.uploadTransactions.size()}" />
                                </div>
                            </h:panelGroup>
                        </div>
                    </div>
                </h:panelGroup>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>
</html>

