<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Fee</ui:define>
        <ui:define name="nav-title">Configuration Fee SetUp</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/jquery-ui.min.css" />
            <h:outputStylesheet>
                ul{
                    padding-left: 0;
                    list-style: none;
                }
                td {
                    padding-left : 4vh;
                }
                
                td label{
                    margin-left : 2vh;
                    font-size : 0.6em;
                }
                
                select {
                    height : 2.5em;
                }
                
                input:not([type=submit]){
                    height : 2.5em;
                    padding: 0.8em;
                    font-size: 0.8em;
                }
                
                .ui-menu-item-wrapper{
                    font-size: 0.8em;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <f:metadata>
                #{configurationController.prepareCreate()}
            </f:metadata>
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-10 offset-lg-1" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">Configuration Fee Setup</h6></div>
                    <div class="card-block">
                        
                        <h:form id="create-form" prependId="false">
                            
                           <h:panelGroup id="messagePanel" layout="block">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
    
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="title" class="small text-muted">Product Name</h:outputLabel>
                                <h:selectOneMenu value="#{configurationController.configurationFee.product}" required="true" requiredMessage="Product must be slected" id="product" class="form-control small-font">
                                    <f:selectItems value="#{productController.allProducts}" var="product" itemLabel="#{product.name}" itemValue="#{product}" />
                                    <f:converter converterId="productConverter" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <label class="col-lg-12 card-info small-font">International Card Fee</label>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <label class="small text-muted">International Card Transaction Fee Type</label>
                                <h:selectOneMenu class="form-control small-font" value="#{configurationController.configurationFee.interCardFeeType}" id="intcardfeetype">
                                    <f:selectItems value="#{productController.feeType}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <h:outputLabel for="title" class="small text-muted">International Card Transaction Fee</h:outputLabel>
                                <h:inputText value="#{configurationController.configurationFee.interCardFee}" p:placeholder="international card fee" autocomplete="false" class="form-control " />
                            </h:panelGroup>
    
                            <h:panelGroup layout="block" class="form-group col-lg-4" id="intcardextrapane">
                                <h:outputLabel for="title" class="small text-muted">International Card Transaction Fee (%)</h:outputLabel>
                                <h:inputText value="#{configurationController.configurationFee.interCardFeeExtra}" p:placeholder="international card fee extra" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <h:outputLabel for="title" class="small text-muted">International Card Transaction Fee Cap</h:outputLabel>
                                <h:inputText value="#{configurationController.configurationFee.interCardFeeCap}" p:placeholder="international card fee cap" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <label class="col-lg-12 card-info small-font">International Account Fee</label>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <label class="small text-muted">International Account Fee Type</label>
                                <h:selectOneMenu class="form-control small-font" value="#{configurationController.configurationFee.interAccountFeeType}" id="intaccfeetype">
                                    <f:selectItems value="#{productController.feeType}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <h:outputLabel for="title" class="small text-muted">International Account Transaction Fee</h:outputLabel>
                                <h:inputText value="#{configurationController.configurationFee.interAccountFee}" p:placeholder="international card fee" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-4" id="intaccountextrapane">
                                <h:outputLabel for="title" class="small text-muted" >International Account Transaction (%)</h:outputLabel>
                                <h:inputText value="#{configurationController.configurationFee.interAccountFeeExtra}" p:placeholder="international card fee extra" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <h:outputLabel for="title" class="small text-muted">International Account Transaction Fee Cap</h:outputLabel>
                                <h:inputText value="#{configurationController.configurationFee.interAccountFeeCap}" p:placeholder="international card fee cap" autocomplete="false" class="form-control " />
                            </h:panelGroup>
    
                            <label class="col-lg-12 card-info small-font">Local Card Fee</label>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <label class="small text-muted">Local Card Transaction Fee Type</label>
                                <h:selectOneMenu class="form-control small-font" value="#{configurationController.configurationFee.pobCardFeeType}" id="pobcardfeetype">
                                    <f:selectItems value="#{productController.feeType}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Local Card Transaction Fee</h:outputLabel>
                                <h:inputText value="#{configurationController.configurationFee.pobCardFee}" p:placeholder="place of business card fee" autocomplete="false" class="form-control " />
                            </h:panelGroup>
    
                            <h:panelGroup layout="block" class="form-group col-lg-4" id="pobcardextrapane">
                                <h:outputLabel for="title" class="small text-muted" >Local Card Transaction (%)</h:outputLabel>
                                <h:inputText value="#{configurationController.configurationFee.pobCardFeeExtra}" p:placeholder="place of business card fee extra" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Local Card Transaction Fee Cap</h:outputLabel>
                                <h:inputText value="#{configurationController.configurationFee.pobCardFeeCap}" p:placeholder="place of business card fee cap" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <label class="col-lg-12 card-info small-font">Local Account Fee</label>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <label class="small text-muted">Local Account Transaction Fee Type</label>
                                <h:selectOneMenu class="form-control small-font" value="#{configurationController.configurationFee.pobAccountFeeType}" id="pobaccfeetype">
                                    <f:selectItems value="#{productController.feeType}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Local Account Transaction Fee</h:outputLabel>
                                <h:inputText value="#{configurationController.configurationFee.pobAccountFee}" p:placeholder="Local account fee" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6" id="pobaccountextrapane">
                                <h:outputLabel for="title" class="small text-muted">Local Account Transaction Fee (%)</h:outputLabel>
                                <h:inputText value="#{configurationController.configurationFee.pobAccountFeeExtra}" p:placeholder="Local account fee extra" autocomplete="false" class="form-control " />
                            </h:panelGroup>
    
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Local Account Transaction Fee Cap</h:outputLabel>
                                <h:inputText value="#{configurationController.configurationFee.pobAccountFeeCap}" p:placeholder="Local account fee cap" autocomplete="false" class="form-control " />
                            </h:panelGroup>
    
                            <label class="col-lg-12 card-info small-font">Micro-Transaction Fee</label>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <label class="small text-muted">Micro-Transaction Card Transaction Fee Type</label>
                                <h:selectOneMenu class="form-control small-font" value="#{configurationController.configurationFee.microTransactionCardFeeType}">
                                    <f:selectItems value="#{productController.feeType}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Micro-Transaction Card Transaction Fee</h:outputLabel>
                                <h:inputText value="#{configurationController.configurationFee.microTransactionCardFee}" p:placeholder="international card fee" autocomplete="false" class="form-control " />
                            </h:panelGroup>
    
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <label class="small text-muted">Micro-Transaction Account Transaction Fee Type</label>
                                <h:selectOneMenu class="form-control small-font" value="#{configurationController.configurationFee.microTransactionAccountFeeType}">
                                    <f:selectItems value="#{productController.feeType}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Micro-Transaction Account Transaction Fee</h:outputLabel>
                                <h:inputText value="#{configurationController.configurationFee.microTransactionAccountFee}" p:placeholder="international card fee" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <label class="col-lg-12 card-info small-font">American Express Card Fee</label>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <label class="small text-muted">American Express Card Transaction Fee Type</label>
                                <h:selectOneMenu class="form-control small-font" id="amexfeetype" value="#{configurationController.configurationFee.amexFeeType}">
                                    <f:selectItems value="#{productController.feeType}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">American Express Card Transaction Fee</h:outputLabel>
                                <h:inputText value="#{configurationController.configurationFee.amexFee}" p:placeholder="" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6" id="amexextrapane">
                                <h:outputLabel for="title" class="small text-muted">Amex Transaction Fee (%)</h:outputLabel>
                                <h:inputText value="#{configurationController.configurationFee.amexFeeExtra}" p:placeholder="" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">American Express Card Transaction Fee Cap</h:outputLabel>
                                <h:inputText value="#{configurationController.configurationFee.amexFeeCap}" p:placeholder="" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                           
                            <label class="col-lg-12 card-info small-font">BVN Fee (Flat)</label>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="title" class="small text-muted">BVN Fee</h:outputLabel>
                                <h:inputText value="#{configurationController.configurationFee.bvnFee}" p:type="number" p:placeholder="" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
    
                            <div class="col-lg-12" style="margin-top: 4%">
                                <h:commandButton type="submit" action="#{configurationController.createFee}" class="btn btn-outline-primary offset-lg-3 col-lg-6" value="Submit" />
                            </div>
                        </h:form>
                    </div>
                </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/jquery-ui.min.js" />
            <h:outputScript>
                
                var ctx = "#{request.contextPath}";
                
                $("#fromDate, #initiationDate").pickadate();
                
                function getMerchant(){

                    $.ajax({
                        url : ctx+"/api/merchant",
                        data : {
                            "product" : $("#product").val()
                        }
                    }).done(function(data){

                        var temp = "";
                        for(var d in data){
                            temp += "<option>"+data[d]+"</option>";
                        }

                        $("#merchant").html(temp);

                    })
                }
                
                $("#merchant").autocomplete({
                    source :  function( request, response ) {
                            $.ajax( {
                              url: ctx+"/api/merchant/all",
                              dataType: "json",
                              data: {
                                term: request.term,
                                product : $("#product").val()
                              },
                              beforeSend : function(){
                              },
                              success: function( data ) {
                                response( data );
                              }
                            } );
                          },
                    select: function(event, ui) {
                        if(ui.item){
                            //getMode(ui.item.value);
                        }
                        $('#search').submit();
                    },      
                    minLength: 2     
                });
                
                $("#intcardfeetype").change(function(){
                    
                    if($(this).val() === 'BOTH')
                        $("#intcardextrapane").show();
                    else
                        $("#intcardextrapane").hide();
                }); 
                
                $("#intaccfeetype").change(function(){
                    
                    if($(this).val() === 'BOTH')
                        $("#intaccountextrapane").show();
                    else
                        $("#intaccountextrapane").hide();
                }); 
                
                $("#pobcardfeetype").change(function(){
                    
                    if($(this).val() === 'BOTH')
                        $("#pobcardextrapane").show();
                    else
                        $("#pobcardextrapane").hide();
                }); 
                
                $("#pobaccfeetype").change(function(){
                    
                    if($(this).val() === 'BOTH')
                        $("#pobaccountextrapane").show();
                    else
                        $("#pobaccountextrapane").hide();
                }); 
                
                $("#amexfeetype").change(function(){
                    
                    if($(this).val() === 'BOTH')
                        $("#amexextrapane").show();
                    else
                        $("#amexextrapane").hide();
                }); 
                
                $("#pobcardextrapane").hide();
                $("#intaccountextrapane").hide();
                $("#pobaccountextrapane").hide();
                $("#intcardextrapane").hide();
                $("#amexextrapane").hide();
                
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

