<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Currency | Flutter MS</ui:define>
        <ui:define name="nav-title">Currency Update</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet>
                ul{
                padding-left: 0;
                list-style: none;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">Currency Update</h6></div>
                        <div class="card-block">
                            <p>Please fill in with necessary information to update this currency</p>
                            <h:panelGroup id="messagePanel" layout="block">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
                            <h:form id="create-form">
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="title">Currency Title</h:outputLabel>
                                    <h:inputText id="title" value="#{currencyController.selected.name}" p:placeholder="e.g. US Dollars" required="true" requiredMessage="Currency name is required" class="form-control" />
                                    <small class="text-muted">This is the name of the currency</small>
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="shortName">Currency Short Name</h:outputLabel>
                                    <h:inputText id="shortName" value="#{currencyController.selected.shortName}" p:placeholder="e.g. USD" class="form-control" />
                                    <small class="text-muted">This is the short name </small>
                                </h:panelGroup>
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="created">Date Created</h:outputLabel>
                                    <h:outputLabel id="created" value="#{currencyController.selected.createdOn}" class="form-control" />
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="created">Enabled</h:outputLabel>
                                    <h:selectBooleanCheckbox class="form-control" value="#{currencyController.selected.enabled}" />
                                </h:panelGroup>


                                <h:commandButton type="submit" action="#{currencyController.update}" class="btn btn-primary" value="Submit" />
                            </h:form>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </ui:define>
    </ui:composition>
</html>

