<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        .main-content{
            position: absolute;
            top: 20%;
            left: 30%;
            width: 50%;
            font-weight: 100;
            font-size: 100%;
        }

        hr{
            border-color: rgba(177, 177, 177, 0.15);
            border-width: 0.5px;
        }

        @media (max-width: 769px){
            .main-content{
                position: absolute;
                top: 10%;
                left: 10%;
                width: 80%;
                font-weight: 100;
                font-size: 90%;
            }
        }

        body{
            color: gray;
        }
        .footer a{
            text-decoration: none;
        }

        ol > li{
        	margin-bottom: 2%;
        }

    </style>
</head>
<body>
<div class="main-content">
    <div class="main-title">
        <img width="174" height="46" title="" alt="Flutterwave logo" src="https://www.flutterwavedev.com/images/logo.dark.png" />
    </div>

    <hr style="color: #6f1616;display: block;border-color: rgb(255, 255, 255);border-width: 1px;">
    <p>Hi ${companyName},</p>

    <p style="line-height:150%; text-align:justify">We appreciate your partnership with Flutterwave.</p>

    <p style="line-height:150%; text-align:justify">
        In view of your application to utilize Flutterwave's services, kindly find attached Merchant Service Agreement which stands as a binding contract between us.
    </p>

    <p style="line-height:150%; text-align:justify">
        Welcome on board!
    </p>

    <div style="margin-top: 3%">
        <small>Regards.</small>
        <br/>
        <small>Flutterwave Compliance Team</small>
    </div>

</div>
</body>
</html>
