<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <ui:composition>
        <div id="loading-mask" style="width:100%;height:100%; display: none; background: rgba(249, 249, 249, 0.380392);position:absolute;z-index:20000;left:0;top:0;">
            <div class="col-sm-3 demo-spinkit" style="z-index: 200000; position: absolute; top: 40%; left : 35%">
                <div class="loader-wrapper">
                    <div class="loader-container">
                        <div class="ball-zig-zag-deflect loader-info">
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:composition>
    
</html>

