<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
    
    <ui:composition>
        <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-dark navbar-shadow">
            <div class="navbar-wrapper">
              <div class="navbar-header">
                <ul class="nav navbar-nav">
                  <li class="nav-item mobile-menu hidden-md-up float-xs-left"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5 font-large-1"></i></a></li>
                  <li class="nav-item">
                      <!--<a href="#{request.contextPath}/" class="navbar-brand nav-link"><h:graphicImage library="img" height="35" name="logo_2.png" class="brand-logo" /></a>-->
                      <h:link value="" outcome="index" class="navbar-brand nav-link"><h:graphicImage library="img" height="35" name="logo_2.png" class="brand-logo" /></h:link>
                  </li>
                  
                  <!--<img alt="branding logo" src="robust-assets/images/logo/robust-logo-light.png" data-expand="robust-assets/images/logo/robust-logo-light.png" data-collapse="robust-assets/images/logo/robust-logo-small.png" class="brand-logo" />-->
                  <li class="nav-item hidden-md-up float-xs-right"><a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container"><i class="icon-ellipsis pe-2x icon-icon-rotate-right-right"></i></a></li>
                </ul>
              </div>
              <div class="navbar-container content container-fluid">
                <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
                  <ul class="nav navbar-nav">
                    <li class="nav-item hidden-sm-down"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5"></i></a></li>
                    <li class="nav-item hidden-sm-down"><a href="#" class="nav-link nav-link-expand"><i class="ficon icon-expand2"></i></a></li>
                   
                  </ul>
                  <ul class="nav navbar-nav float-xs-right">
                    <li class="dropdown dropdown-user nav-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link"><span class="avatar avatar-online"><i></i></span><span class="user-name small">#{userController.loggedInName}</span></a>
                      <div class="dropdown-menu dropdown-menu-right"><a href="#{request.contextPath}/logout" class="dropdown-item"><i class="icon-power3 small"></i> Logout</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </nav>
    </ui:composition>
</html>

