<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition>
        <div id="main-menu" data-scroll-to-active="true" class="main-menu menu-dark menu-fixed menu-shadow menu-accordion">
            <!-- main menu header-->
            <!-- / main menu header-->
            <!-- main menu content-->
            <div class="main-menu-content">
                <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                    <li class="nav-item"><h:link outcome="index"><i class="icon-home3"></i><span data-i18n="nav.dash.main" class="menu-title">Dashboard</span></h:link></li>

                    <c:if test="#{userController.hasRoles('VIEW_CURRENCY,CREATE_CURRENCY,UPLOAD_CURRENCY')}">  
                        <li class=" nav-item"><a href="#"><i class="icon-money"></i><span data-i18n="nav.templates.main" class="menu-title">Currency</span></a>
                            <ul class="menu-content">
                                <li><h:link outcome="/currency/list" class="menu-item" ><span class="menu-title">All</span></h:link></li>
                                <c:if test="#{userController.hasRoles('CREATE_CURRENCY')}">  
                                    <li><h:link outcome="/currency/create" class="menu-item" ><span class="menu-title">New</span></h:link></li>
                                </c:if>
                                <c:if test="#{userController.hasRoles('UPLOAD_CURRENCY')}">  
                                    <li><h:link outcome="/currency/upload" class="menu-item" ><span class="menu-title">Upload</span></h:link></li>
                                </c:if>
                                <c:if test="#{userController.hasRoles('AUTHORIZE_CURRENCY')}">  
                                    <li><h:link outcome="/currency/unauth" class="menu-item" ><span class="menu-title">Pending Authorization</span></h:link></li>
                                </c:if>
                                
                                <li class=" nav-item"><a href="#"><i class="icon-money"></i><span data-i18n="nav.templates.main" class="menu-title">Rates</span></a>
                                    <ul class="menu-content">
                                        <li><h:link outcome="/currency/rate/list" class="menu-item" ><span class="menu-title">All</span></h:link></li>
                                        <c:if test="#{userController.hasRoles('CREATE_CURRENCY_RATE')}">  
                                            <li><h:link outcome="/currency/rate/create" class="menu-item" ><span class="menu-title">New</span></h:link></li>
                                        </c:if>
                                        <c:if test="#{userController.hasRoles('AUTHORIZE_CURRENCY_RATE')}">  
                                            <li><h:link outcome="/currency/rate/unauth" class="menu-item" ><span class="menu-title">Pending Authorization</span></h:link></li>
                                        </c:if>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </c:if>

                    <c:if test="#{userController.hasRoles('VIEW_COUNTRY,CREATE_COUNTRY,UPLOAD_COUNTRY, AUTHORIZE_COUNTRY')}"> 
                        <li class=" nav-item"><a href="#"><i class="icon-building"></i><span data-i18n="nav.templates.main" class="menu-title">Country</span></a>
                            <ul class="menu-content">
                                <li><h:link outcome="/country/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                <c:if test="#{userController.hasRoles('CREATE_COUNTRY')}"> 
                                    <li><h:link outcome="/country/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>
                                </c:if>
                                <c:if test="#{userController.hasRoles('VIEW_COUNTRY,CREATE_COUNTRY,UPLOAD_COUNTRY')}"> 
                                    <li><h:link outcome="/country/upload" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Upload</span></h:link></li>
                                </c:if>
                                <c:if test="#{userController.hasRoles('AUTHORIZE_COUNTRY')}">
                                    <li><h:link outcome="/country/unauth" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Pending Authorization</span></h:link></li>
                                </c:if>
                            </ul>
                        </li>
                    </c:if>
                    
                    <c:if test="#{userController.hasRoles('VIEW_BANK,ADD_BANK, AUTHORIZE_BANK')}"> 
                        <li class=" nav-item"><a href="#"><i class="icon-building"></i><span data-i18n="nav.templates.main" class="menu-title">Bank</span></a>
                            <ul class="menu-content">
                                <li><h:link outcome="/bank/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                <c:if test="#{userController.hasRoles('ADD_BANK')}"> 
                                    <li><h:link outcome="/bank/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>
                                </c:if>
            
                                <c:if test="#{userController.hasRoles('AUTHORIZE_BANK')}">
                                    <li><h:link outcome="/bank/unauth" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Pending Authorization</span></h:link></li>
                                </c:if>
                            </ul>
                        </li>
                    </c:if>

                    <c:if test="#{userController.hasRoles('VIEW_PRODUCT,ADD_PRODUCT, AUTHORIZE_PRODUCT')}">
                        <li class=" nav-item"><a href="#"><i class="icon-note"></i><span data-i18n="nav.templates.main" class="menu-title">Products</span></a>
                            <ul class="menu-content">
                                <li><h:link outcome="/product/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                <c:if test="#{userController.hasRoles('ADD_PRODUCT')}">
                                    <li><h:link outcome="/product/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>
                                </c:if>
                                <c:if test="#{userController.hasRoles('AUTHORIZE_PRODUCT')}">
                                    <li><h:link outcome="/product/unauth" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Pending Authorization</span></h:link></li>
                                </c:if>
                            </ul>
                        </li>
                    </c:if>
                    <c:if test="#{userController.hasRoles('VIEW_MERCHANT,ADD_MERCHANT, AUTHORIZE_MERCHANT, CREATE_CONFIG, AUTHORIZE_CONFIG')}">
                        <li class=" nav-item"><a href="#"><i class="icon-group"></i><span data-i18n="nav.templates.main" class="menu-title">Merchant</span></a>
                            <ul class="menu-content">
                                <li><h:link outcome="/merchant/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                <c:if test="#{userController.hasRoles('ADD_MERCHANT')}">
                                    <li><h:link outcome="/merchant/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>
                                </c:if>
                                <c:if test="#{userController.hasRoles('AUTHORIZE_MERCHANT')}">
                                    <li><h:link outcome="/merchant/unauth" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Pending Authorization</span></h:link></li>
                                </c:if>
                                
                                <c:if test="#{userController.hasRoles('VIEW_COMPLIANCE,AUTHORIZE_MERCHANT')}">
                                    <li><h:link outcome="/compliance/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Compliance</span></h:link></li>
                                </c:if>
                                
                                <c:if test="#{userController.hasRoles('VIEW_COMPLIANCE_LOG')}">
                                    <li><h:link outcome="/compliance/log" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Compliance Log</span></h:link></li>
                                </c:if>
                                
                                <c:if test="#{userController.hasRoles('MANAGE_CONFIGURATION')}">
                                <li class=" nav-item"><a href="#"><i class="icon-cog"></i><span data-i18n="nav.templates.main" class="menu-title">Config</span></a>
                                    <ul class="menu-content">
                                        <li><h:link outcome="/merchant/config/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                        <li><h:link outcome="/merchant/config/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>
                                        <li><h:link outcome="/merchant/config/unauth" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Pending Authorization</span></h:link></li>
                                    </ul>
                                </li>                                
                                <li class=" nav-item"><a href="#"><i class="icon-money"></i><span data-i18n="nav.templates.main" class="menu-title">Fees</span></a>
                                    <ul class="menu-content">
                                        <li><h:link outcome="/fee/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                        <li><h:link outcome="/fee/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>
                                        <li><h:link outcome="/fee/unauth" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Pending Authorization</span></h:link></li>
                                    </ul>
                                </li>  

                                <li class=" nav-item"><a href="#"><i class="icon-money"></i><span data-i18n="nav.templates.main" class="menu-title">Limits</span></a>
                                    <ul class="menu-content">
                                        <li><h:link outcome="/limit/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                        <li><h:link outcome="/limit/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>
                                        <li><h:link outcome="/limit/unauth" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Pending Authorization</span></h:link></li>
                                    </ul>
                                </li> 
                                    </c:if>
                            </ul>
                        </li>
                    </c:if>

                    <c:if test="#{userController.hasRoles('VIEW_AIRTIME_TRANSACTION')}">
                        <li class=" nav-item"><a href="#"><i class="icon-book"></i><span data-i18n="nav.templates.main" class="menu-title">Airtime</span></a>
                            <ul class="menu-content">
                                <li class=" nav-item"><a href="#"><i class="icon-money"></i><span data-i18n="nav.templates.main" class="menu-title">Fundings</span></a>
                                    <ul class="menu-content">
                                        <li><h:link outcome="/funding/list" class="menu-item" ><span class="menu-title">All</span></h:link></li>
                                        <c:if test="#{userController.hasRoles('INITIATE_FUND_WALLET')}">  
                                            <li><h:link outcome="/funding/create" class="menu-item" ><span class="menu-title">New</span></h:link></li>
                                        </c:if>
                                        <c:if test="#{userController.hasRoles('AUTHORIZE_FUND_WALLET')}">  
                                            <li><h:link outcome="/funding/unauth" class="menu-item" ><span class="menu-title">Pending Authorization</span></h:link></li>
                                        </c:if>
                                    </ul>
                                </li>
                                <c:if test="#{userController.hasRoles('VIEW_AIRTIME_TRANSACTION')}">
                                    <li class=" nav-item"><a href="#"><i class="icon-file"></i><span data-i18n="nav.templates.main" class="menu-title">Transaction</span></a>
                                        <ul class="menu-content">
                                            <li><h:link outcome="/airtime/transaction" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">USSD</span></h:link></li>
                                            <li><h:link outcome="/airtime/mobile" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Mobile App</span></h:link></li>
                                        </ul>
                                    </li> 
                                </c:if>
                                <c:if test="#{userController.hasRoles('UPDATE_AIRTIME_PROVIDER')}">
                                    <li><h:link outcome="/airtime/provider_config" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">USSD Configuration</span></h:link></li>
                                </c:if>
                            </ul>
                        </li> 
                    </c:if>
                    
                    <c:if test="#{userController.hasRoles('VIEW_SMS_TRANSACTION')}">
                        <li class=" nav-item"><a href="#"><i class="icon-book"></i><span data-i18n="nav.templates.main" class="menu-title">SMS</span></a>
                            <ul class="menu-content">
                                <c:if test="#{userController.hasRoles('VIEW_SMS_TRANSACTION')}">
                                    <li><h:link outcome="/sms/transaction" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Transaction</span></h:link></li>
                                </c:if>
                            </ul>
                        </li> 
                    </c:if>
                    
                    <c:if test="#{userController.hasRoles('VIEW_PRODUCT_TRANSACTION, VIEW_ALL_TRANSACTION, VIEW_ALL_AIRTIME_TRANSACTION')}">
                        <li class=" nav-item"><a href="#"><i class="icon-book"></i><span data-i18n="nav.templates.main" class="menu-title">Transaction</span></a>
                            <ul class="menu-content">
                                
                                <c:if test="#{userController.hasRoles(' VIEW_PRODUCT_TRANSACTION')}">
                                    <li><h:link outcome="/transaction/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Product</span></h:link></li>
                                </c:if>
                                <c:if test="#{userController.hasRoles(' VIEW_ALL_TRANSACTION')}">
                                <li><h:form><h:commandLink value="" class="menu-item" action="transactionupload"><span data-i18n="nav.project.main" class="menu-title">Upload</span></h:commandLink></h:form></li>
                                </c:if>
                                <c:if test="#{userController.hasRoles(' VIEW_ALL_TRANSACTION')}">
                                    <li><h:link outcome="/transaction/all" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                </c:if>
                                <!--<c:if test="#{userController.hasRoles(' VIEW_NIP_TRANSACTION')}">-->
                                    <li><h:link outcome="/transaction/nip" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">NIP</span></h:link></li>
                                <!--</c:if>-->
                                <c:if test="#{userController.hasRoles(' VIEW_ALL_AIRTIME_TRANSACTION')}">
                                    <li><h:link outcome="/transaction/airtime" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Airtime</span></h:link></li>
                                </c:if>
                                <c:if test="#{userController.hasRoles(' VIEW_ALL_AIRTIME_TRANSACTION')}">
                                    <li><h:link outcome="/transaction/pullairtime" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Fetch Airtime Status</span></h:link></li>
                                </c:if>
                                <c:if test="#{userController.hasRoles(' VIEW_PRODUCT_TRANSACTION')}">
                                <li><h:link outcome="/transaction/pullrrn" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Fetch From RRN</span></h:link></li>
                                </c:if>
                            </ul>
                        </li> 
                    </c:if>

                    <c:if test="#{userController.hasRoles('VIEW_CHARGEBACK, ADD_CHARGEBACK, UPLOAD_CHARGEBACK, AUTHORIZE_CHARGEBACK')}">
                        <li class="nav-item"><a href="#"><i class="icon-book"></i><span data-i18n="nav.templates.main" class="menu-title">Charge Back</span></a>
                            <ul class="menu-content">
                                <li><h:link outcome="/chargeback/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                <c:if test="#{userController.hasRoles('ADD_CHARGEBACK')}">
                                    <li><h:link outcome="/chargeback/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>
                                </c:if>
                                <c:if test="#{userController.hasRoles('UPLOAD_CHARGEBACK')}">
                                    <li><h:link outcome="/chargeback/upload" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Upload</span></h:link></li>
                                </c:if>
                                <c:if test="#{userController.hasRoles('AUTHORIZE_CHARGEBACK')}">
                                    <li><h:link outcome="/chargeback/unauth" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Pending Authorization</span></h:link></li>
                                </c:if>
                            </ul>
                        </li>
                    </c:if>
                    
                    <c:if test="#{userController.hasRoles('MANAGE_MPOS')}">
                        <li class="nav-item"><a href="#"><i class="icon-desktop"></i><span data-i18n="nav.templates.main" class="menu-title">POS</span></a>
                            <ul class="menu-content">
                                <li class=" nav-item"><a href="#"><i class="icon-building"></i><span data-i18n="nav.templates.main" class="menu-title">Providers</span></a>
                                    <ul class="menu-content">
                                        <li><h:link outcome="/mpos/provider/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                        <li><h:link outcome="/mpos/provider/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>
                                    </ul>
                                </li>  
                                
                                <li class=" nav-item"><a href="#"><i class="icon-building"></i><span data-i18n="nav.templates.main" class="menu-title">Merchant</span></a>
                                    <ul class="menu-content">
                                        <li><h:link outcome="/mpos/merchant/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                        <li><h:link outcome="/mpos/merchant/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>
                                        <li><h:link outcome="/mpos/merchant/upload" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Upload</span></h:link></li>
                                        
                                        <c:if test="#{userController.hasRoles('UPLOAD_POS_MERCHANT_CUSTOMER')}">
                                        <li><h:link outcome="/mpos/merchant/upload_customers" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Upload Customers</span></h:link></li>
                                        </c:if>
                                    </ul>
                                </li> 
                                
                                 <li class=" nav-item"><a href="#"><i class="icon-mobile-phone"></i><span data-i18n="nav.templates.main" class="menu-title">Terminals</span></a>
                                    <ul class="menu-content">
                                        <li><h:link outcome="/mpos/terminal" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                        <li><h:link outcome="/mpos/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>
                                        <li><h:link outcome="/mpos/terminal/upload" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Upload</span></h:link></li>
                                    </ul>
                                </li> 
                                
                                 <li class=" nav-item"><a href="#"><i class="icon-book"></i><span data-i18n="nav.templates.main" class="menu-title">Transactions</span></a>
                                    <ul class="menu-content">
                                        <li><h:link outcome="/mpos/transaction/all" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                        <li><h:link outcome="/mpos/transaction/upload" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Upload</span></h:link></li>
                                    </ul>
                                </li> 
                                
                                <c:if test="#{userController.hasRoles('INITIATE_POS_SETTLEMENT')}">
                                <li class=" nav-item"><a href="#"><i class="icon-book"></i><span data-i18n="nav.templates.main" class="menu-title">Settlement</span></a>
                                    <ul class="menu-content">
                                        <li><h:link outcome="/mpos/transaction/settlement" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>
                                        <c:if test="#{userController.hasRoles('SEND_POS_SETTLEMENT')}">
                                            <li><h:link outcome="/mpos/transaction/settlementtransaction" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Send Report</span></h:link></li>
                                        </c:if>
                                    </ul>
                                </li> 
                                </c:if>
                            </ul>
                        </li>
                    </c:if>
                    
                     <c:if test="#{userController.hasRoles('MANAGE_REWARD')}">
                        <li class="nav-item"><a href="#"><i class="icon-money"></i><span data-i18n="nav.templates.main" class="menu-title">Reward</span></a>
                            <ul class="menu-content">
                                 <li class=" nav-item"><a href="#"><i class="icon-cog"></i><span data-i18n="nav.templates.main" class="menu-title">Global Setting</span></a>
                                    <ul class="menu-content">
                                        <li><h:link outcome="/reward/global/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                        <li><h:link outcome="/reward/global/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>
                                    </ul>
                                </li>  
                                 <li class=" nav-item"><a href="#"><i class="icon-cog"></i><span data-i18n="nav.templates.main" class="menu-title">Merchant Setting</span></a>
                                    <ul class="menu-content">
                                        <li><h:link outcome="/reward/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                        <li><h:link outcome="/reward/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>
                                    </ul>
                                </li>   
                            </ul>
                        </li>
                    </c:if>

                    <c:if test="#{userController.hasRoles('VIEW_RECON_ADMIN, UPLOAD_RECON_ADMIN')}">
                        <li class="nav-item"><a href="#"><i class="icon-book"></i><span data-i18n="nav.templates.main" class="menu-title">Transaction Recon</span></a>
                            <ul class="menu-content">
                                <li><h:link outcome="/recon/settlement" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Summary</span></h:link></li>

                                <li><h:link outcome="/recon/transaction" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                <c:if test="#{userController.hasRoles('UPLOAD_RECON_ADMIN')}">
                                    <li><h:form><h:commandLink value="" class="menu-item" action="upload"><span data-i18n="nav.project.main" class="menu-title">New</span></h:commandLink></h:form></li>
                                </c:if>
                            </ul>
                        </li>
                    </c:if>
                    <c:if test="#{userController.hasRoles('MANAGE_REFUND, AUTHORIZE_REFUND')}">
                        <li class="nav-item"><a href="#"><i class="icon-repeat"></i><span data-i18n="nav.templates.main" class="menu-title">Refund</span></a>
                            <ul class="menu-content">
                                <li><h:link outcome="/refund/all" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>                           
                                <li><h:link outcome="/refund/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>
                                <c:if test="#{userController.hasRoles('AUTHORIZE_REFUND')}">
                                    <li><h:link outcome="/refund/unauth" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Pending Authorization</span></h:link></li>
                                </c:if>
                            </ul>
                        </li>
                    </c:if>

                    <c:if test="#{userController.hasRoles('VIEW_QUERY_ACCOUNT_STATUS, ADD_QUERY_ACCOUNT, AUTHORIZE_QUERY_ACCOUNT')}">
                    <li class="nav-item"><a href="#"><i class="icon-book"></i><span data-i18n="nav.templates.main" class="menu-title">Account Query</span></a>
                        <ul class="menu-content">
                            <li><h:link outcome="/cardstatus/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                            <c:if test="#{userController.hasRoles('ADD_QUERY_ACCOUNT')}">
                            <li><h:link outcome="/cardstatus/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>
                            </c:if>
                            <c:if test="#{userController.hasRoles('AUTHORIZE_QUERY_ACCOUNT')}">
                                <li><h:link outcome="/cardstatus/unauth" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Pending Authorization</span></h:link></li>
                            </c:if>
                        </ul>
                    </li>
                    </c:if>
              

                    <c:if test="#{userController.hasRoles('VIEW_REPORT')}">
                        <li class=" nav-item"><a href="#"><i class="icon-book"></i><span data-i18n="nav.templates.main" class="menu-title">Report</span></a>
                            <ul class="menu-content">
                                <li><h:link outcome="/report/index" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All Product</span></h:link></li>
                                
                                <c:if test="#{userController.hasRoles('VIEW_MONEYWAVE_REPORT')}">
                                    <li><h:link outcome="/report/moneywave" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Moneywave Recon. Report</span></h:link></li>
                                </c:if>

                                <li><h:link outcome="/report/chargeback" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Charge Back</span></h:link></li>
                            </ul>
                        </li>
                    </c:if>

                    <c:if test="#{userController.hasRoles('ADD_SETTLEMENT, AUTHORIZE_SETTLEMENT, SEND_SETTLEMENT_TRANSACTION')}">
                        <li class=" nav-item"><a href="#"><i class="icon-briefcase4"></i><span data-i18n="nav.project.main" class="menu-title">Settlement</span></a>
                            <ul class="menu-content">
                                <li><h:link outcome="/settlement/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link>
                                </li>
                                <li><h:link outcome="/settlement/rave" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">MCash Settlement</span></h:link></li>
                                <li><h:link outcome="/settlement/ravetransaction" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Rave Settlement</span></h:link></li>
                                <li><h:link outcome="/settlement/airtime" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Airtime Settlement</span></h:link></li>
                                <li><h:link outcome="/settlement/transaction" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Send Settlement Transaction</span></h:link></li>
<!--                                <li><h:link outcome="/settlement/unauth" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Pending Authorization</span></h:link>
                                </li>  -->
                                 <li class=" nav-item"><a href="#"><i class="icon-briefcase4"></i><span data-i18n="nav.project.main" class="menu-title">Settlement Cycle</span></a>
                                    <ul class="menu-content">
                                        <li><h:link outcome="/settlement/cycle" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link>
                                        </li>
                                        <li><h:link outcome="/settlement/cyclelist" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </c:if>

                    <c:if test="#{userController.hasRoles('VIEW_ROLE,ADD_ROLE,AUTHORIZE_ROLE,MANAGE_PERMISSION,VIEW_ROLE,ADD_ROLE,AUTHORIZE_ROLE')}">
                    <li class=" navigation-header small text-muted" ><span data-i18n="nav.category.layouts">User and Role Management</span><i data-toggle="tooltip" data-placement="right" data-original-title="Layouts" class="icon-ellipsis icon-ellipsis"></i>
                    </li>

                    <c:if test="#{userController.hasRoles('MANAGE_PERMISSION')}">
                        <li>
                            <!--<a href="project-summary.html" data-i18n="nav.project.project_summary"><i class="icon-lock4"></i><span data-i18n="nav.project.main" class="menu-title">Permission</span></a>-->
                            <h:link outcome="/permission/list"><i class="icon-lock4"></i><span data-i18n="nav.project.main" class="menu-title">Permission</span></h:link>
                        </li>
                    </c:if>

                    <c:if test="#{userController.hasRoles('VIEW_ROLE,ADD_ROLE,AUTHORIZE_ROLE')}">
                        <li class=" nav-item"><a href="#"><i class="icon-briefcase4"></i><span data-i18n="nav.project.main" class="menu-title">Roles</span></a>
                            <ul class="menu-content">
                                <li><h:link outcome="/role/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link>
                                </li>
                                <c:if test="#{userController.hasRoles('ADD_ROLE')}">
                                <li><h:link outcome="/role/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link>
                                </li>
                                </c:if>
                                <c:if test="#{userController.hasRoles('AUTHORIZE_ROLE')}">
                                <li><h:link outcome="/role/unauth" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Pending Authorization</span></h:link>
                                </li>   
                                </c:if>
                            </ul>
                        </li>
                    </c:if>

                    <c:if test="#{userController.hasRoles('VIEW_USER,CREATE_USER,AUTHORIZE_USER')}">
                        <li class=" nav-item"><a href="#"><i class="icon-briefcase4"></i><span data-i18n="nav.project.main" class="menu-title">Users</span></a>
                            <ul class="menu-content">
                                <li><h:link outcome="/user/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link>
                                </li>
                                <c:if test="#{userController.hasRoles('CREATE_USER')}">
                                    <li><h:link outcome="/user/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link>
                                    </li> </c:if>
                                <c:if test="#{userController.hasRoles('AUTHORIZE_USER')}">
                                    <li><h:link outcome="/user/unauth" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Pending Authorization</span></h:link>
                                    </li> 
                                </c:if>
                                <c:if test="#{userController.hasRoles('RESET_USER_PASSWORD')}">
                                    <li><h:link outcome="/user/resetpassword" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Reset Password</span></h:link>
                                    </li> 
                                </c:if>
                            </ul>
                        </li>
                    </c:if>
                        
                    </c:if>

                    <c:if test="#{userController.hasRoles('MANAGE_SETTINGS')}">
                        <li class=" navigation-header small text-muted" ><span data-i18n="nav.category.layouts">Others</span><i data-toggle="tooltip" data-placement="right" data-original-title="Layouts" class="icon-ellipsis icon-ellipsis"></i>
                        </li>
                        <li class=" nav-item"><a href="#"><i class="icon-cogs"></i><span data-i18n="nav.project.main" class="menu-title">Settings</span></a>
                            <ul class="menu-content">
                                <li class=" nav-item"><a href="#"><i class="icon-inbox"></i><span data-i18n="nav.templates.main" class="menu-title">Name Control</span></a>
                                    <ul class="menu-content">
                                        <li><h:link outcome="/control/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                        <li><h:link outcome="/control/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>
                                        <li><h:link outcome="/control/unauth" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Pending Authorization</span></h:link></li>
                                    </ul>
                                </li>
                                <li class=" nav-item"><a href="#"><i class="icon-inbox"></i><span data-i18n="nav.templates.main" class="menu-title">Sector</span></a>
                                    <ul class="menu-content">
                                        <li><h:link outcome="/sector/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                        <li><h:link outcome="/sector/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>
                                        <li><h:link outcome="/sector/unauth" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Pending Authorization</span></h:link></li>
                                    </ul>
                                </li>
                                <li class=" nav-item"><a href="#"><i class="icon-inbox"></i><span data-i18n="nav.templates.main" class="menu-title">Source / Provider</span></a>
                                    <ul class="menu-content">
                                        <li><h:link outcome="/provider/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                        <li><h:link outcome="/provider/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>
                                        <li><h:link outcome="/provider/unauth" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Pending Authorization</span></h:link></li>
                                    </ul>
                                </li>
                                <li class=" nav-item"><a href="#"><i class="icon-money"></i><span data-i18n="nav.templates.main" class="menu-title">Fees</span></a>
                                    <ul class="menu-content">
                                        <li><h:link outcome="/configuration/fee/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                        <li><h:link outcome="/configuration/fee/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>
                                        <li><h:link outcome="/configuration/fee/unauth" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Pending Authorization</span></h:link></li>
                                    </ul>
                                </li>  
                                <li class=" nav-item"><a href="#"><i class="icon-money"></i><span data-i18n="nav.templates.main" class="menu-title">Limit</span></a>
                                    <ul class="menu-content">
                                        <li><h:link outcome="/configuration/limit/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                                        <!--<li><h:link outcome="/configuration/fee/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>-->
                                        <!--<li><h:link outcome="/configuration/fee/unauth" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">Pending Authorization</span></h:link></li>-->
                                    </ul>
                                </li> 
                            </ul>
                        </li>
                    </c:if>

                </ul>
            </div>
            <!-- /main menu content-->
            <!-- main menu footer-->
            <!-- main menu footer-->
        </div>
    </ui:composition>
</html>

