<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition>
        <div id="main-menu" data-scroll-to-active="true" class="main-menu menu-dark menu-fixed menu-shadow menu-accordion">
            <!-- main menu header-->
            <!-- / main menu header-->
            <!-- main menu content-->
            <div class="main-menu-content">
                <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                    <li class="nav-item"><h:link outcome="index"><i class="icon-home3"></i><span data-i18n="nav.dash.main" class="menu-title">Dashboard</span></h:link></li>
                    
                    <!--<c:if test="#{userController.hasRoles('VIEW_BANK,ADD_BANK, AUTHORIZE_BANK')}">--> 
                    <li class=" nav-item"><a href="#"><i class="icon-building"></i><span data-i18n="nav.templates.main" class="menu-title">Charge Back</span></a>
                        <ul class="menu-content">
                            <li><h:link outcome="/bank/chargeback/list" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                            <!--<c:if test="#{userController.hasRoles('ADD_BANK')}">--> 
                                <!--<li><h:link outcome="/bank/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>-->
                            <!--</c:if>-->
                        </ul>
                    </li>
                    
                    <li class=" nav-item"><a href="#"><i class="icon-building"></i><span data-i18n="nav.templates.main" class="menu-title">Transaction</span></a>
                        <ul class="menu-content">
                            <li><h:link outcome="/bank/transaction" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">All</span></h:link></li>
                            <!--<c:if test="#{userController.hasRoles('ADD_BANK')}">--> 
                                <!--<li><h:link outcome="/bank/create" class="menu-item" ><span data-i18n="nav.project.main" class="menu-title">New</span></h:link></li>-->
                            <!--</c:if>-->
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /main menu content-->
            <!-- main menu footer-->
            <!-- main menu footer-->
        </div>
    </ui:composition>
</html>

