<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Currency Rate | Flutter MS</ui:define>
        <ui:define name="nav-title">All Currency Rate</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/sweetalert.css" />
            <h:outputStylesheet>
                
                table{
                    font-size: 0.75em;
                    width : 100%
                }
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
            </h:outputStylesheet>
        </ui:define>    
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">
                    <div class="card">
                        <div class="card-header no-bg b-a-0">Currency Exchange Rates</div>
                        
                        <div class="card-block">
                            <p>See below for list of currency Exchange Rates</p>
                            
                            <h:panelGroup id="messagePanel" layout="block">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
                            
                            <div class="table-responsive">
                                <br /><br/>
                                <h:panelGroup class="alert alert-info col-lg-12" rendered="#{currencyController.allExchangeRate.rowCount lt 1}">
                                    No authorized exchange rate .
                                </h:panelGroup>  
                                
                                <h:dataTable rendered="#{currencyController.allExchangeRate.rowCount gt 0}" value="#{currencyController.allExchangeRate}" var="item" class="table table-bordered table-striped m-b-0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="allExchangeRate">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Id"/>
                                    </f:facet>
                                    <h:outputText value="#{currencyController.allExchangeRate.rowIndex + 1}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Origin Currency"/>
                                    </f:facet>
                                    <h:outputText value="#{item.originCurrency.shortName}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Destination Currency"/>
                                    </f:facet>
                                    <h:outputText value="#{item.destinationCurrency.shortName}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Value"/>
                                    </f:facet>
                                    <h:outputText value="#{item.amount}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Created On"/>
                                    </f:facet>
                                    <h:outputText value="#{item.createdOn}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Created By"/>
                                    </f:facet>
                                    <h:outputText value="#{item.createdBy.firstName} #{item.createdBy.lastName}">
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Authorized On"/>
                                    </f:facet>
                                    <h:outputText value="#{item.approvedOn}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Authorized By"/>
                                    </f:facet>
                                    <h:outputText value="#{item.approvedBy.firstName} #{item.approvedBy.lastName}">
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="&nbsp;"/>
                                    </f:facet>
                                    <h:outputText value=" "/>
                                    <h:form>
                                        
                                        <!--<c:if test="#{userController.hasRole('UPDATE_EXCHANGE_RATE')}">-->
                                        <h:commandLink class="btn btn-success btn-sm m-r-xs btn-xsm"  action="#{currencyController.prepareExchangeRateUpdate(item.id)}" title="Edit" >
                                            <i class="icon-pencil"></i>
                                        </h:commandLink>
                                        <h:outputText value=" " />
                                        <!--</c:if>-->
                                        
                                    </h:form>
                                    
                                </h:column>
                            </h:dataTable>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript>
                
                var ctx = "#{request.contextPath}";

            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

