<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Fee</ui:define>
        <ui:define name="nav-title">Merchant Fee SetUp</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/jquery-ui.min.css" />
            <h:outputStylesheet>
                ul{
                    padding-left: 0;
                    list-style: none;
                }
                td {
                    padding-left : 4vh;
                }
                
                td label{
                    margin-left : 2vh;
                    font-size : 0.6em;
                }
                
                select {
                    height : 2.5em;
                }
                
                input:not([type=submit]){
                    height : 2.5em;
                    padding: 0.8em;
                    font-size: 0.8em;
                }
                
                .ui-menu-item-wrapper{
                    font-size: 0.8em;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <f:metadata>
                #{merchantController.prepareCreateFee()}
            </f:metadata>
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-10 offset-lg-1" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">Merchant Fee Setup</h6></div>
                    <div class="card-block">
                        
                        <h:form id="create-form" prependId="false">
                            
                           <h:panelGroup id="messagePanel" layout="block">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
    
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Product Name</h:outputLabel>
                                <h:selectOneMenu value="#{merchantController.merchantFee.product}" required="true" requiredMessage="Product must be slected" id="product" class="form-control small-font">
                                    <f:selectItems value="#{productController.allProducts}" var="product" itemLabel="#{product.name}" itemValue="#{product}" />
                                    <f:converter converterId="productConverter" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                             <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="description" class="small text-muted">Merchant</h:outputLabel>
                                <h:inputText class="form-control small-font" id="merchant" p:placeholder="type the first 3 letter to fetch merchant" required="true" requiredMessage="Merchant must be provided" value="#{merchantController.merchantFee.merchantName}" />
                            </h:panelGroup>
                            
                            <label class="col-lg-12 card-info small-font">International Card Fee</label>
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <label class="small text-muted">International Card Transaction Fee Type</label>
                                <h:selectOneMenu class="form-control small-font" value="#{merchantController.merchantFee.interCardFeeType}" id="intcardfeetype">
                                    <f:selectItems value="#{productController.feeType}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <h:outputLabel for="title" class="small text-muted">International Card Transaction Fee <span id="intcardtext">(Flat)</span></h:outputLabel>
                                <h:inputText value="#{merchantController.merchantFee.interCardFee}" p:placeholder="international card fee" autocomplete="false" class="form-control " />
                            </h:panelGroup>
    
                            <h:panelGroup layout="block" class="form-group col-lg-4" id="intcardextrapane">
                                <h:outputLabel for="title" class="small text-muted">International Card Transaction Fee(%)</h:outputLabel>
                                <h:inputText value="#{merchantController.merchantFee.interCardFeeExtra}" p:placeholder="international card fee ( % )" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <h:outputLabel for="title" class="small text-muted">International Card Transaction Fee Cap</h:outputLabel>
                                <h:inputText value="#{merchantController.merchantFee.interCardFeeCap}" p:placeholder="international card fee cap" autocomplete="false" class="form-control " />
                            </h:panelGroup>
    
                            <label class="col-lg-12 card-info small-font">International Account Fee</label>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <label class="small text-muted">International Account Fee Type</label>
                                <h:selectOneMenu class="form-control small-font" value="#{merchantController.merchantFee.interAccountFeeType}" id="intaccfeetype">
                                    <f:selectItems value="#{productController.feeType}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <h:outputLabel for="title" class="small text-muted">International Account Transaction Fee <span id="intaccounttext">(Flat)</span></h:outputLabel>
                                <h:inputText value="#{merchantController.merchantFee.interAccountFee}" p:placeholder="international card fee" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-4" id="intaccountextrapane">
                                <h:outputLabel for="title" class="small text-muted" >International Account Transaction(%)</h:outputLabel>
                                <h:inputText value="#{merchantController.merchantFee.interAccountFeeExtra}" p:placeholder="international card fee ( % )" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <h:outputLabel for="title" class="small text-muted">International Account Transaction Fee Cap</h:outputLabel>
                                <h:inputText value="#{merchantController.merchantFee.interAccountFeeCap}" p:placeholder="international card fee cap" autocomplete="false" class="form-control " />
                            </h:panelGroup>
    
                            <label class="col-lg-12 card-info small-font">Place of Business (Local) Card Fee</label>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <label class="small text-muted">Place Of Business Card Transaction Fee Type</label>
                                <h:selectOneMenu class="form-control small-font" value="#{merchantController.merchantFee.pobCardFeeType}" id="pobcardfeetype">
                                    <f:selectItems value="#{productController.feeType}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Place Of Business Card Transaction Fee <span id="pobcardtext">(Flat)</span></h:outputLabel>
                                <h:inputText value="#{merchantController.merchantFee.pobCardFee}" p:placeholder="place of business card fee" autocomplete="false" class="form-control " />
                            </h:panelGroup>
    
                            <h:panelGroup layout="block" class="form-group col-lg-4" id="pobcardextrapane">
                                <h:outputLabel for="title" class="small text-muted" >Place Of Business Card Transaction (%)</h:outputLabel>
                                <h:inputText value="#{merchantController.merchantFee.pobCardFeeExtra}" p:placeholder="place of business card fee ( % )" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Place Of Business Card Transaction Fee Cap</h:outputLabel>
                                <h:inputText value="#{merchantController.merchantFee.pobCardFeeCap}" p:placeholder="place of business card fee cap" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <label class="col-lg-12 card-info small-font">Place of Business (Local) Account Fee</label>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <label class="small text-muted">Place of Business Account Transaction Fee Type</label>
                                <h:selectOneMenu class="form-control small-font" value="#{merchantController.merchantFee.pobAccountFeeType}" id="pobaccfeetype">
                                    <f:selectItems value="#{productController.feeType}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Place of Business Account Transaction Fee <span id="pobaccounttext">(Flat)</span></h:outputLabel>
                                <h:inputText value="#{merchantController.merchantFee.pobAccountFee}" p:placeholder="pob account fee" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6" id="pobaccountextrapane">
                                <h:outputLabel for="title" class="small text-muted">Place of Business Account Transaction Fee(%)</h:outputLabel>
                                <h:inputText value="#{merchantController.merchantFee.pobAccountFeeExtra}" p:placeholder="pob account fee ( % )" autocomplete="false" class="form-control " />
                            </h:panelGroup>
    
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Place of Business Account Transaction Fee Cap</h:outputLabel>
                                <h:inputText value="#{merchantController.merchantFee.pobAccountFeeCap}" p:placeholder="pob account fee cap" autocomplete="false" class="form-control " />
                            </h:panelGroup>
    
                            <label class="col-lg-12 card-info small-font">Micro-Transaction Card &amp; Account Transaction Amount</label>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <label class="small text-muted">Micro-Transaction Card Transaction Amount</label>
                                <h:inputText value="#{merchantController.merchantFee.microTransactionAmount}" p:placeholder="Transaction Amounnt" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <label class="small text-muted">Micro-Transaction Transaction Fee Type</label>
                                <h:selectOneMenu class="form-control small-font" value="#{merchantController.merchantFee.microTransactionCardFeeType}">
                                    <f:selectItems value="#{productController.feeType}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Micro-Transaction Card Transaction Fee</h:outputLabel>
                                <h:inputText value="#{merchantController.merchantFee.microTransactionCardFee}" p:placeholder="international card fee" autocomplete="false" class="form-control " />
                            </h:panelGroup>
    
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <label class="small text-muted">Micro-Transaction Account Transaction Fee Type</label>
                                <h:selectOneMenu class="form-control small-font" value="#{merchantController.merchantFee.microTransactionAccountFeeType}">
                                    <f:selectItems value="#{productController.feeType}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Micro-Transaction Account Transaction Fee</h:outputLabel>
                                <h:inputText value="#{merchantController.merchantFee.microTransactionAccountFee}" p:placeholder="international card fee" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                           
                            <label class="col-lg-12 card-info small-font">BVN Fee (Flat)</label>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="title" class="small text-muted">BVN Fee</h:outputLabel>
                                <h:inputText value="#{merchantController.merchantFee.bvnFee}" p:type="number" p:placeholder="" autocomplete="false" class="form-control " />
                            </h:panelGroup>
    
                            <div class="col-lg-12" style="margin-top: 4%">
                                <h:commandButton type="submit" action="#{merchantController.createFee}" class="btn btn-outline-primary offset-lg-3 col-lg-6" value="Submit" />
                            </div>
                        </h:form>
                    </div>
                </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/jquery-ui.min.js" />
            <h:outputScript>
                
                var ctx = "#{request.contextPath}";
                
                $("#fromDate, #initiationDate").pickadate();
                
                function getMerchant(){

                    $.ajax({
                        url : ctx+"/api/merchant",
                        data : {
                            "product" : $("#product").val()
                        }
                    }).done(function(data){

                        var temp = "";
                        for(var d in data){
                            temp += "<option>"+data[d]+"</option>";
                        }

                        $("#merchant").html(temp);

                    })
                }
                
                $("#merchant").autocomplete({
                    source :  function( request, response ) {
                            $.ajax( {
                              url: ctx+"/api/merchant/all",
                              dataType: "json",
                              data: {
                                term: request.term,
                                product : $("#product").val()
                              },
                              beforeSend : function(){
                              },
                              success: function( data ) {
                                response( data );
                              }
                            } );
                          },
                    select: function(event, ui) {
                        if(ui.item){
                            //getMode(ui.item.value);
                        }
                        $('#search').submit();
                    },      
                    minLength: 2     
                });
                
                $("#intcardfeetype").change(function(){
                    
                    if($(this).val() === 'BOTH'){
                        $("#intcardextrapane").show();
                        $("#intcardtext").show();
                    }    
                    else{
                        $("#intcardextrapane").hide();
                        $("#intcardtext").hide();
                    }   
                }); 
                
                $("#intaccfeetype").change(function(){
                    
                    if($(this).val() === 'BOTH'){
                        $("#intaccountextrapane").show();
                        $("#intaccounttext").show();
                    }
                    else{
                        $("#intaccountextrapane").hide();
                        $("#intaccounttext").hide();
                    }
                }); 
                
                $("#pobcardfeetype").change(function(){
                    
                    if($(this).val() === 'BOTH'){
                        $("#pobcardextrapane").show();
                        $("#pobcardtext").show();
                    }
                    else{
                        $("#pobcardtext").hide();
                        $("#pobcardextrapane").hide();
                    }    
                }); 
                
                $("#pobaccfeetype").change(function(){
                    
                    if($(this).val() === 'BOTH'){
                        $("#pobaccountextrapane").show();
                        $("#pobaccounttext").show();
                    }    
                    else{
                        $("#pobaccountextrapane").hide();
                        $("#pobaccounttext").hide();
                    }    
                }); 
                
                function changeAll(){
                    $("#intaccfeetype").change();
                    $("#pobaccfeetype").change();
                    $("#pobcardfeetype").change();
                    $("#intcardfeetype").change();
                }
                
                changeAll();
                
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

