<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Settlement</ui:define>
        <ui:define name="nav-title">Settlement</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
            <h:outputStylesheet name="/css/select2.min_1.css" />
            <h:outputStylesheet name="/css/select2-bootstrap.min.css" />
            
            <h:outputStylesheet>
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                
                input[type='text']{
                    font-size : 80%;
                    padding-top: 0.48em;
                    padding-bottom :0.48em;
                }
                
                .select2-result-label{
                    font-size : 80%
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">

                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Airtime Settlement</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block">
                            
                            <div class="card panel panel-default m-b-xs">
                                <div class="card-header panel-heading alert-info alert-inverse" role="tab" id="headingOne" style="padding: 0.5em">
                                    <h6 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="icon-filter"></i>&nbsp; Filter</a></h6></div>
                                    <div id="collapseOne" class="card-block panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
           
                                        
<!--                                        <div layout="block" class="form-group col-lg-3" >
                                            <label for="email" class="small text-muted">Merchant</label>
                                            <input class="select2-size-sm form-control form-control-sm small-select" id="merchant" name="merchant" placeholder="select a merchant" />
                                        </div>-->
                                        
                                        <div layout="block" class="form-group col-lg-4">
                                            <label for="email" class="small text-muted">Transaction Date Range</label>
                                            <div class='input-group'>
                                                <input type='text' class="form-control form-control-sm" id="dateRange" />
                                                    <span class="input-group-addon form-control-sm">
                                                            <span class="icon-calendar3"></span>
                                                    </span>
                                            </div>
                                        </div>


                                        
                                        <div class="form-group col-lg-3" style="">
                                            <label for="searchValue" class="small text-muted">&nbsp;</label>
                                            <div>
                                                <button class="btn btn-primary btn-sm col-lg-5" style="margin-right: 2% " id="searchBtn"><i class="fa fa-filter"></i> &nbsp; Filter &nbsp;</button> &nbsp;
                                                <button class="btn btn-danger  btn-sm col-lg-5" id="clearbtn"><i class="fa fa-times"></i> &nbsp; Clear &nbsp;</button>
                                            </div>
                                        </div>
                                    </div>
<!--                                    <div class="pull-right" style="float: right">
                                        <button class="btn btn-info btn-sm" id="exportpdf"> Export To PDF</button>
                                        <button class="btn btn-info btn-sm" id="exportexcel"> Export To Excel</button>
                                    </div>-->
                                </div>
                            
                            <div class="col-lg-12"><h3 class="tag tag-primary">TOTAL VALUE = &#x20A6; <strong id="tValue"></strong></h3></div>
                            <div class="col-lg-5 col-md-6" id="valuepane">
                                
                            </div>
                            <div class="col-lg-7 col-md-6">
                                 <div class="card card-inverse" style="max-height: 438px;">
                                    <div class="card-body">
                                        <div class="card-block sales-growth-chart">
                                            <div class="chart-title mb-1 text-xs-center">
                                                <span class="text-muted">Summary</span>
                                            </div>
                                            <div id="pie-chart"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            <h:form prependId="false" style="display: none">
                <h:inputHidden id="formatF" binding="#{format}" value="false" />
                <h:commandButton style="display: none" action="#{transactionController.exportRaveSettlementReport(format.value)}" id="smtbtn" value="submit" />
            </h:form>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <!-- This is a pick a date section -->
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/transaction.js" />
            <h:outputScript name="/js/jsutil.js" />
            <h:outputScript name="/js/lodash.min.js" />
            <h:outputScript name="/js/select2.min.js" />
            <h:outputScript name="/js/chart/chart.min.js" />
            <h:outputScript name="/js/chart/chartist.min.js" />
            <h:outputScript name="/js/chart/chartist-plugin-tooltip.js" />
            <h:outputScript name="/js/chart/morris.min.js" />
            <h:outputScript name="/js/chart/raphael-min.js" />
            <h:outputScript name="/js/chart/c3.min.js" />
            <h:outputScript name="/js/chart/d3.min.js" />
            <h:outputScript>
                
                $("#loading-mask").hide();
                
                function showloader (){
                    $("#loading-mask").show();   
                }
                
                function hideloader(){
                    $("#loading-mask").hide();   
                }
            </h:outputScript>
            <h:outputScript>

                var ctx = "#{request.contextPath}";
                
                $("#settlebtn").hide();
                
                var searchstate = false;

                $("#dateRange").daterangepicker({
                    timePicker: !0
                    , timePickerIncrement: 1
                    , timePicker24Hour: !0
                    , timePickerSeconds: !0
                    , startDate: moment().subtract('days', 1).hour(00).minute(00).second(00)
                    , maxDate : moment().subtract('days', 1).hour(23).minute(59).second(59)
                    , locale: {
                        format: "DD/MM/YYYY HH:mm:ss"
                    }
                });
                
                function getTransactions(){
                
                    $.ajax({
                        url: ctx + "/api/settlement/airtime",
                        type: "GET",
                        data : {
                            "range" : $("#dateRange").val()
                        }
                    }).done(function(data){
                        
                        var temp = data.data;
                        
                        var tempBuild = "";
                        
                        $("#tValue").text(parseFloat(parseFloat(data['totalValue']).toFixed(2)).toLocaleString());
                        
                        var dataPieMain = [];
                        
                        for(var d in temp){
                            
                            tempBuild = buildCard(temp[d], d) + ""+tempBuild;   
                            
                            var dataPie = [d , temp[d]];
                            dataPieMain.push(dataPie);                            
                        }
                        
                        $("#valuepane").html(tempBuild);
                        
                        drawPie(dataPieMain);
                    });
                    
                } 
                
                $("#clearbtn").click(function(){
                    window.location.reload();
                });
                
                $("#searchBtn").click(function(){
                    
                    
                    if(status === 0 || status == 0 ){
                        status = 1;
                        getTransactions();
                    }else{                        
                        getTransactions();
                    }
                    
                })
                
                
                function drawPie(data){
    
                    var color = [ "#48771b", "#FECEA8", "#613131"];

                    var a = c3.generate({
                        bindto: "#pie-chart"
                        , color: {
                            pattern: color
                        }
                        , data: {
                            columns: data
                            , type: "pie"
                        }
                    });
                }
                
                getTransactions();
                
            </h:outputScript>
        </ui:define>
        
    </ui:composition>
</html>

