<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Limit</ui:define>
        <ui:define name="nav-title">Merchant Limit SetUp</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/jquery-ui.min.css" />
            <h:outputStylesheet name="/css/select2.min_1.css" />
            <h:outputStylesheet name="/css/select2-bootstrap.min.css" />
            <h:outputStylesheet>
                ul{
                    padding-left: 0;
                    list-style: none;
                }
                td {
                    padding-left : 4vh;
                }
                
                td label{
                    margin-left : 2vh;
                    font-size : 0.6em;
                }
                
                select {
                    height : 2.5em;
                }
                
                input:not([type=submit]){
                    height : 2.5em;
                    padding: 0.8em;
                    font-size: 0.8em;
                }
                
                .ui-menu-item-wrapper{
                    font-size: 0.8em;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-6 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">Rave Settlement Cycle Setup</h6></div>
                    <div class="card-block">
                        
                        <f:metadata>
                            <f:viewAction action="#{settlementController.prepareSettlementCycle()}" />
                        </f:metadata>
                        
                        <h:form id="create-form" prependId="false">
                            
                           <h:panelGroup id="messagePanel" layout="block">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>

                            
                             <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="description" class="small text-muted">Merchant</h:outputLabel>
                                <h:inputText class="form-control small-font" id="merchant" p:placeholder="select merchant" required="true" requiredMessage="Merchant must provided" value="#{settlementController.settlementCycle.merchantId}" />
                            </h:panelGroup>
                           
                            <h:panelGroup layout="block" class="form-group col-md-12 col-lg-12">
                                <h:outputLabel for="title" class="small text-muted"></h:outputLabel>
                                <h:inputText p:type="number" p:max="20" p:min="1" value="#{settlementController.settlementCycle.cycle}" p:placeholder="maximum limit" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
    
                            <div class="col-lg-12" style="margin-top: 4%">
                                <h:commandButton type="submit" action="#{settlementController.createSettlementCycle()}" onclick="showloader()" class="btn btn-outline-primary offset-lg-3 col-lg-6" value="Submit" />
                            </div>
                        </h:form>
                    </div>
                </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/jquery-ui.min.js" />
            <h:outputScript name="/js/jsutil.js" />
            <h:outputScript name="/js/lodash.min.js" />
            <h:outputScript name="/js/select2.min.js" />
            <h:outputScript>
                
                var ctx = "#{request.contextPath}";
                
                $("#loading-mask").hide();
                
                function showloader (){
                    $("#loading-mask").show();   
                }
                
                function hideloader(){
                    $("#loading-mask").hide();   
                }
                
                getMerchants(ctx, "rave", "merchant");
                
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

