<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Settlement</ui:define>
        <ui:define name="nav-title">Settlement</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
            <h:outputStylesheet name="/css/select2.min_1.css" />
            <h:outputStylesheet name="/css/select2-bootstrap.min.css" />
            <h:outputStylesheet name="/css/sweetalert.css" />
            <h:outputStylesheet>
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                
                input[type='text']{
                    font-size : 80%;
                    padding-top: 0.48em;
                    padding-bottom :0.48em;
                }
                
                .select2-result-label{
                    font-size : 80%
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">

                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">All Settlement Cycles</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block">
                            
<!--                            <div class="card panel panel-default m-b-xs">
                                <div class="card-header panel-heading alert-info alert-inverse" role="tab" id="headingOne" style="padding: 0.5em">
                                    <h6 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="icon-filter"></i>&nbsp; Filter</a></h6></div>
                                    <div id="collapseOne" class="card-block panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted small-select">Source / Provider</label>
                                            <select class="form-control form-control-sm small-select" id="provider">
                                            </select>
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3" >
                                            <label for="email" class="small text-muted">Merchant</label>
                                            <input class="select2-size-sm form-control form-control-sm small-select" id="merchant" name="merchant" placeholder="select a merchant" />
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-4">
                                            <label for="email" class="small text-muted">Transaction Date Range</label>
                                            <div class='input-group'>
                                                <input type='text' class="form-control form-control-sm" id="dateRange" />
                                                    <span class="input-group-addon form-control-sm">
                                                            <span class="icon-calendar3"></span>
                                                    </span>
                                            </div>
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-2" >
                                            <label for="email" class="small text-muted">Currency</label>
                                            <select class="form-control form-control-sm small-select" id="currency">
                                                 <option>NGN</option>
                                                <option>CAD</option>
                                                <option>GHS</option>
                                                <option>KES</option>
                                                <option>USD</option>
                                                <option>GBP</option>
                                            </select>
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted small-select">Grouping</label>
                                            <select class="form-control form-control-sm small-select" id="grouping">
                                                <option>Provider</option>
                                                <option>Merchant</option>
                                            </select>
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="searchValue" class="small text-muted">Transaction Category</label>
                                            <select class="form-control form-control-sm small-select" id="category">
                                                <option value="card">CARD</option>
                                                <option value="account">ACCOUNT</option>
                                                <option value="internet">INTERNET BANKING</option>
                                            </select>
                                        </div>
                                        
                                        <div class="form-group col-lg-3" style="">
                                            <label for="searchValue" class="small text-muted">&nbsp;</label>
                                            <div>
                                                <button class="btn btn-primary btn-sm col-lg-5" style="margin-right: 2% " id="searchBtn"><i class="fa fa-filter"></i> &nbsp; Filter &nbsp;</button> &nbsp;
                                                <button class="btn btn-danger  btn-sm col-lg-5" id="clearbtn"><i class="fa fa-times"></i> &nbsp; Clear &nbsp;</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right" style="float: right">
                                        <button class="btn btn-info btn-sm" id="exportpdf"> Export To PDF</button>
                                        <button class="btn btn-info btn-sm" id="exportexcel"> Export To Excel</button>
                                    </div>
                                </div>-->

                            <div class="table-responsive">
                                <br /><br/>
                                <div class="col-lg-12">
                                    <table class="table table-bordered table-striped datatable" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>S/N</th>
                                                <th>MERCHANT ID</th>
                                                <th>MERCHANT NAME</th>
                                                <th>PRODUCT</th>
                                                <th>CYCLE</th>
                                                <th>CREATE ON</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            <h:form prependId="false" style="display: none">
                <h:inputHidden id="formatF" binding="#{format}" value="false" />
                <h:commandButton style="display: none" action="#{transactionController.exportSettlementReport(format.value)}" id="smtbtn" value="submit" />
            </h:form>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <!-- This is a pick a date section -->
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/transaction.js" />
            <h:outputScript name="/js/jsutil.js" />
            <h:outputScript name="/js/lodash.min.js" />
            <h:outputScript name="/js/select2.min.js" />
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript>
                
                $("#loading-mask").hide();
                
                function showloader (){
                    $("#loading-mask").show();   
                }
                
                function hideloader(){
                    $("#loading-mask").hide();   
                }
            </h:outputScript>
            <h:outputScript>

                var ctx = "#{request.contextPath}";
                
                $("#settlebtn").hide();
                
                var searchstate = false;

                $("#dateRange").daterangepicker({
                    timePicker: !0
                    , timePickerIncrement: 1
                    , timePicker24Hour: !0
                    , timePickerSeconds: !0
                    , startDate: moment().subtract('days', 2).hour(00).minute(00).second(00)
                    , maxDate : moment().subtract('days', 1).hour(23).minute(59).second(59)
                    , locale: {
                        format: "DD/MM/YYYY HH:mm:ss"
                    }
                });
                
                function getTransactions(){
                    oTable = $('.datatable').dataTable({
                        "bSort": true, 
                        "aLengthMenu": [ [20, 50, 80, 100, 150, 200], [20, 50, 80, 100, 150, 200] ],
                         ajax: {
                             url: ctx + "/api/settlement/cycle",
                             type: 'GET',
                             data :function(d){
                             },
                             beforeSend : function(){
                                showloader();
                             },
                             complete : function(){
                                hideloader();
                             }
                         },
                         fnDrawCallback : function(oSettings){
                            /* if ( oSettings.aiDisplay.length == 0 ){
                                $("#settlebtn").hide();
                            }else
                                $("#settlebtn").show(); **/
                         },
                         columns : [
                            { data : 'merchantId'},
                            {data : "merchantName"},
                            {data : "merchantId"},
                            {data : "product"},
                            {data : "cycle", 
                                'render' : function(data, type, row){
                                    return "T+"+data;
                                }
                            },
                            {data : "createdOn",
                            'render' : function(data, type, row){
                                    return new Date(data);
                                }
                             },
                            {data : "merchantId", 
                                'render' : function(data, type, row){
                                    return '<a class="btn btn-info btn-float btn-sm m-r-xs small-font" title="Update" onclick="updateCycle(\''+data+'\', \''+row.product+'\')"><i class="icon-edit"></i></a>';
                                }
                            }
                         ],
                         "rowCallback" : function(row, data, index){
                            
                            var setting = oTable.fnSettings();
                            var index = (setting._iDisplayStart + index + 1);
                            $("td:eq(0)", row).html(index);
                         }
                    });
                }
                    
                
                $("#searchBtn").click(function(){
                    
                    console.log(status);
                    
                    if(status === 0 || status == 0 ){
                        status = 1;
                        getTransactions();
                    }else{                        
                        //oTable.fnClearTable(0);
			oTable.fnDestroy();
                        getTransactions();
                    }
                    
                })
                    
                
                $("#clearbtn").click(function(){
                    window.location.reload();
                });
                
                $("#product").change(function(){                    
                                       
                    getStatus();
                    updateView();
                });
                
                function updateView(){
                    if($("#product").val().toLowerCase() === "rave"){
                        $(".rave").show();
                        $(".moneywave").hide();
                    }
                    else if($("#product").val().toLowerCase() === "moneywave"){
                        $(".rave").hide();
                        $(".moneywave").show();
                    }
                }
                
                
                
                function getStatus(){
                    
                    $.ajax({
                        url : ctx + "/api/product/transaction/status",
                        data : {
                            "product" : $("#product").val()
                        }
                    }).done(function(data){
                        
                        var temp = "<option>Any</option>"
                        for (var d in data){
                            temp += "<option>"+data[d]+"</option>";
                        }
                        
                        $("#transactionStatus").html(temp);
                    })
                }
                
                
                function updateCycle(id, product){
                    
                    
                    swal({
                        title: "<h6>Settlement Cycle Update</h6>",
                        text: "Enter the new settlement cycle",
                        type: "input",
                        showCancelButton: true,
                        closeOnConfirm: false,
                        animation: "slide-from-top",
                        inputPlaceholder: "Provide new settlement cycle",
                        html : true
                      },
                      function(inputValue){
                        if (inputValue === false) return false;

                        if (inputValue === "") {
                          swal.showInputError("Please provide new settlement cycle");
                          return false;
                        }
                        
                        if(isNaN(inputValue)){
                          swal.showInputError("Only numbers are allowed");
                          return false;
                        }
                        
                        swal({
                        title: '<small></small>'
                            , text: 'Are you sure you want to update settlement cycle ?'
                            , type: 'warning'
                            ,animation: "slide-from-top"
                            , showCancelButton: true
                            , cancelButtonText: 'Cancel'
                            , closeOnConfirm: false
                            , confirmButtonText: 'OK'
                            , showLoaderOnConfirm: true
                            , html : true
                        }, function (isConfirm) {

                            if(isConfirm === true || isConfirm === 'true'){

                                $.ajax({
                                    url: ctx + "/api/settlement/update/cycle",
                                    data : JSON.stringify({
                                        "product" : ""+product,
                                        "merchant_id" : ""+id,
                                        "cycle" : inputValue
                                    }),
                                    contentType : "application/json",
                                    type : "POST"
                                }).done(function( data ){

                                    var statusCode = data['responsecode'];

                                    if(statusCode === "00" || statusCode == "00"){
                                        swal({
                                        title: '<span style="font-size: 80%">Update Successful</span>'
                                            , text: ''
                                            , type: 'success'
                                            , showCancelButton: false
                                            , confirmButtonText: 'OK'
                                            , closeOnConfirm: true
                                            , html: true
                                        }, function (isConfirm) {
                                            window.location.reload(true);
                                        });
                                    }else
                                        swal('Authorization Failed', ''+data['responsemessage'], 'error');
                                }).fail(function(){
                                    swal('Authorization Failed', '', 'error');
                                })
                            }
                        });
                        
                      });
                }
                
                $("#exportpdf").click(function(){
                    
                $("#formatF").val("pdf");
                    $("#smtbtn").click();
                });
                
                $("#exportexcel").click(function(){
                    
                    $("#formatF").val("excel");
                    $("#smtbtn").click();
                })
                
                getTransactions();
                
                //getMerchantN(ctx, "rave");
                
            </h:outputScript>
        </ui:define>
        
    </ui:composition>
</html>

