<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Settlement | CP</ui:define>
        <ui:define name="nav-title">Settlement</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/select2.min_1.css" />
            <h:outputStylesheet name="/css/select2-bootstrap.min.css" />
            <h:outputStylesheet>
                td {
                    padding-left : 2vh;
                }
                
                td label{
                    margin-left : 2vh;
                }
                
                ul{
                    list-style : none;
                    padding-left : 0;
                }
                
                select {
                    height : 2.5em;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0 "><h6 class="font-weight-bold">Send Settlement Transaction</h6></div>
                        <div class="card-block">
                            <p class="alert alert-info">Please provide transaction.</p>
                            <h:panelGroup id="messagePanel" layout="block">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
                            <h:form id="create-form" prependId="false" enctype="multipart/form-data">
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="title" class="small text-muted">Date</h:outputLabel>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                                <span class="icon-calendar5"></span>
                                        </span>
                                        <h:inputText  class="form-control" id="datefield" value="#{settlementController.sendSettlementModel.date}" required="true"  requiredMessage="Date must be selected" />
                                    </div>                                    
                                </h:panelGroup>
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="title" class="small text-muted">Merchant</h:outputLabel>
                                    <h:inputText  class="form-control" id="merchant" p:placeholder="Merchant" value="#{settlementController.sendSettlementModel.merchantId}" required="true"  requiredMessage="Date must be selected" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="title" class="small text-muted">Email</h:outputLabel>
                                    <h:inputText  class="form-control" p:placeholder="separate multiple emails with a comma" value="#{settlementController.sendSettlementModel.emails}" required="true"  requiredMessage="Date must be selected" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="title" class="small text-muted">Category</h:outputLabel>
                                    <h:selectOneMenu class="form-control" value="#{settlementController.sendSettlementModel.category}">
                                        <f:selectItem itemValue="generic" itemLabel="General"></f:selectItem>
                                        <f:selectItem itemValue="airline" itemLabel="Airline"></f:selectItem>
                                    </h:selectOneMenu>
                                </h:panelGroup>
                                <br />
                                <h:commandButton type="submit" action="#{settlementController.sendSettlementReport()}" onclick="showloader();" class="btn btn-primary btn-outline-primary offset-lg-3 col-lg-6" value="Submit" />
                            </h:form>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </ui:define>
        
        <ui:define name="scripts">
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/util.js" />
            <h:outputScript name="/js/jsutil.js" />
            <h:outputScript name="/js/lodash.min.js" />
            <h:outputScript name="/js/select2.min.js" />
            <h:outputScript>

                var ctx = "#{request.contextPath}";
                
                getMerchantMID(ctx);
                
                $("#loading-mask").hide();

                function showloader (){
                    $("#loading-mask").show();   
                }
                
                function hideloader(){
                    $("#loading-mask").hide();   
                }
                
                $("#datefield").pickadate({
                    format: "yyyy-mm-dd"
                });
                
                
                
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

