<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Provider</ui:define>
        <ui:define name="nav-title">New Provider</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet>
                ul{
                    padding-left: 0;
                    list-style: none;
                }
                td {
                    padding-left : 4vh;
                }
                
                td label{
                    margin-left : 2vh;
                    font-size : 0.6em;
                }
                
                .smaller {
                    font-size : 65% !important;
                }
                
                select {
                    height : 2.5em;
                }
                
                input:not([type=submit]){
                    height : 2.5em;
                    padding: 0.8em;
                    font-size: 0.8em;
                }
                
                .ui-menu-item-wrapper{
                    font-size: 0.8em;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">Provider Setup</h6></div>
                    <div class="card-block">
                        
                        <h:form id="create-form" prependId="false">
                            
                           <h:panelGroup id="messagePanel" layout="block">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <h:outputLabel for="title" class="smaller">Provider Name</h:outputLabel>
                                <h:inputText id="name" value="#{providerController.provider.name}" autocomplete="false" p:placeholder="name" required="true" requiredMessage="Provider name is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <h:outputLabel for="title" class="smaller">Provider Short Name</h:outputLabel>
                                <h:inputText value="#{providerController.provider.shortName}" autocomplete="false" p:placeholder="name" required="true" requiredMessage="Provider short name is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group rave col-lg-4">
                                <h:outputLabel for="title" class="small text-muted">Currency </h:outputLabel>
                                <h:selectOneMenu value="#{providerController.provider.currency}" required="true" requiredMessage="Currency must be slected" class="form-control small-font">
                                    <f:selectItem itemValue="#{null}" itemLabel="--select--" itemDisabled="true" />
                                    <f:selectItems value="#{currencyController.allCurrencies}" var="product" itemLabel="#{product.name}" itemValue="#{product}" />
                                    <f:converter converterId="currencyConverter" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <label class="col-lg-12">
                                <h:selectBooleanCheckbox id="intercard" value="#{providerController.provider.hasInterCard}" /> <span class=" small">International Card Transaction</span>
                            </label>
                           
                            <div id="intercardpane">
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <label class="smaller text-muted">International Card Transaction Cost Type</label>
                                <h:selectOneMenu class="form-control small-font" value="#{providerController.provider.interCardFeeType}" id="intcardfeetype">
                                    <f:selectItems value="#{productController.feeType}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            
                                <h:panelGroup layout="block" class="form-group col-lg-4">
                                    <h:outputLabel for="title" class="smaller text-muted">International Card Transaction Cost</h:outputLabel>
                                    <h:inputText value="#{providerController.provider.interCardFee}" p:placeholder="international card fee" autocomplete="false" class="form-control " />
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="form-group col-lg-4" id="intcardextrapane">
                                    <h:outputLabel for="title" class="smaller text-muted">International Card Transaction Cost (%)</h:outputLabel>
                                    <h:inputText value="#{providerController.provider.interCardFeeExtra}" p:placeholder="international card fee extra" autocomplete="false" class="form-control " />
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="form-group col-lg-4">
                                    <h:outputLabel for="title" class="smaller text-muted">International Card Transaction Cost Cap</h:outputLabel>
                                    <h:inputText value="#{providerController.provider.interCardFeeCap}" p:placeholder="international card fee cap" autocomplete="false" class="form-control " />
                                </h:panelGroup>

                                
                            </div>
                            
                            <label class="col-lg-12 small">
                                <h:selectBooleanCheckbox id="interaccount" value="#{providerController.provider.hasInterAccount}" /> International Account Transaction
                            </label>
                            <div id="interaccountpane">
                                <h:panelGroup layout="block" class="form-group col-lg-4">
                                    <label class="smaller text-muted">International Account Cost Type</label>
                                    <h:selectOneMenu class="form-control small-font" value="#{providerController.provider.interAccountFeeType}" id="intaccfeetype">
                                        <f:selectItems value="#{productController.feeType}" />
                                    </h:selectOneMenu>
                                </h:panelGroup>
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <h:outputLabel for="title" class="smaller text-muted">International Account Transaction Cost</h:outputLabel>
                                <h:inputText value="#{providerController.provider.interAccountFee}" p:placeholder="international card fee" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-4" id="intaccountextrapane">
                                <h:outputLabel for="title" class="smaller text-muted" >International Account Transaction (%)</h:outputLabel>
                                <h:inputText value="#{providerController.provider.interAccountFeeExtra}" p:placeholder="international card fee extra" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <h:outputLabel for="title" class="smaller text-muted">International Account Transaction Cost Cap</h:outputLabel>
                                <h:inputText value="#{providerController.provider.interAccountFeeCap}" p:placeholder="international card fee cap" autocomplete="false" class="form-control " />
                            </h:panelGroup>
    
                            </div>
                            
                            <label class="col-lg-12 small">
                                <h:selectBooleanCheckbox id="localcard" value="#{providerController.provider.hasLocalCard}" /> Local Card Transaction
                            </label>
                            <div id="localcardpane">
                            
                                <h:panelGroup layout="block" class="form-group col-lg-4">
                                <label class="smaller text-muted">Local Card Transaction Cost Type</label>
                                <h:selectOneMenu class="form-control small-font" value="#{providerController.provider.localCardFeeType}" id="localcardfeetype">
                                    <f:selectItems value="#{productController.feeType}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                                
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <h:outputLabel for="title" class="smaller text-muted">Local Card Transaction Cost</h:outputLabel>
                                <h:inputText value="#{providerController.provider.localCardFee}" p:placeholder="local card fee" autocomplete="false" class="form-control " />
                            </h:panelGroup>
    
                            <h:panelGroup layout="block" class="form-group col-lg-4" id="localcardextrapane">
                                <h:outputLabel for="title" class="smaller text-muted" >Local Card Transaction (%)</h:outputLabel>
                                <h:inputText value="#{providerController.provider.localCardFeeExtra}" p:placeholder="local card fee extra" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <h:outputLabel for="title" class="smaller text-muted">Local Card Transaction Cost Cap</h:outputLabel>
                                <h:inputText value="#{providerController.provider.localCardFeeCap}" p:placeholder="local card fee cap" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                                
                            </div>     
                            
                            <label class="col-lg-12 small">
                                <h:selectBooleanCheckbox id="localaccount" value="#{providerController.provider.hasLocalAccount}" /> Local Account Transaction
                            </label>
                            <div id="localaccountpane">
                                
                                <h:panelGroup layout="block" class="form-group col-lg-4">
                                <label class="smaller text-muted">Local Account Transaction Cost Type</label>
                                <h:selectOneMenu class="form-control small-font" value="#{providerController.provider.localAccountFeeType}" id="localaccfeetype">
                                    <f:selectItems value="#{productController.feeType}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <h:outputLabel for="title" class="smaller text-muted">Local Account Transaction Cost</h:outputLabel>
                                <h:inputText value="#{providerController.provider.localAccountFee}" p:placeholder="local account fee" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-4" id="localaccountextrapane">
                                <h:outputLabel for="title" class="smaller text-muted">Local Account Transaction Cost (%)</h:outputLabel>
                                <h:inputText value="#{providerController.provider.localAccountFeeExtra}" p:placeholder="local account fee extra" autocomplete="false" class="form-control " />
                            </h:panelGroup>
    
                            <h:panelGroup layout="block" class="form-group col-lg-4">
                                <h:outputLabel for="title" class="smaller text-muted">Local Account Transaction Cost Cap</h:outputLabel>
                                <h:inputText value="#{providerController.provider.localAccountFeeCap}" p:placeholder="local account fee cap" autocomplete="false" class="form-control " />
                            </h:panelGroup>
                            </div>
                            
                            <label class="col-lg-12 small">
                                <h:selectBooleanCheckbox id="ussd" value="#{providerController.provider.hasUssd}" /> USSD Transaction Cost
                            </label>
                            <div id="ussdpane">
                                
                                <h:panelGroup layout="block" class="form-group col-lg-4">
                                    <label class="smaller text-muted">USSD Transaction Cost Type</label>
                                    <h:selectOneMenu class="form-control small-font" value="#{providerController.provider.ussdFeeType}" id="ussdfeetype">
                                        <f:selectItems value="#{productController.feeType}" />
                                    </h:selectOneMenu>
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="form-group col-lg-4">
                                    <h:outputLabel for="title" class="smaller text-muted">USSD Transaction Cost</h:outputLabel>
                                    <h:inputText value="#{providerController.provider.USSDFee}" autocomplete="false" class="form-control " />
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="form-group col-lg-4" id="ussdextrapane">
                                    <h:outputLabel for="title" class="smaller text-muted">USSD Transaction Cost (%)</h:outputLabel>
                                    <h:inputText value="#{providerController.provider.ussdFeeExtra}" p:placeholder="local account fee extra" autocomplete="false" class="form-control " />
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="form-group col-lg-4">
                                    <h:outputLabel for="title" class="smaller text-muted">USSD Transaction Cost Cap</h:outputLabel>
                                    <h:inputText value="#{providerController.provider.ussdFeeCap}" p:placeholder="local account fee cap" autocomplete="false" class="form-control " />
                                </h:panelGroup>
                            
                            </div>
                            
                            <label class="col-lg-12 small">
                                <h:selectBooleanCheckbox id="internetbanking" value="#{providerController.provider.hasInternetBanking}" /> Internet Banking Transaction Cost
                            </label>
                            <div id="internetbankingpane">
                             <h:panelGroup layout="block" class="form-group col-lg-4">
                                    <label class="smaller text-muted">Internet-Banking Transaction Cost Type</label>
                                    <h:selectOneMenu class="form-control small-font" value="#{providerController.provider.internetBankingFeeType}" id="internetBankingfeetype">
                                        <f:selectItems value="#{productController.feeType}" />
                                    </h:selectOneMenu>
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="form-group col-lg-4">
                                    <h:outputLabel for="title" class="smaller text-muted">Internet-Banking Transaction Cost</h:outputLabel>
                                    <h:inputText value="#{providerController.provider.internetBankingFee}" autocomplete="false" class="form-control " />
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="form-group col-lg-4" id="internetbankingextrapane">
                                    <h:outputLabel for="title" class="smaller text-muted">Internet-Banking Transaction Cost (%)</h:outputLabel>
                                    <h:inputText value="#{providerController.provider.internetBankingFeeExtra}" p:placeholder="internet banking fee extra" autocomplete="false" class="form-control " />
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="form-group col-lg-4">
                                    <h:outputLabel for="title" class="smaller text-muted">Internet-Banking Transaction Cost Cap</h:outputLabel>
                                    <h:inputText value="#{providerController.provider.internetBankingFeeCap}" p:placeholder="internet banking fee cap" autocomplete="false" class="form-control " />
                                </h:panelGroup>
                            
                            </div>
                            
                            
                            <div class="col-lg-12" style="margin-top: 4%">
                                <h:commandButton type="submit" action="#{providerController.update()}" onclick="showloader()" class="btn btn-outline-primary offset-lg-3 col-lg-4" value="Submit" />
                            </div>
                        </h:form>
                    </div>
                </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript>
                
                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }
                
                $("#fromDate, #initiationDate").pickadate();
                
                $("#intcardfeetype").change(function(){
                    
                    if($(this).val() === 'BOTH')
                        $("#intcardextrapane").show();
                    else
                        $("#intcardextrapane").hide();
                }); 
                
                $("#intaccfeetype").change(function(){
                    
                    if($(this).val() === 'BOTH')
                        $("#intaccountextrapane").show();
                    else
                        $("#intaccountextrapane").hide();
                }); 
                
                $("#localcardfeetype").change(function(){
                    
                    if($(this).val() === 'BOTH')
                        $("#localcardextrapane").show();
                    else
                        $("#localcardextrapane").hide();
                }); 
                
                $("#internetBankingfeetype").change(function(){
                    
                    if($(this).val() === 'BOTH')
                        $("#internetbankingextrapane").show();
                    else
                        $("#internetbankingextrapane").hide();
                }); 
                
                $("#localcardextrapane").hide();
                $("#intaccountextrapane").hide();
                $("#localaccountextrapane").hide();
                $("#intcardextrapane").hide();
                $("#internetbankingcardextrapane").hide();
                
                function showPane(){
                    
                    var localaccountstatus = $("#localaccount").prop('checked');
                    var localcardstatus = $("#localcard").prop('checked');
                    var intaccountstatus = $("#interaccount").prop('checked');
                    var intcardstatus = $("#intercard").prop('checked');
                    var internetbankingstatus = $("#internetbanking").prop('checked');
                    var ussdstatus = $("#ussd").prop('checked');
                    
                    if(localaccountstatus === true){
                        $("#localaccountpane").show();
                    }else
                        $("#localaccountpane").hide();
                        
                    if(localcardstatus === true){
                        $("#localcardpane").show();
                    }else
                        $("#localcardpane").hide();
                    
                    if(intaccountstatus === true){
                        $("#interaccountpane").show();
                    }else
                        $("#interaccountpane").hide();
                    
                    if(intcardstatus === true){
                        $("#intercardpane").show();
                    }else
                        $("#intercardpane").hide();  
                        
                    if(internetbankingstatus === true){
                        $("#internetbankingpane").show();
                    }else
                        $("#internetbankingpane").hide();     
                    
                    if(ussdstatus === true){
                        $("#ussdpane").show();
                    }else
                        $("#ussdpane").hide();  
                }
                
                
                showPane();
                
                $("#localaccount, #localcard, #interaccount, #intercard, #internetbanking, #ussd").change(function(){
                    
                    showPane();
                })
                
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

