<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Configuration Fees</ui:define>
        <ui:define name="nav-title">Configuration Fees</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/sweetalert.css" />
            <h:outputStylesheet>
                
                table{
                    font-size: 0.70em;
                    width : 100%
                }
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    text-align:center;
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                .fixed-size {
                    table-layout: fixed;
                    word-wrap: break-word;
                }
            </h:outputStylesheet>
        </ui:define>    
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">
                    <div class="card">
                        <div class="card-header no-bg b-a-0">Providers / Sources</div>
                        
                        <div class="card-block">
                            <p class="small-font">See below for list of Providers.</p>
                            
                            <div class="table-responsive">
                                <br />
                                <h:form>
                                <h:panelGroup id="messagePanel" layout="block">
                                    <!--<div class="card-block">-->
                                    <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                    <!--</div>-->
                                </h:panelGroup>
                                </h:form>
                                
                                <h:panelGroup class="alert alert-info col-lg-12" rendered="#{providerController.all.rowCount lt 1}">
                                    No authorized provider.
                                </h:panelGroup> 
                                
                                <h:dataTable rendered="#{providerController.all.rowCount gt 0}" value="#{providerController.all}" var="item" class="table table-bordered table-striped m-b-0" rowClasses="fixed-size jsfcrud_odd_row,jsfcrud_even_row" rules="all">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Id"/>
                                    </f:facet>
                                    <h:outputText value="#{providerController.all.rowIndex + 1}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Name"/>
                                    </f:facet>
                                    <h:outputText value="#{item.name}"/>
                                </h:column>   
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Short Name"/>
                                    </f:facet>
                                    <h:outputText value="#{item.shortName}"/>
                                </h:column>   
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Local Currency"/>
                                    </f:facet>
                                    <h:outputText value="#{item.currency.shortName}"/>
                                </h:column> 
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Inter. Txn Card Fee"/>
                                    </f:facet>
                                    <h:panelGroup rendered="#{item.interCardFeeType == 'BOTH'}">
                                        <h:outputText value="#{item.interCardFee} - (FLAT) , #{item.interCardFeeExtra} (%)  "/>
                                    </h:panelGroup>
                                    <h:panelGroup rendered="#{item.interCardFeeType != 'BOTH'}">
                                        <h:outputText value="#{item.interCardFee} (#{item.interCardFeeType}) "/>
                                    </h:panelGroup>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Inter. Txn Account Fee"/>
                                    </f:facet>
                                    <h:panelGroup rendered="#{item.interAccountFeeType == 'BOTH'}">
                                        <h:outputText value="#{item.interAccountFee} - (FLAT) , #{item.interAccountFeeExtra} (%)  "/>
                                    </h:panelGroup>
                                    <h:panelGroup rendered="#{item.interAccountFeeType != 'BOTH'}">
                                        <h:outputText value="#{item.interAccountFee} (#{item.interAccountFeeType})"/>
                                    </h:panelGroup>
                                </h:column>
                                
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Local. Txn Card Fee"/>
                                    </f:facet>
                                    <h:panelGroup rendered="#{item.localCardFeeType == 'BOTH'}">
                                        <h:outputText value="#{item.localCardFee} - (FLAT) , #{item.localCardFeeExtra} (%)  "/>
                                    </h:panelGroup>
                                    <h:panelGroup rendered="#{item.localCardFeeType != 'BOTH'}">
                                        <h:outputText value="#{item.localCardFee} (#{item.localCardFeeType})  "/>
                                    </h:panelGroup>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Local. Txn Account Fee"/>
                                    </f:facet>
                                    <h:panelGroup rendered="#{item.localAccountFeeType == 'BOTH'}">
                                        <h:outputText value="#{item.localAccountFee} - (FLAT) , #{item.localAccountFeeExtra} (%) "/>
                                    </h:panelGroup>
                                    <h:panelGroup rendered="#{item.localAccountFeeType != 'BOTH'}">
                                        <h:outputText value="#{item.localAccountFee} ( #{item.localAccountFeeType}) "/>
                                    </h:panelGroup>
                                </h:column>  
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Created"/>
                                    </f:facet>
                                    <h:outputText value="#{item.createdOn}">
                                        <f:convertDateTime pattern="MM/dd/yyyy hh:mm:ss a" />
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="&nbsp;"/>
                                    </f:facet>
                                    <h:outputText value=" "/>
                                    <h:form prependId="false">
                                        <h:commandLink action="#{providerController.viewAnalysis(item.shortName)}" class="btn btn-info btn-sm m-r-xs" title="View Summary">
                                            <i class="icon-zoom-in"></i>
                                        </h:commandLink> &nbsp;
                                        
                                        <h:commandLink class="btn btn-primary btn-sm m-r-xs" title="View details" onclick="showModal('#{item.id}', '#{item.name}')">
                                            <i class="icon-eye"></i>
                                            <f:ajax render="@none" />
                                        </h:commandLink>
                                        <h:outputText value=" " />
                                        <h:commandLink class="btn btn-success btn-sm m-r-xs" action="#{providerController.prepareUpdate(item.id)}" title="click to edit">
                                            <i class="icon-pencil"></i>

                                        </h:commandLink>
                                     </h:form>
                                    <h:outputText value=" "/>
                                </h:column>
                            </h:dataTable>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            <div class="modal fade bd-example-modal" id="modalValues" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content row">
                        <div class="modal-header card-warning">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="myModalLabel">Provider Information Preview</h6>
                        </div>
                        <div class="modal-body row" >
                            
                            <div class="col-lg-12" id="bodyPane">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="dismiss" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript name="/js/util.js" />
            <h:outputScript>
                
                var ctx = "#{request.contextPath}";
                
                function showModal(id, name){
                    $('#modalValues').modal('show');
                    
                    getProviderInformationAuth(ctx,id);
                }
                

            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

