<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Provider Fees</ui:define>
        <ui:define name="nav-title">Unauthorized Provider Fees</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/sweetalert.css" />
            <h:outputStylesheet>
                
                table{
                    font-size: 0.70em;
                    width : 100%
                }
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    text-align:center;
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                .fixed-size {
                    table-layout: fixed;
                    word-wrap: break-word;
                }
            </h:outputStylesheet>
        </ui:define>    
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">
                    <div class="card">
                        <div class="card-header no-bg b-a-0">Unauthorized Provider</div>
                        
                        <div class="card-block">
                            <p class="small-font">See below for list of unauthorized provider.</p>
                            
                            <div class="table-responsive">
                                <br /><br/>
                                <h:dataTable value="#{providerController.unauth}" var="item" class="table table-bordered table-striped m-b-0" rowClasses="fixed-size jsfcrud_odd_row,jsfcrud_even_row" rules="all">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Id"/>
                                    </f:facet>
                                    <h:outputText value="#{providerController.unauth.rowIndex + 1}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Provider"/>
                                    </f:facet>
                                    <h:outputText value="#{item.name}"/>
                                </h:column>    
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Inter. Txn Card Fee"/>
                                    </f:facet>
                                    <h:outputText value="#{item.interCardFee} (#{item.interCardFeeType})"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Inter. Txn Account Fee"/>
                                    </f:facet>
                                    <h:outputText value="#{item.interAccountFee} ( #{item.interAccountFeeType}) "/>
                                </h:column>
                                
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Local. Txn Card Fee"/>
                                    </f:facet>
                                    <h:outputText value="#{item.localCardFee} ( #{item.localCardFeeType} )"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Local. Txn Account Fee"/>
                                    </f:facet>
                                    <h:outputText value="#{item.localAccountFee} ( #{item.localAccountFeeType} ) "/>
                                </h:column>  
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Created"/>
                                    </f:facet>
                                    <h:outputText value="#{item.createdOn}">
                                        <f:convertDateTime pattern="MM/dd/yyyy hh:mm:ss a" />
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="&nbsp;"/>
                                    </f:facet>
                                    <h:outputText value=" "/>
<!--                                    <div class="btn-group mr-1 mb-1">
                                    <button type="button" class="btn btn-info btn-sm">Action</button>
                                    <button type="button" class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                                    <div class="dropdown-menu"><a class="dropdown-item small-font" href="#">View Details</a><a class="dropdown-item small-font" href="#">View KYC </a>
                                    </div>
</div>-->
                                    <h:form rendered="#{item.status != 'APPROVED'}">
                                        <h:commandLink class="btn btn-primary btn-sm m-r-xs" onclick="showModal('#{item.id}', '#{item.name}')" title="click to approve">
                                            <i class="icon-eye"></i>
                                            <f:ajax render="@none" />
                                        </h:commandLink>
                                        <h:outputText value=" " />
                                        <h:commandLink class="btn btn-success btn-sm m-r-xs" onclick="approve('#{item.id}', '#{item.name}')" title="click to approve">
                                            <i class="icon-check"></i>
                                            <f:ajax render="@none" />
                                        </h:commandLink>
                                        <h:outputText value=" " />
                                        <h:commandLink class="btn btn-danger btn-sm m-r-xs" onclick="reject('#{item.id}', '#{item.name}')" title="click to reject">
                                            <i class="icon-times"></i>
                                            <f:ajax render="@none" />
                                        </h:commandLink>
                                    </h:form>
                                    
                                    <h:outputText value=" "/>
                                </h:column>
                            </h:dataTable>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            <div class="modal fade bd-example-modal" id="modalValues" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content row">
                        <div class="modal-header card-warning">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="myModalLabel">Provider Preview</h6>
                        </div>
                        <div class="modal-body row" >
                            
                            <div class="col-lg-12" id="bodyPane">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="dismiss" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript name="/js/util.js" />
            <h:outputScript>
                
                var ctx = "#{request.contextPath}";
                
                function showModal(id, name){
                    $('#modalValues').modal('show');
                    
                    getProviderInformation(ctx,id);
                }
                
                
                function approve(id, name){
                    swal({
                    title: '<small>Provider Authorization</small>'
                        , text: 'Are you sure you want to approve this fee for merchant <b>'+name+'</b> ?'
                        , type: 'warning'
                        ,animation: "slide-from-top"
                        , showCancelButton: true
                        , cancelButtonText: 'Cancel'
                        , closeOnConfirm: false
                        , confirmButtonText: 'OK'
                        , showLoaderOnConfirm: true
                        , html : true
                    }, function (isConfirm) {
                        
                        if(isConfirm === true || isConfirm === 'true'){
                            
                            $.ajax({
                                url: ctx + "/api/config/provider/authorize",
                                type: 'POST',
                                data : JSON.stringify({
                                    "operation" : "approve",
                                    "id" : id
                                }),
                                contentType : "application/json"
                            }).done(function( data ){

                                var statusCode = data['status-code'];

                                if(statusCode === "00" || statusCode == "00"){
                                    swal({
                                    title: '<span style="font-size: 80%">Provider  Approved successfully</span>'
                                        , text: ''
                                        , type: 'success'
                                        , showCancelButton: false
                                        , confirmButtonText: 'OK'
                                        , closeOnConfirm: true
                                        , html: true
                                    }, function (isConfirm) {
                                        window.location.reload(true);
                                    });
                                }else
                                    swal('Authorization Failed', ''+data['status'], 'error');
                            }).fail(function(){
                                swal('Authorization Failed', '', 'error');
                            })
                        }
                    });
                }
    
                
                function reject(id, name){
                    swal({
                    title: '<small>Provider Authorization</small>'
                        , text: 'Are you sure you want to reject this for provider <b>'+name+'</b> ?'
                        , type: 'input'
                        , animation: "slide-from-top"
                        , showCancelButton: true
                        , cancelButtonText: 'Cancel'
                        , closeOnConfirm: false
                        , confirmButtonText: 'OK'
                        , inputPlaceholder: "Please provide reason for rejecting this update"
                        , showLoaderOnConfirm: true
                        , html : true
                    }, function (inputValue) {

                        if (inputValue === false) return false;

                        if (inputValue === "") {
                        swal.showInputError("<small>You need to provide reason for rejection!</small>");
                          return false;
                        }


                        $.ajax({
                            url: ctx + "/api/config/provider/authorize",
                            type: 'POST',
                            data : JSON.stringify({
                                "operation" : "reject",
                                "id" : id,
                                "rejectionMessage" : inputValue+""
                            }),
                            contentType : "application/json"
                            
                        }).done(function( data ){

                            var statusCode = data['status-code'];

                            if(statusCode === "00" || statusCode == "00"){
                                swal({
                                title: '<span style="font-size: 80%">Update Rejected Successfully</span>'
                                    , text: ''
                                    , type: 'success'
                                    , showCancelButton: false
                                    , confirmButtonText: 'OK'
                                    , closeOnConfirm: true
                                    , html: true
                                }, function (isConfirm) {
                                    window.location.reload(true);
                                });
                            }else
                                swal('Authorization Failed', ''+data['status'], 'error');
                        }).fail(function(){
                            swal('Authorization Failed', '', 'error');
                        })
                    });
                }
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

