<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Wallet Transactions</ui:define>
        <ui:define name="nav-title">Wallet Transactions</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
            
            <h:outputStylesheet>
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                
                input[type='text']{
                    font-size : 80%;
                    padding-top: 0.48em;
                    padding-bottom :0.48em;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">

                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title" style="font-weight: 300">Wallet Transaction For Provider <span id="merchant" style="font-weight: 600"></span> on <span id="product" style="font-weight: 600"></span></h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block">
                            
                            <div class="card panel panel-default m-b-xs">
                                <div class="card-header panel-heading alert-info alert-inverse" role="tab" id="headingOne" style="padding: 0.5em">
                                    <h6 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="icon-filter"></i>&nbsp; Filter</a></h6></div>
                                    <div id="collapseOne" class="card-block panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            
<!--                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted small-select">Product</label>
                                            <select class="form-control form-control-sm small-select" id="product">
                                            </select>
                                        </div>-->
                                        
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted">Transaction Date Range</label>
                                            <div class='input-group'>
                                                <input type='text' class="form-control form-control-sm" id="daterange" />
                                                    <span class="input-group-addon form-control-sm">
                                                            <span class="icon-calendar3"></span>
                                                    </span>
                                            </div>
                                        </div>

                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted">Transaction Type</label>
                                            <select class="form-control form-control-sm small-select" id="transactionType">
                                                <option>Any</option>
                                                <option>CREDIT</option>
                                                <option>DEBIT</option>
                                            </select>
                                        </div>
                                        
                                        

                                    </div>
                                    <div class="pull-right" style="float: right">
                                        <!--<button class="btn btn-info btn-sm" id="export"> Export To Excel</button>-->
                                    </div>
                                </div>

                            <div class="table-responsive">
                                <br /><br/>
                                <div class="col-lg-12">
                                    <table class="table table-bordered table-striped datatable" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>PROVIDER</th>
                                                <th>AMOUNT</th>
                                                <th>CURRENCY</th>
                                                <th>DATE</th>
                                                <th>TYPE</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            <h:form prependId="false" id="btnform">
                <h:inputHidden id="pParam" binding="#{input1}" value="dan" />
                <h:commandButton style="display: none" action="#{roleController.view(input1.value)}" id="smtbtn" value="smt" />
            </h:form>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <!-- This is a pick a date section -->
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/transaction.js" />
            <h:outputScript>

                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }
            </h:outputScript>
            <h:outputScript>

                var ctx = "#{request.contextPath}";
                
                var providerName = "#{providerController.providerName}";
                
                $("#product").text(providerName);
                
                var searchstate = false;

                $('#daterange').val(moment().subtract('days', 30).format('DD/MM/YYYY') + ' - ' + moment().format('DD/MM/YYYY'));
                                                
                function getTransactions(){
                    oTable = $('.datatable').dataTable({
                        serverSide: true,
                        "bSort": false, 
                        "aLengthMenu": [ [20, 50, 80, 100, 150, 200], [20, 50, 80, 100, 150, 200] ],
                         ajax: {
                             url: ctx + "/api/product/transaction/wallet",
                             type: 'GET',
                             data :function(d){
                                d.provider = providerName;
                                d.range = $("#daterange").val();
                                d.transactionType = $("#transactionType").val();
                             },
                             beforeSend : function(){
                                showloader();
                             },
                             complete : function(){
                                hideloader();
                             }
                         },
                         fnDrawCallback : function(){
                         },
                         columns : [
                            { data : 'id'},
                            {data : "wallet", 
                                'render' : function(data, type, row){
                                    return data.
                                }
                            },
                            {data : "merchant"},
                            {data : "amount", 
                                'render' : function(data, type, row){
                                    return parseFloat(data).toLocaleString();
                                }
                            },
                            {data : "currency"},
                            {data : "flutterReference", 
                                "render" : function(data, type, row){
                                    if (data !== null || data !== undefined)
                                        return (data+"").substring(0, 15);
                                    
                                    return "";
                                }
                            },
                            {data : "transactionReference"},
                            {data : "createdAt",
                                'render' : function(data, type, row){
                                    return moment(new Date(data)).format("DD/MM/YYYY hh:mm A");
                                }
                            },
                            {data : "transactionType"},
                            {data : "status", 
                                'render' : function(data, type, row){
                                    
                                    var error = "\"tag tag-default tag-danger\"";
                                    var success = "\"tag tag-default tag-success\"";
                                    
                                    if(data.toLowerCase() === "successful" || data.toLowerCase() === "completed")
                                        return "<span class="+success+">successful</span>" ;
                                    
                                    return "<span class="+error+">"+data+"</span>" ;
                                }
                            },
                            {data : "id", 
                                'render' : function(data, type, row){
                                    return '<a class="btn btn-warning btn-float btn-sm m-r-xs small-font"><i class="icon-eye"></i></a> &nbsp;';
                                }
                            }
                         ],
                         "rowCallback" : function(row, data, index){
                            
                            var setting = oTable.fnSettings();
                            var index = (setting._iDisplayStart + index + 1);
                            $("td:eq(0)", row).html(index);
                         }
                    });
                }
                
                $("#searchBtn").click(function(){
                    
                    oTable.fnDraw();
                })
                    
                
                $("#clearbtn").click(function(){
                });
                
                function updateView(value){
                    
                    console.log(value + " is the product");
                    
                    if(value.toLowerCase() === "rave"){
                        $(".rave").show();
                        $(".moneywave").hide();
                    }
                    else if(value.toLowerCase() === "moneywave"){
                        $(".rave").hide();
                        $(".moneywave").show();
                    }else if(value.toLowerCase() === "core" || value.toLowerCase() === "flutterwave core"){
                        $(".rave").hide();
                        $(".moneywave").hide();
                    }
                    
                    getStatus();
                    
                    setTimeout(function(){
                            getTransactions();
                        }, 2000);
                }
                
                function getStatus(){
                    
                    $.ajax({
                        url : ctx + "/api/product/transaction/status",
                        data : {
                            "product" : productName
                        }
                    }).done(function(data){
                        
                        var temp = "<option>Any</option>"
                        for (var d in data){
                            temp += "<option>"+data[d]+"</option>";
                        }
                        
                        $("#transactionStatus").html(temp);
                    })
                }
                
                function getFlwResponse(){
                    
                    $.ajax({
                        url : ctx + "/api/product/transaction/fresponses"
                    }).done(function(data){
                        
                        var temp = "<option>Any</option>"
                        for (var d in data){
                            temp += "<option>"+data[d]+"</option>";
                        }
                        
                        $("#flutterResponse").html(temp);
                    })
                }
                
                getFlwResponse();
                
                updateView(productName);
                
            </h:outputScript>
        </ui:define>
        
    </ui:composition>
</html>

