<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Transactions Upload | Flutter ARMS</ui:define>
        <ui:define name="nav-title">Transaction Upload Analysis</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
            <h:outputStylesheet name="/css/select2.min_1.css" />
            <h:outputStylesheet name="/css/select2-bootstrap.min.css" />
            <h:outputStylesheet>
                
                .table-responsive {
                    font-size :0.8em;
                }
                
                #content-table{
                    font-size: 0.70em;
                    width : 100%
                }
                
                table.dataTable thead > tr > th{
                    font-size: 70% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 70%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.5rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 60% !important;
                }
                
                .select2-result-label{
                    font-size : 80%
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <!--<h:form prependId="false">-->
                <h:panelGroup layout="block" class="col-lg-12" style="margin-top: 5%">
                    
                    <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card card-block">
                            <h5 class="m-b-0 v-align-middle text-overflow">
                                <span>#{uploadController.resolveBatch.count}</span>
                            </h5>
                            <!--<div class="small text-overflow text-muted">Uploaded</div>-->
                            <div class="small text-overflow">Uploaded</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card card-block card-success">
                            <h5 class="m-b-0 v-align-middle text-overflow">
                                <span>#{uploadController.resolveBatch.resolved}</span>
                            </h5>
                            <!--<div class="small text-overflow text-muted">Resolved</div>-->
                            <div class="small text-overflow">Settled</div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card card-block card-danger">
                            <h5 class="m-b-0 v-align-middle text-overflow">
                                <span>#{uploadController.resolveBatch.count - uploadController.resolveBatch.resolved}</span>
                            </h5>
                            <!--<div class="small text-overflow text-muted">Resolved</div>-->
                            <div class="small text-overflow">Unsettled</div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card card-block">
                            <h5 class="m-b-0 v-align-middle text-overflow">
                                <span>#{uploadController.analysisModel.merchantTransaction.size()}</span>
                            </h5>
                            <!--<div class="small text-overflow text-muted">Resolved</div>-->
                            <div class="small text-overflow">Merchants</div>
                        </div>
                    </div>
                    
                    </div>
                    <div class="card">
                        <div class="card-block">
                            <!--<h:form><h:commandButton value="Done" class="btn btn-success pull-right" style="float: right"  action="uploadcompleted"/></h:form>-->
                            <h:link class="btn btn-primary pull-right btn-sm" style="float: right" value="Done" outcome="index"  />
                            <div class="table-responsive">
                                <div class="col-lg-6 offset-lg-3">
                                    <table id="user" class="table table-bordered align-middle">
                                        <tbody>
                                            <tr>
                                                <td width="35%">Bank</td>
                                                <td width="65%">#{uploadController.analysisModel.bank}</td>
                                            </tr>
                                            <tr>
                                                <td>Date</td>
                                                <td>#{uploadController.recentUploadedDateRange}</td>
                                            </tr>
                                            <tr>
                                                <td>Card Scheme</td>
                                                <td>#{uploadController.analysisModel.cardScheme}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br /><br/>
                                <div class="col-lg-12">
                                    
                                <div class="card panel panel-default m-b-xs">
                                    <div class="card-header panel-heading alert-info alert-inverse" role="tab" id="headingOne">
                                        <h6 class="panel-title m-a-0"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-filter"></i>&nbsp; Filter</a></h6></div>
                                    <div id="collapseOne" class="card-block panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="col-lg-3 form-group" >
                                            <select id="settled" class="form-control form-control-sm">
                                                <option value="all">All</option>
                                                <option value="settled">Settled</option>
                                                <option value="unsettled">Unsettled</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <button class="btn btn-primary btn-sm" id="filterbtn"><i class="fa fa-filter"></i> &nbsp; Filter</button>
                                        </div>
                                    </div>
                                </div>
                                    <div class="card-block">
                                        <table class="table table-bordered table-striped datatable" style="width: 100% !important">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>MERCHANT NAME</th>
                                                    <th>TERMINAL ID</th>
                                                    <th>RRN</th>
                                                    <th>ORIGCLEARAMT</th>
                                                    <th>ORIGCLEARCCY</th>
                                                    <th>CARD SCHEME</th>
                                                    <th>MASKED PAN</th>
                                                    <th>TRANSACTION DATE</th>
                                                    <th>SETTLEMENT STATUS</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </h:panelGroup>
                <!--</h:form>-->
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <!-- This is a pick a date section -->
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript>
                var ctx = "#{request.contextPath}";
                
                <!--var clear = false;-->
                
                oTable = $('.datatable').dataTable({
                        serverSide: true,
                        "bSort": false, 
                        "aLengthMenu": [ [20, 50, 80, 100, 150, 200], [20, 50, 80, 100, 150, 200] ],
                         ajax: {
                             url: ctx + "/api/recon/transaction/recentupload",
                             type: 'GET',
                             data :function(d){
                                d.range = "#{uploadController.resolveBatch.batchId}",
                                d.settled = $("#settled").val();
                             },
                             beforeSend : function(){
                             }
                         },
                         fnDrawCallback : function(){
                         },
                         columns : [
                            {data : "fileId"},
                            {data : "merchantTitle"},
                            {data : "terminalName"},
                            {data : "rrn"},
                            {data : "originClearanceAmount"},
                            {data : "originClearanceCurrency"},
                            {data : "cardScheme"},
                            {data : "maskedPan"},
                            {data : "operationDate",
                                'render' : function(data, type, row){
                                    return moment(new Date(data)).format("DD/MM/YYYY HH:mm");
                                }
                            },
                            {data : "settled", 
                                'render' : function(data, type, row){
                                    var temp = '<span class="tag tag-danger"> Unsettled</span>';
                                    
                                    if(data === "true" || data === true){
                                        temp = '<span class="tag tag-success"> Settled</span>';
                                    }

                                    return temp;
                                }
                            }
                         ]
                    });
                    
                    $("#filterbtn").click(function(){
                        oTable.fnDraw();
                    })
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

