<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/templates/template.xhtml">
        <ui:define name="title">Transactions Upload | Flutter ARMS</ui:define>
        <ui:define name="nav-title">Transaction Upload</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/tsf-step-form-wizard.css" />
            <h:outputStylesheet name="/css/gsi-step-indicator.css" />
            <h:outputStylesheet name="/css/bootstrap-datepicker3.css" />
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <h:form prependId="false">
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0">Transaction upload</div>
                        <div class="card-block">
                            <div id="loading-mask" style="width:100%;height:100%;background: rgba(197, 197, 195, 0.38);position:absolute;z-index:20000;left:0;top:0;">
                                <div class="col-sm-3 demo-spinkit" style="z-index: 200000; position: absolute; top: 40%; left : 35%">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="sk-folding-cube center-block">
                                                <div class="sk-cube1 sk-cube"></div>
                                                <div class="sk-cube2 sk-cube"></div>
                                                <div class="sk-cube4 sk-cube"></div>
                                                <div class="sk-cube3 sk-cube"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                            <p>Please provide settlement status</p>
                            <h:panelGroup id="messagePanel" layout="block" class="">
                                <!--<div class="card-block">-->
                                <h:messages errorStyle="color: white" errorClass="card card-danger card-inverse" infoClass="card card-success card-inverse" infoStyle="color: white; padding:2%" layout="list" class="card-block"/>
                                <!--</div>-->
                            </h:panelGroup>
                            <h:panelGroup layout="block" class="form-group">
                                <h:outputLabel for="status">Check settlement status</h:outputLabel>
                                <h:selectOneRadio layout="lineDirection" class="form-control table-class" id="status"  value="#{uploadController.uploadModel.settled}">
                                    <f:selectItem id="settled"  itemLabel="Settled" itemValue="true" />
                                    <f:selectItem id="notsettled" itemLabel="Not Settled" itemValue="false" />
                                </h:selectOneRadio>
                            </h:panelGroup>
                            <h:panelGroup layout="block" class="form-group" id="dateSettledPanel">
                            <h:outputLabel for="dateSettled">Date Settled</h:outputLabel>
                            <h:inputText id="dateSettled" value="#{uploadController.uploadModel.dateSettled}" p:placeholder="e.g. pick date settled" class="form-control">
                                <f:converter converterId="dateConverter" />
                            </h:inputText>
                            </h:panelGroup>
                            
                            <h:commandButton class="btn btn-primary pull-right" value="Submit" onclick="showloader();" action="#{uploadController.uploadCompleted}" />
                        </div>
                    </div>
                </h:panelGroup>
                </h:form>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/parsley.min.js" />
            <h:outputScript name="/js/tsf-wizard-plugin_1.js" />
            <h:outputScript name="/js/bootstrap-datepicker.js" />
            <h:outputScript>
                var settled = false;
                
                $("#dateSettled").datepicker({
                    autoclose : true
                });
               
                
                $("input[type='radio']").change(function(){
                    processSettlementStatus();
                });
                
                function processSettlementStatus(){
                    
                    settled = $("input[name='status']:checked").val();
                    
                    <!--alert("processSettlementStatus "+selected);-->
                    
                    if(settled === 'false'){
                        $("#dateSettledPanel").hide();
                    }else{
                        $("#dateSettledPanel").show();
                    }
                }
                
                $(function(){
                    processSettlementStatus();
                });
                
                $("#loading-mask").hide();

                function showloader (){

                    $("#loading-mask").show();

                }
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

