<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/templates/template.xhtml">
        <ui:define name="title">Transactions Upload | Flutter ARMS</ui:define>
        <ui:define name="nav-title">Transaction Upload</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/tsf-step-form-wizard.css" />
            <h:outputStylesheet name="/css/gsi-step-indicator.css" />
            <h:outputStylesheet name="/css/bootstrap-datepicker3.css" />
            <h:outputStylesheet>
                ul {
                    padding-left : 0 !important;
                    list-style : none;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <h:form prependId="false">
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    
                    <div class="card">
                        <div class="card-header no-bg b-a-0"> 
                            <h6 class="font-weight-bold">
                                Transaction Upload status 
                                <h:commandButton class="btn btn-primary pull-right btn-sm" value="All Transactions" action="uploadcompleted" />
                            </h6> <hr /></div>
                        <div class="card-block">
                            <h:panelGroup id="messagePanel" layout="block" class="">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="bankp" class="col-lg-3">Bank</h:outputLabel>
                                <div class="col-lg-9">
                                    <h:outputLabel for="bankp" class="form-control" value="#{uploadController.uploadModel.bank}" />
                                </div>
                            </h:panelGroup>

                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="filePresent" class="col-lg-3">Card Scheme</h:outputLabel>
                                <div class="col-lg-9">
                                    <h:outputLabel for="bankp" class="form-control" value="#{uploadController.uploadModel.scheme}" />
                                </div>
                            </h:panelGroup>

                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="pCardScheme" class="col-lg-3">Total Transactions </h:outputLabel>
                                <div class="col-lg-9">
                                    <h:outputLabel for="bankp" class="form-control" value="#{uploadController.analysisModel.transactionCount}" />
                                </div>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-12" id="pSettledDatePanel">
                                <h:outputLabel for="pSettledDate" class="col-lg-3">Settlement Date</h:outputLabel>
                                <div class="col-lg-9">
                                    <h:outputLabel class="form-control" value="#{uploadController.uploadModel.dateSettled}" />
                                </div>
                            </h:panelGroup>
                            
                            <p class="alert alert-info col-lg-12"> Originating Currencies and total amount</p>
                            <ui:repeat value="#{uploadController.analysisModel.originCurrencies.keySet().toArray()}" var="key">
                                <h:panelGroup layout="block" class="form-group col-lg-12">
                                    <h:outputLabel class="col-lg-3" value="#{key}" />
                                    <div class="col-lg-9">
                                        <h:outputLabel class="form-control" value="#{uploadController.analysisModel.originCurrencies[key]}" />
                                    </div>
                                </h:panelGroup>
                            </ui:repeat>
                            
                            <p class="alert alert-info col-lg-12"> Destination Currencies and total amount</p>
                            <ui:repeat value="#{uploadController.analysisModel.destinationCurrencies.keySet().toArray()}" var="key">
                                <h:panelGroup layout="block" class="form-group col-lg-12">
                                    <h:outputLabel class="col-lg-3" value="#{key}" />
                                    <div class="col-lg-9">
                                        <h:outputLabel class="form-control" value="#{uploadController.analysisModel.destinationCurrencies[key]}" />
                                    </div>
                                </h:panelGroup>
                            </ui:repeat>
                            
                             <p class="alert alert-info col-lg-12"> Merchant and Transaction Counts</p>
                             <h:dataTable value="#{uploadController.analysisModel.merchantTransaction.entrySet().toArray()}" var="item" class="table table-bordered table-striped m-b-0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Merchant Title"/>
                                    </f:facet>
                                    <h:outputText value="#{item.key}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="No of Transactions"/>
                                    </f:facet>
                                    <h:outputText value="#{item.value}"/>
                                </h:column>
                            </h:dataTable>
                        </div>
                    </div>
                </h:panelGroup>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>
</html>

