<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Settlement</ui:define>
        <ui:define name="nav-title">Settlement - <small>Transaction Upload</small></ui:define>
        <ui:define name="styles">
            <h:outputStylesheet>
                ul {
                    padding-left: 0;
                    list-style: none;
                }
                
                select{
                    height : 1.856rem;
                }
                
                small-select{
                    font-size : 80%
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">Transaction upload</h6></div>
                    <div class="card-block">
                        <h:panelGroup id="messagePanel" layout="block" class="">
                            <!--<div class="card-block">-->
                            <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                            <!--</div>-->
                        </h:panelGroup>
                        <h:form prependId="false" enctype="multipart/form-data">
                            <br />
                            <p class="alert alert-info" style="padding: 10px">Please provide information to upload record</p>
                            <br />
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="bank" class="small text-muted">Select Bank</h:outputLabel>
                                <h:selectOneMenu class="form-control small-select" id="bank" value="#{uploadController.uploadModel.bank}">
                                    <f:selectItems value="#{uploadController.banks.entrySet()}" var="entry" 
                                            itemValue="#{entry.key}" itemLabel="#{entry.value}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="cardScheme" class="small text-muted">Card Scheme</h:outputLabel>
                                <h:selectOneMenu class="form-control small-select" id="cardScheme" value="#{uploadController.uploadModel.scheme}">
                                    <f:selectItem itemValue="MasterCard" />
                                    <f:selectItem itemValue="Visa" />
                                    <f:selectItem itemValue="Verve" />
                                </h:selectOneMenu> 
                            </h:panelGroup>
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                            <h:outputLabel for="file">File</h:outputLabel>
                            <h:inputFile id="file" required="true" requiredMessage="please select a file to upload" value="#{uploadController.uploadModel.file}" p:placeholder="e.g. Select a file" class="form-control" />
                            </h:panelGroup>
                            
                            <br /><br />
                            <h:commandButton class="btn btn-outline-primary offset-xl-3 col-xl-6" value="Next" onclick="showloader()" action="#{uploadController.uploadPreview}" />
                        </h:form>
                    </div>
                    
                </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript>
                
                $("#loading-mask").hide();

                function showloader (){
                    $("#loading-mask").show();   
                }

                function hideloader(){
                    $("#loading-mask").hide();   
                }
                
                
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

