<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Transactions Upload | Flutter ARMS</ui:define>
        <ui:define name="nav-title">Transaction Upload</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/sweetalert.css" />
            <h:outputStylesheet>
                table.dataTable thead > tr > th{
                    font-size: 100%;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 100%;
                    text-align:center;
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                #content-table{
                    font-size: 0.70em;
                    width : 100%
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                #transTable tr{
                    font-size: 65%;
                }

                #transTable > thead > tr th{
                    padding-left: 0.1rem;
                    padding-right: 0.1rem !important;
                    text-align: center;
                }

                #transTable > tbody > tr td{
                    text-align: center;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <ui:include src="/include/loader.xhtml" />
                <h:panelGroup layout="block" class="col-lg-12">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">Transaction upload</h6></div>
                    <div class="card-block">
                        <p>Please preview transactions</p>
                        <h:panelGroup id="messagePanel" layout="block" class="">

                            <h:messages errorStyle="color: white" errorClass="card card-danger card-inverse" infoClass="card card-success card-inverse" infoStyle="color: white; padding:2%" layout="list" class="card-block"/>
                        </h:panelGroup>
                        <h:form prependId="false">
                            <h:commandButton class="btn btn-primary btn-sm pull-right" id="uploadbtn" style="float: right; display: none" value="Upload" onclick="showloader();" action="#{uploadController.uploadCompleted()}">
                                <f:ajax execute="@this" />
                            </h:commandButton>
                        </h:form>
                        <h:dataTable value="#{uploadController.transactions}" var="item" class="table table-bordered table-striped m-b-0 datatable" id="transTable" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="RRN"/>
                                </f:facet>
                                <h:outputText value="#{item.rrn}"/>
                            </h:column>    
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="ORIGCLEARAMT"/>
                                </f:facet>
                                <h:outputText value="#{item.originClearanceAmount}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="ORIGCLEARCCY"/>
                                </f:facet>
                                <h:outputText value="#{item.originClearanceCurrency}"/>
                            </h:column>    

                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="DESTCLEARAMT"/>
                                </f:facet>
                                <h:outputText value="#{item.destinationClearanceAmount}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="DESTCLEARCCY"/>
                                </f:facet>
                                <h:outputText value="#{item.destinationClearanceCurrency}"/>
                            </h:column>    
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="PAN"/>
                                </f:facet>
                                <h:outputText value="#{item.maskedPan}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="CARDSCHEME"/>
                                </f:facet>
                                <h:outputText value="#{item.cardScheme}"/>
                            </h:column>       
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="OPERDATE"/>
                                </f:facet>
                                <h:outputText value="#{item.operationDate}">
                                    <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                </h:outputText>
                            </h:column>    
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="TERMINAL NAME"/>
                                </f:facet>
                                <h:outputText value="#{item.terminalName}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="MERCHANT NAME"/>
                                </f:facet>
                                <h:outputText value="#{item.merchantTitle}" />
                            </h:column>
                        </h:dataTable>
                    </div>
                </div>
                </h:panelGroup>
                
                <h:form prependId="false" id="btnform">
                    <h:commandButton style="display: none" action="#{uploadController.showAnalysis()}" id="smtbtn" value="0">
                    </h:commandButton>
                </h:form>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript>
                
                window.onload = function(){
                    $("#uploadbtn").show();
                }
                
                var ctx = "#{request.contextPath}";
                
                $('.datatable').dataTable({
                    "aLengthMenu": [ [20, 50, 80, 100, 150, 200], [20, 50, 80, 100, 150, 200] ],
                })
                 var settled = false;
                
                $("#loading-mask").hide();

                var interval;
                
                function showloader (){
                    $("#loading-mask").show();
                    
                    //checkStatus();
                    
                    interval = setInterval(checkStatus, 2000);
                }
                
                function checkStatus(){
                    
                     $.ajax({
                            url: ctx + "/api/product/transaction/upload/status",
                        }).done(function( data ){
                            
                            console.log(data);
                            
                            var statusCode = data.responsecode;
                            
                            if(statusCode === "00" || statusCode == "00"){
                            
                                clearInterval(interval);
                                
                                swal({
                                    title: ''
                                    , text: 'Transaction Settlement Successful'
                                    , type: 'success'
                                    , showCancelButton: false
                                    , confirmButtonText: 'OK'
                                    , closeOnConfirm: true
                                }, function (isConfirm) {
                                    
                                    $("#loading-mask").hide();
                                    
                                    $("#smtbtn").click();
                                    
                                });
                            }else if(statusCode === "99" || statusCode == "99"){
                                swal('Transaction Upload Failed',"", 'error');
                                
                                $("#loading-mask").hide();
                            }
                        })
                }
                
                
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

