<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title><ui:insert name="title">Flutterwave Merchant Portal</ui:insert></title>
        
        <link rel="shortcut icon" href="${request.contextPath}/resources/img/favicon.png" type="image/x-icon"></link>
        <ui:insert name="styles"></ui:insert>
        
        <h:outputStylesheet name="/css/vendors.min.css" />
        <h:outputStylesheet name="/fonts/icomoon.css" />
        <h:outputStylesheet name="/fonts/flag-icon-css/css/flag-icon.min.css" />
        
        <h:outputStylesheet name="/css/app.min.css" />
        <h:outputStylesheet name="/css/style.css" />        
        
    </h:head>
    <body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">
        
            <ui:include src="/include/navbar.xhtml" />
            <div class="robust-content content container-fluid">
                <div class="content-wrapper">
                  <div class="content-header row">
                      <ui:insert name="header" />
                  </div>
                  <div class="content-body"><!-- project stats -->
                      <ui:insert name="content" />
                  </div>
                </div>
            </div>
        
        <h:outputScript name="/js/vendors.min.js" />
        <h:outputScript name="/js/app.min.js" />
        <ui:insert name="scripts" />
        <!--<h:outputScript name="/js/script.js" />-->
        <h:outputScript>
            $(".configuration").hide();
        </h:outputScript>
    </body>
</html>

