<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Add Blacklist Item | Flutter MS</ui:define>
        <ui:define name="nav-title">Blacklist Item Creation</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet>
                td {
                    padding-left : 2vh;
                }
                
                td label{
                    margin-left : 2vh;
                }
                
                ul{
                    list-style : none;
                    padding-left : 0;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <ui:include src="/include/loader.xhtml" />
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0 "><h6 class="font-weight-bold">Blacklist Item Update</h6></div>
                        <div class="card-block">
                            <p class="alert alert-info">Please fill in with necessary information to update a blacklist item.</p>
                            <h:panelGroup id="messagePanel" layout="block">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
                            <h:form id="create-form">
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="title" class="small text-muted">Name</h:outputLabel>
                                    <h:inputText id="title" value="#{controlController.selected.name}" required="true" requiredMessage="name to  block is required" class="form-control" />
                                </h:panelGroup>
                                
                                
                                <h:commandButton type="submit" action="#{controlController.update()}" onclick="showloader();" class="btn btn-outline-primary col-lg-6 offset-lg-3" value="Submit" />
                            </h:form>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript>

                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

