<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Controlled Names | Flutter MS</ui:define>
        <ui:define name="nav-title">All Controlled Names</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/sweetalert.css" />
            <h:outputStylesheet>
                
                table{
                    font-size: 0.75em;
                    width : 100%
                }
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
            </h:outputStylesheet>
        </ui:define>    
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">
                    <div class="card">
                        <div class="card-header no-bg b-a-0">Controlled Names</div>
                        
                        <div class="card-block">
                            <p>See below for list of controlled names.</p>
                            
                            <div class="table-responsive">
                                <c:if test="#{userController.hasRole('CREATE_CONTROL')}">
                                    <h:link style="float: right" outcome="/control/create" class="btn btn-primary btn-sm m-r-xs pull-right" value="Add Control" />
                                </c:if> &nbsp;
                                <c:if test="#{userController.hasRole('AUTHORIZE_CONTROL')}">
                                <h:link outcome="/control/unauth" class="btn btn-danger btn-sm m-r-xs pull-right" style="margin-right: 2%; float: right" value="View Unauthorized" />
                                </c:if>
                                <br /><br/>
                                
                                <h:form>
                                <h:panelGroup id="messagePanel" layout="block">
                                    <!--<div class="card-block">-->
                                    <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                    <!--</div>-->
                                </h:panelGroup>
                                </h:form>
                                
                            <h:dataTable value="#{controlController.all}" var="item" class="table table-bordered table-striped m-b-0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Id"/>
                                    </f:facet>
                                    <h:outputText value="#{controlController.all.rowIndex + 1}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Name"/>
                                    </f:facet>
                                    <h:outputText value="#{item.name}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Created On"/>
                                    </f:facet>
                                    <h:outputText value="#{item.createdOn}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Created By"/>
                                    </f:facet>
                                    <h:outputText value="#{item.createdBy.firstName} #{item.createdBy.lastName}">
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Authorized On"/>
                                    </f:facet>
                                    <h:outputText value="#{item.approvedOn}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="State"/>
                                    </f:facet>
                                    <h:outputLabel rendered="#{item.state}"><span class="tag tag-danger">Black-listed</span></h:outputLabel>
                                    <h:outputLabel rendered="#{!item.state}"><span class="tag tag-success">White-listed</span></h:outputLabel>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Authorized By"/>
                                    </f:facet>
                                    <h:outputText value="#{item.approvedBy.firstName} #{item.approvedBy.lastName}">
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="&nbsp;"/>
                                    </f:facet>
                                    <h:outputText value=" "/>
                                    <h:form>
                                        <h:panelGroup rendered="${item.state}">
                                            <h:commandLink class="btn btn-danger btn-sm m-r-xs" onclick="changeStatus('#{item.id}', '#{item.name}', 'whitelist')" title="click to disable">
                                                <i class="icon-ban"></i>
                                                <f:ajax render="@none" />
                                            </h:commandLink>
                                        </h:panelGroup>
                                        <h:panelGroup rendered="${!item.state}">
                                            <h:commandLink class="btn btn-success btn-sm m-r-xs" onclick="changeStatus('#{item.id}', '#{item.name}', 'blacklist')" title="click to  enable">
                                                <i class="icon-check" ></i>
                                                <f:ajax render="@none" />
                                            </h:commandLink>
                                        </h:panelGroup> &nbsp; &nbsp;
                                        <h:commandLink class="btn btn-success btn-sm m-r-xs btn-xsm"  action="#{controlController.prepateUpdate}" title="Edit" >
                                            <i class="icon-pencil"></i>
                                            <f:param name="editParam" value="#{item.id}" />
                                        </h:commandLink>
                                        <h:outputText value=" " />
                                    </h:form>
                                    
                                    <h:outputText value=" "/>
                                </h:column>
                            </h:dataTable>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript>
                
                var ctx = "#{request.contextPath}";
                
                
                function changeStatus(id, name, status){
                    swal({
                    title: '<small>Control Status</small>'
                        , text: 'Are you sure you want to '+status+' this control <b>'+name+'</b> ?'
                        , type: 'warning'
                        ,animation: "slide-from-top"
                        , showCancelButton: true
                        , cancelButtonText: 'Cancel'
                        , closeOnConfirm: false
                        , confirmButtonText: 'OK'
                        , showLoaderOnConfirm: true
                        , html : true
                    }, function (isConfirm) {
                        
                        if(isConfirm === true || isConfirm === 'true'){
                            
                            $.ajax({
                                url: ctx + "/api/control/changestatus",
                                type: 'POST',
                                data : JSON.stringify({
                                    "operation" : ""+status,
                                    "id" : id
                                }),
                                contentType : "application/json"
                            }).done(function( data ){

                                var statusCode = data['status-code'];

                                if(statusCode === "00" || statusCode == "00"){
                                    swal({
                                    title: '<span style="font-size: 80%">Control Status Changed</span>'
                                        , text: ''+data['status']
                                        , type: 'success'
                                        , showCancelButton: false
                                        , confirmButtonText: 'OK'
                                        , closeOnConfirm: true
                                        , html: true
                                    }, function (isConfirm) {
                                        window.location.reload(true);
                                    });
                                }else
                                    swal('Authorization Failed', ''+data['status'], 'error');
                            }).fail(function(){
                                swal('Authorization Failed', '', 'error');
                            })
                        }
                    });
                }
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

