<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">User</ui:define>
        <ui:define name="nav-title">Unauthorized Users</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/sweetalert.css" />
            <h:outputStylesheet>
                
                table{
                    font-size: 0.75em;
                    width : 100%
                }
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
            </h:outputStylesheet>
        </ui:define>    
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">
                    <div class="card">
                        <div class="card-header no-bg b-a-0">All Users</div>
                        
                        <div class="card-block">
                            <p class="small-font">See below for list of all users.</p>
                            
                            <div class="table-responsive">
                                <!--<h:link outcome="/currency/create" class="btn btn-danger btn-sm m-r-xs pull-right" style="margin-right: 2%" value="View Unapproved" />-->
                                
                                <br /><br/>
                                <h:dataTable value="#{userController.all}" var="item" class="table table-bordered table-striped m-b-0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Id"/>
                                    </f:facet>
                                    <h:outputText value="#{userController.all.rowIndex+1}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Name"/>
                                    </f:facet>
                                    <h:outputText value="#{item.firstName } #{item.lastName}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="email"/>
                                    </f:facet>
                                    <h:outputText value="#{item.email}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="phone"/>
                                    </f:facet>
                                    <h:outputText value="#{item.phone}"/>
                                </h:column>    
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Created"/>
                                    </f:facet>
                                    <h:outputText value="#{item.created}">
                                        <f:convertDateTime pattern="MM/dd/yyyy hh:mm:ss a" />
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Created By"/>
                                    </f:facet>
                                    <h:outputText value="#{item.createdBy.firstName} #{item.createdBy.lastName}">
                                        <f:convertDateTime pattern="E, dd/MM/yyyy hh:mm:ss a" />
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Status"/>
                                    </f:facet>
                                    <c:set var="state" value="#{item.enabled}" />
                                    <span class="tag tag-default #{userController.getStyle(state)}"> #{userController.getStatus(state)}</span>
                                </h:column>    
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="&nbsp;"/>
                                    </f:facet>
                                    <h:form>
                                        <h:outputText value=" "/>
                                        <h:commandLink class="btn btn-success btn-sm m-r-xs" action="#{userController.view(item.id)}" title="view">
                                            <i class="icon-eye"></i>
                                        </h:commandLink> 
                                        <h:outputText value=" "/>
                                        <h:commandLink class="btn btn-primary btn-sm m-r-xs" style="margin-right: 1%; float: right" action="#{userController.prepareUpdate(item.id)}">
                                            <i class="icon-pencil"></i>
                                        </h:commandLink>
                                    </h:form>
                                </h:column>
                            </h:dataTable>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/sweetalert.min.js" />
        </ui:define>
    </ui:composition>
</html>

