<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Configuration Limit</ui:define>
        <ui:define name="nav-title">Configuration Limits</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/sweetalert.css" />
            
            <h:outputStylesheet>
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                #content-table{
                    font-size: 0.70em;
                    width : 100%
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            
            <div class="row">
                
                <h:panelGroup layout="block" class="col-lg-12">

                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Configuration Limit</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block">
                            <button onclick="getLimitsFromCore()" style="float: right" class="btn btn-primary btn-sm m-r-xs pull-x-right">Fetch Limits from Core</button>
                            <div class="card panel panel-default m-b-xs" style="margin-top: 3%">
                                    <div class="card-header panel-heading alert-info alert-inverse small-font" role="tab" id="headingOne">
                                        
                                    <h6 class="panel-title m-a-0"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-filter"></i>&nbsp; Filter</a></h6></div>
                                    <div id="collapseOne" class="card-block panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted small-select">Product</label>
                                            <select class="form-control form-control-sm small-select" id="product">
                                            </select>
                                        </div>
                                        
                                        <div class="col-lg-12">
                                            <button class="btn btn-primary btn-sm" id="searchBtn"><i class="fa fa-filter"></i> &nbsp; Filter</button>
<!--                                            <button class="btn btn-danger btn-sm" id="clearbtn"><i class="fa fa-times"></i> &nbsp; Clear</button>-->
                                        </div>
                                    </div>
                                    <div class="pull-right" style="float: right">
                                        <button class="btn btn-info btn-sm" id="exportexport"> Export To Excel</button>
                                    </div>
                                </div>

                            <div class="table-responsive">
                                <br /><br/>
                                
                                <h:form>
                                <h:panelGroup id="messagePanel" layout="block">
                                    <!--<div class="card-block">-->
                                    <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                    <!--</div>-->
                                </h:panelGroup>
                                </h:form>
                                
                                <div class="col-lg-12">
                                    <table class="table table-bordered table-striped datatable">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>LIMIT TYPE</th>
                                                <th>CATEGORY</th>
                                                <th>DAILY LIMIT</th>
                                                <th>SINGLE TRANSACTION LIMIT</th>
                                                <th>DATE CREATED ON PRODUCT</th>
                                                <th>ADDED ON</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            <h:form prependId="false" id="btnform">
                <h:inputHidden id="pParam" binding="#{input1}" value="0" />
                <h:inputHidden id="pProduct" binding="#{inputP}" value="dan" />
                <h:commandButton style="display: none" action="#{merchantController.viewTransactions(input1.value, inputP.value)}" id="smtbtn" value="0" />
            </h:form>
            
            <div class="modal fade bd-example-modal" id="modalValues" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content row">
                        <div class="modal-header card-warning">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="myModalLabel">Merchant Information Preview</h6>
                        </div>
                        <div class="modal-body row" >
                            
                            <div class="col-lg-12" id="bodyPane">
                                <table class="table table-striped table-bordered" id="content-table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="dismiss" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <h:outputScript name="/js/util.js" />
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript>

                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }
            </h:outputScript>
            <h:outputScript>

                var ctx = "#{request.contextPath}";
                
                var searchstate = false;
                
                function getLimitsFromCore(){
                    
                    $.ajax({
                        url: ctx + "/api/config/fetchcorelimits",
                        beforeSend : function(){
                            showloader();
                         },
                         complete : function(){
                            hideloader();
                         }
                    }).done(function(data){
                        
                        if(data.responsecode === "00"){
                            
                            swal({
                                title: '<span style="font-size: 80%"></span>'
                                    , text: ''+data.description
                                    , type: 'success'
                                    , showCancelButton: false
                                    , confirmButtonText: 'OK'
                                    , closeOnConfirm: true
                                    , html: true
                                }, function (isConfirm) {
                                    window.location.reload(true);
                                }
                            );
                        }else
                            swal({
                                title: '<span style="font-size: 80%">Fetch Status</span>'
                                    , text: ''+data.description
                                    , type: 'error'
                                    , showCancelButton: false
                                    , confirmButtonText: 'OK'
                                    , closeOnConfirm: true
                                    , html: true
                                }, function (isConfirm) {
                                    window.location.reload(true);
                                }
                            );
                    })
                }

                function getMerchants(){
                    oTable = $('.datatable').dataTable({
                        serverSide: true,
                        "bSort": false, 
                        "aLengthMenu": [ [20, 50, 80, 100, 150, 200], [20, 50, 80, 100, 150, 200] ],
                         ajax: {
                             url: ctx + "/api/config/limits",
                             type: 'GET',
                             data :function(d){
                                d.product = $("#product").val();
                             },
                             beforeSend : function(){
                                showloader();
                             },
                             complete : function(){
                                hideloader();
                             }
                         },
                         fnDrawCallback : function(){
                         },
                         columns : [
                            { data : 'limitType'},
                            {data : "limitType",},
                            {data : "merchant"},
                            {data : "dailyTransactionLimit"},
                            {data : "singleTransactionLimit"},
                            {data : "limitCreatedOn"},
                            {data : "createdOn",
                                'render' : function(data, type, row){
                                    return moment(new Date(data)).format("DD/MM/YYYY HH:mm");
                                }
                            },
                            {data : "limitType", 
                                'render' : function(data, type, row){
                                
                                    var product = $("#product").val();
                                    return '';
                                }
                            }
                         ],
                         "rowCallback" : function(row, data, index){
                            
                            var setting = oTable.fnSettings();
                            var index = (setting._iDisplayStart + index + 1);
                            $("td:eq(0)", row).html(index);
                         }
                    });
                }
                    
                function getMerchantInfo(id, product){
                    $('#modalValues').modal('show');
                    getMerchantInformation(ctx, id, $("#product").val());
                }
                
                function getAllProducts(){

                    $.ajax({
                        url : ctx+"/api/product/list"
                    }).done(function(data){

                        var temp = "";
                        for(var d in data){
                            temp += "<option>"+data[d]+"</option>";
                        }

                        $("#product").html(temp);

                        getMerchants();
                    })
                }
                
                getAllProducts();
                
                $("#searchBtn").click(function(){
                    
                    oTable.fnDraw();
                })
                    
                $("#product").change(function(){
                    
                    if($(this).val().toLowerCase() === 'core'){
                        $(".core").hide();
                    }else
                        $(".core").show();
                })
                
                $("#clearbtn").click(function(){
                    
                });
                
                function callBean(id){
                    var sid = id;   

                    $("#pParam").val(""+sid);
                    
                    $("#pProduct").val(""+$("#product").val());
                    
                    
                    $("#smtbtn").click();
                }
                
            </h:outputScript>
        </ui:define>
        
    </ui:composition>
</html>

