<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Product</ui:define>
        <ui:define name="nav-title">New Product</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet>
                ul{
                    padding-left: 0;
                    list-style: none;
                }
                td {
                    padding-left : 4vh;
                }
                
                td label{
                    margin-left : 2vh;
                    font-size : 0.6em;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">Product Setup</h6></div>
                    <div class="card-block">
                        
                        <h:form id="create-form" prependId="false">
                            
                           <h:panelGroup id="messagePanel" layout="block">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="title" class="small">Product Name</h:outputLabel>
                                <h:inputText id="name" value="#{productController.product.name}" autocomplete="false" p:placeholder="name" required="true" requiredMessage="Product name is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="description" class="small">Description</h:outputLabel>
                                <h:inputTextarea id="description" value="#{productController.product.description}" p:placeholder="description" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <label class="small">Initiation Date</label>
                                <div class="input-group">
                                    <span class="input-group-addon small-font">
                                        <span class="icon-calendar5"></span>
                                    </span>    
                                    <h:inputText id="initiationDate" value="#{productController.product.initiationDate}" autocomplete="false" p:placeholder="e.g. pick launch date" class="form-control small-font-2 white-background">
                                        <f:converter converterId="dateConverter1" />
                                    </h:inputText>
                                </div>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small">Product Staging Url</h:outputLabel>
                                <h:inputText value="#{productController.product.stagingUrl}" p:placeholder="https://example.com" autocomplete="false" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <label class="small">Launch Date</label>
                                <div class="input-group">
                                    <span class="input-group-addon small-font">
                                        <span class="icon-calendar5"></span>
                                    </span>    
                                    <h:inputText id="fromDate" value="#{productController.product.launchDate}" p:placeholder="e.g. pick launch date" class="form-control small-font-2 white-background">
                                        <f:converter converterId="dateConverter1" />
                                    </h:inputText>
                                </div>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small">Product Live Url</h:outputLabel>
                                <h:inputText value="#{productController.product.liveUrl}" p:placeholder="https://example.com" autocomplete="false" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <div class="col-lg-12" style="margin-top: 4%">
                                <h:commandButton type="submit" action="#{productController.create}" onclick="showloader()" class="btn btn-outline-primary offset-lg-3 col-lg-6" value="Submit" />
                            </div>
                        </h:form>
                    </div>
                </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript>
                
                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }
                
                $("#fromDate, #initiationDate").pickadate();
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

