<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Product</ui:define>
        <ui:define name="nav-title">New Product</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet>
                ul{
                    padding-left: 0;
                    list-style: none;
                }
                td {
                    padding-left : 4vh;
                }
                
                td label{
                    margin-left : 2vh;
                    font-size : 0.6em;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <h:form id="create-form" prependId="false">
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    
                    <div class="card">
                        <div class="card-header no-bg b-a-0">
                            <h6 class="font-weight-bold">
                                Preview Product 

                                <h:commandButton class="btn btn-info pull-right btn-sm" style="margin-right: 1%; float: right" action="#{productController.prepareUpdate(productController.product.id)}" value="edit">
                                    <f:param name="editParam"  value="#{productController.product.id}" />
                                </h:commandButton>
                            </h6>
                        </div>
                    <div class="card-block">
                        
                        <table class="table table-striped responsive table-bordered dataex-select-initialization small-font">
                            <tbody>
                                <tr class="padding-0_5">
                                    <td class="font-weight-bold">Product Name</td>
                                    <td>#{productController.product.name}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Description</td>
                                    <td>#{productController.product.description}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Initiation Date</td>
                                    <td>
                                        <h:outputText id="initiationDate" value="#{productController.product.initiationDate}">
                                            <f:convertDateTime pattern = "dd MMM, yyyy" />
                                        </h:outputText>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Product Staging Url</td>
                                    <td>#{productController.product.stagingUrl}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Launch Date</td>
                                    <td>
                                        <h:outputText id="fromDate" value="#{productController.product.launchDate}">
                                            <f:convertDateTime pattern = "dd MMM, yyyy" />
                                        </h:outputText>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Product Live Url</td>
                                    <td>#{productController.product.liveUrl}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Date Added</td>
                                    <td>
                                        <h:outputText  value="#{productController.product.createdOn}">
                                            <f:convertDateTime pattern = "dd-MM-yyyy " />
                                        </h:outputText>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Added By</td>
                                    <td>
                                        <h:outputText  value="#{productController.product.createdBy.firstName} #{productController.product.createdBy.lastName}">
                                        </h:outputText>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Date Approved</td>
                                    <td>
                                        <h:outputText  value="#{productController.product.approvedOn}">
                                            <f:convertDateTime pattern = "dd-MM-yyyy " />
                                        </h:outputText>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Added By</td>
                                    <td>
                                        <h:outputText  value="#{productController.product.approvedBy.firstName} #{productController.product.approvedBy.lastName}">
                                        </h:outputText>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </h:panelGroup>
                    </h:form>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
        </ui:define>
    </ui:composition>
</html>

