<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Add ChargeBack | Flutter MS</ui:define>
        <ui:define name="nav-title">ChargeBack Creation</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/sweetalert.css" />
            <h:outputStylesheet>
                .table-responsive {
                    font-size :0.9em;
                }
                
                #content-table{
                    font-size: 0.70em;
                    width : 100%
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-6 offset-lg-3" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0 "><h6 class="font-weight-bold">Charge Back Creation</h6></div>
                        <div class="card-block">
                            <!--<p class="alert alert-info">Please fill in with necessary information to create a country.</p>-->
                            
                            <form id="create-form">
                                <div layout="block" class="form-group col-lg-12">
                                    <label for="email" class="small text-muted">Product</label>
                                    <select class="form-control form-control-sm" id="product" required="true">
                                    </select>
                                </div>
                                
                                <div layout="block" class="form-group col-lg-12">
                                    <label for="email" class="small text-muted">Flutterwave Reference / RRN</label>
                                    <input id="reference" placeholder="Flutterwave Reference / RRN" class="form-control form-control-sm" required="true" />
                                </div>
                                
                                <div class="form-group col-lg-12 m-1">
                                    <button class="btn btn-primary btn-outline-primary col-xs-6 offset-lg-3" type="submit" value="Submit">Submit</button>
                                </div>
                            </form>    
                                
                            <!--</h:form>-->
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            <div class="modal fade bd-example-modal" id="modalValues" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content row">
                        <div class="modal-header card-warning">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="myModalLabel">Transaction Information Preview</h6>
                        </div>
                        <div class="modal-body row" >
                            
                            <div class="col-lg-12" id="bodyPane">
                                <table class="table table-striped table-bordered" id="content-table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" id="dismiss" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success btn-secondary btn-sm" id="logchargeback">Log Charge back</button>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <!-- This is a pick a date section -->
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/transaction.js" />
            <h:outputScript name="/js/util.js" />
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript>

                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }
            </h:outputScript>
            <h:outputScript>

                var ctx = "#{request.contextPath}";
                
                var searchstate = false;
                    
                function getAllProducts(){

                    $.ajax({
                        url : ctx+"/api/product/list"
                    }).done(function(data){

                        var temp = "";
                        for(var d in data){
                            temp += "<option>"+data[d]+"</option>";
                        }

                        $("#product").html(temp);
                        
                    });
                }
                
                getAllProducts();
               
                $("#create-form").submit(function(event){
                    event.preventDefault();
                    
                    var product = $("#product").val();
                    var reference = $("#reference").val();
                    
                    //$('#modalValues').modal('show');
                    
                    getFlwTransaction(product, reference);
                });
                
                $("#logchargeback").click(function(){
                    
                    swal({
                    title: '<small>Charge Back Confirmation</small>'
                        , text: 'Are you sure you want to log charge for this transaction <b>'+$("#reference").val()+'</b> ?'
                        , type: 'warning'
                        ,animation: "slide-from-top"
                        , showCancelButton: true
                        , cancelButtonText: 'Cancel'
                        , closeOnConfirm: false
                        , confirmButtonText: 'OK'
                        , showLoaderOnConfirm: true
                        , html : true
                    }, function (isConfirm) {
                        
                        if(isConfirm === true || isConfirm === 'true'){
                            
                            $.ajax({
                                url: ctx + "/api/chargeback/log",
                                type: 'POST',
                                data : JSON.stringify({
                                    "reference" : $("#reference").val(),
                                    "product" : $("#product").val()
                                }),
                                contentType : "application/json"
                            }).done(function( data ){

                                var statusCode = data['responsecode'];

                                if(statusCode === "00" || statusCode == "00"){
                                    swal({
                                    title: '<span style="font-size: 80%">Charge Back Logged successfully</span>'
                                        , text: ''
                                        , type: 'success'
                                        , showCancelButton: false
                                        , confirmButtonText: 'OK'
                                        , closeOnConfirm: true
                                        , html: true
                                    }, function (isConfirm) {
                                        window.location.reload(true);
                                    });
                                }else
                                    swal('Authorization Failed', ''+data['responsemessage'], 'error');
                            }).fail(function(){
                                swal('Authorization Failed', '', 'error');
                            })
                        }
                    });
                })
                
                
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

