<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Charge Back | Flutter MS</ui:define>
        <ui:define name="nav-title">All Charge Backs</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/sweetalert.css" />
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
            <h:outputStylesheet>
                
                table{
                    font-size: 0.70em;
                    width : 100%
                }
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    text-align:center;
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                .fixed-size {
                    table-layout: fixed;
                    word-wrap: break-word;
                }
                
                .small-select{
                    font-size : 80% !important;
                    height : 1.8125rem;
                }
            </h:outputStylesheet>
        </ui:define>   
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">
                    <div class="card">
                        <div class="card-header no-bg b-a-0">All Charge Back</div>
                        
                        <div class="card-block">
                            
                            <div class="row">
                                <div class="col-xl-4 col-lg-6 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <div class="media">
                                                    <div class="media-body text-xs-left">
                                                        <h3 class="blue" id="totalcb">0</h3>
                                                        <span class="text-muted">Total Charge Backs</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <div class="media">
                                                    <div class="media-body text-xs-left">
                                                        <h3 class="teal" id="processedcb">0</h3>
                                                        <span class="text-muted">Processed Charge Backs</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <div class="media">
                                                    <div class="media-body text-xs-left">
                                                        <h3 class="teal" id="monthcb">0</h3>
                                                        <span class="text-muted">Charge Backs in <span id="monthname"></span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!--                                <div class="col-xl-3 col-lg-6 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <div class="media">
                                                    <div class="media-body text-xs-left">
                                                        <h3 class="cyan" id="merchantcb">0</h3>
                                                        <span>Total Merchant</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                            
                            <div class="table-responsive">
                                <!--<h:link outcome="/chargeback/create" style="float: right" class="btn btn-primary btn-sm m-r-xs pull-right" value="Add Charge Back" />-->
                                
                                <!--<h:link outcome="/chargeback/create" class="btn btn-danger btn-sm m-r-xs pull-right" style="margin-right: 2%" value="View All" />-->
                                
                                <div class="">
                                    <div class="card panel panel-default m-b-xs">
                                        <div class="card-header panel-heading alert-info alert-inverse" role="tab" id="headingOne" style="padding: 0.5em">
                                            <h6 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="icon-filter"></i>&nbsp; Filter</a></h6></div>
                                            <div id="collapseOne" class="card-block panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

                                                <div>
                                                    <div layout="block" class="form-group col-lg-3">
                                                        <label for="email" class="small text-muted">Transaction Date Range</label>
                                                        <div class='input-group'>
                                                            <input class="form-control form-control-sm" id="dateRange" />
                                                            <span class="input-group-addon form-control-sm">
                                                                    <span class="icon-calendar3"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div layout="block" class="form-group col-lg-3" >
                                                        <label for="email" class="small text-muted">Currency</label>
                                                        <h:form prependId="false">
                                                        <h:selectOneMenu class="form-control form-control-sm small-select" id="currency">
                                                            <f:selectItem itemLabel="NGN" itemValue="NGN" />
                                                            <f:selectItem itemLabel="GHS" itemValue="GHS" />
                                                            <f:selectItem itemLabel="KES" itemValue="KES" />
                                                            <f:selectItem itemLabel="USD" itemValue="USD" />
                                                            <f:selectItem itemLabel="GBP" itemValue="GBP" />
                                                        </h:selectOneMenu>
                                                        </h:form>
                                                    </div>
                                                    <div class="form-group col-lg-3" style="">
                                                        <label class="text-muted">&nbsp;</label>
                                                        <div>
                                                            <button class="btn btn-primary btn-sm col-lg-5" style="margin-right: 2% " id="searchBtn"><i class="fa fa-filter"></i> &nbsp; Filter &nbsp;</button> &nbsp;
                                                            <button class="btn btn-danger  btn-sm col-lg-5" id="clearbtn"><i class="fa fa-times"></i> &nbsp; Clear &nbsp;</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pull-right" style="float: right">
                                                <button class="btn btn-info btn-sm" id="exportexport"> Export To Excel</button>
                                            </div>
                                        </div>
                                </div>
                                <br /><br/>
                                <div class="table-responsive">
                                <br /><br/>
                                <div class="col-lg-12">
                                    <table class="table table-bordered table-striped datatable" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>PRODUCT</th>
                                                <th>MERCHANT ID</th>
                                                <th>AMOUNT</th>
                                                <th>CURRENCY</th>
                                                <th>FLW REFERENCE</th>
                                                <th>RRN</th>
                                                <th>CREATED ON</th>
                                                <th>CREATED BY</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
             <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <!-- This is a pick a date section -->
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript name="/js/jsutil.js" />
            <h:outputScript>
                
                $("#loading-mask").hide();

                function showloader (){
                    $("#loading-mask").show();   
                }

                function hideloader(){
                    $("#loading-mask").hide();   
                }
                
                var ctx = "#{request.contextPath}";
                
                $("#dateRange").daterangepicker({
                    autoUpdateInput: false,
                    locale : {
                        format : "DD/MM/YYYY",
                        cancelLabel: 'Clear'
                    },
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                     },
                });
                
                $('#dateRange').on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
                });

                $('#dateRange').on('cancel.daterangepicker', function(ev, picker) {
                    $(this).val('');
                });
                
                var currency = "";
               
               getSummary();
               
               function getChargeBacks(){
                
                    var product = $("#product").val();
                    
                    oTable = $('.datatable').dataTable({
                        serverSide: true,
                        "bSort": false, 
                        "aLengthMenu": [ [20, 50, 80, 100, 150, 200], [20, 50, 80, 100, 150, 200] ],
                         ajax: {
                             url: ctx + "/api/chargeback/clist",
                             type: 'GET',
                             data :function(d){
                                d.range = $("#daterange").val();
                                d.currency = $("#currency").val();
                             },
                             beforeSend : function(){
                                showloader();
                             },
                             complete : function(){
                                hideloader();
                             }
                         },
                         fnDrawCallback : function(){
                         },
                         columns : [
                            { data : 'id'},
                            {data : "product"},
                            {data : "merchantId"},
                            {data : "amount", 
                                'render' : function(data, type, row){
                                    return parseFloat(data).toLocaleString();
                                }
                            },
                            {data : "currency"},
                            {data : "flwReference", 
                                "render" : function(data, type, row){
                                    if (data !== null || data !== undefined)
                                        return (data+"").substring(0, 25);
                                    
                                    return "";
                                }
                            },
                            {data : "rrn"},
                            {data : "createdOn",
                                'render' : function(data, type, row){
                                    return moment(new Date(data)).format("DD/MM/YYYY hh:mm A");
                                }
                            },
                            {data : "createdBy"},
                            {data : "id", 
                                'render' : function(data, type, row){
                                    return '';
                                }
                            }
                         ],
                         "rowCallback" : function(row, data, index){
                            
                            var setting = oTable.fnSettings();
                            var index = (setting._iDisplayStart + index + 1);
                            $("td:eq(0)", row).html(index);
                         }
                    });
                }
                
                $("#searchBtn").click(function(){
                    
                    oTable.fnDraw();
                    
                    getSummary();
                })
                    
                
                $("#clearbtn").click(function(){
                    
                    window.location.reload();
                });
               
                getChargeBacks();
                
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

