<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Upload Charge Back | Flutter MS</ui:define>
        <ui:define name="nav-title">Charge Back Creation</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/sweetalert.css" />
            <h:outputStylesheet>
                .table-responsive {
                    font-size :0.9em;
                }
                
                #content-table{
                    font-size: 0.70em;
                    width : 100%
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0 "><h6 class="font-weight-bold">Charge Back Upload</h6></div>
                        <div class="card-block">
                            <p class="alert alert-info">Please fill in with necessary information to upload chargeback.</p>
                            
                            <br />
                            <form id="uploadform" enctype="multipart/form-data">
<!--                                <div layout="block" class="form-group col-lg-12">
                                    <label for="email" class="small text-muted">Select Transaction Range</label>
                                    <div class='input-group'>
                                        <input class="form-control form-control-sm" id="daterange" />
                                        <span class="input-group-addon form-control-sm">
                                                <span class="icon-calendar3"></span>
                                        </span>
                                    </div>
                                </div>-->
                                
                                <h:panelGroup layout="block" class="form-group">
                                    <label for="title" class="small text-muted">Select CSV File</label>
                                    <input type="file" id="file" name="file" required="true" requiredMessage="File is required" class="form-control small-font" />
                                    <small class="text-muted">File must be in .csv (Format: <strong> product name, reference/rrn</strong>)</small>
                                </h:panelGroup>
                                <br />
                                <input type="submit" onclick="showloader();" class="btn btn-primary btn-outline-primary offset-lg-3 col-lg-6" value="Submit" />
                            </form>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            
            <div class="modal fade bd-example-modal" id="modalValues" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content row">
                        <div class="modal-header card-warning">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="myModalLabel">Preview Transactions</h6>
                        </div>
                        <div class="modal-body row" >
                            
                            <div class="col-lg-12" id="bodyPane">
                                
                                <table class="table table-striped table-bordered" id="content-table">
                                    <thead>
                                        <tr>
                                            <th>Provider</th>
                                            <th>RRN</th>
                                            <th>Merchant Id</th>
                                            <th>Amount</th>
                                            <th>Currency</th>
                                            <th>Auth Model</th>
                                            <th>Date</th>
                                            <th>Card Mask</th>
                                            <th>Card Country</th>
                                            <th>Response Message</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        
                                    </tbody>
                                </table>
                                
                                <div class="" id="not-found-pane" >
                                    <p>The following are not found</p>
                                    <p id="not-found">
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" id="dismiss" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success btn-secondary btn-sm" id="logchargeback">Log Charge back</button>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/sweetalert.min.js" />
            <script>
                
                var ctx = "#{request.contextPath}";
                
                $("#loading-mask").hide();

                function showloader (){
                    $("#loading-mask").show();   
                }

                function hideloader(){
                    $("#loading-mask").hide();   
                }
                
                var foundCount = 0;
                var found = "";
                
                $("form#uploadform").submit(function(event){
                    event.preventDefault();
                    
                    var formData = new FormData(this);
                    $("#not-found-pane").hide();
                    
                    $.ajax({
                        url: ctx + "/api/chargeback/upload",
                        type: 'POST',
                        data : formData,
                        async: true,
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend : function(){
                        
                            showloader();
                        },
                        complete: function(){
                            hideloader();
                        },
                        success : function(data){
                                                  
                            var responseCode = data.responsecode;
                            
                            if(responseCode !== '00'){
                                swal('Upload Failed', ''+data['responsemessage'], 'error');
                                return;
                            }
                            
                            $("#modalValues").modal('show');
                            
                            var transactions = data.transactions;
                            
                            var tBody = "";    
                            for(var d in transactions){
                                
                                var row = "<tr>";
                                row += "<td>"+transactions[d].provider+"</td>";
                                row += "<td>"+transactions[d].rrn+"</td>";
                                row += "<td>"+transactions[d].merchantId+"</td>";
                                row += "<td>"+(transactions[d].amount).toLocaleString()+"</td>";
                                row += "<td>"+transactions[d].transactionCurrency+"</td>";
                                row += "<td>"+transactions[d].authenticationModel+"</td>";
                                row += "<td>"+transactions[d].datetime+"</td>";
                                row += "<td>"+transactions[d].cardMask+"</td>";
                                row += "<td>"+transactions[d].cardCountry+"</td>";
                                row += "<td>"+transactions[d].responseMessage+"</td>";
                                row += "</tr>";
                                
                                tBody += row;
                            }
                            
                            $("#tbody").html(tBody);
                            
                            var noFound = data.notfound;
                            
                            found = data.found;
                            
                            if(noFound.length !== 0 ){
                                
                                var tempD = "<ul>";
                                
                                for(var d in noFound){
                                    tempD += "<li>"+noFound[d]+"</li>";
                                }
                                
                                tempD += "</ul>";
                                
                                $("#not-found").html(tempD);
                                
                                $("#not-found-pane").show();
                            }
                            
                        }
                    });
                    
                    return false;
                });
                
                $("#logchargeback").click(function(){
                    
                    swal({
                    title: '<small>Charge Back Confirmation</small>'
                        , text: 'Are you sure you want to log charge back for these transaction ?'
                        , type: 'warning'
                        ,animation: "slide-from-top"
                        , showCancelButton: true
                        , cancelButtonText: 'Cancel'
                        , closeOnConfirm: false
                        , confirmButtonText: 'OK'
                        , showLoaderOnConfirm: true
                        , html : true
                    }, function (isConfirm) {
                        
                        if(isConfirm === true || isConfirm === 'true'){
                            
                            $.ajax({
                                url: ctx + "/api/chargeback/logmulti",
                                type: 'POST',
                                data : JSON.stringify({
                                    "reference" : found,
                                    "product" : "any"
                                }),
                                contentType : "application/json"
                            }).done(function( data ){

                                var statusCode = data['responsecode'];

                                if(statusCode === "00" || statusCode === "00"){
                                    swal({
                                    title: '<span style="font-size: 70%; font-weight:400">('+ data.total +') Charge Back Logged successfully, ('+ data.duplicate +') Duplicate(s) found</span>'
                                        , text: ''
                                        , type: 'success'
                                        , showCancelButton: false
                                        , confirmButtonText: 'OK'
                                        , closeOnConfirm: true
                                        , html: true
                                    }, function (isConfirm) {
                                        window.location.reload(true);
                                    });
                                }else
                                    swal('ChargeBack Failed', ''+data['responsemessage'], 'error');
                            }).fail(function(){
                                swal('ChargeBack Failed', '', 'error');
                            });
                        }
                    });
                });
                
                
            </script>
        </ui:define>
    </ui:composition>
</html>

