<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Country | Flutter MS</ui:define>
        <ui:define name="nav-title">Country Update</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet>
                td {
                    padding-left : 2vh;
                }
                
                td label{
                    margin-left : 2vh;
                }
                
                ul{
                    list-style : none;
                    padding-left : 0;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 3%;">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">Country Update</h6></div>
                        <div class="card-block">
                            <p>Please fill in with necessary information to update this country.</p>
                            <h:panelGroup id="messagePanel" layout="block">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
                            <h:form id="create-form">
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="title small">Country Name</h:outputLabel>
                                    <h:inputText id="title" value="#{countryController.selected.name}" required="true" requiredMessage="Country title is required" class="form-control" />
                                    <!--<small class="text-muted">This is the title of the country</small>-->
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="description small">Country Short Name</h:outputLabel>
                                    <h:inputText id="description" value="#{countryController.selected.shortName}" class="form-control" />
                                    <!--<small class="text-muted">This is the short name</small>-->
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="title" class="small text-muted">Base Currency</h:outputLabel>
                                    <h:selectOneMenu value="#{countryController.selected.currency}" required="true" requiredMessage="Currency must be slected" class="form-control small-font">
                                        <f:selectItems value="#{currencyController.allCurrencies}" var="product" itemLabel="#{product.name}" itemValue="#{product}" />
                                        <f:converter converterId="currencyConverter" />
                                    </h:selectOneMenu>
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="created small">Date Created</h:outputLabel>
                                    <h:outputLabel id="created" value="#{countryController.selected.createdOn}" class="form-control" />
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="created small">Created By</h:outputLabel>
                                    <h:outputLabel value="#{countryController.selected.createdBy.firstName} #{countryController.selected.createdBy.lastName}" class="form-control" />
                                </h:panelGroup>
                                
<!--                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="created">Enabled</h:outputLabel>
                                    <h:selectBooleanCheckbox class="form-control" value="#{countryController.selected.enabled}" />
                                </h:panelGroup>-->
                                
                                <h:commandButton type="submit" action="#{countryController.update}" class="btn btn-primary" value="Submit" />
                            </h:form>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </ui:define>
    </ui:composition>
</html>

