<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Permissions</ui:define>
        <ui:define name="nav-title">Create Permission</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet>
                ul{
                    padding-left: 0;
                    list-style: none;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-6 offset-lg-3" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">Permission Setup</h6></div>
                    <div class="card-block">
                        
                        <h:panelGroup id="messagePanel" layout="block">
                            <!--<div class="card-block">-->
                            <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                            <!--</div>-->
                        </h:panelGroup>
                        <h:form id="create-form">
                            <h:panelGroup layout="block" class="form-group">
                                <h:outputLabel for="title" class="small">Permission Name</h:outputLabel>
                                <h:inputText id="title" value="#{permissionController.permission.name}" p:placeholder="permission name" required="true" requiredMessage="Permission name is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group">
                                <h:outputLabel for="description" class="small">Description</h:outputLabel>
                            <h:inputTextarea id="description" value="#{permissionController.permission.description}" p:placeholder="description" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <br />
                            <h:commandButton type="submit" action="#{permissionController.create}" class="btn btn-outline-primary col-lg-12" value="Submit" />
                        </h:form>
                    </div>
                </div>
                </h:panelGroup>
            </div>
        </ui:define>
    </ui:composition>
</html>

