<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Permissions </ui:define>
        <ui:define name="nav-title">All Permissions</ui:define>
        <ui:define name="styles">
            <!--<h:outputStylesheet name="/css/daterangepicker.css" />-->
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            
            <h:outputStylesheet>
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">

                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Permission</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-block">
                            <c:if test="#{userController.hasRole('CREATE_PERMISSION')}">
                                <h:link outcome="/permission/create" class="btn btn-primary btn-sm m-r-xs pull-right" value="Add Permission" />
                            </c:if>
                            <div class="table-responsive">
                                <br /><br/>
                                <div class="col-lg-12">
                                    <!--<div class="card-block">-->
                                        <table class="table table-bordered table-striped datatable">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>NAME</th>
                                                    <th>DESCRIPTION</th>
                                                    <th>CREATED ON</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <h:outputScript>

                var ctx = "#{request.contextPath}";
                
                var searchstate = false;
                
                oTable = $('.datatable').dataTable({
                        serverSide: true,
                        "bSort": false, 
                        "aLengthMenu": [ [20, 50, 80, 100, 150, 200], [20, 50, 80, 100, 150, 200] ],
                         ajax: {
                             url: ctx + "/api/permissions",
                             type: 'GET',
                             data :function(d){
                             },
                             beforeSend : function(){
                             }
                         },
                         fnDrawCallback : function(){
                         },
                         columns : [
                            {data : "id"},
                            {data : "name",
                                'render' : function(data, type, row){
                                    return data.replace("_", " ");
                                }
                            },
                            {data : "description"},
                            {data : "created",
                                'render' : function(data, type, row){
                                    return moment(new Date(data)).format("DD/MM/YYYY HH:mm");
                                }
                            }
                         ],
                         "rowCallback" : function(row, data, index){
                            
                            var setting = oTable.fnSettings();
                            var index = (setting._iDisplayStart + index + 1);
                            $("td:eq(0)", row).html(index);
                         }
                    });
                    
                    
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

