<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Currency | Flutter MS</ui:define>
        <ui:define name="nav-title">Currency Setup</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet>
                ul{
                    padding-left: 0;
                    list-style: none;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <f:metadata>
                            <f:viewAction action="#{posController.prepareCreateProvider()}" />
                        </f:metadata>
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">New POS Provider</h6></div>
                    <div class="card-block">
                        <!--<p class="alert alert-info">Please fill in with necessary information to set up a currency</p>-->
                        <h:panelGroup id="messagePanel" layout="block">
                            <!--<div class="card-block">-->
                            <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                            <!--</div>-->
                        </h:panelGroup>
                        <h:form id="create-form">
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                                <h:outputLabel for="title" class="small text-muted">Provider Name</h:outputLabel>
                                <h:inputText id="title" value="#{posController.posProviderViewModel.name}" p:placeholder="Provider Name" required="true" requiredMessage="Name is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                            <h:outputLabel for="alias" class="small text-muted">Provider Short Name</h:outputLabel>
                            <h:inputText id="alias" value="#{posController.posProviderViewModel.shortName}" p:placeholder="Alias or Short name" class="form-control small-font" required="true" requiredMessage="Short Name or Alias is required"/>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                            <h:outputLabel for="phone" class="small text-muted">Provider Phone</h:outputLabel>
                            <h:inputText id="phone" value="#{posController.posProviderViewModel.phone}" p:placeholder="Phone" class="form-control small-font" />
                            </h:panelGroup>
                            
                                                        
                            <h:panelGroup layout="block" class="form-group col-lg-12">
                            <h:outputLabel for="address" class="small text-muted">Provider Address</h:outputLabel>
                            <h:inputTextarea id="address" value="#{posController.posProviderViewModel.phone}" p:placeholder="Address" class="form-control small-font" />
                            </h:panelGroup>

                            
                            <div class="col-lg-12" style="margin-top: 4%">
                                <h:commandButton type="submit" action="#{posController.createProvider}" onclick="showloader();" class="btn btn-primary btn-outline-primary offset-lg-3 col-lg-6" value="Submit" />
                            </div>
                        </h:form>
                    </div>
                </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript>

                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

