<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Role</ui:define>
        <ui:define name="nav-title">Update Role</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet>
                ul{
                    padding-left: 0;
                    list-style: none;
                }
                td {
                    padding-left : 4vh;
                }
                
                td label{
                    margin-left : 2vh;
                    font-size : 0.6em;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-6 offset-lg-3" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">Role Update</h6></div>
                        <div class="card-block">
                            <h:panelGroup id="messagePanel" layout="block">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
                            <h:form id="create-form">

                                <h:inputHidden value="#{roleController.currentRole.id}" />
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="title" class="small">Role Name</h:outputLabel>
                                    <h:inputText id="name" value="#{roleController.currentRole.name}" p:placeholder="name" required="true" requiredMessage="Role name is required" class="form-control small-font" />
                                    <small class="text-muted">This is the name of the role</small>
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="description" class="">Description</h:outputLabel>
                                <h:inputTextarea id="description" value="#{roleController.currentRole.description}" p:placeholder="description" class="form-control small-font" />
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="description" class="small">Select Permissions</h:outputLabel>
                                    <h:selectManyCheckbox layout="pageDirection" class="form-control" id="permissions" immediate="true" value="#{roleController.currentRole.permissions}">
                                        <f:selectItems value="#{permissionController.allPermissions}" var="country" itemLabel="#{country.name.replaceAll('_', ' ' )}" itemValue="#{country}" />
                                        <f:converter converterId="permissionConverter" />
                                    </h:selectManyCheckbox>
                                </h:panelGroup>

                                <h:commandButton type="submit" action="#{roleController.update}" class="btn btn-outline-primary col-lg-6 offset-lg-3" value="Submit" />
                            </h:form>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </ui:define>
    </ui:composition>
</html>

