<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Role</ui:define>
        <ui:define name="nav-title">Role</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet>
                ul{
                    padding-left: 0;
                    list-style: none;
                }
                td {
                    padding-left : 4vh;
                }
                
                td label{
                    margin-left : 2vh;
                    font-size : 0.6em;
                }
                
                table{
                    font-size : 0.7em;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <h:form id="create-form">
                <h:panelGroup layout="block" class="col-lg-6 offset-lg-3" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">
                                Role Preview
                                <f:metadata>
                                    <f:viewParam name="roleId" value="#{roleController.currentRole.id}" />
                                </f:metadata>
                                <h:commandButton class="btn btn-info pull-right btn-sm" style="margin-right: 1%; float: right" action="#{roleController.prepareUpdate()}" value="edit">
                                    <f:param name="editParam"  value="#{roleController.currentRole.id}" />
                                </h:commandButton>
                            </h6>
                        </div>
                    <div class="card-block">
                        <!--<p>Please fill in with necessary information to set up a Role</p>-->
                        <h:panelGroup id="messagePanel" layout="block">
                            <!--<div class="card-block">-->
                            <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                            <!--</div>-->
                        </h:panelGroup>
                            <h:panelGroup layout="block" class="form-group">
                                <h:outputLabel for="title" class="small">Role Name</h:outputLabel>
                                <h:outputText id="name" value="#{roleController.currentRole.name}" p:placeholder="name" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group">
                                <h:outputLabel for="description " class="small">Description</h:outputLabel>
                                <h:outputText id="description" value="#{roleController.currentRole.description}" p:placeholder="description" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group">
                                <h:outputLabel for="created" class="small">Date Created</h:outputLabel>
                                <h:outputLabel value="#{roleController.currentRole.createdOn}" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group">
                                <h:outputLabel for="permissions" class="small">Permissions</h:outputLabel>
                                <h:dataTable value="#{roleController.currentRole.permissions}" var="item" class="table table-bordered table-striped m-b-0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all">
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="ID"/>
                                        </f:facet>
                                        <h:outputText value="#{item.id}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Permission Name"/>
                                        </f:facet>
                                        <h:outputText value="#{item.name.replaceAll('_', ' ')}"/>
                                    </h:column>
                                </h:dataTable>
                            </h:panelGroup>
                        
                    </div>
                </div>
                </h:panelGroup>
                    </h:form>
            </div>
        </ui:define>
    </ui:composition>
</html>

