<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Merchant | Flutter MS</ui:define>
        <ui:define name="nav-title">Merchant Setup</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet>
                ul{
                    padding-left: 0;
                    list-style: none;
                }
                td {
                    padding-left : 4vh;
                }
                
                td label{
                    margin-left : 2vh;
                    font-size : 0.6em;
                }
                
                select {
                    height : 2.5em;
                }
                
                input:not([type=submit]){
                    height : 2.5em;
                    padding: 0.8em;
                    padding-top: 0.4em;
                    font-size: 0.8em;
                }
                
                .ui-menu-item-wrapper{
                    font-size: 0.8em;
                }
                
                input::-webkit-contacts-auto-fill-button {
                    visibility: hidden !important;
                    display: none !important;
                    pointer-events: none;
                    position: absolute !important;
                    top: 0 !important;
                    right: -4 !important;
                  }
                input:focus::-webkit-contacts-auto-fill-button{
                    opacity: 0;
                }  
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">Merchant Setup</h6></div>
                    <div class="card-block">
                        <!--<p class="alert alert-info">Please fill in with necessary information to set up a currency</p>-->
                        <h:panelGroup id="messagePanel" layout="block">
                            <!--<div class="card-block">-->
                            <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                            <!--</div>-->
                        </h:panelGroup>
                        <h:form id="create-form" prependId="false">
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Product Name</h:outputLabel>
                                <h:selectOneMenu value="#{merchantController.merchant.product}" required="true" requiredMessage="Product must be slected" id="product" class="form-control small-font">
                                    <f:selectItems value="#{productController.allProducts}" var="product" itemLabel="#{product.name}" itemValue="#{product}" />
                                    <f:converter converterId="productConverter" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group rave col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Registration Number</h:outputLabel>
                                <h:inputText value="#{merchantController.merchant.rcNumber}" autocomplete="false" p:placeholder="RC Number" required="true" requiredMessage="RC number is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group rave col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">First Name</h:outputLabel>
                                <h:inputText value="#{merchantController.merchant.firstName}" autocomplete="false" p:placeholder="First name" required="true" requiredMessage="First name is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group rave col-lg-6" >
                                <h:outputLabel class="small text-muted">Last Name</h:outputLabel>
                                <h:inputText value="#{merchantController.merchant.lastName}" autocomplete="false" p:placeholder="Last name" required="true" requiredMessage="Last Name  is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group rave col-lg-6" >
                                <h:outputLabel class="small text-muted">Email Name</h:outputLabel>
                                <h:inputText value="#{merchantController.merchant.email}" autocomplete="false" p:placeholder="Email Address" p:type="email" required="true" requiredMessage="Email is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel class="small text-muted">Merchant Name / Business Name</h:outputLabel>
                                <h:inputText value="#{merchantController.merchant.companyName}" autocomplete="false" p:placeholder=" Merchant/ Business" required="true" requiredMessage="Merchant name is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group rave col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Account Number</h:outputLabel>
                                <h:inputText value="#{merchantController.merchant.accountNo}" autocomplete="false" p:placeholder="Account Number " required="true" requiredMessage="Account No is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group rave col-lg-6">
                                <h:outputLabel class="small text-muted">Contact Person</h:outputLabel>
                                <h:inputText value="#{merchantController.merchant.contactPerson}" autocomplete="false" p:placeholder=" Contact Person" required="true" requiredMessage="Merchant name is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group rave col-lg-4">
                                <h:outputLabel class="small text-muted">Phone Number</h:outputLabel>
                                <h:inputText value="#{merchantController.merchant.phone}" autocomplete="false" p:placeholder=" Phone Number" required="true" requiredMessage="Merchant Phone is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group rave col-lg-4">
                                <h:outputLabel class="small text-muted">Country </h:outputLabel>
                                <h:selectOneMenu value="#{merchantController.merchant.country}" required="true" requiredMessage="Country must be slected" class="form-control small-font">
                                    <f:selectItems value="#{countryController.allCountry}" var="product" itemLabel="#{product.name}" itemValue="#{product}" />
                                    <f:converter converterId="countryConverter" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group rave col-lg-4">
                                <h:outputLabel for="title" class="small text-muted">Sector </h:outputLabel>
                                <h:selectOneMenu value="#{merchantController.merchant.sector}" required="true" requiredMessage="Sector must be selected" class="form-control small-font">
                                    <f:selectItems value="#{sectorController.allSectors}" var="sector" itemLabel="#{sector.name}" itemValue="#{sector}" />
                                    <f:converter converterId="sectorConverter" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group rave col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Currency </h:outputLabel>
                                <h:selectOneMenu value="#{merchantController.merchant.currency}" required="true" requiredMessage="Currency must be slected" class="form-control small-font">
                                    <f:selectItems value="#{currencyController.allCurrencies}" var="product" itemLabel="#{product.name}" itemValue="#{product}" />
                                    <f:converter converterId="currencyConverter" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            
                            <h:panelGroup layout="block" class="form-group rave col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Bank </h:outputLabel>
                                <h:selectOneMenu value="#{merchantController.merchant.bank}" required="true" requiredMessage="Bank must be slected" class="form-control small-font">
                                    <f:selectItems value="#{bankController.allBank}" var="product" itemLabel="#{product.name}" itemValue="#{product.code}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group rave col-lg-12">
                                <h:outputLabel  class="small text-muted">Address Line 1</h:outputLabel>
                                <h:inputTextarea value="#{merchantController.merchant.addressLine1}" p:placeholder=" Address Line 1" required="true" requiredMessage="Merchant Address Line is required" class="form-control small-font" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group rave col-lg-12">
                                <h:outputLabel  class="small text-muted">Address Line 2</h:outputLabel>
                                <h:inputTextarea  value="#{merchantController.merchant.addressLine2}" p:placeholder=" Address Line 2" required="true" requiredMessage="Merchant Address Line 2 is required" class="form-control small-font" />
                            </h:panelGroup>

                            
                            <div class="col-lg-12" style="margin-top: 4%">
                                <h:commandButton type="submit" action="#{merchantController.create}" class="btn btn-primary btn-outline-primary offset-lg-3 col-lg-6" value="Submit" />
                            </div>
                        </h:form>
                    </div>
                </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript>
                
                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }
                
                function adjustProduct(value){
                    
                    if(value.toLowerCase() === 'rave'){
                        $(".rave").show();
                    }else if(value.toLowerCase() === 'moneywave'){
                        $(".rave").hide();
                    }
                }
                
                $("#product").change(function(){
                    
                    //adjustProduct($("#product option:selected").text());
                    //alert($("#product option:selected").text());
                })
                
                //adjustProduct($("#product option:selected").text());
                
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

