<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Merchant Summary</ui:define>
        <ui:define name="nav-title">Merchant Summary Dashboard</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
            
            <h:outputStylesheet>
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                #content-table{
                    font-size: 0.70em;
                    width : 100%
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">

                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Merchant Summary</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block">
                            <div class="row">
                                
                                <div class="pull-right font-medium-4 col-md-5 blue" style="float: left;">
                                    Wallet Balance <span id="balance">0.0</span>
                                </div>

                                <div class="form-group col-lg-1 pull-right" style="float: right">
                                    <button class="btn btn-primary btn-sm pull-right col-md-12" style="float: right" id="fbtn"><i class="fa fa-filter"></i> &nbsp; Filter</button>
                                </div>
                                <div class="form-group col-lg-2 pull-right" style="float: right">
                                    <select  id="currencylist" class="form-control form-control-sm">   
                                        <option>NGN</option>
                                        <option>GHS</option>
                                        <option>KES</option>
                                        <option>GBP</option>
                                        <option>USD</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-3 pull-right" style="float: right">
                                    <input class="form-control form-control-sm" id="dateinterval" />
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-xl-3 col-lg-6 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <div class="media">
                                                    <div class="media-body text-xs-left">
                                                        <h3 class="teal" id="totalTransaction">0</h3>
                                                        <span class="text-muted">Total Value</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <div class="media">
                                                    <div class="media-body text-xs-left">
                                                        <h3 class="blue" id="totalSettled">0</h3>
                                                        <span class="text-muted">Total Settled</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <div class="media">
                                                    <div class="media-body text-xs-left">
                                                        <h3 class="blue" id="totalrf">0</h3>
                                                        <span class="text-muted">Total Refunds</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <div class="media">
                                                    <div class="media-body text-xs-left">
                                                        <h3 class="teal" id="totalcb">0</h3>
                                                        <span class="text-muted">Total Charge Back</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
                
                <div class="match-height">
                <div class="col-xl-12 col-lg-12 col-xs-12" id="trend-pane">
                    <div class="card" style="height: 450px;">
                        <div class="card-body">
                            <ul class="list-inline text-xs-center pt-2 m-0">
                                <li class="mr-1">
                                    <h6><i class="icon-circle warning"></i> <span class="grey darken-1">Transaction Trend</span></h6>
                                </li>
                            </ul>
                            <div class="chartjs height-250" id="chartjsgraph" style="height: 500px;">
                                <canvas id="d-graph" height="500" width="1500" style="display: block; width: 100%; height: 250px;"></canvas>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-xs-3 text-xs-center">
                                    <span class="text-muted small">Total Value</span>
                                    <h6 class="block font-weight-normal" id="totalvalue">0</h6>
                                    <!--<progress class="progress progress-xs mt-2 progress-success" value="70" max="100"></progress>-->
                                </div>
                                <div class="col-xs-3 text-xs-center">
                                    <span class="text-muted small">Total Volume</span>
                                    <h6 class="block font-weight-normal" id="totalvolume">0</h6>
                                    <!--<progress class="progress progress-xs mt-2 progress-success" value="40" max="100"></progress>-->
                                </div>
                                <div class="col-xs-3 text-xs-center">
                                    <span class="text-muted small">Total Successful</span>
                                    <h6 class="block font-weight-normal" id="totalsuccess">0</h6>
                                    <!--<progress class="progress progress-xs mt-2 progress-success" value="60" max="100"></progress>-->
                                </div>
                                <div class="col-xs-3 text-xs-center">
                                    <span class="text-muted small">Total Fee</span>
                                    <h6 class="block font-weight-normal" id="totalfee">0</h6>
                                    <!--<progress class="progress progress-xs mt-2 progress-success" value="90" max="100"></progress>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            
            
            <h:form prependId="false" id="btnform">
                <h:inputHidden id="pParam" binding="#{input1}" value="dan" />
                <h:commandButton style="display: none" action="#{roleController.view(input1.value)}" id="smtbtn" value="smt" />
            </h:form>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <h:outputScript name="/js/chart/chart.min.js" />
            <h:outputScript name="/js/chart/chartist.min.js" />
            <h:outputScript name="/js/chart/chartist-plugin-tooltip.js" />
            <h:outputScript name="/js/chart/morris.min.js" />
            <h:outputScript name="/js/chart/raphael-min.js" />
            <!-- This is a pick a date section -->
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/transaction.js" />
            <h:outputScript name="/js/util.js" />
            <h:outputScript name="/js/jsutil.js" />
            <h:outputScript>
                
                 $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }
                
                var merchantId = "#{merchantController.selectedMerchantId}";
                var product = "#{merchantController.selectedProduct}";

                function hideloader(){
                $("#loading-mask").hide();   
                }

                var ctx = "#{request.contextPath}";
                
                $("#dateinterval").daterangepicker({
                    locale : {
                        format : "DD/MM/YYYY"
                    },
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                });
                
                $('#dateinterval').val(moment().subtract('days', 30).format('DD/MM/YYYY') + ' - ' + moment().format('DD/MM/YYYY'));
                
                var searchstate = false;

                function getSummary(){
                    $.ajax({
                         url : ctx +"/api/product/transaction/merchant/summary",
                         data : {
                             product : product,
                             range : $("#dateinterval").val(),
                             merchant : merchantId,
                             currency : ""+$("#currencylist").val()
                         }                            
                    }).done(function(data){
                        
                        console.log(data); 
                    });
                }
                
                getSummary();
                
                $("#fbtn").click(function(){
                    getSummary();
                    getGraphMerchantData(ctx,$("#dateinterval").val(), $("#currencylist").val(), product, merchantId);
                })
                
                function getWalletBalance(id, product){
                    
                    $.ajax({
                         url : ctx +"/api/util/wallet/balance",
                         data : {
                             product : product,
                             category : "MERCHANT",
                             id : id,
                             currency : ""+$("#currencylist").val()
                         }                            
                    }).done(function(data){

                         $("#balance").text(data.amount+"");
                    });
                }
           
                getWalletBalance(merchantId, product);
                
                getGraphMerchantData(ctx,$("#dateinterval").val(), $("#currencylist").val(), product, merchantId);
                
            </h:outputScript>
        </ui:define>
        
    </ui:composition>
</html>

