<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Merchants</ui:define>
        <ui:define name="nav-title">All Merchants</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/sweetalert.css" />
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
            <h:outputStylesheet>
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                #content-table{
                    font-size: 0.70em;
                    width : 100%
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            
            <div class="row">
                
                <h:panelGroup layout="block" class="col-lg-12">

                    <h:panelGroup id="messagePanel" layout="block">
                            <!--<div class="card-block">-->
                        <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                        <!--</div>-->
                    </h:panelGroup>
                    
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title"><span class="font-weight-normal">All Sub-Merchant For </span> #{merchantController.parent.companyname}</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block">
                            

                            <div class="table-responsive">
                                <br /><br/>
                                <div class="col-lg-12">
                                    <table class="table table-bordered table-striped datatable">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>PRODUCT</th>
                                                <th>MERCHANT ID</th>
                                                <th>MERCHANT NAME</th>
                                                <th>EMAIL</th>
                                                <th>ACCOUNT NO</th>
                                                <th>BANK CODE</th>
                                                <th>REG CODE</th>
                                                <th>DATE</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            <h:form prependId="false" id="btnform">
                <h:inputHidden id="pParam" binding="#{input1}" value="0" />
                <h:inputHidden id="pProduct" binding="#{inputP}" value="dan" />
                <h:commandButton style="display: none" action="#{merchantController.viewTransactions(input1.value, inputP.value)}" id="smtbtn" value="0" />
            </h:form>
            
            <h:form prependId="false">
                <h:inputHidden id="pMerchantId" binding="#{inputM}" value="0" />
                <h:inputHidden id="pProductM" binding="#{inputPt}" value="dan" />
                <h:commandButton style="display: none" action="#{merchantController.merchantAnalysis(inputPt.value, inputM.value)}" id="viewanalysis" value="0" />
            </h:form>
            
            <h:form prependId="false">
                <h:inputHidden id="pParam1" binding="#{input11}" value="0" />
                <h:inputHidden id="pProduct1" binding="#{inputP1}" value="dan" />
                <h:commandButton style="display: none" action="#{merchantController.viewChargebacks(input11.value, inputP1.value)}" id="viewChargeBack" value="0" />
            </h:form>
            
            <div class="modal fade bd-example-modal" id="modalValues" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content row">
                        <div class="modal-header card-warning">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="myModalLabel">Merchant Information Preview</h6>
                        </div>
                        <div class="modal-body row" >
                            
                            <div class="col-lg-12" id="bodyPane">
                                <table class="table table-striped table-bordered" id="content-table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="dismiss" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <h:form prependId="false" style="display: none">
                <h:inputHidden id="productF" binding="#{product}" value="dan" />
                <h:inputHidden id="liveF" binding="#{live}" value="excel" />                
                <h:inputHidden id="searchValueF" binding="#{searchValue}" value="dan" />
                <h:inputHidden id="createdF" binding="#{created}" value="dan" />
                <h:inputHidden id="formatF" binding="#{format}" value="false" />
                
                <h:commandButton style="display: none" action="#{merchantController.export(product.value, searchValue.value, null, live.value, null, created.value, format.value)}" id="exportbtn" value="submit" />
            </h:form>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript name="/js/util.js" />
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript>

                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }
            </h:outputScript>
            <h:outputScript>

                var ctx = "#{request.contextPath}";
                
                var searchstate = false;

                var merchant = "#{merchantController.parent.merchantID}";
                
                
                function getMerchants(){
                    oTable = $('.datatable').dataTable({
                        "bSort": false, 
                        "aLengthMenu": [ [20, 50, 80, 100, 150, 200], [20, 50, 80, 100, 150, 200] ],
                         ajax: {
                             url: ctx + "/api/merchant/sub",
                             type: 'GET',
                             data :function(d){
                                d.parent = merchant;
                             },
                             beforeSend : function(){
                                showloader();
                             },
                             complete : function(){
                                hideloader();
                             }
                         },
                         fnDrawCallback : function(){
                            hideloader();
                         },
                         columns : [
                            { data : "merchant_id"},
                            {data : "merchant_id", 
                                'render' : function(data, type, row){
                                    return "Flutterwave Core";
                                }
                            },
                            {data : "merchant_id"},
                            {data : "merchant_name"},
                            {data : "merchant_email"},
                            {data : "merchant_account_number"},
                            {data : "bank_code"},
                            {data : "merchant_registration_number"},
                            {data : "createdAt",
                                'render' : function(data, type, row){
                                    return moment(new Date(data)).format("DD/MM/YYYY HH:mm");
                                }
                            }
                         ],
                         "rowCallback" : function(row, data, index){
                            
                            var setting = oTable.fnSettings();
                            var index = (setting._iDisplayStart + index + 1);
                            $("td:eq(0)", row).html(index);
                         }
                    });
                }
                
                getMerchants();
                
                
                function exportData(format){
                
                    $("#productF").val($("#product").val());
                    $("#liveF").val($("#liveStatus").val());
                    $("#searchValueF").val($("#searchValue").val());
                    $("#createdF").val($("#dateRange").val());
                    $("#formatF").val(format);
                    
                    $("#exportbtn").click();
                }
                
                $("#pdfexport").click(function(){
                    exportData("pdf");
                });
                
                $("#excelexport").click(function(){
                    exportData("excel");
                });


                $("#csvexport").click(function(){
                    exportData("csv");
                });
                
            </h:outputScript>
        </ui:define>
        
    </ui:composition>
</html>

