<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Transactions</ui:define>
        <ui:define name="nav-title">All Transactions</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
            
            <h:outputStylesheet>
                
                #content-table{
                    font-size: 0.70em;
                    width : 100%
                }
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                
                input[type='text']{
                    font-size : 0.8em;
                    padding-top: 0.48em;
                    padding-bottom :0.48em;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">

                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title" style="font-weight: 300">Transaction For Merchant <span id="merchant" style="font-weight: 600"></span> on <span id="product" style="font-weight: 600"></span></h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block">
                            
                            <div class="card panel panel-default m-b-xs">
                                <div class="card-header panel-heading alert-info alert-inverse" role="tab" id="headingOne" style="padding: 0.5em">
                                    <h6 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="icon-filter"></i>&nbsp; Filter</a></h6></div>
                                    <div id="collapseOne" class="card-block panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            
<!--                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted small-select">Product</label>
                                            <select class="form-control form-control-sm small-select" id="product">
                                            </select>
                                        </div>-->
                                        
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted">Transaction Date Range</label>
                                            <div class='input-group'>
                                                <input type='text' class="form-control form-control-sm" id="daterange" />
                                                    <span class="input-group-addon form-control-sm">
                                                            <span class="icon-calendar3"></span>
                                                    </span>
                                            </div>
                                        </div>
                                       
                                        <div layout="block" class="form-group col-lg-3 rave">
                                            <label for="email" class="small text-muted">Transaction Type</label>
                                            <select class="form-control form-control-sm small-select" id="transactionType">
                                                <option value="any">Any</option>
                                                <option value="credit">Credit</option>
                                                <option value="debit">Debit</option>
                                            </select>
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3 moneywave">
                                            <label for="email" class="small text-muted">System Type</label>
                                            <select class="form-control form-control-sm small-select" id="mtransactionType">
                                                <option value="any">Any</option>
                                                <option>Unknown</option>
                                                <option>Promo</option>
                                                <option>Wallet-disburse</option>
                                                <option>Wallet-transfer-out</option>
                                                <option>Wallet-transfer-in</option>
                                            </select>
                                        </div>
            
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted">Transaction Status</label>
                                            <select class="form-control form-control-sm small-select" id="transactionStatus">
                                                <option>Any</option>
                                            </select>
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3 moneywave">
                                            <label for="email" class="small text-muted">Flutter Responses</label>
                                            <select class="form-control form-control-sm small-select" id="flutterResponse">
                                                <option>Any</option>
                                            </select>
                                        </div>
            
                                        <div layout="block" class="form-group col-lg-3 rave">
                                            <label for="email" class="small text-muted">Transaction Cycle</label>
                                            <select class="form-control form-control-sm small-select" id="transactionCycle">
                                                <option value="any">Any</option>
                                                <option value="one-time">One-time</option>
                                                <option value="recurring-daily">Recurring-daily</option>
                                            </select>
                                        </div>
            
                                        <div layout="block" class="form-group col-lg-3" >
                                            <label for="email" class="small text-muted">Currency</label>
                                            <select class="form-control form-control-sm small-select" id="currency">
                                                <option value="any">Any</option>
                                                <option>NGN</option>
                                                <option>GHS</option>
                                                <option>KES</option>
                                                <option>USD</option>
                                                <option>GBP</option>
                                            </select>
                                        </div>
            
                                        <div layout="block" class="form-group col-lg-3 rave">
                                            <label for="email" class="small text-muted">Fraud Status</label>
                                            <select class="form-control form-control-sm small-select" id="fraudStatus">
                                                <option value="any">Any</option>
                                                <option>Ok</option>
                                                <option>Flagged</option>
                                                <option>Review</option>
                                            </select>
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted">Payment Entity / Source</label>
                                            <select class="form-control form-control-sm small-select" id="paymentEntity">
                                                <option value="any">Any</option>
                                                <option>Card</option>
                                                <option class="rave">Account</option>
                                                <option>Wallet</option>
                                                <option class="moneywave">Voucher</option>
                                                <option class="moneywave">Settlement</option>
                                                <option class="moneywave">Transfer</option>
                                            </select>
                                        </div>
            
                                        <div layout="block" class="form-group col-lg-3 rave">
                                            <label for="email" class="small text-muted">Charge Type</label>
                                            <select class="form-control form-control-sm small-select" id="chargeType">
                                                <option value="any">Any</option>
                                                <option>Normal</option>
                                                <option>Preauth</option>
                                            </select>
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3 moneywave">
                                            <label for="email" class="small text-muted">Destination</label>
                                            <select class="form-control form-control-sm small-select" id="destination">
                                                <option value="any">Any</option>
                                                <option>Beneficiary</option>
                                                <option>Wallet</option>
                                            </select>
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3" id="searchPane">
                                            <label for="searchValue" class="small text-muted">Search value</label>
                                            <input id="searchValue" placeholder="Txn / Link /Flutter Ref" class="form-control form-control-sm" />
                                        </div>
                                        
                                        
                                        <div class="form-group col-lg-3" style="">
                                            <label for="searchValue" class="small text-muted">&nbsp;</label>
                                            <div>
                                                <button class="btn btn-primary btn-sm col-lg-5" style="margin-right: 2% " id="searchBtn"><i class="fa fa-filter"></i> &nbsp; Filter &nbsp;</button> &nbsp;
                                                <button class="btn btn-danger  btn-sm col-lg-5" id="clearbtn"><i class="fa fa-times"></i> &nbsp; Clear &nbsp;</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right" style="float: right">
                                        <button class="btn btn-info btn-sm" id="export"> Export To Excel</button>
                                    </div>
                                </div>

                            <div class="table-responsive">
                                <br /><br/>
                                <div class="col-lg-12">
                                    <table class="table table-bordered table-striped datatable" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>PRODUCT</th>
                                                <th>MERCHANT</th>
                                                <th>AMOUNT</th>
                                                <th>CURRENCY</th>
                                                <th>FLUTTER REFERENCE</th>
                                                <th>TXN REFERENCE</th>
                                                <th>DATE</th>
                                                <th>TYPE</th>
                                                <th>STATUS</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            <div class="modal fade bd-example-modal" id="modalValues" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content row">
                        <div class="modal-header card-warning">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="myModalLabel">Transaction Information Preview</h6>
                        </div>
                        <div class="modal-body row" >
                            
                            <div class="col-lg-12" id="bodyPane">
                                <table class="table table-striped table-bordered" id="content-table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="dismiss" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <h:form prependId="false" id="btnform">
                <h:inputHidden id="pParam" binding="#{input1}" value="dan" />
                <h:commandButton style="display: none" action="#{roleController.view(input1.value)}" id="smtbtn" value="smt" />
            </h:form>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <!-- This is a pick a date section -->
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/transaction.js" />
            <h:outputScript>

                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }
            </h:outputScript>
            <h:outputScript>

                var ctx = "#{request.contextPath}";
                
                var merchantid = "#{merchantController.genericMerchant.id}";
                
                var productName = "#{merchantController.genericMerchant.productName}";
                
                $("#merchant").text("#{merchantController.genericMerchant.name}");
                $("#product").text(productName);
                
                var searchstate = false;

                $('#daterange').val(moment().subtract('days', 30).format('DD/MM/YYYY') + ' - ' + moment().format('DD/MM/YYYY'));
                
                function getTransactions(){
                    oTable = $('.datatable').dataTable({
                        serverSide: true,
                        "bSort": false, 
                        "aLengthMenu": [ [20, 50, 80, 100, 150, 200], [20, 50, 80, 100, 150, 200] ],
                         ajax: {
                             url: ctx + "/api/product/transaction/list",
                             type: 'GET',
                             data :function(d){
                                d.product = productName;
                                d.range = $("#daterange").val();
                                d.isMerchantId = true;
                                d.cycle = $("#transactionCycle").val();
                                d.transactionStatus = $("#transactionStatus").val();
                                
                                if(d.product.toLowerCase() === 'rave')
                                    d.transactionType = $("#transactionType").val();
                                else 
                                    d.transactionType = $("#mtransactionType").val();
                                    
                                d.currency = $("#currency").val();
                                d.fraudStatus = $("#fraudStatus").val();
                                d.paymentEntity = $("#paymentEntity").val();
                                d.chargeType = $("#chargeType").val();
                                d.searchString = $("#searchValue").val();
                                d.merchant = merchantid;
                                d.destination = $("#destination").val();
                                d.flutterResponse = $("#flutterResponse").val();
                             },
                             beforeSend : function(){
                                showloader();
                             },
                             complete : function(){
                                hideloader();
                             }
                         },
                         fnDrawCallback : function(){
                         },
                         columns : [
                            { data : 'id'},
                            {data : "product", 
                                'render' : function(data, type, row){
                                    return data == null || data === undefined ? productName : data.name;
                                }
                            },
                            {data : "merchant"},
                            {data : "amount", 
                                'render' : function(data, type, row){
                                    return parseFloat(data).toLocaleString();
                                }
                            },
                            {data : "currency"},
                            {data : "flutterReference", 
                                "render" : function(data, type, row){
                                    if (data !== null || data !== undefined)
                                        return (data+"").substring(0, 15);
                                    
                                    return "";
                                }
                            },
                            {data : "transactionReference"},
                            {data : "createdAt",
                                'render' : function(data, type, row){
                                    return moment(new Date(data)).format("DD/MM/YYYY hh:mm A");
                                }
                            },
                            {data : "transactionType"},
                            {data : "status", 
                                'render' : function(data, type, row){
                                    
                                    var error = "\"tag tag-default tag-danger\"";
                                    var success = "\"tag tag-default tag-success\"";
                                    
                                    if(data.toLowerCase() === "successful" || data.toLowerCase() === "completed")
                                        return "<span class="+success+">successful</span>" ;
                                    
                                    return processResponseWithProduct(data, productName) ;
                                }
                            },
                            {data : "id", 
                                'render' : function(data, type, row){
                                    return '<a class="btn btn-warning btn-float btn-sm m-r-xs small-font" onclick="getTxn(\''+productName+'\','+row.id+')"><i class="icon-eye"></i></a> &nbsp;';
                                }
                            }
                         ],
                         "rowCallback" : function(row, data, index){
                            
                            var setting = oTable.fnSettings();
                            var index = (setting._iDisplayStart + index + 1);
                            $("td:eq(0)", row).html(index);
                         }
                    });
                }
                
                $("#searchBtn").click(function(){
                    
                    oTable.fnDraw();
                })
                    
                
                $("#clearbtn").click(function(){
                });
                
                function updateView(value){
                    
                    console.log(value + " is the product");
                    
                    if(value.toLowerCase() === "rave"){
                        $(".rave").show();
                        $(".moneywave").hide();
                    }
                    else if(value.toLowerCase() === "moneywave"){
                        $(".rave").hide();
                        $(".moneywave").show();
                    }else if(value.toLowerCase() === "core" || value.toLowerCase() === "flutterwave core"){
                        $(".rave").hide();
                        $(".moneywave").hide();
                    }
                    
                    getStatus();
                    
                    setTimeout(function(){
                            getTransactions();
                        }, 2000);
                }
                
                function getStatus(){
                    
                    $.ajax({
                        url : ctx + "/api/product/transaction/status",
                        data : {
                            "product" : productName
                        }
                    }).done(function(data){
                        
                        var temp = "<option>Any</option>"
                        for (var d in data){
                            temp += "<option>"+data[d]+"</option>";
                        }
                        
                        $("#transactionStatus").html(temp);
                    })
                }
                
                function getFlwResponse(){
                    
                    $.ajax({
                        url : ctx + "/api/product/transaction/fresponses"
                    }).done(function(data){
                        
                        var temp = "<option>Any</option>"
                        for (var d in data){
                            temp += "<option>"+data[d]+"</option>";
                        }
                        
                        $("#flutterResponse").html(temp);
                    })
                }
                
                function getTxn(product, id){
                    
                    getTransactionInformation(ctx, product, id);
                }
                
                getFlwResponse();
                
                updateView(productName);
                
            </h:outputScript>
        </ui:define>
        
    </ui:composition>
</html>

