<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Report</ui:define>
        <ui:define name="nav-title">Report</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
            <!--<h:outputStylesheet name="/css/jquery-ui.min.css" />-->
            <h:outputStylesheet name="/css/select2.min_1.css" />
            <!--<link data-require="bootstrap-css@3.3.4" data-semver="3.3.4" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />-->
            <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.css" />-->
            <h:outputStylesheet name="/css/select2-bootstrap.min.css" />
            <h:outputStylesheet name="/css/c3.css" />
            <h:outputStylesheet>

                .table-responsive {
                font-size :0.9em;
                }

                table.dataTable thead > tr > th{
                font-size: 80% !important;
                text-align:center;
                }
                table.dataTable tbody > tr > td{
                font-size: 80%;
                text-align:center;
                }

                table {
                width : 100%
                }

                .table td, .table th{
                padding: 0.6rem !important;
                }

                .dataTables_filter{
                display : none;
                }

                .small-select{
                font-size : 80% !important;
                }

                input[type='text']{
                font-size : 80%;
                padding-top: 0.48em;
                padding-bottom :0.48em;
                }

                .select2-container--default .select2-selection--single .select2-selection__arrow{
                height : 20px !important; 
                }

                .select2-container--default .select2-selection--single .select2-selection__rendered{
                line-height : 120% !important;
                }

                .select2-container--default .select2-selection--single{
                height : 30px !important;
                font-size : 80% !important;
                }

                .select2-result-label{
                font-size : 80%
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div id="loading-mask" style="width:100%;height:100%; display: none; background: rgba(249, 249, 249, 0.380392);position:absolute;z-index:20000;left:0;top:0;">
                <div class="col-sm-3 demo-spinkit" style="z-index: 200000; position: absolute; top: 40%; left : 35%">
                    <div class="loader-wrapper">
                        <div class="loader-container">
                            <div class="ball-zig-zag-deflect loader-info">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <h5>Charge Back Report</h5>
            
            <div class="row " role="tabpanel" aria-labelledby="headingOne">
                <div layout="block" class="form-group col-lg-3">
                    <label for="email" class="small text-muted">Transaction Date</label>
                    <div class='input-group'>
                        <input type='text' class="form-control form-control-sm" required="true" name="range" id="range" />
                        <span class="input-group-addon form-control-sm">
                            <span class="icon-calendar3"></span>
                        </span>
                    </div>
                </div>
                <div layout="block" class="form-group col-lg-2" >
                    <label for="email" class="small text-muted">Group</label>
                    <select class="form-control form-control-sm small-select" name="grouping" id="grouping">
                        <option>Daily</option>
                        <option>Weekly</option>
                        <option>Monthly</option>
                        <option>Quarterly</option>
                        <option>Yearly</option>
                    </select>
                </div>    

                <div layout="block" class="form-group col-lg-2" >
                    <label for="email" class="small text-muted">Currency</label>
                    <select class="form-control form-control-sm small-select" name="currency" id="currency">
                        <option>NGN</option>
                        <option>GHS</option>
                        <option>KES</option>
                        <option>USD</option>
                        <option>GBP</option>
                    </select>
                </div>
                <div class="form-group col-lg-5">
                    <label class="col-lg-12">&nbsp;</label>
                    <button class="btn btn-primary btn-sm col-lg-2" style="margin-right: 2% " id="searchBtn"><i class="fa fa-filter"></i> &nbsp; Filter &nbsp;</button> &nbsp;
                    <button class="btn btn-danger  btn-sm col-lg-2" id="clearbtn"><i class="fa fa-times"></i> &nbsp; Clear &nbsp;</button>
                </div>


                <!--</form>-->
            </div>
            <div class="row" id="items">
                
                
                    <div class="col-md-6 col-lg-3">
                        <div class="card my-1 text-xs-center">
                            <div class="card-header">
                                <span class="">Product</span>
                            </div>
                            <div class="card-body">
                                <div class="card-block">
                                    <ul class="list-inline clearfix  mb-0">
                                        <li class="border-right-grey border-right-lighten-2 pr-2">
                                            <h6 class="grey darken-1 text-bold-400">65%</h6>
                                            <span class="success small">Value</span>
                                        </li>
                                        <li class="pl-2">
                                            <h6 class="grey darken-1 text-bold-400">35%</h6>
                                            <span class="primary small">Volume</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
            </div>
            <div id="loading-mask" style="width:100%;height:100%; display: none; background: rgba(249, 249, 249, 0.380392);position:absolute;z-index:20000;left:0;top:0;">
                <div class="col-sm-3 demo-spinkit" style="z-index: 200000; position: absolute; top: 40%; left : 35%">
                    <div class="loader-wrapper">
                        <div class="loader-container">
                            <div class="ball-zig-zag-deflect loader-info">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title small">Charge Back Value Trend</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body collapse in">
                            <div class="card-block">
                                <!--<div id="report-chart"></div>-->
                                <!--<div id="value-graph"  height="275"></div>-->
                                <div id="value-graph"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title small">Charge Back Volume Trend</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body collapse in">
                            <div class="card-block">
                                <!--<div id="report-chart"></div>-->
                                <div id="volume-graph"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <h6>Product Charge Back Trend</h6>
            <div class="row " role="tabpanel" aria-labelledby="headingOne">
                 <div class="form-group col-lg-2 col-sm-3">
                    <label for="email" class="small text-muted">Product</label>
                    <select  id="product" class="form-control form-control-sm small-select">   
                        <option value="moneywave">Moneywave</option>
                        <option value="rave">Rave</option>
                        <option value="core">Flutterwave Core</option>
                    </select>
                </div>
                <!--<form id="reportFilter" >-->
                <div layout="block" class="form-group col-lg-3" >
                    <label for="email" class="small text-muted">Merchant</label>
                    <input class="select2-size-sm form-control form-control-sm small-select" id="merchant" name="merchant" placeholder="select a merchant" />
                </div>
                
                <div layout="block" class="form-group col-lg-3">
                    <label for="email" class="small text-muted">Transaction Date</label>
                    <div class='input-group'>
                        <input type='text' class="form-control form-control-sm" required="true" name="range" id="daterange" />
                        <span class="input-group-addon form-control-sm">
                            <span class="icon-calendar3"></span>
                        </span>
                    </div>
                </div>
                <div layout="block" class="form-group col-lg-2" >
                    <label for="email" class="small text-muted">Group</label>
                    <select class="form-control form-control-sm small-select" name="grouping" id="groupingM">
                        <option>Daily</option>
                        <option>Weekly</option>
                        <option>Monthly</option>
                        <option>Quarterly</option>
                        <option>Yearly</option>
                    </select>
                </div>    

                <div layout="block" class="form-group col-lg-2" >
                    <label for="email" class="small text-muted">Currency</label>
                    <select class="form-control form-control-sm small-select" name="currency" id="currencyM">
                        <option>NGN</option>
                        <option>GHS</option>
                        <option>KES</option>
                        <option>USD</option>
                        <option>GBP</option>
                    </select>
                </div>
                <div class="form-group col-lg-5">
                    <!--<label class="col-lg-12">&nbsp;</label>-->
                    <button class="btn btn-primary btn-sm col-lg-2" style="margin-right: 2% " id="searchBtnM"><i class="fa fa-filter"></i> &nbsp; Filter &nbsp;</button> &nbsp;
                    <button class="btn btn-danger  btn-sm col-lg-2" id="clearbtnM"><i class="fa fa-times"></i> &nbsp; Clear &nbsp;</button>
                </div>


                <!--</form>-->
            </div>
            
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title small">Merchant Charge Back Volume Trend</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body collapse in">
                            <div class="card-block">
                                <!--<div id="report-chart"></div>-->
                                <div id="merchant-graph"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <!-- This is a pick a date section -->
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/lodash.min.js" />
            <h:outputScript name="/js/select2.min.js" />

            <h:outputScript name="/js/chart/morris.min.js" />
            <h:outputScript name="/js/chart/raphael-min.js" />

            <h:outputScript name="/js/chart/c3.min.js" />
            <h:outputScript name="/js/chart/d3.min.js" />

            <h:outputScript name="/js/chart/jvector/jquery-jvectormap-2.0.3.min.js" />
            <h:outputScript name="/js/chart/jvector/jquery-jvectormap-world-mill.js" />

            <!-- This allows for sample data to be added-->
            <h:outputScript name="/js/visitor-data.js" />
            
            <h:outputScript name="/js/chart/chart.min.js" />
            <h:outputScript name="/js/chart/jquery.sparkline.min.js" />
            <h:outputScript name="/js/unslider-min.js" />

            <h:outputScript name="/js/main-report.js" />
            <h:outputScript name="/js/jsutil.js" />
            <h:outputScript>

                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }
            </h:outputScript>
            <h:outputScript>
                var ctx = "#{request.contextPath}";
                
                $("#range, #daterange").daterangepicker({
                    locale : {
                        format : "DD/MM/YYYY"
                    },
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                });
                
                 $('#range, #daterange').val(moment().subtract('days', 30).format('DD/MM/YYYY') + ' - ' + moment().format('DD/MM/YYYY'));
                 
                 getMerchantN(ctx, $("#product").val());
                 
                 
                 $("#product").change(function(){
                    getMerchantN(ctx, $("#product").val());
                 })
                 
                 function getReport(){
                    
                     $.ajax({
                        url : ctx +"/api/chargeback/report",
                        data : {
                            "range" : $("#range").val(),
                            "currency" : $("#currency").val(),
                            "grouping" : $("#grouping").val(),
                            "type" : $("#type").val()
                        },
                        beforeSend : function(){
                        
                            showloader(); 
                        },
                        complete: function(){
                            hideloader();
                        }
                    }).done(function(data){
                        
                        var productVolume = data.productVolume;
                        var productValue = data.productValue;
                        
                       var tempHtml = "";
                        for(var d in productVolume){
                            
                           tempHtml += getItem(d, productValue[d],productVolume[d]); 
                        }
                        
                        $("#items").html(tempHtml);
                        
                        var value = data.value;
                        var volume = data.volume;
                        
                        var labels = [];
                        var valuesuccessful = ["ChargeBacks"];
                        
                        var volumesuccessful = ["ChargeBacks"];
                        
                        for(var title in value){
                            
                            valuesuccessful.push(value[title]);
                            
                            volumesuccessful.push(volume[title]);
                            
                            if($("#grouping").val().toLowerCase() === 'daily'){
                                labels.push(moment(title).format("DD-MM-YYYY"));
                            }
                            else{
                                labels.push(title);
                            }
                            
                        }
                        
                        drawGraphSingle("value-graph", labels , valuesuccessful);
                        drawGraphSingle("volume-graph", labels , volumesuccessful);
                        
                    })
                 };
                 
                 $("#searchBtn").click(function(){
                    getReport(ctx);
                 });
                 
                 $("#searchBtnM").click(function(){
                    getReportM(ctx);
                 });
                 
                 getReport(ctx);
                 
                 
                 $("#clearbtn").click(function(){
                   // $("#merchant").select2('val', '');
                    $("#grouping").val( 'Daily');
                    $("#currency").val( 'NGN');
                    $('#range').val(moment().subtract('days', 30).format('DD/MM/YYYY') + ' - ' + moment().format('DD/MM/YYYY'));
                    //$("#product").val('moneywave');
                 })
                 
                 function getReportM(){
                    
                     $.ajax({
                        url : ctx +"/api/chargeback/report",
                        data : {
                            "range" : $("#daterange").val(),
                            "currency" : $("#currencyM").val(),
                            "grouping" : $("#groupingM").val(),
                            "type" : $("#type").val(),
                            "product" : $("#product").val(),
                            "merchant" : $("#merchant").val() == "" ? 0 : $("#merchant").val()
                        },
                        beforeSend : function(){
                        
                            //showloader(); 
                        },
                        complete: function(){
                            //hideloader();
                        }
                    }).done(function(data){
                        
                        var productVolume = data.productVolume;
                        var productValue = data.productValue;
                        
                        var value = data.value;
                        var volume = data.volume;
                        
                        var labels = [];
                        var valuesuccessful = ["ChargeBacks"];
                        
                        var volumesuccessful = ["ChargeBacks"];
                        
                        for(var title in value){
                            
                            valuesuccessful.push(value[title]);
                            
                            volumesuccessful.push(volume[title]);
                            
                            if($("#grouping").val().toLowerCase() === 'daily'){
                                labels.push(moment(title).format("DD-MM-YYYY"));
                            }
                            else{
                                labels.push(title);
                            }
                            
                        }
                        
                        drawGraphSingle("merchant-graph", labels , valuesuccessful);
                        
                    })
                 };
                 
                 getReportM();
                 
            </h:outputScript>
        </ui:define>

    </ui:composition>
</html>

