<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Report</ui:define>
        <ui:define name="nav-title">Report</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
            <!--<h:outputStylesheet name="/css/jquery-ui.min.css" />-->
            <h:outputStylesheet name="/css/select2.min_1.css" />
            <!--<link data-require="bootstrap-css@3.3.4" data-semver="3.3.4" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />-->
            <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.css" />-->
            <h:outputStylesheet name="/css/select2-bootstrap.min.css" />
            <h:outputStylesheet name="/css/c3.css" />
            <h:outputStylesheet>
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                
                input[type='text']{
                    font-size : 80%;
                    padding-top: 0.48em;
                    padding-bottom :0.48em;
                }
                
                .select2-container--default .select2-selection--single .select2-selection__arrow{
                    height : 20px !important; 
                }
                
                .select2-container--default .select2-selection--single .select2-selection__rendered{
                    line-height : 120% !important;
                }
                
                .select2-container--default .select2-selection--single{
                    height : 30px !important;
                    font-size : 80% !important;
                }
                
                .select2-result-label{
                    font-size : 80%
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div id="loading-mask" style="width:100%;height:100%; display: none; background: rgba(249, 249, 249, 0.380392);position:absolute;z-index:20000;left:0;top:0;">
                <div class="col-sm-3 demo-spinkit" style="z-index: 200000; position: absolute; top: 40%; left : 35%">
                    <div class="loader-wrapper">
                        <div class="loader-container">
                            <div class="ball-zig-zag-deflect loader-info">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">

                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Core Report</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block">
                            
                            <div id="loading-mask" style="width:100%;height:100%; display: none; background: rgba(197, 197, 195, 0.38);position:absolute;z-index:20000;left:0;top:0;">
                                <div class="col-sm-3 demo-spinkit" style="z-index: 200000; position: absolute; top: 40%; left : 35%">
                                    <div class="loader-wrapper">
                                        <div class="loader-container">
                                            <div class="ball-zig-zag-deflect loader-info">
                                                <div></div>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card panel panel-default m-b-xs">
                                <div class="card-header panel-heading alert-info alert-inverse" role="tab" id="headingOne" style="padding: 0.5em">
                                    <h6 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="icon-filter"></i>&nbsp; Filter</a></h6></div>
                                    <div id="collapseOne" class="card-block panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        
                                        
                                        <!--<form id="reportFilter" >-->
                                            <input name="product" value="core" type ="hidden" />
                                        <div layout="block" class="form-group col-lg-3" >
                                            <label for="email" class="small text-muted">Merchant</label>
                                            <input class="select2-size-sm form-control form-control-sm small-select" id="merchant" name="merchant" placeholder="select a merchant" />
                                        </div>
                                            
<!--                                        <div layout="block" class="form-group col-lg-3" >
                                            <label for="email" class="small text-muted">Date Range</label>
                                            <input class="form-control small-font" id="range" name="range" placeholder="Type to select merchant " />
                                        </div>    -->
                                        
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted">Transaction Date</label>
                                            <div class='input-group'>
                                                <input type='text' class="form-control form-control-sm" required="true" name="range" id="range" />
                                                    <span class="input-group-addon form-control-sm">
                                                        <span class="icon-calendar3"></span>
                                                    </span>
                                            </div>
                                        </div>
                                        <div layout="block" class="form-group col-lg-3" >
                                            <label for="email" class="small text-muted">Group</label>
                                            <select class="form-control form-control-sm small-select" name="grouping" id="grouping">
                                                <option>Daily</option>
                                                <option>Weekly</option>
                                                <option>Monthly</option>
                                                <option>Quarterly</option>
                                                <option>Yearly</option>
                                            </select>
                                        </div>    
            
                                        <div layout="block" class="form-group col-lg-3" >
                                            <label for="email" class="small text-muted">Currency</label>
                                            <select class="form-control form-control-sm small-select" name="currency" id="currency">
                                                <option>NGN</option>
                                                <option>GHS</option>
                                                <option>KES</option>
                                                <option>USD</option>
                                                <option>GBP</option>
                                            </select>
                                        </div>
                                              
                                        
                                        <div class="form-group col-lg-12" style="">
                                            <!--<label for="" class="small text-muted">&nbsp;</label>-->
                                            <div>
                                                <button class="btn btn-primary btn-sm col-lg-2" style="margin-right: 2% " id="searchBtn"><i class="fa fa-filter"></i> &nbsp; Filter &nbsp;</button> &nbsp;
                                                <button class="btn btn-danger  btn-sm col-lg-2" id="clearbtn"><i class="fa fa-times"></i> &nbsp; Clear &nbsp;</button>
                                            </div>
                                        </div>
                                        <!--</form>-->
                                    </div>
                                    <div class="pull-right" style="float: right">
                                        <button class="btn btn-info btn-sm" id="exportexport"> Export Report</button>
                                    </div>
                                
                                </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            <div class="alert alert-primary" id="infopane">

            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Transaction Value Trend</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body collapse in">
                            <div class="card-block">
                                <div id="report-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <!-- This is a pick a date section -->
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/lodash.min.js" />
            <h:outputScript name="/js/select2.min.js" />
            
            <h:outputScript name="/js/chart/c3.min.js" />
            <h:outputScript name="/js/chart/d3.min.js" />
            
            <h:outputScript name="/js/transaction.js" />
            <h:outputScript name="/js/jsutil.js" />
            <h:outputScript>
                
                $("#loading-mask").hide();
                
                function showloader (){
                    $("#loading-mask").show();   
                }
                
                function hideloader(){
                    $("#loading-mask").hide();   
                }
            </h:outputScript>
            <h:outputScript>

                var ctx = "#{request.contextPath}";
                
                var searchstate = false;
                
                $("#range").daterangepicker({
                    locale : {
                        format : "DD/MM/YYYY"
                    },
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                });
                
                $("#infopane").hide();
                
                 $('#range').val(moment().subtract('days', 30).format('DD/MM/YYYY') + ' - ' + moment().format('DD/MM/YYYY'));
                 
                 function getReport(){
                 
                    $.ajax({
                        url : ctx +"/api/product/report/core",
                        data : {
                            "range" : $("#range").val(),
                            "currency" : $("#currency").val(),
                            "grouping" : $("#grouping").val(),
                            "merchant" : $("#merchant").val(),
                            "type" : $("#type").val()
                        },
                        beforeSend : function(){
                        
                            var text = "Report for core from "+$("#range").val()+" for currency "+$("#currency").val()+" grouped "+$("#grouping").val()+" ";
                            
                            if($("#merchant").val() !== '')
                                text += " for merchant "+$("#merchant").select2('data').text;
                                
                            $("#infopane").html(text)
                            
                            $("#infopane").show();
                            showloader();
                        },
                        complete: function(){
                            hideloader();
                        },
                    }).done(function(data){
                        
                        var d = [], sGraph = ["Successful"], fGraph= ["Failed"];
                        var tGraph = [];
                        
                        var grouping = $("#grouping").val();
                        
                        for(var title in data){
                            
                            if(grouping.toLowerCase() === 'daily')
                                tGraph.push(""+moment(title).format("YYYY-MM-DD"));
                            else
                                tGraph.push(title);
                                
                            sGraph.push(data[title].successful === undefined ? 0 : data[title].successful);
                            
                            fGraph.push(data[title].failed === undefined ?  0 : data[title].failed);
                        }
                        
                        c3.generate({
                        bindto: "#report-chart"
                        , size: {
                            height: 400
                        }
                        , color: {
                            pattern: ["#489F46", "#D34425", "#FF847C"]
                        }
                        , data: {
                            columns: [sGraph, fGraph]
                            , type: "bar"
                        }
                        , bar: {
                            width: {
                                ratio: .5
                            }
                        }
                        , grid: {
                            y: {
                                show: !0
                            }
                        },
                        axis : {
                             x: {
                                type: 'category',
                                categories: tGraph,
                                tick: {
                                    rotate: 75,
                                    multiline: false
                                }
                            }
                        }
                    });
                        
                    });                    
                 }
                 
                 
                 getMerchants(ctx, "core");
                 
                 $("#searchBtn").click(function(){
                    getReport(ctx);
                 });
                 
                 getReport(ctx);
                 
                 $("#clearbtn").click(function(){
                    $("#merchant").select2('val', '');
                    $("#grouping").val( 'Daily');
                    $("#currency").val( 'NGN');
                    $('#range').val(moment().subtract('days', 30).format('DD/MM/YYYY') + ' - ' + moment().format('DD/MM/YYYY'));
                    
                    getReport(ctx);
                 })
            </h:outputScript>
        </ui:define>
        
    </ui:composition>
</html>

