<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Report</ui:define>
        <ui:define name="nav-title">Report</ui:define>
        <ui:define name="styles">            
            <h:outputStylesheet name="/css/jquery-ui.min.css" />
            <h:outputStylesheet>
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                
                input[type='text']{
                    font-size : 80%;
                    padding-top: 0.48em;
                    padding-bottom :0.48em;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div id="loading-mask" style="width:100%;height:100%; display: none; background: rgba(249, 249, 249, 0.380392);position:absolute;z-index:20000;left:0;top:0;">
                <div class="col-sm-3 demo-spinkit" style="z-index: 200000; position: absolute; top: 40%; left : 35%">
                    <div class="loader-wrapper">
                        <div class="loader-container">
                            <div class="ball-zig-zag-deflect loader-info">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2">

                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Core Report</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block">
                            
                            <div id="loading-mask" style="width:100%;height:100%; display: none; background: rgba(197, 197, 195, 0.38);position:absolute;z-index:20000;left:0;top:0;">
                                <div class="col-sm-3 demo-spinkit" style="z-index: 200000; position: absolute; top: 40%; left : 35%">
                                    <div class="loader-wrapper">
                                        <div class="loader-container">
                                            <div class="ball-zig-zag-deflect loader-info">
                                                <div></div>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <h:form prependId="false" class="offset-lg-3 col-md-4" onsubmit="downloadReport">
                                        
                                 <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="title" class="small text-muted">Select Date</h:outputLabel>
                                    <h:inputText id="range" binding="#{range}" class="form-control">
                                        <span class="input-group-addon form-control-sm">
                                            <span class="icon-calendar3"></span>
                                        </span>
                                    </h:inputText>
                                    
                                </h:panelGroup>
                                
                              
                                <h:commandButton class="btn btn-primary offset-lg-2 col-md-8 btn-sm" action="#{transactionController.getCoreReport(range.value)}" value="Download Report" />
                            </h:form>
                            
<!--                            <div class="card panel panel-default m-b-xs">
                                <div class="card-header panel-heading alert-info alert-inverse" role="tab" id="headingOne" style="padding: 0.5em">
                                    <h6 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="icon-filter"></i>&nbsp; Filter</a></h6></div>
                                    <div id="collapseOne" class="card-block panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        
                                        
                                        <form id="reportFilter" >
                                            <input name="product" value="core" type ="hidden" />
                                            
                                        
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted">Transaction Date</label>
                                        </div>
                                              
                                            
                                        <div class="form-group col-lg-12" style="">
                                            <label for="" class="small text-muted">&nbsp;</label>
                                            <div>
                                                <button class="btn btn-primary btn-sm col-lg-2" style="margin-right: 2% " id="searchBtn"><i class="fa fa-filter"></i> &nbsp; Filter &nbsp;</button> &nbsp;
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                
                                </div>-->
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery-ui.min.js" />
            <h:outputScript name="/js/jquery.fileDownload.js" />
            <h:outputScript name="/js/Support/shCore.js" />
            <h:outputScript name="/js/Support/shBrushJScript.js" />
            <h:outputScript name="/js/Support/shBrushXml.js" />
            <h:outputScript name="/js/Support/jquery.gritter.min.js" />
            
            <h:outputScript>
                
                $("#loading-mask").hide();
                
                function showloader (){
                    $("#loading-mask").show(); 
                    
                    //setTimeout('history.go(0)', 50000);
                }
                
                function hideloader(){
                    $("#loading-mask").hide();   
                }
            </h:outputScript>
            <h:outputScript>

                var ctx = "#{request.contextPath}";
                
                
                function downloadReport(e){
                    
                    e.preventDefault();
                
                    showloader();

                    $.fileDownload($(this).prop('action'), {
                        successCallback : function(url) {
                            //$("#loading-mask").hide(); 
                            console.log("am done");
                        },
                        failCallback : function(responseHtml, url) {
                            $("#loading-mask").hide();   
                            alert('File download failed!!!!');

                        }
                    });

                }
                
                var searchstate = false;
                
                $("#range").datepicker({
                    showButtonPanel: true,
                    dateFormat: 'dd-MM-yy',
                })
                
                $("#infopane").hide();
                
                 
                 function getReport(){
                 
                    $.ajax({
                        url : ctx +"/api/product/report/corereport",
                        data : {
                            "range" : $("#range").val()
                        },
                        beforeSend : function(){
                        
                            showloader();
                        },
                        complete: function(){
                            hideloader();
                        },
                    }).done(function(data){
                    
                        console.log(data);
                    });
                                           
                 }
                 
                 $("#searchBtn").click(function(){
                    getReport();
                 });
            </h:outputScript>
        </ui:define>
        
    </ui:composition>
</html>

