<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Transactions</ui:define>
        <ui:define name="nav-title">All Transactions</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
            
            <h:outputStylesheet>
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                
                input[type='text']{
                    font-size : 80%;
                    padding-top: 0.48em;
                    padding-bottom :0.48em;
                }
                
                .form-control{
                    line-height : 1.05 !important;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">

                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">All Transactions</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block">
                            
                            <div id="loading-mask" style="width:100%;height:100%; display: none; background: rgba(197, 197, 195, 0.38);position:absolute;z-index:20000;left:0;top:0;">
                                <div class="col-sm-3 demo-spinkit" style="z-index: 200000; position: absolute; top: 40%; left : 35%">
                                    <div class="loader-wrapper">
                                        <div class="loader-container">
                                            <div class="ball-zig-zag-deflect loader-info">
                                                <div></div>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card panel panel-default m-b-xs">
                                <div class="card-header panel-heading alert-info alert-inverse" role="tab" id="headingOne" style="padding: 0.5em">
                                    <h6 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="icon-filter"></i>&nbsp; Filter</a></h6></div>
                                    <div id="collapseOne" class="card-block panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        
                                        <form id="reportFilter" enctype="multipart/form-data">
                                            <input name="product" value="moneywave" type ="hidden" />
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted small-select">Report Type</label>
                                            <select class="form-control form-control-sm small-select" name="type" id="type">
                                                <option value="recon">Reconciliation Report</option>
                                            </select>
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3" >
                                            <label for="email" class="small text-muted">Input Source</label>
                                            <select class="form-control form-control-sm small-select" name="sourceType" id="inputsource">
                                                <option>Database</option>
                                                <option>Excel</option>
                                            </select>
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3 inputsourcepane">
                                            <label for="" class="small text-muted">Select Card Txn File</label>
                                            <input name="card" id="card" type="file" placeholder="Excel Source" class="form-control form-control-sm" />
                                        </div>
                                            
                                        <div layout="block" class="form-group col-lg-3 inputsourcepane">
                                            <label for="" class="small text-muted">Select Wallet Txn File</label>
                                            <input name="wallet" id="wallet" type="file" placeholder="Excel Source" class="form-control form-control-sm" />
                                        </div>
                                            
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted">Transaction Date</label>
                                            <div class='input-group'>
                                                <input type='text' class="form-control form-control-sm" required="true" name="range" id="daterange" />
                                                    <span class="input-group-addon form-control-sm">
                                                        <span class="icon-calendar3"></span>
                                                    </span>
                                            </div>
                                        </div>
            
                                        <div layout="block" class="form-group col-lg-3" >
                                            <label for="email" class="small text-muted">Currency</label>
                                            <select class="form-control form-control-sm small-select" name="currency" id="currency">
                                                <option>NGN</option>
                                                <option>GHS</option>
                                                <option>KES</option>
                                                <option>USD</option>
                                                <option>GBP</option>
                                            </select>
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3" id="searchPane">
                                            <label for="" class="small text-muted">Select Bank USSD File</label>
                                            <input id="file" name="file" type="file" placeholder="Bank Settlement File" class="form-control form-control-sm" />
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3" id="searchPane">
                                            <label for="" class="small text-muted">Select Bank USSD Format</label>
                                            <select class="form-control form-control-sm small-select" name="format" id="format">
                                                <option value="format1">Format 1</option>
                                                <option value="format2">Format 2 (7 Columns)</option>
                                            </select>
                                        </div>
                                        
                                        <div class="form-group col-lg-3" style="">
                                            <label for="" class="small text-muted">&nbsp;</label>
                                            <div>
                                                <button class="btn btn-primary btn-sm col-lg-5" style="margin-right: 2% " id="searchBtn"><i class="fa fa-filter"></i> &nbsp; Filter &nbsp;</button> &nbsp;
                                                <button class="btn btn-danger  btn-sm col-lg-5" id="clearbtn"><i class="fa fa-times"></i> &nbsp; Clear &nbsp;</button>
                                            </div>
                                        </div>
                                            
                                        </form>
                                    </div>
                                    <div class="pull-right" style="float: right">
                                        <button class="btn btn-info btn-sm" id="exportexport"> Export Exception</button>
                                    </div>
                                
                                </div>

                            <div class="table-responsive">
                                <br /><br/>
                               
                                <div class="col-lg-12">
                                    
                                    <div class="alert alert-primary" id="infopane">
                                        
                                    </div>
                                    
                                    <table class="table table-bordered table-striped datatable" style="width: 100%">
                                        <tbody id="tableBody"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            <h:form prependId="false" style="display: none">
                <h:commandButton style="display: none" action="#{transactionController.downloadMoneywaveException()}" id="smtbtn" value="submit" />
            </h:form>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <!-- This is a pick a date section -->
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/transaction.js" />
            <h:outputScript name="/js/jsutil.js" />
            <h:outputScript>

                var ctx = "#{request.contextPath}";
                
                $("#infopane").hide();
                
                var searchstate = false;


                $("form#reportFilter").submit(function(event){
                    event.preventDefault();
                    
                    var formData = new FormData(this);
                    
                    $.ajax({
                        url: ctx + "/api/product/transaction/report",
                        type: 'POST',
                        data : formData,
                        async: true,
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend : function(){
                        
                            $("#infopane").html($("#type option:selected").text()+" for moneywave from "+$("#daterange").val()+" for currency "+$("#currency").val()+" with source "+$("#inputsource").val())
                            $("#infopane").show();
                            showloader();
                        },
                        complete: function(){
                            hideloader();
                        },
                        success : function(data){
                                                       
                            var tBody = "";    
                            for(var d in data){
                                var len = Object.keys(data[d]).length;
                                
                                tBody += "<tr><td colspan="+len+">"+d+"</td></tr>";
                                
                                var tInnerHead = "<tr>";
                                var tInnerBody = "<tr>";
                                    
                                var headBg = "bg-warning";
                                
                                for(var innerD in data[d]){
                                    tInnerHead += "<td class="+headBg+">"+innerD+"</td>";
                                    
                                    if( innerD === 'Exception')
                                        tInnerBody += "<td>"+data[d][innerD]+"</td>";
                                    else
                                        tInnerBody += "<td>"+amountFormatter(data[d][innerD])+"</td>";
                                }
                                
                                tInnerHead += "</tr>";
                                tInnerBody += "</tr>";
                                tBody +=  tInnerHead;
                                tBody +=  tInnerBody;
                            }
                            
                            $("#tableBody").html(tBody);
                        }
                    })
                    
                    return false;
                });
                
                $(".inputsourcepane").hide();
                
                $("#inputsource").change(function(){
                    
                    if($(this).val() === 'Excel'){
                        $(".inputsourcepane").show();
                    }else
                        $(".inputsourcepane").hide();
                })
                
            </h:outputScript>
            <h:outputScript>
                
                $("#loading-mask").hide();
                
                function showloader (){
                    $("#loading-mask").show();   
                }
                
                function hideloader(){
                    $("#loading-mask").hide();   
                }
                
                $("#exportexport").click(function(){
                    
                    $("#smtbtn").click();
                });
            </h:outputScript>
        </ui:define>
        
    </ui:composition>
</html>

