<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough" >
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Wallet Funding | Flutter MS</ui:define>
        <ui:define name="nav-title">Wallet Funding</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet>
                td {
                    padding-left : 2vh;
                }
                
                td label{
                    margin-left : 2vh;
                }
                
                ul{
                    list-style : none;
                    padding-left : 0;
                }
                
                select {
                    height : 2.5em;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <ui:include src="/include/loader.xhtml" />
                
                <f:metadata>
                    #{fundingController.prepareCreate()}
                </f:metadata>
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0 "><h6 class="font-weight-bold">Initiate Wallet Funding </h6></div>
                        <div class="card-block">
                            <!--<p class="alert alert-info">Please fill in with necessary information to create an exchange rate.</p>-->
                            <h:panelGroup id="messagePanel" layout="block">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
                            <h:form id="create-form">
                                
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="title" class="small text-muted">Merchant</h:outputLabel>
                                    <h:selectOneMenu value="#{fundingController.airtimeFunding.merchantId}" required="true" requiredMessage="Merchant Id" class="form-control small-font">
                                        <f:selectItems value="#{fundingController.merchants}" var="product" itemLabel="#{product.name}" itemValue="#{product.nameAndId}" />
                                    </h:selectOneMenu>
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="title" class="small text-muted">Currency</h:outputLabel>
                                    <h:selectOneMenu value="#{fundingController.airtimeFunding.currency}" required="true" requiredMessage="Currency must be slected" class="form-control small-font">
                                           <f:selectItem itemValue = "NGN" itemLabel = "NGN" /> 
                                    </h:selectOneMenu>
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="title" class="small text-muted">Value / Amount</h:outputLabel>
                                    <h:inputText id="title" value="#{fundingController.airtimeFunding.amount}" required="true"  p:type="number" requiredMessage="Amount is required" class="form-control small-font" />
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group">
                                    <h:outputLabel for="reference" class="small text-muted">Reference</h:outputLabel>
                                    <h:inputText id="reference" value="#{fundingController.airtimeFunding.reference}" required="true" requiredMessage="Reference is required" class="form-control small-font" />
                                </h:panelGroup>
                                
                                
                                <h:commandButton type="submit" action="#{fundingController.initiateFunding}" onclick="showloader();" class="btn btn-primary offset-lg-3 col-lg-6" value="Submit" />
                            </h:form>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript>

                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

