<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Funding</ui:define>
        <ui:define name="nav-title">All Fundings</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/sweetalert.css" />
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
            <h:outputStylesheet>
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                #content-table{
                    font-size: 0.70em;
                    width : 100%
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            
            <div class="row">
                
                <h:panelGroup layout="block" class="col-lg-12">

                    <h:panelGroup id="messagePanel" layout="block">
                            <!--<div class="card-block">-->
                        <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                        <!--</div>-->
                    </h:panelGroup>
                    
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Merchant Fundings</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block">
                            

                            <div class="table-responsive">
                                <br /><br/>
                                <div class="col-lg-12">
                                    <table class="table table-bordered table-striped datatable">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>MERCHANT NAME</th>
                                                <th>AMOUNT</th>
                                                <th>CURRENCY</th>
                                                <th>REFERENCE</th>
                                                <th>DATE CREATED</th>
                                                <th>BAL. BEFORE</th>
                                                <th>BAL. AFTER</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
           
            
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript name="/js/util.js" />
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript>

                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }
            </h:outputScript>
            <h:outputScript>

                var ctx = "#{request.contextPath}";
                
                var searchstate = false;

                var selectedProduct = "";
                
                $("#dateRange").daterangepicker({
                    autoUpdateInput: false,
                    locale : {
                        format : "DD/MM/YYYY",
                        cancelLabel: 'Clear'
                    },
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                     },
                });
                
                function getFundings(){
                    oTable = $('.datatable').dataTable({
                        serverSide: true,
                        "bSort": false, 
                        "aLengthMenu": [ [20, 50, 80, 100, 150, 200], [20, 50, 80, 100, 150, 200] ],
                         ajax: {
                             url: ctx + "/api/fundings",
                             type: 'GET',
                             data :function(d){
                             },
                             beforeSend : function(){
                             selectedProduct = $("#product").val();
                                showloader();
                             },
                             complete : function(){
                                hideloader();
                             }
                         },
                         fnDrawCallback : function(){
                            hideloader();
                         },
                         columns : [
                            { data : 'merchantName'},
                            {data : "merchantName"},
                            {data : "amount", 
                                'render' : function(data, type, row){
                                    return "₦"+parseFloat(parseFloat(data).toFixed(2)+"").toLocaleString();
                                }
                            },
                            {data : "currency"},
                            {data : "reference"},
                            {data : "createdOn",
                                'render' : function(data, type, row){
                                    return moment(new Date(data)).format("DD/MM/YYYY HH:mm");
                                }
                            },
                            {data : "balanceBefore", 
                                'render' : function(data, type, row){
                                    return "₦"+parseFloat(parseFloat(data).toFixed(2)+"").toLocaleString();
                                }
                            },
                            {data : "balanceAfter", 
                                'render' : function(data, type, row){
                                    return "₦"+parseFloat(parseFloat(data).toFixed(2)+"").toLocaleString();
                                }
                            },
                            {
                               data : "createdOn",
                                'render' : function(data, type, row){
                                    return "";
                                } 
                            }
                         ],
                         "rowCallback" : function(row, data, index){
                            
                            var setting = oTable.fnSettings();
                            var index = (setting._iDisplayStart + index + 1);
                            $("td:eq(0)", row).html(index);
                         }
                    });
                }
                
                $("#clearbtn").click(function(){
                    
                    $("#product option")[0].selected = true;
                    $("#liveStatus option")[0].selected = true;
                    $("#searchValue").val();
                    
                    oTable.fnDraw();
                });
                
                getFundings();
                
            </h:outputScript>
        </ui:define>
        
    </ui:composition>
</html>

