<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Refund Transactions</ui:define>
        <ui:define name="nav-title">All Refund Transactions</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
            
            <h:outputStylesheet>
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                #content-table{
                    font-size: 0.70em;
                    width : 100%
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                
                select[size]{
                    height: 28px;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">

                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">All Refund Transactions</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block">
                            
                            <div class="row">
                                <div class="col-xl-3 col-lg-6 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <div class="media">
                                                    <div class="media-body text-xs-left">
                                                        <h3 class="teal" id="merchantrf">0</h3>
                                                        <span class="text-muted">Merchants</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <div class="media">
                                                    <div class="media-body text-xs-left">
                                                        <h3 class="blue" id="totalrf">0</h3>
                                                        <span class="text-muted">Total Refunds</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <div class="media">
                                                    <div class="media-body text-xs-left">
                                                        <h3 class="teal" id="monthrf">0</h3>
                                                        <span class="text-muted">Refunds in <span id="monthname"></span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <div class="media">
                                                    <div class="media-body text-xs-left">
                                                        <h3 class="cyan" id="todayrf">0</h3>
                                                        <span class="text-muted">Today's Refund</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card panel panel-default m-b-xs">
                                <div class="card-header panel-heading alert-info alert-inverse" role="tab" id="headingOne" style="padding: 0.5em">
                                    <h6 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="icon-filter"></i>&nbsp; Filter</a></h6></div>
                                    <div id="collapseOne" class="card-block panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">                                        
                                        
                                        <div layout="block" class="form-group col-lg-4">
                                            <label for="email" class="small text-muted">Transaction Date Range</label>
                                            <div class='input-group'>
                                                <input type='text' class="form-control form-control-sm" id="dateRange" />
                                                    <span class="input-group-addon form-control-sm">
                                                            <span class="icon-calendar3"></span>
                                                    </span>
                                            </div>
                                        </div>
            
                                        <div layout="block" class="form-group col-lg-2" >
                                            <label for="email" class="small text-muted">Currency</label>
                                            <select class="form-control form-control-sm small-select" id="currency">
                                                <option>NGN</option>
                                                <option>CAD</option>
                                                <option>GHS</option>
                                                <option>KES</option>
                                                <option>USD</option>
                                                <option>GBP</option>
                                            </select>
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted">Provider</label>
                                            <div class='input-group'>
                                                <h:form prependId="false">
                                                    <h:selectOneMenu class="form-control form-control-sm small-select" id="provider">
                                                        <f:selectItem itemValue="#{null}" itemLabel="Any" itemDisabled="true" />
                                                        <f:selectItems class="small" value="#{providerController.allProviders}" var="item" itemLabel="#{item.name.replaceAll('_', ' ' )}" itemValue="#{item.shortName}" />
                                                    </h:selectOneMenu>
                                                </h:form>
                                            </div>
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3" id="searchPane">
                                            <label for="searchValue" class="small text-muted">Search value</label>
                                            <input id="searchValue" placeholder="RRN / FLW Reference" class="form-control form-control-sm" />
                                        </div>
                                        
                                        <div class="form-group col-lg-3" style="">
                                            <label for="searchValue" class="small text-muted">&nbsp;</label>
                                            <div>
                                                <button class="btn btn-primary btn-sm col-lg-5" style="margin-right: 2% " id="searchBtn"><i class="fa fa-filter"></i> &nbsp; Filter &nbsp;</button> &nbsp;
                                                <button class="btn btn-danger  btn-sm col-lg-5" id="clearbtn"><i class="fa fa-times"></i> &nbsp; Clear &nbsp;</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right" style="float: right">
                                        <button class="btn btn-info btn-sm" id="excelexport"> Export To Excel</button>
                                    </div>
                                </div>

                            <div class="table-responsive">
                                <br /><br/>
                                <div class="col-lg-12">
                                    <table class="table table-bordered table-striped datatable" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>PROVIDER</th>
                                                <th>MERCHANT ID</th>
                                                <th>AMOUNT</th>
                                                <th>CURRENCY</th>
                                                <th>MERCHANT REFERENCE</th>
                                                <th>FLW REFERENCE</th>
                                                <th>MASKED PAN</th>
                                                <th>CARD COUNTRY</th>
                                                <th>TRANSACTION TYPE</th>
                                                <th>DATE</th>
                                                <th>RESPONSE MESSAGE</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            
            <div class="modal fade bd-example-modal" id="modalValues" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content row">
                        <div class="modal-header card-warning">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="myModalLabel">Transaction Information Preview</h6>
                        </div>
                        <div class="modal-body row" >
                            
                            <div class="col-lg-12" id="bodyPane">
                                <table class="table table-striped table-bordered" id="content-table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="dismiss" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <h:form prependId="false" style="display: none">
                <h:inputHidden id="daterangeF" binding="#{daterange}" value="dan" />
                <h:inputHidden id="currencyF" binding="#{currency}" value="excel" />                
                <h:inputHidden id="searchValueF" binding="#{searchValue}" value="false" />
                <h:inputHidden id="providerF" binding="#{provider}" value="dan" />
                <h:inputHidden id="formatF" binding="#{format}" value="false" />
                
                <h:commandButton style="display: none" action="#{transactionController.exportFlutterwaveData(daterange.value, searchValue.value, provider.value, null, currency.value, null,null, null, true, format.value)}" id="smtbtn" value="submit" />
            </h:form>
            
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <!-- This is a pick a date section -->
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/transaction.js" />
            <h:outputScript name="/js/util.js" />
            <h:outputScript name="/js/jsutil.js" />
            <h:outputScript>
                
                 $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }

                $("#dateRange").daterangepicker({
                    timePicker: !0
                    , timePickerIncrement: 1
                    , timePicker24Hour: !0
                    , timePickerSeconds: !0
                    , startDate: moment().subtract('days', 30)
                    , maxDate : moment()
                    , locale: {
                        format: "DD/MM/YYYY HH:mm:ss"
                    }
                });
                
                var ctx = "#{request.contextPath}";
                
                var searchstate = false;

                function getTransactions(){
                    oTable = $('.datatable').dataTable({
                        serverSide: true,
                        "bSort": false, 
                        "aLengthMenu": [ [20, 50, 80, 100, 150, 200], [20, 50, 80, 100, 150, 200] ],
                         ajax: {
                             url: ctx + "/api/product/transaction/refund",
                             type: 'GET',
                             data :function(d){
                                d.range = $("#dateRange").val();
                                d.currency = $("#currency").val();
                                d.searchString = $("#searchValue").val();
                                d.provider = $("#provider").val();
                             },
                             beforeSend : function(){
                                showloader();
                             },
                             complete : function(){
                                hideloader();
                             }
                         },
                         fnDrawCallback : function(){
                         },
                         columns : [
                            { data : 'id'},
                            {data : "provider"},
                            {data : "merchantId"},
                            {data : "amount", 
                                'render' : function(data, type, row){
                                    return parseFloat(data).toLocaleString();
                                }
                            },
                            {data : "transactionCurrency"},
                            {data : "merchantTxnReference", 
                                "render" : function(data, type, row){
                                    if (data !== null || data !== undefined)
                                        return (data+"").substring(0, 20);
                                    
                                    return data;
                                }
                            },
                            {data : "flwTxnReference"},
                            {data : "cardMask"},
                            {data : "cardCountry"},
                            {data : "transactionType"},
                            {data : "datetime",
                                'render' : function(data, type, row){
                                    return moment(new Date(data)).format("DD/MM/YYYY hh:mm A");
                                }
                            },
                            {data : "responseCode", 
                                'render' : function(data, type, row){
                                    
                                    var error = "\"tag tag-default tag-danger\"";
                                    var success = "\"tag tag-default tag-success\"";
                                    
                                    if(data.toLowerCase() === "00" || data.toLowerCase() === "00")
                                        return "<span class="+success+">"+row.responseMessage+"</span>" ;
                                    
                                    return "<span class="+error+">"+row.responseMessage+"</span>" ; ;
                                }
                            },
                            {data : "id", 
                                'render' : function(data, type, row){
                                    return '<a class="btn btn-warning btn-float btn-sm m-r-xs small-font" onclick="getInfo('+row.id+')"><i class="icon-eye"></i></a> &nbsp;';
                                }
                            }
                         ],
                         "rowCallback" : function(row, data, index){
                            
                            var setting = oTable.fnSettings();
                            var index = (setting._iDisplayStart + index + 1);
                            $("td:eq(0)", row).html(index);
                         }
                    });
                }
                    
                function getInfo(id){
                    getFlutterTransaction(ctx, id);
                }
                
                setTimeout(function(){
                
                    getTransactions();
                    
                    getRefundSummary();
                    
                }, 1000);
                
                
                $("#searchBtn").click(function(){
                    
                    getRefundSummary();
                    
                    oTable.fnDraw();
                })
                    
                
                $("#clearbtn").click(function(){
                });
                
                $("#product").change(function(){                    
                                       
                    //getStatus();
                    //updateView();
                });
                
                
                function getStatus(){
                    
                    $.ajax({
                        url : ctx + "/api/product/transaction/status",
                        data : {
                            "product" : $("#product").val()
                        }
                    }).done(function(data){
                        
                        var temp = "<option>Any</option>"
                        for (var d in data){
                            temp += "<option>"+data[d]+"</option>";
                        }
                        
                        $("#transactionStatus").html(temp);
                    })
                }
                
                function getFlwResponse(){
                    
                    $.ajax({
                        url : ctx + "/api/product/transaction/fresponses"
                    }).done(function(data){
                        
                        var temp = "<option>Any</option>"
                        for (var d in data){
                            temp += "<option>"+data[d]+"</option>";
                        }
                        
                        $("#flutterResponse").html(temp);
                    })
                }
                
                getFlwResponse();
                
                function exportData(format){
                
                    $("#daterangeF").val($("#dateRange").val());
                    $("#currencyF").val($("#currency").val());
                    $("#searchValueF").val($("#searchValue").val());
                    $("#providerF").val($("#provider").val());
                    $("#formatF").val(format);
                    
                    $("#smtbtn").click();
                }
                
                $("#pdfexport").click(function(){
                    exportData("pdf");
                });
                
                $("#excelexport").click(function(){
                    exportData("excel");
                });


                $("#csvexport").click(function(){
                    exportData("csv");
                });
                
                
            </h:outputScript>
        </ui:define>
        
    </ui:composition>
</html>

