<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Dashboard &nbsp;</ui:define>
        <ui:define name="nav-title">Dashboard &nbsp;</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/daterangepicker.css" />
            <h:outputStylesheet name="/css/c3.css" />
            <h:outputStylesheet>
                table{
                    font-size : 70%;
                }
                
                table td, table th {
                    border-top: table-borderless;
                    padding: .75rem !important;
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
             <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card card-block">
                        <h4 class="m-b-0 v-align-middle text-overflow font-weight-bold"><span id="txnvalue">0</span></h4>
                        <div class="small text-overflow text-muted">&nbsp;</div>
                        <h6 class="medium text-overflow">TRANSACTION VALUE</h6>
                    </div>
                </div>
                
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card card-block">
                        <h4 class="m-b-0 v-align-middle text-overflow font-weight-bold"><span id="txnvolume">0</span></h4>
                        <div class="small text-overflow text-muted">&nbsp;</div>
                        <h6 class="medium text-overflow">TRANSACTION VOLUME</h6>
                    </div>
                </div>
                
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card card-block">
                        <h4 class="m-b-0 v-align-middle text-overflow font-weight-bold"><span id="successtxnvalue">0</span></h4>
                        <div class="small text-overflow text-muted">&nbsp;</div>
                        <h6 class="medium text-overflow">SUCCESSFUL TXN. VALUE</h6>
                    </div>
                </div>
                
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card card-block">
                        <h4 class="m-b-0 v-align-middle text-overflow font-weight-bold"><span id="successtxnvolume">0</span></h4>
                        <div class="small text-overflow text-muted">&nbsp;</div>
                        <h6 class="medium text-overflow">SUCCESSFUL TXN. VOL.</h6>
                    </div>
                </div>
                
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card card-block">
                        <h4 class="m-b-0 v-align-middle text-overflow font-weight-bold"><span id="failedtxnvalue">0</span></h4>
                        <div class="small text-overflow text-muted">&nbsp;</div>
                        <h6 class="medium text-overflow">FAILED TXN. VALUE</h6>
                    </div>
                </div>
                
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card card-block">
                        <h4 class="m-b-0 v-align-middle text-overflow font-weight-bold"><span id="failedtxnvolume">0</span></h4>
                        <div class="small text-overflow text-muted">&nbsp;</div>
                        <h6 class="medium text-overflow">FAILED TXN. VALUE</h6>
                    </div>
                </div>
                
            </div>
            
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/chart/d3.min.js" />
            <h:outputScript name="/js/chart/c3.min.js" />
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/dashboard_1.js" />
            <h:outputScript>
                
                var ctx = "#{request.contextPath}";
               
                function getSummary(){
                    $.ajax({
                       url: ctx + "/api/product/transaction/airtime/summary"
                    }).done(function(data){
                        
                    
                        var temp = data.success;
                        
                        $("#successtxnvalue").text(temp.value);
                        $("#successtxnvolume").text(temp.volume);
                        
                        temp = data.failed;
                        
                        $("#failedtxnvalue").text(temp.value);
                        $("#failedtxnvolume").text(temp.volume);
                        
                        temp = data.total;
                        
                        $("#txnvalue").text(temp.value);
                        $("#txnvolume").text(temp.volume);
                        
                    });
                }
                
                getSummary();
                
                
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

