<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <ui:composition template="/template/template_bank.xhtml">
        <ui:define name="title">Dashboard &nbsp;</ui:define>
        <ui:define name="nav-title">Dashboard &nbsp;</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/daterangepicker.css" />
            <h:outputStylesheet name="/css/c3.min.css" />
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row p-3">
                                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-4 border-right-blue-grey border-right-lighten-5">
                                    <div class="p-1 text-xs-center">
                                        <div>
                                            <h4 class="font-medium-5 grey darken-1 text-bold-400" id="moneywavetotal">0</h4>
                                            <span class="font-small-3 grey darken-1">Total Merchant</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-4 border-right-blue-grey border-right-lighten-5">
                                    <div class="p-1 text-xs-center">
                                        <div>
                                            <h4 class="font-medium-5 grey darken-1 text-bold-400 small" id="ravetotal">0</h4>
                                            <span class="font-small-3 grey darken-1">Transaction Value</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-4">
                                    <div class="p-1 text-xs-center">
                                        <div>
                                            <h4 class="font-medium-5 grey darken-1 text-bold-400 small" id="coretotal">0</h4>
                                            <span class="font-small-3 grey darken-1">Charge Backs</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/Chart_2.js" />
            <h:outputScript name="/js/d3.v3.min.js" />
            <h:outputScript name="/js/c3.min.js" />
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/dashboard.js" />
            <h:outputScript>
                
                var ctx = "#{request.contextPath}";
               
                 
                
                function setBar(id, currency, dataArray){
                
                    var data = {
                        labels: currency ,
                        datasets: [
                            {
                                label: "Origin Currency Transactions",
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],

                               /* borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ], */
                                borderWidth: 1,
                                data: dataArray,
                            }
                        ]
                    };
                
                    new Chart($("#"+id), {
                        type: 'bar',
                        data: data,
                        options : {
                            scales : {
                                xAxes : [ {
                                    gridLines : {
                                        display : false
                                    }
                                } ],
                                yAxes : [ {
                                    gridLines : {
                                        display : false
                                    }
                                } ]
                            }
                        }
                    });
                }
                
                function setPie(id, currency, dataArray){
                    
                    var data = {
                        labels: currency ,
                        datasets: [
                            {
                                label: "Origin Currency Transactions",
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],

                               /* borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ], */
                                borderWidth: 1,
                                data: dataArray,
                            }
                        ]
                    };
                    var myDoughnutChart = new Chart($("#"+id), {
                        type: 'pie',
                        data: data
                    });
                }
                
                function setLine(id, title, dataArray){
                    
                    var data = {
                        labels: title ,
                        datasets: [
                            {
                                label: "Transaction Count",
                                fill: false,
                                lineTension: 0.1,
                                backgroundColor: "rgba(75,192,192,0.4)",
                                borderColor: "rgba(75,192,192,1)",
                                borderCapStyle: 'butt',
                                borderDash: [],
                                borderDashOffset: 0.0,
                                borderJoinStyle: 'miter',
                                pointBorderColor: "rgba(75,192,192,1)",
                                pointBackgroundColor: "#fff",
                                pointBorderWidth: 1,
                                pointHoverRadius: 5,
                                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                                pointHoverBorderColor: "rgba(220,220,220,1)",
                                pointHoverBorderWidth: 2,
                                pointRadius: 1,
                                pointHitRadius: 10,
                                borderWidth: 1,
                                spanGaps: false,
                                data: dataArray
                            }
                        ]
                    };
                    var myDoughnutChart = new Chart($("#"+id), {
                        type: 'line',
                        data: data,
                        options : {
                            scales : {
                                xAxes : [ {
                                    gridLines : {
                                        display : false
                                    }
                                } ],
                                yAxes : [ {
                                    gridLines : {
                                        display : false
                                    }
                                } ]
                            }
                        }
                    });
                }
                
                $.ajax({
                   url: ctx + "/api/recon/transaction/csummary/20"
                }).done(function(data){
                
                console.log(data);
                   //drawGraph(data);
                });
                
                $("#dateinterval, #dateintervalM, #dateRangeG").daterangepicker({
                    locale : {
                        format : "DD/MM/YYYY"
                    },
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                     }
                });
                
                $('#dateinterval, #dateintervalM, #dateRangeG').val(moment().subtract('days', 30).format('DD/MM/YYYY') + ' - ' + moment().format('DD/MM/YYYY'));
                
                $("#dateRange, #dateVolume").daterangepicker({
                    locale : {
                        format : "DD/MM/YYYY"
                    },
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                     },
                     
                });
                
                $('#dateRange, #dateVolume').val(moment().subtract('days', 30).format('DD/MM/YYYY') + ' - ' + moment().format('DD/MM/YYYY'));
                
                function pullGraphTransactions(){
                    
                    $.ajax({
                        url: ctx + "/api/recon/transaction/graph",
                        data : {
                            "daterange" : $("#dateRange").val()
                        }
                    }).done(function(data){
                        
                       drawChart(data);
                    });
                    
                }
                
                  pullGraphTransactions();
                  
                  $("#dateRange").on("apply.daterangepicker", function(){
                    
                        pullGraphTransactions();
                  });
                    
                    function getWorth(currency, dateRange){
                        
                        $.ajax({
                            url: ctx + "/api/report/worth",
                            data : {
                                "currency" : currency,
                                "daterange" : dateRange
                            }
                        }).done(function(data){

                            var temp = "";
                            
                            var count = 1;
                            
                            for(var d in data){
                                
                                if(d === "totalSettled" || d === "totalSum"){
                                       
                                    continue;
                                }
                                
                                temp += "<tr><td>"+(count++)+"</td>";
                                temp += "<td>"+d+"</td>";
                                temp += "<td>"+(parseInt(data[d].success) + parseInt(data[d].failure))+"</td>";
                                temp += "<td>"+data[d].success+"</td>";
                                temp += "<td>"+data[d].failure+"</td></tr>";    
                            }
                            
                            $("#tworth tbody").html(temp);
                            console.log(data);

                        });  
                    }  
                    
                    function getVolume(currency, dateRange){
                        
                        $.ajax({
                            url: ctx + "/api/recon/transaction/volume",
                            data : {
                                "currency" : currency,
                                "daterange" : dateRange
                            }
                        }).done(function(data){

                            var temp = "";
                            
                            var count = 1;
                            
                            for(var d in data){
                                
                                if(d === "totalSettled" || d === "totalSum"){
                                       
                                    continue;
                                }
                                
                                temp += "<tr><td>"+(count++)+"</td>";
                                temp += "<td>"+d+"</td>";
                                temp += "<td>"+(parseInt(data[d].success) + parseInt(data[d].failure))+"</td>";
                                temp += "<td>"+data[d].success+"</td>";
                                temp += "<td>"+data[d].failure+"</td></tr>";    
                            }
                            
                            $("#tvolume tbody").html(temp);

                        });  
                    } 
                    
                    $("#dateinterval, #currencylistW").change(function(){
                        getWorth($("#currencylistW").val(),$('#dateinterval').val());
                    });
                    
                    $("#dateVolume, #currencylist").change(function(){
                        getVolume($("#currencylist").val(),$('#dateVolume').val());
                    })
                    
                    getWorth($("#currencylistW").val(), $("#dateinterval").val());
                        
                    getVolume($("#currencylist").val(), $("#dateVolume").val());
                    
                    getDashboardSummary(ctx, $("#currencylistM").val(), $("#dateintervalM").val());
                    
                    $("#filterbtn").click(function(){
                        getDashboardSummary(ctx, $("#currencylistM").val(), $("#dateintervalM").val());
                    });
                    
                    function pullGraphTransaction(){
                    
                        $.ajax({
                            url: ctx + "/api/recon/transaction/trend",
                            data : {
                                "currency" : $("#currencylistG").val(),
                                "range" : $("#dateRangeG").val()
                            }
                        }).done(function(data){

                            var gData = [];
                            var xData = [];
                            var fData = [];

                            xData.push("Date");
                            fData.push("Amount");

                            
                            for(var s in data){
                                xData.push(moment(s).format("YYYY-MM-DD"));
                                fData.push(data[s]);                            
                            }
                            
                            gData.push(xData); gData.push(fData);
                            
                            //setLine("chart1", xData, fData);
                            
                            drawGraphNew(gData);
                        });
                    }
                    
                    function drawGraphNew(data){
                        c3.generate({
                            bindto: "#chart1",
                            data: {
                                x: "Date",
                                columns: data,
                                types: {
                                    Amount : 'area-spline',
                                }
                            },
                            axis : {
                                x : {
                                    type : 'category',
                                    tick: {
                                        rotate: 75,
                                        multiline: false
                                    }
                                },
                                yAxes: [{
                                    ticks: {
                                        beginAtZero:true
                                    }
                                }]
                            }
                        });
                    }
                    
                    pullGraphTransaction();
                    
                    $("#fbtn").click(function(){
                        pullGraphTransaction();
                    })
                    
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

