<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="styles">
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
        </ui:define>
        <ui:define name="content">
            <div class="row">
                
                <div class="form-group col-lg-1 pull-right" style="float: left">
                    <button class="btn btn-info btn-sm pull-right col-md-12" onclick="window.print();">&nbsp; Print</button>
                </div>
                
                <div class="form-group col-lg-1 pull-right" style="float: right">
                    <button class="btn btn-primary btn-sm pull-right col-md-12" style="float: right" id="fbtn"><i class="fa fa-filter"></i> &nbsp; Filter</button>
                </div>
                <div class="form-group col-lg-2 pull-right" style="float: right">
                    <select  id="currencylist" class="form-control form-control-sm">   
                        <option>NGN</option>
                        <option>GHS</option>
                        <option>KES</option>
                        <option>GBP</option>
                        <option>USD</option>
                    </select>
                </div>
                <div class="form-group col-lg-3 pull-right" style="float: right">
                    <input class="form-control form-control-sm" id="dateinterval" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-4 border-right-blue-grey border-right-lighten-5">
                                    <div class="p-1 text-xs-center">
                                        <div>
                                            <h4 class="font-medium-5 grey darken-1 text-bold-400" id="moneywavetotal">0</h4>
                                            <span class="font-small-3 grey darken-1">Moneywave</span>
                                        </div>
                                        <div class="card-body overflow-hidden">
                                            <div id="morris-comments" class="height-75"></div>
                                            <ul class="list-inline clearfix mb-0">
                                                <li class="border-right-grey border-right-lighten-2 pr-2">
                                                    <h6 class="success text-bold-400" id="moneywavesuccessful">0</h6>
                                                    <h:form prependId="false">
                                                        <h:commandLink class="font-small-3 grey darken-1" action="#{transactionController.getTransactions('moneywave','successful')}"  title="click to view">
                                                            <span class="font-small-3 grey darken-1"> Successful</span>
                                                        </h:commandLink>
                                                     </h:form>
                                                </li>
                                                <li class="pl-2">
                                                    <h:form prependId="false">
                                                        <h6 class="danger text-bold-400 small" id="moneywavefailed">0</h6>
                                                        <h:commandLink class="font-small-3 grey darken-1" action="#{transactionController.getTransactions('moneywave','failed')}"  title="click to view">
                                                            <span class="font-small-3 grey darken-1"> Failed</span>
                                                        </h:commandLink>
                                                     </h:form>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-4 border-right-blue-grey border-right-lighten-5">
                                    <div class="p-1 text-xs-center">
                                        <div>
                                            <h4 class="font-medium-5 grey darken-1 text-bold-400 small" id="ravetotal">0</h4>
                                            <span class="font-small-3 grey darken-1">Rave</span>
                                        </div>
                                        <div class="card-body overflow-hidden">
                                            <div id="morris-likes" class="height-75"></div>
                                            <ul class="list-inline clearfix mb-0">
                                                <li class="border-right-grey border-right-lighten-2 pr-2">
                                                    <h:form prependId="false">
                                                        <h6 class="success text-bold-400" id="ravesuccessful">0</h6>
                                                        <h:commandLink class="font-small-3 grey darken-1" action="#{transactionController.getTransactions('rave','successful')}"  title="click to view">
                                                            <span class="font-small-3 grey darken-1"> Successful</span>
                                                        </h:commandLink>
                                                     </h:form>
                                                </li>
                                                <li class="pl-2">
                                                    <h:form prependId="false">
                                                        <h6 class="danger text-bold-400 small" id="ravefailed">0</h6>
                                                        <h:commandLink class="font-small-3 grey darken-1" action="#{transactionController.getTransactions('rave','failed')}"  title="click to view">
                                                            <span class="font-small-3 grey darken-1"> Failed</span>
                                                        </h:commandLink>
                                                     </h:form>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-4">
                                    <div class="p-1 text-xs-center">
                                        <div>
                                            <h4 class="font-medium-5 grey darken-1 text-bold-400 small" id="coretotal">0</h4>
                                            <span class="font-small-3 grey darken-1">Flutterwave Core </span>
                                        </div>
                                        <div class="card-body overflow-hidden">
                                            <div id="morris-views" class="height-75"></div>
                                            <ul class="list-inline clearfix mb-0">
                                                <li class="border-right-grey border-right-lighten-2 pr-2">
                                                    <h:form prependId="false">
                                                        <h6 class="success text-bold-400" id="coresuccessful">0</h6>
                                                        <h:commandLink class="font-small-3 grey darken-1" action="#{transactionController.getTransactions('core','successful')}"  title="click to view">
                                                            <span class="font-small-3 grey darken-1">Successful</span>
                                                        </h:commandLink>
                                                     </h:form>
                                                </li>
                                                <li class="pl-2">
                                                    <h:form prependId="false">
                                                        <h6 class="danger text-bold-400 small" id="corefailed">0</h6>
                                                        <h:commandLink class="font-small-3 grey darken-1" action="#{transactionController.getTransactions('core','failed')}"  title="click to view">
                                                            <span class="font-small-3 grey darken-1">Failed</span>
                                                        </h:commandLink>
                                                     </h:form>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                
                <div class="form-group col-lg-2 col-sm-4 col-xs-2">
                    <select  id="product" class="form-control form-control-sm">   
                        <option value="moneywave">Moneywave</option>
                        <option value="rave">Rave</option>
                        <option value="core">Flutterwave Core</option>
                    </select>
                </div>
                <div class="form-group col-lg-2 col-sm-4 col-xs-2">
                    <select  id="currencylistW" class="form-control form-control-sm">   
                        <option>NGN</option>
                        <option>GHS</option>
                        <option>KES</option>
                        <option>GBP</option>
                        <option>USD</option>
                    </select>
                </div>
                <div class="form-group col-lg-3 pull-right col-xs-3">
                    <input class="form-control form-control-sm" id="daterange" />
                </div>
                <div class="form-group col-sm-3 col-lg-1 col-xs-3">
                    <button class="btn btn-warning btn-sm pull-right col-md-12" id="fbtngragh"><i class="fa fa-filter"></i> &nbsp; Filter</button>
                </div>
            </div>
            <div class="row match-height">
                <div class="col-xl-8 col-lg-12 col-xs-12" id="trend-pane">
                    <div class="card" style="height: 450px;">
                        <div class="card-body">
                            <ul class="list-inline text-xs-center pt-2 m-0">
                                <li class="mr-1">
                                    <h6><i class="icon-circle warning"></i> <span class="grey darken-1">Transaction Trend</span></h6>
                                </li>
                            </ul>
                            <div class="chartjs height-250" id="chartjsgraph" style="height: 500px;">
                                <canvas id="d-graph" height="500" width="1500" style="display: block; width: 100%; height: 250px;"></canvas>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-xs-3 text-xs-center">
                                    <span class="text-muted small">Total Value</span>
                                    <h6 class="block font-weight-normal" id="totalvalue">0</h6>
                                    <!--<progress class="progress progress-xs mt-2 progress-success" value="70" max="100"></progress>-->
                                </div>
                                <div class="col-xs-3 text-xs-center">
                                    <span class="text-muted small">Total Volume</span>
                                    <h6 class="block font-weight-normal" id="totalvolume">0</h6>
                                    <!--<progress class="progress progress-xs mt-2 progress-success" value="40" max="100"></progress>-->
                                </div>
                                <div class="col-xs-3 text-xs-center">
                                    <span class="text-muted small">Total Successful</span>
                                    <h6 class="block font-weight-normal" id="totalsuccess">0</h6>
                                    <!--<progress class="progress progress-xs mt-2 progress-success" value="60" max="100"></progress>-->
                                </div>
                                <div class="col-xs-3 text-xs-center">
                                    <span class="text-muted small">Total Fee</span>
                                    <h6 class="block font-weight-normal" id="totalfee">0</h6>
                                    <!--<progress class="progress progress-xs mt-2 progress-success" value="90" max="100"></progress>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12 col-xs-12" id="summarypanepie">
                    <div class="card  card-inverse" style="height: 438px;">
                        <div class="card-body">
                            <div class="card-block sales-growth-chart">
                                <div class="chart-title mb-1 text-xs-center">
                                    <span class="text-muted">Summary By Status</span>
                                </div>
                                <div id="pie-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-xs-12" id="summarypaneline">
                <div class="card  card-inverse">
                    <div class="card-body">
                        <div class="card-block sales-growth-chart">
                            <div class="chart-title mb-1 text-xs-center">
                                <i class="icon-circle info"></i>  <span class="text-muted">Summary By Status</span>
                            </div>
                            <div id="summary-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <!--<h:outputScript name="https://www.google.com/jsapi"/>-->
            <script src="https://www.google.com/jsapi" type="text/javascript"></script>
            <h:outputScript name="/js/chart/chart.min.js" />
            <h:outputScript name="/js/chart/chartist.min.js" />
            <h:outputScript name="/js/chart/chartist-plugin-tooltip.js" />
            <h:outputScript name="/js/chart/morris.min.js" />
            <h:outputScript name="/js/chart/raphael-min.js" />
            <h:outputScript name="/js/chart/c3.min.js" />
            <h:outputScript name="/js/chart/d3.min.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/dashboard.js" />
            <h:outputScript>
                
                var ctx = "#{request.contextPath}";
                
                $("#summarypaneline").hide();
                
                var currentData;
                
                $("#dateinterval, #daterange").daterangepicker({
                    locale : {
                        format : "DD/MM/YYYY"
                    },
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                });
                
                 $('#dateinterval, #daterange').val(moment().subtract('days', 30).format('DD/MM/YYYY') + ' - ' + moment().format('DD/MM/YYYY'));
                 
                 getGraphData(ctx);
                 
                 getGraphSummary(ctx);
                 
                 $("#fbtngragh").click(function(){

                    $("#chartjsgraph").html('');
                    
                    
                    getGraphData("#{request.contextPath}");
                 });
                 
                 $("#fbtn").click(function(){
                    
                    getGraphSummary("#{request.contextPath}");
                 });
                 
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

