<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    
    <ui:composition template="/template/template_plain.xhtml">
        <ui:define name="title">Login</ui:define>
        <ui:define name="content">
            <section class="flexbox-container">
                <div class="col-md-3 offset-md-5 col-xs-10 offset-xs-1 box-shadow-2 p-0 offset-lg-c-4-5">
                    <div class="card border-grey border-lighten-3 m-0">
                        <div class="card-header no-border">
                            <div class="card-title text-xs-center">
                                <div class="p-1"><h:graphicImage library="img" height="50" name="logo.png" class="expanding-hidden" /></div>
                            </div>
                            <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>Access Login</span></h6>
                        </div>
                        <div class="card-body collapse in">
                            <div class="card-block pt-0">
                                <h:form class="form-horizontal" prependId="false">
                                    <h:panelGroup id="messagePanel" layout="block" >
                                        <h:messages errorClass="alert-danger" infoClass="alert-success" class="alert status-alert"/>
                                    </h:panelGroup>
                                    <fieldset class="form-group floating-label-form-group">
                                        <label for="user-name" class="text-muted small">Username</label>
                                        <h:inputText class="form-control small-font" required="true" requiredMessage="username not provided" id="username" value="#{userController.loginModel.username}" p:placeholder="Enter Username" />
                                    </fieldset>
                                    <fieldset class="form-group floating-label-form-group mb-1">
                                        <label for="user-password" class="text-muted small">Password</label>
                                        <h:inputSecret class="form-control small-font" required="true" requiredMessage="password not provided" value="#{userController.loginModel.password}" id="password" p:placeholder="Enter Password" />
                                    </fieldset>
                                    <fieldset class="form-group row">
                                        <div class="col-md-6 col-xs-12">
                                            <fieldset>
                                                <input type="checkbox" id="remember-me" class="chk-remember" />
                                                <label for="remember-me" class="small"> Remember Me</label>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6 col-xs-12 float-sm-right align-right"><a href="#" class="card-link small">Forgot Password?</a></div>
                                    </fieldset>
                                    
                                    <h:commandButton style="margin-top: 2em" id="loginBtn" value="Login" class="btn btn-outline-primary btn-block mb-1" action="#{userController.loginOTP}">
                                        <!--<i class="icon-unlock2"></i>-->
                                    </h:commandButton>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/icheck/icheck.css" />
            <h:outputStylesheet name="/css/icheck/custom.css" />
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/icheck.min.js" />
            <h:outputScript name="/js/form-login-register.js" />
            <h:outputScript>
                $("#loginBtn").click(function(){
                    $(this).addClass("disabled");
                })
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

