<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    
    <ui:composition template="/template/template_plain.xhtml">
        <ui:define name="title">Login</ui:define>
        <ui:define name="content">
            <section class="flexbox-container">
                <div class="col-md-3 offset-md-5 col-xs-10 offset-xs-1 box-shadow-2 p-0 offset-lg-c-4-5">
                    <div class="card border-grey border-lighten-3 m-0">
                        <div class="card-header no-border">
                            <div class="card-title text-xs-center">
                                <div class="p-1"><h:graphicImage library="img" height="50" name="logo.png" class="expanding-hidden" /></div>
                            </div>
                            <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>Access Login</span></h6>
                        </div>
                        <div class="card-body collapse in">
                            <div class="card-block pt-0">
                                <h:form class="form-horizontal" prependId="false">
                                    <h:panelGroup id="messagePanel" layout="block" >
                                        <h:messages errorClass="alert-danger" infoClass="alert-success" class="alert status-alert"/>
                                    </h:panelGroup>
                                    <fieldset class="form-group floating-label-form-group">
                                        <!--<label for="user-name" class="text-muted small text-xs-center">Please enter OTP (sent to your mail address #{userController.loginModel.maskedEmail} )</label>-->
                                        <label for="user-name" class="text-muted small text-xs-center">Please login with OTP #{userController.loginModel.token} </label>
                                        <h:inputText immediate="false" class="form-control small-font" required="true" requiredMessage="please provide otp" id="otp" value="#{userController.loginModel.token}" p:placeholder="Enter OTP" />
                                    </fieldset>
                                    
                                    <h:commandButton style="margin-top: 2em" value="Validate OTP" class="btn btn-outline-primary btn-block mb-1" action="#{userController.validateOTP}" />
                                    
                                    <h:commandLink value="" class="card-link small" action="#{userController.relogin()}"  immediate="true" style="float: left; color: #624c9a">
                                        &lt;&lt; Back
                                    </h:commandLink>
                                    
                                    <h:commandLink value="" class="card-link small" action="#{userController.resendOTP()}"  immediate="true" style="float: right; color: #624c9a">
                                        Resend OTP
                                    </h:commandLink>

                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/icheck/icheck.css" />
            <h:outputStylesheet name="/css/icheck/custom.css" />
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/icheck.min.js" />
            <h:outputScript name="/js/form-login-register.js" />
        </ui:define>
    </ui:composition>
</html>

