<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Airtime Provider Configuration</ui:define>
        <ui:define name="nav-title">Provider Configuration</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/select2.min_1.css" />
            <h:outputStylesheet name="/css/select2-bootstrap.min.css" />
            <h:outputStylesheet name="/css/sweetalert.css" />
            <h:outputStylesheet>
                ul{
                    padding-left: 0;
                    list-style: none;
                }
                td {
                    padding-left : 4vh;
                }
                
                td label{
                    margin-left : 2vh;
                }
                
            </h:outputStylesheet>
            <h:outputStylesheet>
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                #content-table{
                    font-size: 0.70em;
                    width : 100%
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                
                .select2-result-label{
                    font-size : 80%
                }
                
                .select2-container, .select2-size-sm {
                    min-height: 30px;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">
                    <div class="card row">
                        <div class="card-header no-bg b-a-0">Default Providers</div>
                        
                        <div class="card-block col-lg-8 offset-lg-2 b-a-2">
                            <div class="table-responsive">
                                
                                <br/>
                                <button class="btn btn-primary btn-sm pull-right" style="float: right" id="updatebtn">Update Configuration</button>
                                
                                <br/><br/>
                                <h:panelGroup id="messagePanel" class="col-lg-12" layout="block">
                                    <!--<div class="card-block">-->
                                    <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                    <!--</div>-->
                                </h:panelGroup>
                                
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Mobile Network</th>
                                                <th>Provider</th>                                                
                                            </tr>
                                        </thead>
                                        <tbody id="pbody">
                                           
                                        </tbody>
                                    </table>
                                </div>
                                
                                <br/><br/>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            
            <div class="modal fade bd-example-modal" id="modalValues" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content row">
                        <div class="modal-header card-warning">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="myModalLabel"></h6>
                        </div>
                        <div class="modal-body row" >
                            
                            <div class="col-lg-12">
                                <div class="col-lg-5">
                                    <label class="small">Network</label>
                                    <select id="network" class="form-control form-control-sm small-select">
                                    </select>
                                </div>
                                <div class="col-lg-12" id="providerpane">
                                    <label class="small">Provider</label>
                                    <div id="provider" class="col-lg-12">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success btn-sm" id="submitbtn">Submit</button>
                            <button type="button" class="btn btn-danger btn-sm" id="dismiss" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/select2.min.js" />
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript>
                
                function showloader (){
                    $("#loading-mask").show();   
                }

                function hideloader(){
                    $("#loading-mask").hide();   
                }
                
                var ctx = "#{request.contextPath}";
                
                function getNetwork(){
                    
                    $.ajax({
                        url : ctx + "/api/airtime/network"
                    }).done(function(data){
                        
                        var temp = "";
                        for (var d in data){
                            temp += "<option>"+data[d]+"</option>";
                        }
                        
                        $("#network").html(temp);
                    })
                }
                
                getNetwork();
                
                function getProvider(){
                    
                    $.ajax({
                        url : ctx + "/api/airtime/provider"
                    }).done(function(data){
                        
                        var temp = "";
                        for (var d in data){
                            //temp += "<option value="+data[d].shortname+">"+data[d].name+"</option>";
                            
                            temp += "<input id="+d+" type="+'checkbox'+" value="+data[d].shortname+"></input> "+data[d].name+" <br/>";
                        }
                        
                        $("#provider").html(temp);
                    })
                }
                
                getProvider();
                
                function getProviderConfig(){
                    
                    $.ajax({
                        url : ctx + "/api/airtime/provider/config"
                    }).done(function(data){
                        
                        var temp = "";
                        
                        var i = 1;
                        for (var d in data){
                            
                            if(data[d].network === "ETISALAT")
                                continue;
                            
                            temp += "<tr>";
                            temp += "<td>"+(i++)+"</td>";
                            temp += "<td>"+data[d].network+"</td>";
                            temp += "<td>"+data[d]['provider_name']+"</td>";
                            temp += "</tr>";
                        }
                        
                        $("#pbody").html(temp);
                    })
                }
                
                getProviderConfig();
                
                $("#updatebtn").click(function(){
                    
                    $("#modalValues").modal("show");
                });
                
                $("#submitbtn").click(function(){
                    
                    var size = $("#providerpane input:checked").length;
                    
                    if(size === 0){
                        swal("", "At least one provider must be selected", "error");
                    }
                    
                    var selecteditems = [];
                    
                    $("#providerpane input:checked").each(function (i, ob) { 
                        selecteditems.push($(ob).val());
                    });
                    
                    var selectedStrings = selecteditems.join();
                    
                    swal({
                    title: '<small>Configuration Update Confirmation</small>'
                        , text: 'Are you sure you want to update this config ?'
                        , type: 'info'
                        ,animation: "slide-from-top"
                        , showCancelButton: true
                        , cancelButtonText: 'Cancel'
                        , closeOnConfirm: false
                        , confirmButtonText: 'OK'
                        , showLoaderOnConfirm: true
                        , html : true
                    }, function (isConfirm) {
                        
                        if(isConfirm === true || isConfirm === 'true'){
                    var network = $("#network").val();
                    
                    $.ajax({
                        url : ctx + "/api/airtime/provider/update",
                        type : "POST",
                        data : JSON.stringify({
                            "network" : ""+network,
                            "provider" : selectedStrings
                        }),
                        contentType : "application/json"
                    }).done(function(data){
                    
                        var status = data.status;
                        
                        
                        if("success" === status){
                            swal({
                                title: '<span style="font-size: 80%">Configuration Status</span>'
                                , text: "Provider updated successfully"
                                , type: 'success'
                                , showCancelButton: false
                                , confirmButtonText: 'OK'
                                , closeOnConfirm: true
                                , html: true
                            }, function (isConfirm) {
                                window.location.reload(true);
                            });
                            
                        }else
                            swal('Configuration Status', ''+data['description'], 'error');

                    }).fail(function(data){
                        swal('Configuration Status', ''+data['description'], 'error');
                    });
                    }
                    });
                })
                
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

