<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Airtime Transactions</ui:define>
        <ui:define name="nav-title">Airtime Transactions</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
            <h:outputStylesheet name="/css/select2.min_1.css" />
            <h:outputStylesheet name="/css/select2-bootstrap.min.css" />
            <h:outputStylesheet name="/css/sweetalert.css" />
            
            <h:outputStylesheet>
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                #content-table{
                    font-size: 0.70em;
                    width : 100%
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                
                .select2-result-label{
                    font-size : 80%
                }
                
                .select2-container, .select2-size-sm {
                    min-height: 30px;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">

                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Airtime Transactions</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block">
                            
                            <div class="card panel panel-default m-b-xs">
                                <div class="card-header panel-heading alert-info alert-inverse" role="tab" id="headingOne" style="padding: 0.5em">
                                    <h6 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="icon-filter"></i>&nbsp; Filter</a></h6></div>
                                    <div id="collapseOne" class="card-block panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        
                                        <div layout="block" class="form-group col-lg-4">
                                            <label for="email" class="small text-muted">Transaction Date Range</label>
                                            <div class='input-group'>
                                                <input type='text' class="form-control form-control-sm" id="dateRange" />
                                                    <span class="input-group-addon form-control-sm">
                                                            <span class="icon-calendar3"></span>
                                                    </span>
                                            </div>
                                        </div>
            
                                        <div layout="block" class="form-group col-lg-2" >
                                            <label for="email" class="small text-muted">Provider</label>
                                            <select class="form-control form-control-sm small-select" id="provider">
                                                <option value="any">Any</option>
                                                <option value="sochitel">Sochitel</option>
                                                <option value="primeairtime">Prime Airtime</option>
                                            </select>
                                        </div>
                                        
                                         <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted">Network</label>
                                            <div class='input-group'>
                                                <select class="form-control form-control-sm small-select" id="network">
                                                    <option value="any">Any</option>
                                                </select>
                                            </div>
                                         </div>
                                        
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="searchValue" class="small text-muted">Status</label>
                                            <select class="form-control form-control-sm small-select" id="status">
                                                <option value="any">Any</option>
                                            </select>
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="searchValue" style="width: 100%" class="small text-muted">
                                                Search value
                                            </label>
                                            <input id="searchValue" placeholder="Phone number, ref etc." class="form-control form-control-sm" style="padding:.35rem .5rem" />
                                        </div>
                                        
                                        <div class="form-group col-lg-3" style="">
                                            <label class="text-muted">&nbsp;</label>
                                            <div>
                                                <button class="btn btn-primary btn-sm col-lg-5" style="margin-right: 2% " id="searchBtn"><i class="fa fa-filter"></i> &nbsp; Filter &nbsp;</button> &nbsp;
                                                <button class="btn btn-danger  btn-sm col-lg-5" id="clearbtn"><i class="fa fa-times"></i> &nbsp; Clear &nbsp;</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right" style="float: right">
                                        <button class="btn btn-info btn-sm" id="excelexport"> Download</button>
                                        <!--<button class="btn btn-info btn-sm" id="csvexport"> Export To CSV</button>-->
                                    </div>
                                </div>
                            <div class="table-responsive">
                                <br /><br/>
                                <div class="col-lg-12">
                                    <table class="table table-bordered table-striped datatable" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>TRANSACTION DATE</th>
                                                <th>PROVIDER</th>
                                                <th>AMOUNT</th>
                                                <th>PHONE NUMBER</th>
                                                <th>NETWORK</th>
                                                <th>FLW REFERENCE</th>
                                                <th>TRANSACTION REFERENCE</th>
                                                <th>STATUS</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            
            <h:form prependId="false" style="display: none">
                <h:inputHidden id="daterangeF" binding="#{daterange}" value="dan" />             
                <h:inputHidden id="searchValueF" binding="#{searchValue}" value="dan" />
                <h:inputHidden id="providerF" binding="#{provider}" value="dan" />
                <h:inputHidden id="statusF" binding="#{status}" value="dan" />
                <h:inputHidden id="networkF" binding="#{network}" value="dan" />
                
                
                <h:commandButton style="display: none" action="#{transactionController.exportAirtimeTransactions(network.value, daterange.value, searchValue.value, provider.value, status.value)}" id="smtbtn" value="submit" />
            </h:form>
            
            <div class="modal fade bd-example-modal" id="modalValues" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content row">
                        <div class="modal-header card-warning">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="myModalLabel">Transaction Information Preview</h6>
                        </div>
                        <div class="modal-body row" >
                            
                            <div class="col-lg-12" id="bodyPane">
                                <table class="table table-striped table-bordered" id="content-table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="dismiss" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <!-- This is a pick a date section -->
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/jsutil.js" />
            <h:outputScript name="/js/transaction.js" />
            <h:outputScript name="/js/util.js" />
            <h:outputScript name="/js/lodash.min.js" />
            <h:outputScript name="/js/select2.min.js" />
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript>
                
                
                $("#disbursepane").hide();
                
                 $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }

                var ctx = "#{request.contextPath}";
                
                var searchstate = false;
                
                $("#dateRange").daterangepicker({
                    timePicker: !0
                    , timePickerIncrement: 1
                    , timePicker24Hour: !0
                    , timePickerSeconds: !0
                    , startDate: moment().subtract('days', 1).hour(00).minute(00).second(00)
                    , maxDate : moment().hour(23).minute(59).second(59)
                    , locale: {
                        format: "DD/MM/YYYY HH:mm:ss"
                    }
                });

                function getTransactions(){
                    oTable = $('.datatable').dataTable({
                        serverSide: true,
                        "bSort": false, 
                        "aLengthMenu": [ [20, 50, 80, 100, 150, 200], [20, 50, 80, 100, 150, 200] ],
                         ajax: {
                             url: ctx + "/api/airtime/transaction/all",
                             type: 'GET',
                             data :function(d){
                                d.range = $("#dateRange").val();
                                d.searchValue = $("#searchValue").val();
                                d.provider = $("#provider").val();
                                d.status = $("#status").val();
                                d.network = $("#network").val();
                             },
                             beforeSend : function(){
                                showloader();
                             },
                             complete : function(){
                                hideloader();
                             }
                         },
                         fnDrawCallback : function(){
                         },
                         columns : [
                            { data : "amount"},
                            {data : "date"},
                            {data : "provider"},
                            {data : "amount"},
                            {data : "phone_number"},
                            {data : "network"},
                            {data : "flutter_reference"},
                            {data : "transaction_reference"},
                            {data : "status", 
                                'render' : function(data, type, row){
                                    
                                    var error = "\"tag tag-default tag-danger\"";
                                    var success = "\"tag tag-default tag-success\"";
                                    
                                    if(data === "SUCCESSFUL" || data === "successful")
                                        return "<span class="+success+">"+data+"</span>" ;
                                    else    
                                        return "<span class="+error+">"+data+"</span>" ;
                                }
                            },
                            {data : "status", 
                                'render' : function(data, type, row){
                                    return "";
                                }
                            }
                         ],
                         "rowCallback" : function(row, data, index){
                            
                            var setting = oTable.fnSettings();
                            var index = (setting._iDisplayStart + index + 1);
                            $("td:eq(0)", row).html(index);
                         }
                    });
                }
                    
                getTransactions();
                
                $("#searchBtn").click(function(){
                    
                    oTable.fnDraw();
                })
                    
                
                $("#clearbtn").click(function(){
                    
                    window.location.reload();
                });
                
                function getStatusResponse(){
                    
                    $.ajax({
                        url : ctx + "/api/airtime/status"
                    }).done(function(data){
                        
                        var temp = "<option>Any</option>"
                        for (var d in data){
                            temp += "<option value="+data[d]+">"+data[d]+"</option>";
                        }
                        
                        $("#status").html(temp);
                    })
                }
                
                getStatusResponse();
                
                function getNetwork(){
                    
                    $.ajax({
                        url : ctx + "/api/airtime/network"
                    }).done(function(data){
                        
                        var temp = "<option>Any</option>"
                        for (var d in data){
                            temp += "<option>"+data[d]+"</option>";
                        }
                        
                        $("#network").html(temp);
                    })
                }
                
                getNetwork();
                
                function getProvider(){
                    
                    $.ajax({
                        url : ctx + "/api/airtime/provider"
                    }).done(function(data){
                        
                        var temp = "<option>Any</option>"
                        for (var d in data){
                            temp += "<option value="+data[d]['shortname']+">"+data[d].name+"</option>";
                        }
                        
                        $("#provider").html(temp);
                    })
                }
                
                getProvider();
                
                function exportData(format){
                
                    /* $("#daterangeF").val($("#dateRange").val());
                    $("#currencyF").val($("#currency").val());
                    $("#searchValueF").val($("#searchValue").val());
                    $("#formatF").val(format);
                    $("#providerF").val($("#provider").val());
                    $("#cardSchemeF").val($("#cardScheme").val());
                    $("#merchantF").val($("#merchant").val());
                    $("#statusF").val($("#status").val());
                    $("#categoryF").val($("#category").val());
                    $("#transactionTypeF").val($("#type").val());
                    $("#disburseStatusF").val($("#disburseStatus").val());
                    $("#searchoptionF").val($("#searchoption").val());
                    
                    $("#smtbtn").click(); */
                    
                    downloadTransaction();
                    
                }
                
                
                function downloadTransaction(){
                    
                    $.ajax({
                        url : ctx + "/api/airtime/transaction/download",
                        type: 'GET',
                        data :{
                           "range" : $("#dateRange").val(),
                           "searchValue" : $("#searchValue").val(),
                           "provider" : $("#provider").val(),
                           "status" : $("#status").val(),
                           "network" : $("#network").val()
                        },
                        beforeSend : function(){
                           showloader();
                        },
                        complete : function(){
                           hideloader();
                        }
                    }).done(function(data){
                        
                        var status = data.status;
                        
                        if(status === "success"){
                            
                            swal('Download Status', 'Download Successful. You will receive an email shortly', 'success');
                        }else
                            swal('Download Status', ' '+data.description, 'error');
                    })
                }
                
                $("#pdfexport").click(function(){
                    exportData("pdf");
                });
                
                $("#excelexport").click(function(){
                    exportData("excel");
                });


                $("#csvexport").click(function(){
                    exportData("csv");
                });
                
                function getBalance(){
                    
                    $.ajax({
                        url : ctx + "/api/airtime/balance"
                    }).done(function(data){
                        console.log(data);
                    })
                }
                
                //getBalance();
                
            </h:outputScript>
        </ui:define>
        
    </ui:composition>
</html>

