<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Transactions</ui:define>
        <ui:define name="nav-title">All Transactions</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
            <h:outputStylesheet name="/css/select2.min_1.css" />
            <h:outputStylesheet name="/css/select2-bootstrap.min.css" />
            <h:outputStylesheet name="/css/sweetalert.css" />
            
            <h:outputStylesheet>
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                #content-table{
                    font-size: 0.70em;
                    width : 100%
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                
                .select2-result-label{
                    font-size : 80%
                }
                
                .select2-container, .select2-size-sm {
                    min-height: 30px;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">

                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">All POS Transactions</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block">
                            
                            <div class="card panel panel-default m-b-xs">
                                <div class="card-header panel-heading alert-info alert-inverse" role="tab" id="headingOne" style="padding: 0.5em">
                                    <h6 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="icon-filter"></i>&nbsp; Filter</a></h6></div>
                                    <div id="collapseOne" class="card-block panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        
                                        <div layout="block" class="form-group col-lg-4">
                                            <label for="email" class="small text-muted">Transaction Date Range</label>
                                            <div class='input-group'>
                                                <input type='text' class="form-control form-control-sm" id="dateRange" />
                                                    <span class="input-group-addon form-control-sm">
                                                            <span class="icon-calendar3"></span>
                                                    </span>
                                            </div>
                                        </div>
            
                                        <div layout="block" class="form-group col-lg-2" >
                                            <label for="email" class="small text-muted">Currency</label>
                                            <select class="form-control form-control-sm small-select" id="currency">
                                                <option value="">Any</option>
                                                <option>NGN</option>
                                            </select>
                                        </div>
                                        
                                         <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted">Provider</label>
                                            <div class='input-group'>
                                                <h:form prependId="false">
                                                    <h:selectOneMenu class="form-control form-control-sm small-select" id="provider">
                                                        <f:selectItem itemValue="" itemLabel="Any" />
                                                        <f:selectItems class="small" value="#{posController.posProviders}" var="item" itemLabel="#{item.name.replaceAll('_', ' ' )}" itemValue="#{item.id}" />
                                                    </h:selectOneMenu>
                                                </h:form>
                                            </div>
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted">Bank</label>
                                            <div class='input-group'>
                                                <h:form prependId="false">
                                                    <h:selectOneMenu class="form-control form-control-sm small-select" id="bankName">
                                                        <f:selectItem itemValue="" itemLabel="Any" />
                                                        <f:selectItems class="small" value="#{posController.banks}" var="item" itemLabel="#{item}" itemValue="#{item}" />
                                                    </h:selectOneMenu>
                                                </h:form>
                                            </div>
                                        </div>
                                        
                                        
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="searchValue" class="small text-muted">Transaction Type</label>
                                            <select class="form-control form-control-sm small-select" id="type">
                                                <option value="">Any</option>
                                                <option value="Purchase">PURCHASE</option>
                                            </select>
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="searchValue" class="small text-muted">Status</label>
                                            <select class="form-control form-control-sm small-select" id="status">
                                                <option value="">Any</option>
                                            </select>
                                        </div>
                                        
                                        
                                        <div layout="block" class="form-group col-lg-3" >
                                            <label for="email" class="small text-muted">Merchant Owner</label>
                                            <input class="select2-size-sm form-control form-control-sm" id="merchant" name="merchant" placeholder="select a merchant" />
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3" >
                                            <label for="email" class="small text-muted">POS Merchant</label>
                                            <input class="select2-size-sm form-control form-control-sm" id="posmerchant" name="merchant" placeholder="select a merchant" />
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="searchValue" class="small text-muted">Search value</label>
                                            <input id="searchValue" placeholder="Masked Pan, Ref. or RRN" class="form-control form-control-sm" style="padding:.35rem .5rem" />
                                        </div>
                                        
                                        <div class="form-group col-lg-3" style="">
                                            <label class="text-muted">&nbsp;</label>
                                            <div>
                                                <button class="btn btn-primary btn-sm col-lg-5" style="margin-right: 2% " id="searchBtn"><i class="fa fa-filter"></i> &nbsp; Filter &nbsp;</button> &nbsp;
                                                <button class="btn btn-danger  btn-sm col-lg-5" id="clearbtn"><i class="fa fa-times"></i> &nbsp; Clear &nbsp;</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right" style="float: right">
                                        <button class="btn btn-info btn-sm" id="excelexport"> Export To Excel</button>
                                        <button class="btn btn-info btn-sm" id="csvexport"> Export To CSV</button>
                                    </div>
                                </div>

                            <div class="table-responsive">
                                <br /><br/>
                                <div class="col-lg-12">
                                    <table class="table table-bordered table-striped datatable" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>PROVIDER</th>
                                                <th>RRN</th>
                                                <th>TERMINAL ID</th>
                                                <th>BANK NAME</th>
                                                <th>MERCHANT ID</th>
                                                <th>MERCHANT NAME</th>
                                                <th>AMOUNT</th>
                                                <th>CURRENCY</th>
                                                <th>MASKED PAN</th>
                                                <th>TRANSACTION TYPE</th>
                                                <th>DATE</th>
                                                <th>RESPONSE</th>
                                                <th>ACTIONS</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            
            <h:form prependId="false" style="display: none">
                <h:inputHidden id="daterangeF" binding="#{daterange}" value="dan" />
                <h:inputHidden id="currencyF" binding="#{currency}" value="excel" />                
                <h:inputHidden id="searchValueF" binding="#{search}" value="dan" />
                <h:inputHidden id="providerF" binding="#{provider}" value="dan" />
                <h:inputHidden id="merchantF" binding="#{merchant}" value="dan" />
                <h:inputHidden id="typeF" binding="#{type}" value="dan" />
                <h:inputHidden id="statusF" binding="#{status}" value="dan" />
                <h:inputHidden id="bankNameF" binding="#{bankName}" value="dan" />
                <h:inputHidden id="posmerchantF" binding="#{posmerchant}" value="dan" />
                <h:inputHidden id="formatF" binding="#{format}" value="false" />
                
                
                <h:commandButton style="display: none" action="#{transactionController.exportPOSTransaction(merchant.value, posmerchant.value, daterange.value, type.value, provider.value, currency.value, status.value, bankName.value, search.value, format.value)}" id="smtbtn" value="submit" />
            </h:form>
            
            <h:form prependId="false" style="display: none">
                <h:inputHidden id="idF" binding="#{idVal}" value="0" />
                
                <h:commandButton style="display: none" action="#{transactionController.downloadReceipt(idVal.value)}" id="receiptbtn" value="submit" />
            </h:form>
            
            <div class="modal fade bd-example-modal" id="modalValues" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content row">
                        <div class="modal-header card-warning">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="myModalLabel">Transaction Information Preview</h6>
                        </div>
                        <div class="modal-body row" >
                            
                            <div class="col-lg-12" id="bodyPane">
                                <table class="table table-striped table-bordered" id="content-table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="dismiss" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/jsutil.js" />
            <h:outputScript name="/js/util.js" />
            <h:outputScript name="/js/lodash.min.js" />
            <h:outputScript name="/js/select2.min.js" />
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript>
                
                $("#disbursepane").hide();
                
                 $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }

                var ctx = "#{request.contextPath}";
                
                var searchstate = false;
                
                $("#dateRange").daterangepicker({
                    timePicker: !0
                    , timePickerIncrement: 1
                    , timePicker24Hour: !0
                    , timePickerSeconds: !0
                    , startDate: moment().subtract('days', 1).hour(00).minute(00).second(00)
                    , maxDate : moment().hour(23).minute(59).second(59)
                    , locale: {
                        format: "DD/MM/YYYY HH:mm:ss"
                    }
                });

                function getTransactions(){
                    oTable = $('.datatable').dataTable({
                        serverSide: true,
                        "bSort": false, 
                        "aLengthMenu": [ [20, 50, 80, 100, 150, 200], [20, 50, 80, 100, 150, 200] ],
                         ajax: {
                             url: ctx + "/api/pos/transaction",
                             type: 'GET',
                             data :function(d){
                                d.range = $("#dateRange").val();
                                d.currency = $("#currency").val();
                                d.searchstring = $("#searchValue").val();
                                d.provider = $("#provider").val();
                                d.responsecode = $("#status").val();
                                d.type = $("#type").val();
                                d.merchantid = $("#merchant").val();
                                d.merchantcode = $("#posmerchant").val();
                                d.bankName = $("#bankName").val();
                             },
                             beforeSend : function(){
                                showloader();
                             },
                             complete : function(){
                                hideloader();
                             }
                         },
                         fnDrawCallback : function(){
                         },
                         columns : [
                            { data : "id"},
                            {data : "provider"},
                            {data : "rrn"},
                            {data : "terminalid"},
                            {data : "bankName"},
                            {data : "merchantid"},
                            {data : "merchantname"},
                            {data : "amount", 
                                'render' : function(data, type, row){
                                    return parseFloat(parseFloat(data).toFixed(2)+"").toLocaleString();
                                }
                            },
                            {data : "currency"},
                            {data : "mask"},
                            {data : "type"},
                            {data : "datetime",
                                'render' : function(data, type, row){
                                    return moment(data).format("DD/MM/YYYY hh:mm A");
                                }
                            },
                            {data : "responsecode", 
                                'render' : function(data, type, row){
                                    
                                    var error = "\"tag tag-default tag-danger\"";
                                    var success = "\"tag tag-default tag-success\"";
                                    var warning = "\"tag tag-default tag-warning\"";
                                    
                                    var dStatus = "";
                                    
                                    if(data === "00" || data === "00")
                                        if(dStatus === "00" || dStatus == "00")
                                            return "<span class="+success+">"+row.responsemessage+"</span>" ;
                                        else    
                                            return "<span class="+success+">"+row.responsemessage+"</span>" ;
                                        
                                    return "<span class="+error+">"+row.responsemessage+"</span>" ;
                                }
                            },
                            {data : "id",
                                'render' : function(data, type, row){
                                var temp = '<a class="btn btn-warning btn-float btn-sm m-r-xs small-font" title="view more" onclick="getInfo('+data+')"><i class="icon-eye"></i></a>';
                                temp += ' <a class="btn btn-info btn-float btn-sm m-r-xs small-font" style="margin-left: 2px;" title="download receipt" onclick="downloadReceipt('+data+')"><i class="icon-book"></i></a>';
                                        
                                
                                    return temp;
                                }
                            }
                         ],
                         "rowCallback" : function(row, data, index){
                            
                            var setting = oTable.fnSettings();
                            var index = (setting._iDisplayStart + index + 1);
                            $("td:eq(0)", row).html(index);
                         }
                    });
                }
                    
                getMerchantMID(ctx);
                
                function getInfo(id){
                    getPOSTransaction(ctx, id);
                }
                
                setTimeout(function(){
                    getTransactions();
                }, 100);
                
                $("#searchBtn").click(function(){
                    
                    oTable.fnDraw();
                })
                    
                
                $("#clearbtn").click(function(){
                    
                    window.location.reload();
                });
                
                function getFlwResponse(){
                    
                    $.ajax({
                        url : ctx + "/api/pos/transaction/response",
                    }).done(function(data){
                        
                    var tName = "";
                    
                    var temp = "<option value="+tName+">Any</option>";
                        for (var d in data){
                            temp += "<option value="+data[d]+">"+d+"</option>";
                        }
                        
                        $("#status").html(temp);
                    })
                }
                
                getFlwResponse();
                
                $("#merchant").change(function(){
                    
                    getPOSMerchantMID(ctx, "posmerchant",$("#merchant").val());
                });
                
/*                function getTypes(){
                    
                    $.ajax({
                        url : ctx + "/api/product/transaction/types",
                        data : {
                            "category" : $("#category").val()
                        }
                    }).done(function(data){
                        
                        var temp = "<option>Any</option>"
                        for (var d in data){
                            temp += "<option>"+data[d]+"</option>";
                        }
                        
                        $("#type").html(temp);
                    })
                }
                
                getTypes();
                
                $("#category").change(function(){
                    getTypes();
                    getFlwResponse();
                                       
                });
                
                
                
                $("#type").change(function(){
                    if($(this).val() === "ACCOUNT_DISBURSE"){
                        
                        $("#disbursepane").show();
                    }else
                        $("#disbursepane").hide();
                        
                    getDisbursementStatus();     
                })
                
                function getDisbursementStatus(){
                    
                    $.ajax({
                        url : ctx + "/api/product/transaction/disbursestatus",
                    }).done(function(data){
                        
                        var temp = "<option>Any</option>"
                        for (var d in data){
                        
                            if(data[d] === "null" || d === "null")
                                continue;
                                
                            temp += "<option value="+data[d]+">"+d+"</option>";
                        }
                        
                        $("#disbursestatus").html(temp);
                    })
                }
                
*/
                function downloadReceipt(id){
                    $("#idF").val(id);
                    
                    $("#receiptbtn").click();
                }
                
                function exportData(format){
                
                
                  
                    $("#daterangeF").val($("#dateRange").val());
                    $("#currencyF").val($("#currency").val());
                    $("#searchValueF").val($("#searchValue").val());
                    $("#formatF").val(format);
                    $("#providerF").val($("#provider").val());
                    $("#merchantF").val($("#merchant").val());
                    $("#statusF").val($("#status").val());
                    $("#posmerchantF").val($("#posmerchant").val());
                    $("#typeF").val($("#type").val());
                    $("#bankNameF").val($("#bankName").val());
                    
                    
                    downloadFile();
                }
                

                
                $("#pdfexport").click(function(){
                    exportData("pdf");
                });
                
                $("#excelexport").click(function(){
                    exportData("excel");
                });


                $("#csvexport").click(function(){
                    exportData("csv");
                });
                
                
            </h:outputScript>
        </ui:define>
        
    </ui:composition>
</html>

