<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Settlement</ui:define>
        <ui:define name="nav-title">Settlement</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
            <h:outputStylesheet name="/css/select2.min_1.css" />
            <h:outputStylesheet name="/css/select2-bootstrap.min.css" />
            <h:outputStylesheet>
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                
                input[type='text']{
                    font-size : 80%;
                    padding-top: 0.48em;
                    padding-bottom :0.48em;
                }
                
                .select2-result-label{
                    font-size : 80%
                }
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-12">

                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">All Settlements</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block">
                            
                            <div class="card panel panel-default m-b-xs">
                                <div class="card-header panel-heading alert-info alert-inverse" role="tab" id="headingOne" style="padding: 0.5em">
                                    <h6 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="icon-filter"></i>&nbsp; Filter</a></h6></div>
                                    <div id="collapseOne" class="card-block panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          
                                        
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="email" class="small text-muted">Transaction Date</label>
                                            <div class='input-group'>
                                                <input type='text' class="form-control form-control-sm" id="datefield" />
                                                    <span class="input-group-addon form-control-sm">
                                                            <span class="icon-calendar3"></span>
                                                    </span>
                                            </div>
                                        </div>
                                        <div layout="block" class="form-group col-lg-3" >
                                            <label for="email" class="small text-muted">Merchant Owner</label>
                                            <input class="select2-size-sm form-control form-control-sm" id="merchant" name="merchant" placeholder="select a merchant" />
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3" >
                                            <label for="email" class="small text-muted">POS Merchant</label>
                                            <input class="select2-size-sm form-control form-control-sm" id="posmerchant" name="merchant" placeholder="select a merchant" style="padding: 5px 5px;" />
                                        </div>
                                        
                                        <div class="form-group col-lg-3" style="">
                                            <label for="searchValue" class="small text-muted">&nbsp;</label>
                                            <div>
                                                <button class="btn btn-primary btn-sm col-lg-5" style="margin-right: 2% " id="searchBtn"><i class="fa fa-filter"></i> &nbsp; Filter &nbsp;</button> &nbsp;
                                                <button class="btn btn-danger  btn-sm col-lg-5" id="clearbtn"><i class="fa fa-times"></i> &nbsp; Clear &nbsp;</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right" style="float: right">
                                        <button class="btn btn-info btn-sm" id="exportpdf"> Export To PDF</button>
                                        <button class="btn btn-info btn-sm" id="exportexcel"> Export To Excel</button>
                                    </div>
                                </div>

                            <div class="table-responsive">
                                <br /><br/>
                                <div class="col-lg-12">
                                    <table class="table table-bordered table-striped datatable" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>S/N</th>
                                                <th>DATE</th>
                                                <th>BUSINESS NAME</th>
                                                <th>TERMINAL ID </th>
                                                <th>CHARGED AMOUNT</th>
                                                <th>FEE</th>
                                                <th>CURRENCY</th>
                                                <th>TYPE</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <!--<button class="btn btn-primary btn-sm" style="float: right" id="settlebtn">Settle Transactions</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            <h:form prependId="false" style="display: none">
                <h:inputHidden id="formatF" binding="#{format}" value="false" />
                <h:commandButton style="display: none" action="#{transactionController.exportPosTransactionSettlementReport(format.value)}" id="smtbtn" value="submit" />
            </h:form>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <!-- This is a pick a date section -->
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/transaction.js" />
            <h:outputScript name="/js/jsutil.js" />
            <h:outputScript name="/js/lodash.min.js" />
            <h:outputScript name="/js/select2.min.js" />
            <h:outputScript>
                
                $("#loading-mask").hide();
                
                function showloader (){
                    $("#loading-mask").show();   
                }
                
                function hideloader(){
                    $("#loading-mask").hide();   
                }
            </h:outputScript>
            <h:outputScript>

                var ctx = "#{request.contextPath}";
                
                $("#settlebtn").hide();
                
                var searchstate = false;
    
                function getTransactions(){
                    oTable = $('.datatable').dataTable({
                        "bSort": true, 
                        "aLengthMenu": [ [20, 50, 80, 100, 150, 200], [20, 50, 80, 100, 150, 200] ],
                         ajax: {
                             url: ctx + "/api/settlement/pos",
                             type: 'GET',
                             data :function(d){
                                d.range = $("#datefield").val();    
                                d.merchantid = $("#merchant").val();
                                d.merchantcode = $("#posmerchant").val();
                             },
                             beforeSend : function(){
                                showloader();
                             },
                             complete : function(){
                                hideloader();
                             }
                         },
                         fnDrawCallback : function(oSettings){
                            if ( oSettings.aiDisplay.length == 0 ){
                                $("#settlebtn").hide();
                            }else
                                $("#settlebtn").show();
                         },
                         columns : [
                            { data : 'name'},
                            { data : 'transactionDate',
                                'render' : function(data, type, row){
                                    return moment(data).format("YYYY-MM-DD HH:mm:ss");
                                }
                            },
                            {data : "name"},
                            {data : "terminalId"},
                            {data : "amount", 
                                'render' : function(data, type, row){
                                    return parseFloat(data).toLocaleString();
                                }
                            },
                            {data : "fee", 
                                'render' : function(data, type, row){
                                    return parseFloat(data).toLocaleString();
                                }
                            },
                            {data : "currency"},
                            {data : "type"},
                            {data : "name", 
                                'render' : function(data, type, row){
                                    return '';
                                }
                            }
                         ],
                         "rowCallback" : function(row, data, index){
                            
                            var setting = oTable.fnSettings();
                            var index = (setting._iDisplayStart + index + 1);
                            $("td:eq(0)", row).html(index);
                         }
                    });
                }
                
               
                
                var status = 0;
                
                $("#searchBtn").click(function(){
                    
                    console.log(status);
                    
                    if(status === 0 || status == 0 ){
                        status = 1;
                        getTransactions();
                    }else{                       
                        oTable.fnDestroy();
                        getTransactions();
                    }
                    
                })
                    
                $("#clearbtn").click(function(){
                    window.location.reload();
                });
                
                
                $("#exportpdf").click(function(){
                    
                $("#formatF").val("pdf");
                    $("#smtbtn").click();
                });
                
                $("#exportexcel").click(function(){
                    
                    $("#formatF").val("excel");
                    $("#smtbtn").click();
                });
                
                $("#datefield").pickadate({
                    format: "yyyy-mm-dd",
                    editable: false,
                    max: -1,
                    onStart: function (){
                    
                        var date = new Date();
                        this.set( 'select',[date.getFullYear(), date.getMonth(), date.getDate()] )
                    }
                });
                
                $("#merchant").change(function(){
                    
                    getPOSMerchantMID(ctx, "posmerchant",$("#merchant").val());
                });
                
                getMerchantMID(ctx);
                
            </h:outputScript>
        </ui:define>
        
    </ui:composition>
</html>

