<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">POS Transaction Upload | Flutter MS</ui:define>
        <ui:define name="nav-title">POS Transaction Upload</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/sweetalert.css" />
            <h:outputStylesheet>
                .table-responsive {
                    font-size :0.9em;
                }
                
                #content-table{
                    font-size: 0.70em;
                    width : 100%
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0 "><h6 class="font-weight-bold">GA POS Transaction Upload</h6></div>
                        <div class="card-block">
                            <!--<p class="alert alert-info">Please fill ink.</p>-->
                            
                             <f:metadata>
                                 <f:viewAction action="#{posController.prepareUpload()}" />
                            </f:metadata>
                            <br />
                            <h:panelGroup id="messagePanel" layout="block">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
                            
                            <h:form id="create-form" enctype="multipart/form-data">
                                <h:panelGroup layout="block" class="form-group">
                                    <label for="title" class="small text-muted">Select XLSX File</label>
                                    <h:inputFile value="#{posController.uploadModel.file}" required="true" requiredMessage="File is required" class="form-control small-font" />
                                    <small class="text-muted">File must be in .xlsx</small>
                                </h:panelGroup>
                                <br />
                                <h:commandButton type="submit" action="#{posController.uploadGATransaction()}" onclick="showloader();" class="btn btn-primary btn-outline-primary offset-lg-3 col-lg-6" value="Submit" />
                            </h:form>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript>

                $("#loading-mask").hide();

                function showloader (){
                    $("#loading-mask").show();   
                }

                function hideloader(){
                    $("#loading-mask").hide();   
                }
                
                var ctx = "#{request.contextPath}";
                
                getMerchantMIDWithLoader(ctx);
                
                
            </h:outputScript>
        </ui:define>
            
    </ui:composition>
</html>

