<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">POS Merchants</ui:define>
        <ui:define name="nav-title">POS Merchants</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/dataTables.bootstrap4.min.css" />
            <h:outputStylesheet name="/css/sweetalert.css" />
            <h:outputStylesheet name="/css/pickadate.css" />
            <h:outputStylesheet name="/css/select2.min_1.css" />
            <h:outputStylesheet name="/css/select2-bootstrap.min.css" />
            <h:outputStylesheet name="/css/daterangepicker.css" />
            <h:outputStylesheet>
                
                .table-responsive {
                    font-size :0.9em;
                }
                
                #content-table{
                    font-size: 0.70em;
                    width : 100%
                }
                
                table.dataTable thead > tr > th{
                    font-size: 80% !important;
                    text-align:center;
                }
                table.dataTable tbody > tr > td{
                    font-size: 80%;
                    text-align:center;
                }
                
                table {
                    width : 100%
                }
                
                .table td, .table th{
                    padding: 0.6rem !important;
                }
                
                .dataTables_filter{
                    display : none;
                }
                
                .small-select{
                    font-size : 80% !important;
                }
                .select2-result-label{
                    font-size : 80%
                }
                
                .select2-container, .select2-size-sm {
                    min-height: 30px;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            
            <div class="row">
                
                <h:panelGroup layout="block" class="col-lg-12">

                    <h:panelGroup id="messagePanel" layout="block">
                            <!--<div class="card-block">-->
                        <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                        <!--</div>-->
                    </h:panelGroup>
                    
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">All Merchant</h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="icon-reload"></i></a></li>-->
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block">
                            
                            
                           <div class="card panel panel-default m-b-xs">
                                <div class="card-header panel-heading alert-info alert-inverse" role="tab" id="headingOne" style="padding: 0.5em">
                                    <h6 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="icon-filter"></i>&nbsp; Filter</a></h6></div>
                                    <div id="collapseOne" class="card-block panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        
                                        <div layout="block" class="form-group col-lg-4">
                                            <label for="email" class="small text-muted">Created Between</label>
                                            <div class='input-group'>
                                                <input type='text' class="form-control form-control-sm" id="dateRange" />
                                                    <span class="input-group-addon form-control-sm">
                                                            <span class="icon-calendar3"></span>
                                                    </span>
                                            </div>
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3" >
                                            <label for="email" class="small text-muted">Merchant Owner</label>
                                            <input class="select2-size-sm form-control form-control-sm" id="merchant" name="merchant" placeholder="select a merchant" />
                                        </div>
                                        
                                        <div layout="block" class="form-group col-lg-3">
                                            <label for="searchValue" class="small text-muted">Search value</label>
                                            <input id="searchValue" placeholder="Search..." class="form-control form-control-sm" style="padding:.35rem .5rem" />
                                        </div>
                                        
                                        <div class="form-group col-lg-3" style="">
                                            <label class="text-muted">&nbsp;</label>
                                            <div>
                                                <button class="btn btn-primary btn-sm col-lg-5" style="margin-right: 2% " id="searchBtn"><i class="fa fa-filter"></i> &nbsp; Filter &nbsp;</button> &nbsp;
                                                <button class="btn btn-danger  btn-sm col-lg-5" id="clearbtn"><i class="fa fa-times"></i> &nbsp; Clear &nbsp;</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right" style="float: right">
                                        <button class="btn btn-info btn-sm" id="excelexport"> Export To Excel</button>
                                        <button class="btn btn-info btn-sm" id="csvexport"> Export To CSV</button>
                                    </div>
                                </div>

                            <div class="table-responsive">
                                <br /><br/>
                                <div class="col-lg-12">
                                    <table class="table table-bordered table-striped datatable">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>POS OWNER ID</th>
                                                <th>PARENT NAME</th>
                                                <th>MERCHANT CODE</th>
                                                <th>MERCHANT NAME</th>
                                                <th>POS ID</th>
                                                <th>PHONE</th>
                                                <th>EMAIL</th>
                                                <th>DATE CREATED</th> 
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            <h:form prependId="false">
                <h:inputHidden id="pPar" binding="#{input1}" value="0" />
                <h:inputHidden id="pProduct" binding="#{inputP}" value="dan" />
                <h:commandButton style="display: none" action="#{merchantController.viewTransactions(input1.value, inputP.value)}" id="smtbtn" />
            </h:form>
            
            <h:form prependId="false">
                <h:inputHidden id="pMerch" binding="#{input1}" value="0" />
                <h:commandButton style="display: none" action="#{posController.prepareMerchantUpdate(input1.value)}" id="pMerchantBtn" value="0" />
            </h:form>
            
            <h:form prependId="false">
                <h:inputHidden id="pMerchantId" binding="#{inputM}" value="0" />
                <h:inputHidden id="pProductM" binding="#{inputPt}" value="dan" />
                <h:commandButton style="display: none" action="#{merchantController.merchantAnalysis(inputPt.value, inputM.value)}" id="viewanalysis" value="0" />
            </h:form>
            
            <h:form prependId="false">
                <h:inputHidden id="pParam1" binding="#{input11}" value="0" />
                <h:inputHidden id="pProduct1" binding="#{inputP1}" value="dan" />
                <h:commandButton style="display: none" action="#{merchantController.viewChargebacks(input11.value, inputP1.value)}" id="viewChargeBack" value="0" />
            </h:form>
            
            <div class="modal fade bd-example-modal" id="modalValues" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content row">
                        <div class="modal-header card-warning">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="myModalLabel">Merchant Information Preview</h6>
                        </div>
                        <div class="modal-body row" >
                            
                            <div class="col-lg-12" id="bodyPane">
                                <table class="table table-striped table-bordered" id="content-table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="kycdismiss" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal fade bd-example-modal" id="complainceModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content row">
                        <div class="modal-header card-warning">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="">
                                Merchant 
                                
                                <input id="idA" style="display: none" /> <input id="productA" style="display: none" />
                                <button type="button" class="btn btn-success btn-sm pull-right" id="kycapprovebtn" style="float: right">Approve</button>
                            </h6>
                        </div>
                        <div class="modal-body row" >
                            
                            <div class="col-lg-12" id="bodyPane">
                                <table class="table table-striped table-bordered" id="content-table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody id="kyctbody">
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="dismiss" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <h:form prependId="false" style="display: none">
                <h:inputHidden id="parentF" binding="#{parent}" value="excel" />                
                <h:inputHidden id="searchValueF" binding="#{searchValue}" value="dan" />
                <h:inputHidden id="createdF" binding="#{created}" value="dan" />
                <h:inputHidden id="formatF" binding="#{format}" value="false" />
                
                <h:commandButton style="display: none" action="#{posController.exportPosMerchant(parent.value, searchValue.value, created.value, format.value)}" id="exportbtn" value="submit" />
            </h:form>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment.js" />
            <h:outputScript name="/js/jquery.dataTables.min.js" />
            <h:outputScript name="/js/dataTables.bootstrap4.min.js" />
            <h:outputScript name="/js/sweetalert.min.js" />
            <h:outputScript name="/js/util.js" />
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/pickadate/picker.time.js" />
            <h:outputScript name="/js/pickadate/legacy.js" />
            <h:outputScript name="/js/daterangepicker.js" />
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/jsutil.js" />
            <h:outputScript name="/js/util.js" />
            <h:outputScript name="/js/lodash.min.js" />
            <h:outputScript name="/js/select2.min.js" />
            <h:outputScript>

                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }
            </h:outputScript>
            <h:outputScript>

                var ctx = "#{request.contextPath}";
                
                var searchstate = false;

                var selectedProduct = "";
                
                $("#dateRange").daterangepicker({
                    autoUpdateInput: false,
                    locale : {
                        format : "DD/MM/YYYY",
                        cancelLabel: 'Clear'
                    },
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                     },
                });
                                                
                $('#dateRange').on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
                });

                $('#dateRange').on('cancel.daterangepicker', function(ev, picker) {
                    $(this).val('');
                });
                
                function getMerchants(){
                    oTable = $('.datatable').dataTable({
                        serverSide: true,
                        "bSort": false, 
                        "aLengthMenu": [ [20, 50, 80, 100, 150, 200], [20, 50, 80, 100, 150, 200] ],
                         ajax: {
                             url: ctx + "/api/pos/merchants",
                             type: 'GET',
                             data :function(d){
                                d.searchValue = $("#searchValue").val();
                                d.parent = $("#merchant").val();
                                d.range = $("#dateRange").val();
                             },
                             beforeSend : function(){
                                showloader();
                             },
                             complete : function(){
                                hideloader();
                             }
                         },
                         fnDrawCallback : function(){
                            hideloader();
                         },
                         columns : [
                            { data : 'id'},
                            {data : "merchantId"},
                            {data : "parentName"},
                            {data : "merchantCode"},
                            {data : "name"},
                            {data : "posId"},
                            {data : "phone"},
                            {data : "email"},
                            {data : "createdOn",
                                'render' : function(data, type, row){
                                    return moment(new Date(data)).format("DD/MM/YYYY HH:mm");
                                }
                            },
                            {data : "id", 
                                'render' : function(data, type, row){
                                    
                                    var temp = '<a class="btn btn-warning btn-float btn-sm m-r-xs small-font" title="view more" onclick="callBean('+data+')"><i class="icon-pencil"></i></a> &nbsp;';
                                   return temp;
                                }
                            }
                         ],
                         "rowCallback" : function(row, data, index){
                            
                            var setting = oTable.fnSettings();
                            var index = (setting._iDisplayStart + index + 1);
                            $("td:eq(0)", row).html(index);
                         }
                    });
                }

                getMerchants();
                getMerchantMID(ctx);
                
                function callBean(id){
                    var sid = id;   

                    console.log(id);
                    
                    $("#pMerch").val(id+"");
                    
                    $("#pMerchantBtn").click();
                }
                
                function callSubMerchant(id){
                    var sid = id;   

                    $("#pSub").val(""+sid);
                    
                    $("#subMerchant").click();
                }
                
                function viewanalysis(id){
                    var sid = id;   
                    
                    $("#pProductM").val(""+selectedProduct);
                    $("#pMerchantId").val(""+id);
                    
                    $("#viewanalysis").click();
                }
                
                function callViewChargebacks(id){
                    var sid = id;   

                    $("#pParam1").val(""+sid);
                    
                    $("#pProduct1").val(""+$("#product").val());
                    
                    
                    $("#viewChargeBack").click();
                }
                
                function changeStatus(id, name, status, product){
                    swal({
                    title: '<small>Merchant Status Authorization</small>'
                        , text: 'Are you sure you want to '+status+' this merchant <b>'+name+'</b> ?'
                        , type: 'info'
                        ,animation: "slide-from-top"
                        , showCancelButton: true
                        , cancelButtonText: 'Cancel'
                        , closeOnConfirm: false
                        , confirmButtonText: 'OK'
                        , showLoaderOnConfirm: true
                        , html : true
                    }, function (isConfirm) {
                        
                        if(isConfirm === true || isConfirm === 'true'){
                            
                            $.ajax({
                                url: ctx + "/api/merchant/changestatus",
                                type: 'POST',
                                data : JSON.stringify({
                                    "operation" : ""+status,
                                    "id" : id,
                                    "product" : ""+product
                                }),
                                contentType : "application/json"
                            }).done(function( data ){

                                var statusCode = data['status-code'];

                                if(statusCode === "00" || statusCode == "00"){
                                    swal({
                                        title: '<span style="font-size: 80%">Merchant Status Changed</span>'
                                        , text: ''+data['status']
                                        , type: 'success'
                                        , showCancelButton: false
                                        , confirmButtonText: 'OK'
                                        , closeOnConfirm: true
                                        , html: true
                                    }, function (isConfirm) {
                                        window.location.reload(true);
                                    });
                                }else
                                    swal('Authorization Failed', ''+data['status'], 'error');
                            }).fail(function(){
                                swal('Authorization Failed', '', 'error');
                            })
                        }
                    });
                }
                function exportData(format){
                
                    $("#parentF").val($("#merchant").val());
                    $("#searchValueF").val($("#searchValue").val());
                    $("#createdF").val($("#dateRange").val());
                    $("#formatF").val(format);
                    
                    $("#exportbtn").click();
                }
                
                $("#pdfexport").click(function(){
                    exportData("pdf");
                });
                
                $("#excelexport").click(function(){
                    exportData("excel");
                });


                $("#csvexport").click(function(){
                    exportData("csv");
                });

                
                $("#searchBtn").click(function(){
                    
                    oTable.fnDraw();
                })
                    
                
                $("#clearbtn").click(function(){
                    
                    window.location.reload();
                });
                
            </h:outputScript>
        </ui:define>
        
    </ui:composition>
</html>

