<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Set Reward Point | CP</ui:define>
        <ui:define name="nav-title">Set Reward Point</ui:define>
        <ui:define name="styles">
            <h:outputStylesheet name="/css/jquery-ui.min.css" />
            <h:outputStylesheet>
                td {
                    padding-left : 2vh;
                }
                
                td label{
                    margin-left : 2vh;
                }
                
                ul{
                    list-style : none;
                    padding-left : 0;
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <div class="row">
                <ui:include src="/include/loader.xhtml" />
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0 "><h6 class="font-weight-bold">Global Reward Setting</h6></div>
                        <div class="card-block">
                            <!--<p class="alert alert-info">Please fill in with necessary information to register a terminal.</p>-->
                            <f:metadata>
                                <f:viewAction action="#{configurationController.setUpSetting()}" />
                            </f:metadata>
                            <h:panelGroup id="messagePanel" layout="block">
                                <!--<div class="card-block">-->
                                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                                <!--</div>-->
                            </h:panelGroup>
                            <h:form id="create-form">
                                
                                <h:panelGroup layout="block" class="form-group col-lg-6">
                                    <h:outputLabel for="model" class="small text-muted">Currency</h:outputLabel>
                                    <h:selectOneMenu value="#{configurationController.rewardSetting.currency}" required="true" requiredMessage="Currency must be selected" class="form-control custom-select small-font">
                                        <f:selectItem itemValue="#{null}" itemLabel="Select" itemDisabled="true" />
                                        <f:selectItems value="#{currencyController.allCurrencies}" var="product" itemLabel="#{product.name}" itemValue="#{product.shortName}" />
                                    </h:selectOneMenu>
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group col-lg-6 ">
                                    <h:outputLabel class="small text-muted">Point</h:outputLabel>
                                    <h:inputText id="point" p:type="number" value="#{configurationController.rewardSetting.point}" required="true" requiredMessage="Point must be provided" class="form-control" />
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group col-lg-6">
                                    <h:outputLabel class="small text-muted">Week Days</h:outputLabel>
                                    <h:selectOneMenu value="#{configurationController.rewardSetting.weekDay}" required="true" requiredMessage="Weekdays must be selected" class="form-control custom-select small-font">
                                        <f:selectItems value="#{rewardController.weekDays}" var="product" itemLabel="#{product}" itemValue="#{product}" />
                                    </h:selectOneMenu>
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group col-lg-6">
                                    <h:outputLabel class="small text-muted">Transaction Status</h:outputLabel>
                                    <h:selectOneMenu value="#{configurationController.rewardSetting.status}" required="true" requiredMessage="Status must be selected" class="form-control custom-select small-font">
                                        <f:selectItems value="#{rewardController.allStatus}" var="product" itemLabel="#{product}" itemValue="#{product}" />
                                    </h:selectOneMenu>
                                </h:panelGroup>
                                
                                <h:panelGroup layout="block" class="form-group col-lg-6">
                                    <h:outputLabel for="terminalId" class="small text-muted">Transaction Type</h:outputLabel>
                                    <h:selectOneMenu value="#{configurationController.rewardSetting.type}" required="true" requiredMessage="Transaction Type must be selected" class="form-control custom-select small-font">
                                        <f:selectItems value="#{rewardController.allTypes}" var="product" itemLabel="#{product}" itemValue="#{product}" />
                                    </h:selectOneMenu>
                                </h:panelGroup>
                                
                                <h:commandButton type="submit" action="#{configurationController.createMerchantSetting}" onclick="showloader();" class="btn btn-primary offset-lg-3 col-lg-6" value="Submit" />
                            </h:form>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/jquery-ui.min.js" />
            <h:outputScript>

                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }
                
                $("#merchant").autocomplete({
                    source :  function( request, response ) {
                            $.ajax( {
                              url: ctx+"/api/merchant/all",
                              dataType: "json",
                              data: {
                                term: request.term,
                                product : $("#product").val()
                              },
                              beforeSend : function(){
                              },
                              success: function( data ) {
                                response( data );
                              }
                            } );
                          },
                    select: function(event, ui) {
                        if(ui.item){
                            //getMode(ui.item.value);
                        }
                        $('#search').submit();
                    },      
                    minLength: 2     
                });
                
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

