<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template/template.xhtml">
        <ui:define name="title">Add Merchant Config | Flutter MS</ui:define>
        <ui:define name="nav-title">Add Merchant Config</ui:define>
        <ui:define name="styles">
             <h:outputStylesheet name="/css/select2.min_1.css" />
            <h:outputStylesheet name="/css/select2-bootstrap.min.css" />
            <h:outputStylesheet>
                ul{
                    padding-left: 0;
                    list-style: none;
                }
                td {
                    padding-left : 4vh;
                }
                
                td label{
                    margin-left : 2vh;
                    font-size : 0.6em;
                }
                
                select {
                    height : 2.5em;
                }
                
                input:not([type=submit]){
                    height : 2.5em;
                    padding: 0.8em;
                    font-size: 0.8em;
                }
                
                .ui-menu-item-wrapper{
                    font-size: 0.8em;
                }
                .select2-container--default .select2-selection--single .select2-selection__arrow{
                height : 20px !important; 
                }

                .select2-container--default .select2-selection--single .select2-selection__rendered{
                line-height : 120% !important;
                }

                .select2-container--default .select2-selection--single{
                height : 30px !important;
                font-size : 80% !important;
                }

                .select2-result-label{
                font-size : 80%
                }
                
            </h:outputStylesheet>
        </ui:define>
        <ui:define name="content">
            <ui:include src="/include/loader.xhtml" />
            <div class="row">
                <h:panelGroup layout="block" class="col-lg-8 offset-lg-2" style="margin-top: 5%">
                    <div class="card">
                        <div class="card-header no-bg b-a-0"><h6 class="font-weight-bold">Merchant Config Setup</h6></div>
                    <div class="card-block">
                        <!--<p class="alert alert-info">Please fill in with necessary information to set up a currency</p>-->
                        <h:panelGroup id="messagePanel" layout="block">
                            <!--<div class="card-block">-->
                            <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" layout="list"/>
                            <!--</div>-->
                        </h:panelGroup>
                        <h:form id="create-form" prependId="false">
                            
                            
                            <h:panelGroup layout="block" class="form-group rave col-lg-6">
                                <h:outputLabel class="small text-muted">Merchant </h:outputLabel>
                                <h:inputText id="coreMerchant" value="#{merchantController.merchantConfig.coreMerchantId}" required="true" requiredMessage="Merchant must be slected" class="form-control small-font">
                                </h:inputText>
                            </h:panelGroup>
                            
<!--                            <div class="form-group">
                                <label><input type="checbox" id="usemoneywave"/> Settle To Wallet</label>
                            </div>-->
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Currency </h:outputLabel>
                                <h:selectOneMenu value="#{merchantController.merchantConfig.currency}" required="true" requiredMessage="Currency must be slected" class="form-control small-font">
                                    <f:selectItems value="#{currencyController.allCurrencies}" var="product" itemLabel="#{product.name}" itemValue="#{product.shortName}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Settlement Cycle</h:outputLabel>
                                <h:inputText class="form-control small-font" value="#{merchantController.merchantConfig.settlementCycle}" p:type="number" p:min="0" p:max="30" />
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6">
                                <h:outputLabel for="title" class="small text-muted">Settlement Cycle</h:outputLabel>
                                <h:selectOneMenu id="settlementType"  value="#{merchantController.merchantConfig.settlementType}" required="true" requiredMessage="Bank must be slected" class="form-control small-font">
                                    <f:selectItems value="#{merchantController.settlementTypes}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                            
                            <h:panelGroup layout="block" class="form-group col-lg-6" id="moneywavepane">
                                <h:outputLabel for="title" class="small text-muted">Moneywave Account </h:outputLabel>
                                <h:inputText id="moneywaveMerchant" p:placeholder="select moneywave account" value="#{merchantController.merchantConfig.moneywaveMerchant}" class="form-control small-font">
                                </h:inputText>
                            </h:panelGroup>
                            
                            <div class="col-lg-12" style="margin-top: 4%">
                                <h:commandButton type="submit" action="#{merchantController.createMerchantConfig}" class="btn btn-primary btn-outline-primary offset-lg-3 col-lg-6" value="Submit" />
                            </div>
                        </h:form>
                    </div>
                </div>
                </h:panelGroup>
            </div>
        </ui:define>
        <ui:define name="scripts">
            <h:outputScript name="/js/moment-with-locales.min.js" />
            <h:outputScript name="/js/bootstrap-datetimepicker.min.js" />
            <h:outputScript name="/js/pickadate/picker.js" />
            <h:outputScript name="/js/pickadate/picker.date.js" />
            <h:outputScript name="/js/lodash.min.js" />
            <h:outputScript name="/js/select2.min.js" />
            <h:outputScript name="/js/jsutil.js" />
            <h:outputScript>
                
                $("#loading-mask").hide();

                function showloader (){
                $("#loading-mask").show();   
                }

                function hideloader(){
                $("#loading-mask").hide();   
                }
                
                var ctx = "#{request.contextPath}";
                
                console.log(ctx);
                
                getMerchants(ctx, "moneywave", "moneywaveMerchant");
                
                getMerchants(ctx, "core", "coreMerchant");
                
                $("#settlementType").change(function(){
                             
                    var value = $("#settlementType").val();
                    //alert("hello")
                    if(value === "Account")
                        $("#moneywavepane").hide();
                    else
                        $("#moneywavepane").show();
                })
                
                $("#settlementType").change();
                
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>

